<section class="content-header">
    <h1>
        Dashboard
        <small>Welcome to TAOBAO CHINA CARGO</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <section id="agency">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_waitorder'],0)?>
                        </h3>

                        <p><b>ออเดอร์ <br />รอตรวจสอบ</b></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="#/ordermanagement/orderlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_waitpayment'],0)?>
                        </h3>

                        <p><b>รอตรวจสอบ <br />ชำระเงิน</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#/ordermanagement/paymentlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_refund'],0)?>
                        </h3>

                        <p><b>รายการแจ้ง <br />Refund</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#/ordermanagement/refundlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_withdraw'],0)?>
                        </h3>

                        <p><b>ลูกค้า <br />รอถอนเงิน</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#/ewalletaccount/withdrawal/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_shipreq'],0)?>
                        </h3>

                        <p><b>คำขอสมาชิก <br />shipping</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#/shipreq/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
        </section>


    </div>

</section>

<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Profile</h4>
            </div>
            <div class="modal-body" id="profileBody">
                ...
            </div>

        </div>
    </div>
</div>

<script>
</script>