<section class="content-header">
  <h1>
    Dashboard
    <small>Welcome to TAOBAO CHINA CARGO</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		<div class="col-sm-12">
              <!-- AREA CHART -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Read<b></b></h3>
                  <div class="box-tools pull-right">
                    <a href="#/dashboard/inbox/" class="btn btn-default">Back</a>
                  </div>
                </div>
                <div class="box-body">
                	<div class="mailbox-read-info">
		                <h3><?=$contentInfo['content_name_th']?></h3>
		                <h5>From: <?=$contentInfo['create']['user_name']?>
		                  <span class="mailbox-read-time pull-right">
		                  	<?php 
		                    $dateshow = date('d M Y H:i:s',strtotime($contentInfo['update_dtm']));
		                    echo $dateshow;
		                ?>
		                  </span></h5>
		            </div>
		            <div class="mailbox-read-message">
                		<?=$contentInfo['content_desc_th']?>
              		</div>
                </div>
              </div><!-- /.box -->
       
	</div>
          
</section>

