<section class="content-header">
    <h1>
        Dashboard
        <small>Welcome to TAOBAO CHINA CARGO</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <?php if($memberinfo['email_notification']=='D'){ ?>
        <?php if($memberinfo['position_name'] != 'Shipping') {?><!--Weerasak 17/11/2564-->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">วาง link สินค้าที่นี่</h3>

                    <div class="box-tools pull-right">

                    </div>

                </div>

                <div class="box-body">
                    <div class=" col-sm-12 ">
                        <div class="input-group ">
                            <input type="text" class="form-control " name="searchurl" id="searchurl" placeholder="Ex. http://item.taobao.com/item.htm?id=12440339223" onkeyup="CheckKeySearchDash(event);">
                            <span class="input-group-btn">
				        <button class="btn btn-warning" type="button" onclick="dashboardSearch();">สั่งซื้อ</button>
				      </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <?php } ?><!--Weerasak 17/11/2564-->
        <?php } ?>


        <div class="col-sm-9">
            <!-- AREA CHART -->
            <?php if($memberinfo['email_notification']=='D'){ ?>
            <?php if($memberinfo['position_name'] != 'Shipping') {?><!--Weerasak 17/11/2564-->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการสั่งซื้อล่าสุด</h3>

                    <div class="box-tools pull-right">
                        <!-- E Wallet : <b><?=number_format($memberinfo['wallet'],2)?></b> Point -->
                    
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th class="text-center">เลขออเดอร์</th>
                                    <th class="text-center">ยอดหยวน</th>
                                    <th class="text-center">ยอดสั่งจริง</th>
                                    <th class="text-center">เรท</th>
                                    <th class="text-center">เพิ่มคืน</th>
                                    <th class="text-center">สถานะ</th>
                                    <th class="text-center">คำสั่ง</th>
                                </tr>
                            </thead>
                            <tbody><!--Weerasak 27-10-2564-->
                                <?php $i=1; foreach($orderList['data'] as $odr){ ?>
                                <?php if($i<=5){ 
                                    //คำนวณโดย weerasak
                                    $order_price_yean = $odr['countprice']['product_price_rmb'] ; //ราคาสั่งซื้อ
                                    $total_order_price_bath = (($odr['countprice']['product_price_rmb']*$odr['rate'])+$odr['order_pay_ship'])-$odr['order_discount']; //(ราคาสั่งซื้อ + ราคาค่าส่งประมาณการ) - ส่วนลด
                                    $order_refund = 0;
                                    if($odr['export']=='S'){ 
                                        $total_order_buy_amount = number_format($total_order_buy_amount,2);
                                        $order_refund = $odr['order_refund'] - $odr['order_discount'];
                                    }
                                ?>
                                <tr>
                                    <td class="text-center"> <!--Weerasak 27-10-2564-->
                                        <?=$odr['order_number']?>
                                    </td>
                                    <td class="text-center"><!--ยอดสั่งหยวน Weerasak 27-10-2564-->
                                        <?=number_format($order_price_yean,2)?>
                                    </td>
                                    <?php 
                                    $totals = (($odr['countprice']['product_price_rmb']*$odr['rate'])+$odr['order_pay_ship'])-$odr['order_discount'];
                                    $totals = $totals+$odr['countprice']['product_price_thb'];
                                    // $totals = $totals+($odr['countprice']['ship_cn']*$odr['rate']);
                                    
                                ?>
                                    <?php $true_price = ($odr['countprice']['product_buy_rmb']);
                                //echo $odr['countprice']['product_buy_rmb'];
                                   //$true_price += $odr['order_pay_ship'];
                                   $true_price += ($odr['countprice']['ship_cn']);
                                   //$true_price += $odr['order_pay_cn'];
                                   $true_price -= $odr['order_discount'];
                                   //$true_price += $odr['countprice']['product_price_thb'];
                                   //echo $odr['countprice']['ship_cn'];

                                   //Weerasak 23-10-2564
                                   //$total_order_amount = $true_price
                                   //$total_order_buy_amount = $totals

                                    $total_order_amount = $odr['countprice']['product_price_rmb'];
                                    $total_order_buy_amount = $odr['countprice']['total_order_buy_amount'];
                                    $total_order_buy_amount_bath = $total_order_buy_amount * $odr['rate'];
                                   if($odr['export']=='N'){$total_order_amount=0;}
                                ?>
                                    <?php $divTotal = ($totals-$odr['order_price']); ?><!--$totals-->
                                    <td class="text-center"> <!-- ยอดสั่งจริง Weerasak 27-10-2564-->
                                        <?php
                                        if($odr['export']=='S'){ 
                                            echo number_format($total_order_buy_amount,2);
                                        }else{echo '-';}
                                        ?>
                                    </td>
                                    <td class="text-center">
                                        <?=$odr['rate']?>
                                    </td>
                                    <td class="text-center"><!--Weerasak 27-10-2564-->
                                        <?php  							          
                                      $true_price_bath = $total_order_amount * $odr['rate']; //$true_price = $true_price * $odr['rate']; 
                                      $refund = ($total_order_buy_amount - $total_order_amount) * $odr['rate'];
   							          $ttpay = ($totals-$odr['order_price']); //--Weerasak 23-10-2564
                                     //   $ttpay = $total_order_buy_amount_bath - $true_price_bath;
   							          ?>
                                         <?php
                                         if($odr['export']=='S'){
                                            if($total_order_amount>0){
                                                if($order_refund<0){
                                        ?>
                                        <span class="text-green"><?=number_format($order_refund,2)?>(คืน)</span>
                                        <?php
                                                }else{ ?>
                                        <span class="text-red"><?=number_format($order_refund,2)?>(เพิ่ม)</span>
                                        <?php     
                                            if(intval($odr['overdue_paid']) == 0){ 
                                                echo '<br><span class="text-blue">ชำระแล้ว '.number_format($order_refund,2).'</span>';    
                                            }    
                                                }
                                            }else {echo "-";}
                                         }else { echo "-";}
                                         ?>
                                            <?php
   							          if($odr['countprice']['product_buy_rmb']>0){
   							          	$ttpay=$ttpay+$refund;
   							          }


   							          ?>
<!-- Edit By Weerasak 19-01-2566 -->
                                                <?php if($odr['refund_wallet']>0){ ?>
                                                <br />
                                                <span class="text-blue">คืนเงินแล้ว <b><?=number_format(($odr['refund_wallet']),2)?></b></span>
                                                <?php } ?>
                                    </td>
                                    <td class="text-center">
                                        <?php
                                        /* edit by hatairat 26-11-64
                                        $color_status = 'blue';
 							           	if($odr['status']=='C'){
 											$color_status = 'red';
 										}
 										if($odr['status']=='S'){
 											$color_status = 'green';
 										}
 										if($odr['status']=='OR'){
 											$color_status = 'pink';
 										}
 										if($odr['status']=='PM'){
 											$color_status = 'brown';
 										}
 										if($odr['status']=='E'){
 											$color_status = 'orange';
 										}

                                         
                                        if($odr['export']=='S'){
                                        $color_status = 'green';
                                         $status_text = 'เสร็จสิ้น';
                                        }else{
                                            $status_text = $odr['status_text'];
                                        }*/
                                        
                                        $color_status = GF::order_color_status($odr['status']);
                                        if($odr['export']=='S'){      
                                            $color_status = GF::order_color_status('5');                                      
                                            $status_text = 'เสร็จสิ้น';
                                        }else{
                                            $status_text = $odr['status_text'];
                                        }

 							          ?>
                                            <span style="color:<?=$color_status?>;"><?=$status_text?></span>
                                            <?php if($odr['status']=='2' && $divTotal==0){ ?>
                                            <br />
                                            <nobr>(ชำระเงินแล้ว รอตรวจสอบ)</nobr>
                                            <?php } ?>
                                    </td>
                                    <td class="text-center">

                                        <a href="#/buyship/view/<?=$odr['id']?>" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> เปิดดูข้อมูล</a>
                                        <?php $ttpay = $ttpay + $odr['payment_balance']; ?> <!--edit by hatairat 26-11-64-->
                                        <?php if($ttpay>0 && $odr['status']!='1' && $odr['status']!='C'){ ?>

                                        <?php if($odr['status']=='2' || $odr['status']=='7' ){ ?>
                                        <?php 
                                                    if($odr['payment_balance'] > 0)
                                                    {
                                                        $ppdpay1 = number_format($odr['payment_balance'],2);
                                                    }else{
                                                        $ppdpay1 = number_format($odr['sum_price'],2);
                                                    }
                                                   // $ppdpay1 = number_format($ttpay,2);
                                                    $ppdpay1 = str_replace(",","",$ppdpay1);
                                                ?>
                                        <br />
                                        <?php if(intval($odr['overdue_paid']) != 0){ ?>
                                        <a href="#/buyship/confirmpayment/<?=$odr['id']?>/?v=<?=$ppdpay1?>&tp=1" class="btn btn-info btn-xs">แจ้งชำระเงิน</a>
                                        <?php } ?>
                                        <?php } ?>
                                        <?php if($memberinfo['wallet']>0 ){ ?>
                                        <br />
                                        <?php 
                                                        $ppdpay = number_format($ttpay,2);
                                                        $ppdpay = str_replace(",","",$ppdpay);
                                                ?>
                                 <!--       <button type="button" data-id="<?=$odr['id']?>" data-price="<?=$ppdpay?>" class="btn btn-warning btn-xs" onclick="setWallet(this);">ชำระเงินจาก E Wallet</button>-->
                                        <?php } ?>
                                        <?php } ?>

                                    </td>
                                </tr>
                                <?php } ?>
                                <?php $i++; } ?>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                    <a href="#/buyship/orderlist" class="btn btn-sm btn-default btn-flat pull-right">รายการทั้งหมด</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <?php } ?><!--Weerasak 17/11/2564-->

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการแทรคอัพเดทล่าสุด</h3>

                    <div class="box-tools pull-right">

                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th class="text-center">เลขแทรค</th>
                                    <th class="text-center">ร้านค้า</th>
                                    <th class="text-center">ออเดอร์</th>
                                    <th class="text-center">น้ำหนัก</th>
                                    <th class="text-center">สถานะ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $i=1; foreach($trackingList as $list){ ?>
                                <?php if($i<=5){ ?>
                                <tr>
                                    <td class="text-center">
                                        <?=$list['tracking']?>
                                    </td>
                                    <td class="text-center">
                                        <?=$list['saller_name']?>
                                    </td>
                                    <td class="text-center">
                                        <a href="#/buyship/view/<?=GF::order_id($list['order_id'])?>">
                                            <?=$list['order_id']?>
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <?=$list['weight']?>
                                    </td>
                                    <td class="text-center">
                                        <?=$list['status_value']?> :
                                            <?=$list['status']?>
                                    </td>
                                </tr>
                                <?php } ?>
                                <?php $i++; } ?>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                    <a href="#/tracking/trackinglist/" class="btn btn-sm btn-default btn-flat pull-right">รายการทั้งหมด</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <?php } ?>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">ข่าวสาร</h3>
                    <div class="box-tools pull-right">

                    </div>
                </div>
                <div class="box-body">
                    <?php if(count($contentGroup)>0){ ?>
                    <?php foreach($contentGroup as $list){ ?>
                    <ul class="timeline">
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-red">
		                    <?php
		                    $dateshow = date('d M Y',strtotime($list['update_dtm']));
		                    echo $dateshow;
		                    ?>
		                  </span>
                        </li>

                        <li>
                            <i class="fa fa-newspaper-o bg-blue"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i>
		                <?php
		                    $dateshow = date('H:i',strtotime($list['update_dtm']));
		                    echo $dateshow;
		                ?>

		                </span>

                                <h3 class="timeline-header">
                                    <a href="javascript:;">
                                        <?=$list['create_by_name']['user_name']?>
                                    </a>
                                    <?=$list['content_name']?>
                                </h3>

                                <div class="timeline-body">
                                    <?=$list['content_desc']?>
                                </div>
                                <div class="timeline-footer">
                                    <!--<a class="btn btn-primary btn-xs">Read more</a>
		                  <a class="btn btn-danger btn-xs">Delete</a>-->
                                </div>
                            </div>
                        </li>
                        <?php } ?>
                        <?php } ?>

                    </ul>
                    <nav class="pull-right" style="margin-right: 3%;">
                        <ul class="pagination pagination-md">
                            <?php for($i=1;$i<=$allPageHome;$i++){ ?>
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/dashboard/?page=<?=$i?>">
                                    <?=$i?>
                                </a>
                            </li>
                            <?php } ?>

                        </ul>
                    </nav>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->



        </div>
        <!-- /.col (LEFT) -->

        <div class="col-sm-3">

            <div class=" col-xs-12 hidden">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-exclamation-triangle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">ค้างชำระ</span>
                        <span class="info-box-number">3,139 บาท</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <?php if($memberinfo['email_notification']=='D'){ ?>    
            <?php if($memberinfo['position_name'] != 'Shipping') {?><!--Weerasak 17/11/2564-->                        
            <div class="col-xs-12">
                <div class="info-box" style="cursor: pointer;" <?php if($_SESSION[ 'allqty']>0){ ?>onclick="location.hash = '/buyship/checkout/?
                    <?=time()?>';"
                        <?php } ?>>
                        <span class="info-box-icon bg-green" style=""><i class="ion ion-ios-cart-outline"></i></span>

                        <div class="info-box-content" style=" ">
                            <a href="#/buyship/order/" style="color: #000;">
                            <span class="info-box-text">ตะกร้าสินค้า <?=$_SESSION['allqty']?> ชิ้น </span>
                            <span class="info-box-number">&yen; <?=$_SESSION['allyuan']?></span>
                            </a>
                        </div>
                        <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <?php } ?> <!--Weerasak 17/11/2564-->
            <?php } ?>
            <?php if($memberinfo['email_notification']=='D'){ ?>
            <div class=" col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow "><i class="fa fa-truck"></i></span>

                    <div class="info-box-content">
                        <a href="#/tracking/shippinglist/" style="color: #000;">
                        <span class="info-box-text">รอจัดส่ง</span>
                        <span class="info-box-number"><?=count($trackingListOk)?> รายการ</span>
                         </a>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <?php } ?>



            <div class="col-xs-12 hidden">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">ยอดสั่งซื้อทั้งหมด</span>
                        <span class="info-box-number">9,760 บาท</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class=" col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-envelope"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">กล่องข้อความ</span>
                        <span class="info-box-text"><?=$countInbox?> ข้อความ</span>
                        <span class="info-box-number"><?=$countInboxFlag?> <i class="fa fa-envelope"></i> <a href="#/dashboard/inbox/" style="font-size: 13px;">inbox</a></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <?php if($memberinfo['email_notification']=='D'){ ?>
            <div class="col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">รายการรอแจ้งรับสินค้า</h3>

                        <div class="box-tools pull-right">

                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <ul class="products-list product-list-in-box">
                            <?php foreach($trackingListOk as $list){ ?>
                            <?php if($list['flag']=='1'){ ?>
                            <li class="item">
                                <div class="product-img">
                                    <!-- <img src="dist/img/default-50x50.gif" alt="Product Image"> -->
                                    <i class="fa fa-barcode fa-3x"></i>
                                </div>
                                <div class="product-info">
                                    <a href="javascript:void(0)" class="product-title">
                                        <?=$list['tracking']?>
                                    </a>
                                    <span class="product-description">
                                   ออเดอร์ : <b><a href="#/buyship/view/<?=GF::order_id($list['order_id'])?>"><?=$list['order_id']?></a></b> <br />ร้าน : <b><?=$list['saller_name']?></b>
                                 </span>
                                </div>
                            </li>
                            <?php } ?>
                            <?php } ?>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="#/tracking/trackingforship/" class="uppercase">ดูรายการทั้งหมด</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>
            <?php } ?>
        </div>


    </div>

</section>

<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Profile</h4>
            </div>
            <div class="modal-body" id="profileBody">
                ...
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="payment_model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">ยอดค้างชำระ</h3>
                <span class=""><h5 class="modal-title" id="myModalLabel">คุณมียอดค้างชำระ กรุณาตรวจสอบรายการ</h5></span>
            </div>
            <div class="modal-body">
                <!-- <h4><p id="overdue_countorder"></p></h4>
                <h4><p id="overdue_priceorder"></p></h4>
                <h4><p id="overdue_priceWallet"></p></h4>
                <h4><p id="overdue_countShip"></p></h4>
                <h4><p id="overdue_priceShip"></p></h4> -->

                <ul class="list-group" id="overdue">
                    <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>จำนวนใบสั่งซื้อ</strong>
                            </div>
                            <div class="col-md-6" align="right">
                                <span class="badge badge-primary badge-pill btn-danger">14</span>
                            </div>
                          </div>                        
                      <div class="text-red">ยอดค้างชำระรวม : <strong>217.58</strong> บาท</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <strong>ค้างชำระใน E-wallet</strong>
                        <div class="text-red">ยอดค้างชำระรวม : <strong>500</strong> บาท</div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>จำนวนค้างชำระบิลขนส่ง</strong>
                            </div>
                            <div class="col-md-6" align="right">
                                <span class="badge badge-primary badge-pill btn-danger">2</span>
                            </div>
                          </div>                        
                    <div class="text-red">ยอดค้างชำระรวม : <strong>300</strong> บาท</div>
                    </li>
                  </ul> -->
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button> -->
                <a href="javascript:;" class="btn btn-default" data-dismiss="modal">ปิด</a>
                <!-- <a href="javascript:;" onclick="gotoOrderlist();" class="btn btn-primary" data-dismiss="modal">หน้ารายการสั่งซื้อ</a> -->
                <!-- <a href="javascript:;" onclick="confirmOrder('<?=$orderInfo['id']?>','<?=round($diff,2)?>','<?=$order_success?>');" class="btn btn-primary btn-md" data-dismiss="modal">ยืนยัน</a> -->
              </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        /* ChartJS
         * -------
         * Here we will create a few charts using ChartJS
         */

        //--------------
        //- AREA CHART -
        //--------------
        return false;
        // Get context with jQuery - using jQuery's .get() method.
        var areaChartCanvas = $("#areaChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var areaChart = new Chart(areaChartCanvas);

        var areaChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "Electronics",
                fillColor: "rgba(210, 214, 222, 1)",
                strokeColor: "rgba(210, 214, 222, 1)",
                pointColor: "rgba(210, 214, 222, 1)",
                pointStrokeColor: "#c1c7d1",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40]
            }, {
                label: "Digital Goods",
                fillColor: "rgba(247, 105, 0, 0.9)",
                strokeColor: "rgba(247, 105, 0, 1)",
                pointColor: "#ec8609",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: [28, 48, 40, 19, 86, 27, 90]
            }]
        };

        var areaChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: false,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.3,
            //Boolean - Whether to show a dot for each point
            pointDot: false,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
            //Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio: false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true
        };

        //Create the line chart
        areaChart.Line(areaChartData, areaChartOptions);


    });
</script>
<script src="<?=$BASEURL?>/assets/js/web/buyship/home.js"></script>