<section class="content-header">
  <h1>
    Dashboard
    <small>Welcome to TAOBAO CHINA CARGO</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		<div class="col-sm-12">
              <!-- AREA CHART -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Inbox</h3>
                  <div class="box-tools pull-right">
                     <a href="#/dashboard/" class="btn btn-default">Back</a>
                  </div>
                </div>
                <div class="box-body">
                	<div class="table-responsive mailbox-messages">
                <table class="table table-hover table-striped">
                  <tbody>
                  <?php if(count($contentUser)>0){ ?>
                  <?php foreach($contentUser as $list){ ?>
                  <tr>
                    
                    <td class="mailbox-star">
                    	<a href="#/dashboard/detail/?inbox=<?=urlencode(base64_encode($list['content_id']))?>/">
                    	<?php if($list['flag']=='N'){ ?>
                    	<i class="fa fa-envelope text-red"></i>
                    	<?php }else{ ?>
                    	<i class="fa fa-envelope-o text-yellow"></i>
                    	<?php } ?>
                    	</a>
                    </td>
                    <td class="mailbox-name"><a href="#/dashboard/detail/?inbox=<?=urlencode(base64_encode($list['content_id']))?>/"><?=$list['create_by_name']['user_name']?></a></td>
                    <td class="mailbox-subject"><b><?=$list['content_name']?></b>
                    </td>
                    
                    <td class="mailbox-date">
                    	<?php 
		                    $dateshow = date('d M Y H:i:s',strtotime($list['update_dtm']));
		                    echo $dateshow;
		                ?>
                    </td>
                  </tr>
                  <?php } ?>
                  <?php } ?>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
                </div>
              </div><!-- /.box -->
       
	</div>
          
</section>

