<section class="content-header">
    <h1>
        Dashboard
        <small>Welcome to TAOBAO CHINA CARGO</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <section id="admin">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            <?=number_format($adminReport['total_order'],2)?>
                        </h3>

                        <p><b>ยอดสั่งซื้อ (1 เดือน)</b></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="#/ordermanagement/orderlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            <?=number_format($adminReport['total_shipping'],2)?>
                        </h3>

                        <p><b>ยอดค่านำเข้า (1 เดือน)</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#/ordermanagement/shippinglist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            <?=number_format($adminReport['total_member'],0)?>
                        </h3>

                        <p>จำนวนสมาชิก</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#/user/userlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            <?=number_format($adminReport['total_weight'],2)?>
                        </h3>

                        <p>ยอดรวมน้ำหนัก Kg. (1 เดือน)</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#/ordermanagement/shippinglist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
        </section>
        <section id="agency">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_waitorder'],0)?>
                        </h3>

                        <p><b>ออเดอร์ <br />รอตรวจสอบ</b></p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <a href="#/ordermanagement/orderlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_waitpayment'],0)?>
                        </h3>

                        <p><b>รอตรวจสอบ <br />ชำระเงิน</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#/ordermanagement/paymentlist/#" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_refund'],0)?>
                        </h3>

                        <p><b>รายการแจ้ง <br />Refund</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#/ordermanagement/refundlist/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_withdraw'],0)?>
                        </h3>

                        <p><b>ลูกค้า <br />รอถอนเงิน</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#/ewalletaccount/withdrawal/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>
                            <?=number_format($agencyReport['total_shipreq'],0)?>
                        </h3>

                        <p><b>คำขอสมาชิก <br />shipping</b></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#/shipreq/" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
                </a>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <div class="col-sm-7">
            <div class="box box-solid bg-teal-gradient">
                <div class="box-header">
                    <i class="fa fa-th"></i>
                    <h3 class="box-title">ยอดขายรวม</h3>
                    <div class="box-tools pull-right">

                    </div>
                </div>
                <div class="box-body border-radius-none">
                    <div class="chart" id="line-chart" style="height: 250px;"></div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-border">

                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-sm-5">
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-right">
                    <li class="active"><a href="#revenue-chart" data-toggle="tab">Sale</a></li>
                    <li class="pull-left header"><i class="fa fa-inbox"></i> ยอดขาย Agency</li>
                </ul>
                <div class="tab-content no-padding">
                    <!-- Morris chart - Sales -->
                    <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <div class="col-sm-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">ลำดับยอดขายลูกค้า</h3>

                    <div class="box-tools pull-right">
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    The body of the box
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-sm-6">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">ลำดับยอดขาย Agency</h3>

                    <div class="box-tools pull-right">
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    The body of the box
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>

</section>

<div class="modal fade" id="ProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Profile</h4>
            </div>
            <div class="modal-body" id="profileBody">
                ...
            </div>

        </div>
    </div>
</div>

<script>
    var line = new Morris.Line({
        element: 'line-chart',
        resize: true,
        data: [
            <?php foreach($reportAllOrder as $rsall){ ?> {
                y: '<?=$rsall["date_data"]?>',
                item1: <?=$rsall["total_price"]?>
            },
            <?php } ?>
        ],
        xkey: 'y',
        ykeys: ['item1'],
        labels: ['Item 1'],
        lineColors: ['#efefef'],
        lineWidth: 2,
        hideHover: 'auto',
        gridTextColor: "#fff",
        gridStrokeWidth: 0.4,
        pointSize: 4,
        pointStrokeColors: ["#efefef"],
        gridLineColor: "#efefef",
        gridTextFamily: "Open Sans",
        gridTextSize: 10
    });
    var area = new Morris.Area({
        element: 'revenue-chart',
        resize: true,
        data: [{
            y: '2011 Q1',
            item1: 2666,
            item2: 2666
        }, {
            y: '2011 Q2',
            item1: 2778,
            item2: 2294
        }, {
            y: '2011 Q3',
            item1: 4912,
            item2: 1969
        }, {
            y: '2011 Q4',
            item1: 3767,
            item2: 3597
        }, {
            y: '2012 Q1',
            item1: 6810,
            item2: 1914
        }, {
            y: '2012 Q2',
            item1: 5670,
            item2: 4293
        }, {
            y: '2012 Q3',
            item1: 4820,
            item2: 3795
        }, {
            y: '2012 Q4',
            item1: 15073,
            item2: 5967
        }, {
            y: '2013 Q1',
            item1: 10687,
            item2: 4460
        }, {
            y: '2013 Q2',
            item1: 8432,
            item2: 5713
        }],
        xkey: 'y',
        ykeys: ['item1', 'item2'],
        labels: ['Item 1', 'Item 2'],
        lineColors: ['#a0d0e0', '#3c8dbc'],
        hideHover: 'auto'
    });
</script>