<section class="content-header">
  <h1>
    Rate
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		<div class="col-sm-12">
              <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Rate</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              	<table class="table table-hover">
				  <thead>
				  	<tr>
				  		<th>#</th>
				  		<th>Rate</th>
				  		<th>Date</th>
				  	</tr>
				  </thead>
				  <tbody>
				  <?php $i=1; foreach($rateList as $list){ ?>
				  	<tr>
				  		<td><?=$i?></td>
				  		<td><?=$list['rate']?></td>
				  		<td><?=date('d/m/Y H:i:s',strtotime($list['rate']))?></td>
				  	</tr>
				  <?php $i++; } ?>
				  </tbody>
				</table>
            </div>
            <!-- /.box-body -->
          </div>
       </div>
	</div>
          
</section>

