<section class="content-header">
  <h1>
    <?=$lang->content_content?>
    <small><?=$lang->content_content_mng?></small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title"><?=$lang->content_content_list?></h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/content/createcontent" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> <?=$lang->_create_content?></a>
			  <?php } ?>
			  </div>
			  
			</div>
			<div class="box-body table-responsive">
				<div style="margin-bottom: 20px;">
                    <form class="form-horizontal" id="clearFrm" name="clearFrm">
						<input type="hidden" name="mode" value="clearcontent">
					</form>
					<form class="form-horizontal" id="searchFrm" name="searchFrm">
					<input type="hidden" name="mode" value="searchcontent"/>
                    <div class="col-sm-5 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label"><?=$lang->content_content_name?> </label>
	                      <div class="col-sm-9">                       
		                      <input type="text" class="form-control " name="content_name" placeholder="<?=$lang->content_content_name?>" value="<?=$SESSION['content_content']['content_name']?>">
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-5 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label"><?=$lang->_status?></label>
	                      <div class="col-sm-9">
	                       <select class="form-control" id="status" name="status">
	                       			<option value="">All</option>
		                      		<option value="O" <?php if($SESSION['content_content']['status']=='O'){ ?>selected=""<?php } ?>><?=$lang->_active?></option>
		                      		<option value="C" <?php if($SESSION['content_content']['status']=='C'){ ?>selected=""<?php } ?>><?=$lang->_inactive?></option>
		                      	</select>
	                      </div>
	                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <?php if(!is_array($SESSION['content_content']['category_id'])){$SESSION['content_content']['category_id']=array();} ?>
                    <div class="col-sm-5 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label"><?=$lang->content_category_name?></label>
	                      <div class="col-sm-9">
	                       <select class="form-control select2" multiple="" data-placeholder="<?=$lang->content_category_name?>" id="category_id" name="category_id[]">
	                       			
	                       			<?php foreach($categoryList as $cateList){ ?>
		                      		<option value="<?=$cateList['category_id']?>" <?php if(array_search($cateList['category_id'],$SESSION['content_content']['category_id'])!==false){ ?>selected=""<?php } ?> ><?=$cateList['category_name']?></option>
		                      		<?php } ?>
		                      	</select>
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-5">
                    	<button type="button" class="btn btn-warning " onclick="clearContentContent();">Reset</button>
                    	<button type="button" class="btn btn-primary " onclick="searchContentContent();">Search</button>
                    </div>
                    </form>
                    <div class="clearfix"></div>
               </div>
			   <table id="example1" class="table table-bordered table-striped" >
                    <thead>
                      <tr>
                    	<th><?=$lang->_sort?></th>
                        <th><?=$lang->_thumb?></th>
                        <th><?=$lang->_name?></th>
                        <th><?=$lang->content_category?></th>
                        <th><?=$lang->_status?></th>
                        <th><?=$lang->_update?></th>
                        <th><?=$lang->_action?></th>
                      </tr>
                    </thead>
                    <?php foreach($contentList as $list){ ?>
                    	<tr>
                    		<td width="10%">
                    			<input type="text" data-id="<?=$list['content_id']?>" onchange="sortContentContent(this);" class="form-control input-xs text-center" onkeypress="numberonly(event);" value="<?=$list['sort']?>" />
                    		</td>
                    		<td width="15%">
                    			<img src="<?=$BASEURL_F?>/uploads/content/content/<?=$list['content_thumb']?>" style="max-height: 50px;"/>
                    		</td>
                    		<td>
                    			<?=$list['content_name']?>
                    		</td>
                    		<td width="20%">
                    		<?php foreach($list['mapping'] as $mpaaings){ ?>
                    			<span class="badge bg-green"><?=$mpaaings?></span>
                    		<?php } ?>
                    		</td>
                    		<td align="center">
                    			<?php $new_status='C'; ?>
                    			<?php if($list['status']=='C'){ ?>
                    			<span class="text-red"><?=$lang->_inactive?></span>
                    			<?php $new_status='O'; } ?>
                    			<?php if($list['status']=='O'){ ?>
                    			<span class="text-green"><?=$lang->_active?></span>
                    			<?php } ?>
                    			<br />
                    			<button class="btn btn-flat btn-default btn-xs" data-id="<?=$list['content_id']?>" data-status="<?=$new_status?>" onclick="setContentcontentStatus(this);"><i class="fa fa-refresh"></i></button>
                    		</td>
                    		<td align="center">
                    			<?=date("d-m-Y",strtotime($list['update_dtm']))?><br />
                    			<?=date("H:i:s",strtotime($list['update_dtm']))?>
                    		</td>
                    		<td align="center">
                    		<?php if($button_edit){ ?>
                    			<a href="#/content/editcont/<?=$list['content_id']?>" class="btn btn-flat btn-success btn-sm"><i class="fa fa-edit"></i></a>
                    		<?php } ?>
                    		<?php if($button_delete){ ?>
                    			<button type="button" onclick="deleteContent('<?=$list['content_id']?>');" class="btn btn-flat btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    		<?php } ?>
                    		</td>
                    	</tr>
                    <?php } ?>
                    <tfoot>
                      <tr>
                        <th><?=$lang->_sort?></th>
                        <th><?=$lang->_thumb?></th>
                        <th><?=$lang->_name?></th>
                        <th><?=$lang->content_category?></th>
                        <th><?=$lang->_status?></th>
                        <th><?=$lang->_update?></th>
                        <th><?=$lang->_action?></th>
                      </tr>
                    </tfoot>
                  </table>
                  <nav class="pull-right" style="margin-right: 3%;">
					  <ul class="pagination pagination-md">
					    <?php for($i=1;$i<=$allPage;$i++){ ?>
					    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/content/category/?page=<?=$i?>"><?=$i?></a></li>
					    <?php } ?>

					  </ul>
					</nav>
			</div>
			
			</div>
		</div>
	</div>
          
</section>

