
<section class="content-header">
  <h1>
   	<?=$lang->content_category?>
    <small><?=$lang->content_category_mng?></small>
  </h1>  
</section>

        <!-- Main content -->
        
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<?php if(!is_array($cateInfo)){ ?>
			  <h3 class="box-title"><?=$lang->content_category_create?></h3>
			 <?php }else{ ?> 
			 	<h3 class="box-title"><?=$lang->content_category_edit?></h3>
			 <?php } ?>
			</div>
			 <form class="form-horizontal" id="contFrm" name="contFrm">
			 <?php if(!is_array($cateInfo)){ ?>
			 <input type="hidden" name="mode" value="createcategory"/>
			 <input type="hidden" name="category_id" id="category_id" value="0"/>
			 <?php }else{ ?>
			 <input type="hidden" name="mode" value="editcategory"/>
			 <input type="hidden" name="category_id" value="<?=$cateInfo['category_id']?>"/>
			 <?php } ?>
			<div class="box-body">
			   
				<div class="col-md-12">
		          <!-- Custom Tabs -->
		          <div class="nav-tabs-custom">
		            <ul class="nav nav-tabs">
		            <?php $l_c=1; foreach($langlist as $langL){ ?>
		              <li <?php if($l_c=='1'){ ?> class="active"<?php } ?>><a href="#tab_<?=$langL['lang_prefix']?>" data-toggle="tab" aria-expanded="true"><?=$langL['lang_name']?></a></li>
		            <?php $l_c++; } ?>
		            </ul>
		            <div class="tab-content">
		            <?php $l_c=1; foreach($langlist as $langL){ ?>
		              <div class="tab-pane <?php if($l_c=='1'){ ?>active<?php } ?>" id="tab_<?=$langL['lang_prefix']?>">
		                
		                <?php if($cateInfo['category_thumb_'.$langL['lang_prefix']]!=''){ ?>
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-2 control-label"></label>
	                      <div class="col-sm-5">
	                        <img src="<?=$BASEURL_F?>/uploads/content/category/<?=$cateInfo['category_thumb_'.$langL['lang_prefix']]?>" class="img-responsive"/>
	                      </div>
	                    </div>
		                <?php } ?>
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-2 control-label"><?=$lang->content_category_thumb?></label>
	                      <div class="col-sm-5">
	                        <input type="file" name="category_thumb_<?=$langL['lang_prefix']?>" id="category_thumb_<?=$langL['lang_prefix']?>">
	                        <input type="hidden" name="old_thumb_<?=$langL['lang_prefix']?>" value="<?=$cateInfo['category_thumb_'.$langL['lang_prefix']]?>"/>
	                        <p class="help-block"><?=$lang->_thumb_desc?></p>
	                      </div>
	                    </div>
		                
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-2 control-label"><?=$lang->content_category_name?></label>
	                      <div class="col-sm-5">
	                        <input type="text" class="form-control" id="category_name_<?=$langL['lang_prefix']?>" name="category_name_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->content_category_name?>" value="<?=$cateInfo['category_name_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    
	                    
	                    
	                    <div class="form-group">
	                      <label for="exp_desc" class="col-sm-2 control-label"><?=$lang->content_category_desc?></label>
	                      <div class="col-sm-8">
	                        
	                        <textarea class="form-control summernote" id="category_desc_<?=$langL['lang_prefix']?>" name="category_desc_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->content_category_desc?>"><?=$cateInfo['category_desc_'.$langL['lang_prefix']]?></textarea>
	                      </div>
	                    </div>
	                    
	                    <div class="form-group">
	                      <label for="exp_title" class="col-sm-2 control-label"><?=$lang->_meta_title?></label>
	                      <div class="col-sm-5">
	                        <input type="text" class="form-control" id="meta_title_<?=$langL['lang_prefix']?>" name="meta_title_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->_meta_title?>" value="<?=$cateInfo['meta_title_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    <div class="form-group">
	                      <label for="exp_title" class="col-sm-2 control-label"><?=$lang->_meta_keyword?></label>
	                      <div class="col-sm-5">
	                        <input type="text" class="form-control" id="meta_keyword_<?=$langL['lang_prefix']?>" name="meta_keyword_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->_meta_keyword?>" value="<?=$cateInfo['meta_keyword_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    <div class="form-group">
	                      <label for="exp_title" class="col-sm-2 control-label"><?=$lang->_meta_desc?></label>
	                      <div class="col-sm-5">
	                        <input type="text" class="form-control" id="meta_desc_<?=$langL['lang_prefix']?>" name="meta_desc_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->_meta_desc?>" value="<?=$cateInfo['meta_desc_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    
	                    
		              </div>
		              <?php $l_c++; } ?>
		            </div>
		          </div>
		        </div>
                                 
            </div> 
             
            <div class="box-footer" style="">

			<a href="#/content/category/" class="btn btn-success pull-right"><?=$lang->_backtolist?></a>

            <button type="reset" class="btn btn-default"><?=$lang->_reset?></button>
            <button type="button" class="btn btn-primary" id="" onclick="saveContentCategory();"> <i class="fa fa-save"></i> <?=$lang->_save?></button>
           
            </div><!-- /.box-footer -->  
 			</form>
			</div>
			
           
			</div>
		</div>

          
</section>

<script>
	
      callEditor('.summernote');
      
</script>



