
<section class="content-header">
  <h1>
   	<?=$lang->content_content?>
    <small><?=$lang->content_content_mng?></small>
  </h1>  
</section>

        <!-- Main content -->
        
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<?php if(!is_array($contentInfo)){ ?>
			  <h3 class="box-title"><?=$lang->content_content_create?></h3>
			 <?php }else{ ?> 
			 	<h3 class="box-title"><?=$lang->content_content_edit?></h3>
			 <?php } ?>
			</div>
			 <form class="form-horizontal" id="contFrm" name="contFrm">
			 <?php if(!is_array($contentInfo)){ ?>
			 <input type="hidden" name="mode" value="createcontent"/>
			 <input type="hidden" name="content_id" id="content_id" value="0"/>
			 <?php }else{ ?>
			 <input type="hidden" name="mode" value="editcontent"/>
			 <input type="hidden" name="content_id" value="<?=$contentInfo['content_id']?>"/>
			 <?php } ?>
			<div class="box-body">
			   
				<div class="col-md-9">
		          <!-- Custom Tabs -->
		          <div class="nav-tabs-custom">
		            <ul class="nav nav-tabs">
		            <?php $l_c=1; foreach($langlist as $langL){ ?>
		              <li <?php if($l_c=='1'){ ?> class="active"<?php } ?>><a href="#tab_<?=$langL['lang_prefix']?>" data-toggle="tab" aria-expanded="true"><?=$langL['lang_name']?></a></li>
		            <?php $l_c++; } ?>
		            </ul>
		            <div class="tab-content">
		            <?php $l_c=1; foreach($langlist as $langL){ ?>
		              <div class="tab-pane <?php if($l_c=='1'){ ?>active<?php } ?>" id="tab_<?=$langL['lang_prefix']?>">
		                
		                <?php if($contentInfo['content_thumb_'.$langL['lang_prefix']]!=''){ ?>
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label"></label>
	                      <div class="col-sm-7">
	                        <img src="<?=$BASEURL_F?>/uploads/content/content/<?=$contentInfo['content_thumb_'.$langL['lang_prefix']]?>" class="img-responsive"/>
	                      </div>
	                    </div>
		                <?php } ?>
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label"><?=$lang->content_content_thumb?></label>
	                      <div class="col-sm-7">
	                        <input type="file" name="content_thumb_<?=$langL['lang_prefix']?>" id="content_thumb_<?=$langL['lang_prefix']?>">
	                        <input type="hidden" name="old_thumb_<?=$langL['lang_prefix']?>" value="<?=$contentInfo['content_thumb_'.$langL['lang_prefix']]?>"/>
	                        <p class="help-block"><?=$lang->_thumb_desc?></p>
	                      </div>
	                    </div>
		                
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label"><?=$lang->content_content_name?></label>
	                      <div class="col-sm-7">
	                        <input type="text" class="form-control" id="content_name_<?=$langL['lang_prefix']?>" name="content_name_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->content_content_name?>" value="<?=$contentInfo['content_name_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    
	                    
	                    
	                    <div class="form-group">
	                      <label for="exp_desc" class="col-sm-3 control-label"><?=$lang->content_content_desc?></label>
	                      <div class="col-sm-8">
	                        
	                        <textarea class="form-control summernote" id="content_desc_<?=$langL['lang_prefix']?>" name="content_desc_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->content_content_desc?>"><?=$contentInfo['content_desc_'.$langL['lang_prefix']]?></textarea>
	                      </div>
	                    </div>
	                    
	                    <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label"><?=$lang->_meta_title?></label>
	                      <div class="col-sm-7">
	                        <input type="text" class="form-control" id="meta_title_<?=$langL['lang_prefix']?>" name="meta_title_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->_meta_title?>" value="<?=$contentInfo['meta_title_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label"><?=$lang->_meta_keyword?></label>
	                      <div class="col-sm-7">
	                        <input type="text" class="form-control" id="meta_keyword_<?=$langL['lang_prefix']?>" name="meta_keyword_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->_meta_keyword?>" value="<?=$contentInfo['meta_keyword_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label"><?=$lang->_meta_desc?></label>
	                      <div class="col-sm-7">
	                        <input type="text" class="form-control" id="meta_desc_<?=$langL['lang_prefix']?>" name="meta_desc_<?=$langL['lang_prefix']?>" placeholder="<?=$lang->_meta_desc?>" value="<?=$contentInfo['meta_desc_'.$langL['lang_prefix']]?>">
	                      </div>
	                    </div>
	                    
	                    
		              </div>
		              <?php $l_c++; } ?>
		            </div>
		          </div>
		        </div>
		        <div class="col-sm-3">
		        	<fieldset>
		        		<legend><?=$lang->content_category?></legend>
		        		<?php if(!is_array($contentInfo)){ ?>
		        		<div class="form-group">
		        		<?php foreach($categoryList as $category){ ?>
		                  <div class="checkbox">
		                    <label>
		                      <input type="checkbox" class="minimal" name="category_id[]" value="<?=$category['category_id']?>">
		                      &nbsp;&nbsp;&nbsp;<?=$category['category_name']?>
		                    </label>
		                  </div>
		                <?php } ?>
		                </div>
		                <?php }else{ ?>
		                <div class="form-group">
		        		<?php foreach($categoryList as $category){ ?>
		                  <div class="checkbox">
		                    <label>
		                      <input type="checkbox" class="minimal" name="category_id[]" value="<?=$category['category_id']?>" <?php if(array_search($category['category_id'],$mapping)!==false){ ?>checked=""<?php } ?>>
		                      &nbsp;&nbsp;&nbsp;<?=$category['category_name']?>
		                    </label>
		                  </div>
		                <?php } ?>
		                </div>
		                <?php } ?>
		        	</fieldset>
		        </div>
                                 
            </div> 
             
            <div class="box-footer" style="">

			<a href="#/content/contentlist/" class="btn btn-success pull-right"><?=$lang->_backtolist?></a>

            <button type="reset" class="btn btn-default"><?=$lang->_reset?></button>
            <button type="button" class="btn btn-primary" id="" onclick="saveContentContent();"> <i class="fa fa-save"></i> <?=$lang->_save?></button>
           
            </div><!-- /.box-footer -->  
 			</form>
			</div>
			
           
			</div>
		</div>

          
</section>

<script>
	
      callEditor('.summernote');
      
</script>



