<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Order List
                </div>
                <div class="col-sm-12">
                    <br />
                    <form class="form-inline" id="searchFrm" onsubmit="return searchodrChina();">
                        <input type="hidden" name="mode" value="searchodr" />
                        <input type="submit" style="position: absolute; left: -9999px" />
                        <div class="form-group">
                            <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                            <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odrbuy_search']['order_number']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">รหัสลูกค้า</label>
                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['odrbuy_search']['user_code']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">สถานะ</label>
                            <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
					          	<option value="ALL" <?php if($_SESSION['odrbuy_search']['status']=='ALL'){ ?>selected=""<?php } ?>>ทั้งหมด</option>
					          	<option value="Y" <?php if($_SESSION['odrbuy_search']['status']=='Y'){ ?>selected=""<?php } ?>>รอสั่งซื้อ</option>
					          	<option value="S" <?php if($_SESSION['odrbuy_search']['status']=='S'){ ?>selected=""<?php } ?>>เรียบร้อย</option>

					        </select>
                        </div>
                        <!-- <div class="form-group">
						    <label for="exampleInputName2">วันที่สั่งซื้อ</label>
						    <input type="text" class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odrbuy_search']['create_dtm']?>">
						  </div> -->
                        <button type="button" class="btn btn-default" onclick="searchodrChina();">ค้นหา</button>
                        <button type="button" class="btn btn-default" onclick="resetSearchChina();">ยกเลิก</button>
                    </form>
                    <br />
                </div>
                <form id="createFrm">
                    <input type="hidden" name="mode" value="exportExcel" />
                    <div class="box-body">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>เลขที่สั่งซื้อ</th>
                                                <th style="text-align: center;">รหัสลูกค้า</th>
                                                <th style="text-align: center;">ยอดรวมหยวนก่อนสั่ง</th>
                                                <th style="text-align: center;">จำนวนก่อนสั่ง</th>
                                                <th style="text-align: center;">ยอดรวมหยวนสั่งจริง</th>
                                                <th style="text-align: center;">จำนวนสั่งจริง</th>
                                                <!-- <th style="text-align: center;">เพิ่ม/คืน</th> -->
                                                <th style="text-align: center;">สถานะ</th>
                                                <th style="text-align: center;">วันที่สั่งซื้อ</th>
                                                <th style="text-align: center;">คำสั่ง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($orderList['data'] as $key=>$odr){ ?>

                                            <tr>
                                                <td>

                                                    <span class="black"><?=$odr['order_number']?></span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <?=$odr['member']['user_code']?>
                                                        <br />
                                                        <span class="text-green">
							          		<?=$odr['member']['user_name']?>
							          	</span>

                                                </td>
                                                <td style="text-align: center;">                                                    
                                                     <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span>                                                                                                          
                                                </td>
                                                <td class="text-center">

                                                    <?=$odr['countprice']['product_qty']?>
                                                </td>
                                                <td class="text-center"><!--[ยอดรวมหยวนสั่งจริง] Edit by Weerasak 17-10-2564-->
                                                    <!-- <?php $true_price = ($odr['countprice']['product_buy_rmb']+$odr['countprice']['ship_cn']); ?>
                                                    <?=number_format($true_price,2)?> -->
                                                    <span style="color: black"><?=number_format($odr['countprice']['total_order_buy_amount'],2)?></span>
                                                </td><!--End edit-->
                                                <td class="text-center">
                                                    <?=$odr['countprice']['product_buy_qty']?>

                                                </td>
                                                <?php $totals = (($odr['countprice']['product_price_rmb']*$odr['rate'])+$odr['order_pay_ship'])-$odr['order_discount'];$totals = $totals+$odr['countprice']['product_price_thb'];  ?>

                                                <?php $true_price = ($odr['countprice']['product_buy_rmb']*$odr['rate'])*$odr['countprice']['product_buy_qty'];
                                  $true_price += $odr['order_pay_ship'];
                                  $true_price += $odr['order_pay_cn']*$odr['rate'];
                                  $true_price -= $odr['order_discount'];
                                  $true_price += $odr['countprice']['product_price_thb'];
                                  //echo $odr['order_pay_ship'];
                                  if($odr['export']=='N'){$true_price=0;}
                               ?>
                                                <!-- <td class="text-center">
							          <?php
							          $refund = $true_price-$totals;
							          $ttpay = ($totals-$odr['order_price']);
							          ?>
							          <?php if($true_price>0){ ?>
							          	<?php if($refund<0){ ?>
							          	<span class="text-green"><?=number_format($refund,2)?>(คืน)</span><br />
							          	รวมค้าง <?=number_format(($ttpay+$refund),2)?>
							          	<?php } ?>
							          	<?php if($refund>=0){ ?>
							          	<span class="text-red"><?=number_format($refund,2)?>(เพิ่ม)</span><br />
							          	รวม <?=number_format(($ttpay+$refund),2)?>
							          	<?php } ?>
							          <?php }else{ ?>
							          -
							          <?php } ?>
							          </td> -->
                                                <td style="text-align: center;">
                                                    <?php
							           	$color_status = 'blue';
							           	if($odr['export']=='Y'){
											   $color_status = 'red';
                                    $status_text = 'รอสั่งซื้อ';
   										}
   										if($odr['export']=='S'){
   											$color_status = 'green';
                                    $status_text = 'เรียบร้อย';
   										}

							          ?>
                                                        <span style="color:<?=$color_status?>;"><?=$status_text?></span>

                                                </td>
                                                <!--<td>
							          	รอตรวจสอบ
							          </td>-->
                                                <td style="text-align: center;">
                                                    <span class="black"><i class="fa fa-clock-o"></i> วันที่ <?=$odr['create_dtm']?></span><br />
                                                    <?php if($odr['update_dtm']!='0000-00-00 00:00:00'){ ?>
                                                    <span class="black"><i class="fa fa-clock-o"></i> ล่าสุด <?=$odr['update_dtm']?></span>
                                                    <?php } ?>
                                                </td>
                                                <!--<td style="text-align: left;">
							          	<?php if($odr['order_comment']!=''){ ?>
							          	<span class="text-aqua"><?=$odr['order_comment']?></span>
							          	<?php }else{ ?>
							          	-
							          	<?php } ?>
							          </td>-->
                                                <td style="text-align: center;">
                                                    <?php if($button_edit){ ?>
                                                    <a href="#/ordervendor/view/<?=$odr['id']?>" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> เปิดดูข้อมูล</a><br />
                                                    <?php } ?>
                                                    <?php if($button_view){ ?>
                                                    <a href="#/ordervendor/viewdetail/<?=$odr['id']?>" class="btn btn-info btn-sm" style="margin-top:5px;"><i class="fa fa-search"></i> View รายการสั่งซื้อ</a>
                                                    <?php } ?>
                                                    <!--<div style="margin-bottom: 1px;">&nbsp;</div>-->

                                                </td>
                                            </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>

                                    <nav class="pull-right" style="margin-right: 3%;">
                                        <ul class="pagination pagination-md">

                                            <?php 
                                            $c_page = intval($currpage);
                                            if($c_page==0){
                                                $c_page = 1;
                                            }
                                            $start = 1;
                                            $end = 10;
                                            if($c_page>=6){
                                                $start = $c_page-4;
                                                $end = $c_page+4;
                                            }

                                            if($end>=$allPage){
                                                $end = $allPage;
                                            }
                                            ?>
                                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                            <?php for($i=$start;$i<=$end;$i++) {?>
                                            <li <?php if($currpage==$i){ ?>class="active"
                                                <?php } ?>>
                                                <a href="#/ordervendor/orderlist/?page=<?=$i?>">
                                                    <?=$i?>
                                                </a>
                                            </li>
                                            <?php } ?>
                                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>