<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<input type="hidden" id="cnrate" value="<?=$rate?>" />
<form id="itemFrm" name="itemFrm">
    <input type="hidden" name="mode" value="createitem" />
    <input type="hidden" id="ordid" name="order_id" value="<?=$orderInfo['id']?>" />
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ
                    </div>

                    <div class="box-body">

                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_number']?></b></span>, สถานะ :
                                        <?php
							           	$color_status = 'blue';
							           	if($orderInfo['status']=='C'){
											$color_status = 'red';
										}
										if($orderInfo['status']=='A'){
											$color_status = 'green';
										}
										if($orderInfo['status']=='V'){
											$color_status = 'orange';
										}
										if($orderInfo['status']=='PW'){
											$color_status = 'brown';
										}
										if($orderInfo['status']=='PA'){
											$color_status = 'pink';
										}
							          ?>&nbsp;&nbsp;
                                            <!--<span style="color:<?=$color_status?>;"><?=$orderInfo['status_text']?></span>-->
                                            <!--<select data-id="<?=$orderInfo['id']?>" class="form-control" style="width: 150px; float: right;" onchange="checngOrderStatus(this);">

								          	<option value="Y" <?php if($orderInfo['export']=='Y'){ ?>selected=""<?php } ?>>รอสังซื้อ</option>
								          	<option value="S" <?php if($orderInfo['export']=='S'){ ?>selected=""<?php } ?>>เรียบร้อย</option>
								        </select>-->
                                            <?php if($orderInfo['export']=='Y'){ ?>
                                            <span class="text-red"><b>รอสังซื้อ</b></span>
                                            <?php }else{ ?>
                                            <span class="text-green"><b>เรียบร้อย</b></span>
                                            <?php }  ?>


                                    </div>
                                    <div class="pull-right">
                                        <?php if($orderInfo['status']=='1'){ ?>
                                        <button type="button" class="btn btn-success" data-id="<?=$orderInfo['id']?>" data-val="2" onclick="checngOrderStatusButton(this);">Approve</button>
                                        <?php } ?>
                                        <span style="color: red;">ค่าเงินหยวนขณะที่สั่งซื้อ : <?=$orderInfo['rate']?></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body table-responsive">
                                    <table class="table table-hover">
                                        <thead>

                                            <tr>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- <tr>
                                 <th style="text-align: center;" colspan="2">รายการ</th>
                                 <th style="text-align: center;"><nobr>สถานะ</nobr></th>
								          <th style="text-align: center;"><nobr>ราคาหยวน</nobr></th>

								          <th style="text-align: center;">จำนวน</th>

								          <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
                                  <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>

								          <th style="text-align: center;"><nobr></nobr></th>
                                  <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />บาท</th>
								          <th></th>

                              </tr> -->
                                            <?php $num_pice = 1; $total_all=0;$total_true=0; $old_shop = ''; $old_number = ''; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; foreach($itemList as $vals){ ?>
                                            <?php if($vals['item_typs_s']=='NR'){ ?>
                                            <?php if($vals['product_saller_name']!=$old_shop && $vals['saller_number']!=$old_number){ $num_pice = 1; ?>
                                            <tr bgcolor="#ffeaef">
                                                <!--<td></td>-->
                                                <td colspan="3">
                                                    ร้านค้า :
                                                    <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                        <?=$vals['product_saller_name']?>
                                                    </a>
                                                </td>
                                                <td colspan="3">
                                                    Tracking No : <b><?=$vals['product_sku_1']?></b>
                                                </td>
                                                <td class="text-right" colspan="7">
                                                    <?php
                                          $keycheck = NULL;
                                          $price_yuan = 0;
                                          $data_idss = 0;
                                          if(count($shipItem['data'])>0){
                                             $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                                             if($keysearch!==false){
                                                $keycheck = $keysearch;
                                                $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                                $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                                $cn_cn = $cn_cn+$price_yuan;
                                             }
                                          }
                                       ?>
                                                        ค่าจัดส่งจีน :
                                                        <?php if($orderInfo['export']=='Y'){ ?>
                                                        <!--<input type="text" data-order="<?=$orderInfo['id']?>" data-saller="<?=$vals['saller_number']?>" data-id="<?=$data_idss?>" class="text-center" onkeypress="numberonly(event);" value="<?=$price_yuan?>" onchange="updateCnShip(this);" style="width:50px;" />-->
                                                        <span class="text-red"><b><?=$price_yuan?></b></span>
                                                        <?php }else{ ?>
                                                        <span class="text-red"><b><?=$price_yuan?></b></span>
                                                        <?php } ?> หยวน
                                                </td>
                                            </tr>

                                            <tr>
                                                <th style="text-align: center;" colspan="3">รายการ</th>
                                                <th style="text-align: center;">
                                                    <nobr>สถานะ</nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>ราคาหยวน</nobr>
                                                </th>

                                                <th style="text-align: center;">จำนวน</th>

                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>

                                                <th style="text-align: center;">
                                                    <nobr></nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />บาท</th>
                                                <th></th>

                                            </tr>

                                            <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $old_number=$vals['saller_number'];  } ?>

                                            <?php if($vals['product_saller_name']==$old_shop && $vals['saller_number']!=$old_number){ $num_pice = 1; ?>
                                            <tr bgcolor="#ffeaef">
                                                <!--<td></td>-->
                                                <td colspan="3">
                                                    ร้านค้า :
                                                    <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                        <?=$vals['product_saller_name']?>
                                                    </a>
                                                </td>
                                                <td colspan="3">
                                                    Tracking No : <b><?=$vals['product_sku_1']?></b>
                                                </td>
                                                <td class="text-right" colspan="7">
                                                    <?php
                                          $keycheck = NULL;
                                          $price_yuan = 0;
                                          $data_idss = 0;
                                          if(count($shipItem['data'])>0){
                                             $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                                             if($keysearch!==false){
                                                $keycheck = $keysearch;
                                                $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                                $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                                $cn_cn = $cn_cn+$price_yuan;
                                             }
                                          }
                                       ?>
                                                        ค่าจัดส่งจีน :

                                                        <!--<input type="text" data-order="<?=$orderInfo['id']?>" data-saller="<?=$vals['saller_number']?>" data-id="<?=$data_idss?>" class="text-right" onkeypress="numberonly(event);" value="<?=$price_yuan?>" onchange="updateCnShip(this);" />-->
                                                        <span class="text-red"><b><?=$price_yuan?></b></span> หยวน

                                                </td>
                                            </tr>

                                            <tr>
                                                <th style="text-align: center;" colspan="3">รายการ</th>
                                                <th style="text-align: center;">
                                                    <nobr>สถานะ</nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>ราคาหยวน</nobr>
                                                </th>

                                                <th style="text-align: center;">จำนวน</th>

                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>

                                                <th style="text-align: center;">
                                                    <nobr></nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />บาท</th>
                                                <th></th>

                                            </tr>

                                            <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $old_number=$vals['saller_number']; } ?>




                                            <tr <?php if($vals[ 'status']=='14' ){ ?>class="bg-gray disabled color-palette"
                                                <?php } ?>>

                                                <th width="10">
                                                    <span class="text-warning"><?=$num_pice?></span>
                                                </th>
                                                <td width="60">
                                                    <img class="thumbnail" style="width: 150px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>" />
                                                    <nobr>ร้านค้าที่ : <b><?=$vals['saller_number']?></b></nobr>
                                                </td>
                                                <td width="30%">
                                                    <?php if($vals['product_link']!=''){ ?>
                                                    <a href="<?=$vals['product_link']?>" target="_blank">
                                                        <?=$vals['product_title']?>
                                                    </a><br />
                                                    <?php }else{ ?>
                                                    <!-- <h4>Tracking No : <b><?=$vals['product_sku_1']?></b></h4> -->
                                                    <?php } ?>

                                                    <?php foreach($vals['option'] as $val_op){ ?>
                                                    <?=$val_op['option_name']?> : <b><?=$val_op['option_value']?></b>&nbsp;&nbsp;
                                                        <?php } ?>
                                                        <br />
                                                        <select class="form-control disabled" data-id="<?=$vals['id']?>" name="order_type" id="order_type" onchange="itemType(this);" disabled>
      								      <?php $shipby = GF::masterdataList('1'); ?>
      								      <?php foreach($shipby as $master){ ?>
      								      	<option value="<?=$master['id']?>" <?php if($vals['order_type']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_name']?></option>
      								      <?php  } ?>
      								      </select>
                                                        <!-- ประเภทสินค้า : <b><?php $cvmaster = GF::masterdata($vals['order_type']); echo $cvmaster['master_name']; ?></b> -->
                                                        <br />
                                                        <!-- ประเภทการนำเข้า : <b><?php $cvmaster = GF::masterdata($vals['ship_by']); echo $cvmaster['master_name']; ?></b>
								          	<br /> -->
                                                        <span>หมายเหตุ</span>
                                                        <?=$vals['note']?>
                                                </td>
                                                <td>
                                                    <?php $nmster = GF::masterdata($vals['status']); ?>
                                                    <nobr>
                                                        <?=$nmster['master_name']?>
                                                    </nobr>
                                                    <!--<select class="form-control" style="width: 150px;" data-id="<?=$vals['id']?>" onchange="itemStatus(this);">
								          <?php
								      		$nmster = GF::masterdataval('3',$vals['status']);
								      		 ?>

								          	<?php $trr = GF::masterdataList('3'); ?>

								      		<?php foreach($trr as $master){ ?>

								      			<option value="<?=$master['id']?>" <?php if($nmster['id']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
								      		<?php } ?>
								          </select>-->
                                                    <!--<br />
								          <nobr>Trcking : <b><?=$vals['product_sku_1']?></b></nobr>-->

                                                </td>
                                                <!--<td>

								          </td>-->
                                                <td style="text-align: center;">
                                                    <!--<?=number_format($vals['product_price_rmb'],2)?>/<?=$rate?>-->
                                                    <!-- <input maxlength="10" class="form-control" onkeypress="numberonly(event);" style="width:80px; text-align:center;" type="text" value="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-qty="<?=$vals['product_qty']?>" data-id="<?=$vals['id']?>" onchange="updateYuan(this);" class=""/> -->
                                                    <?=$vals['product_price_rmb']?>
                                                </td>
                                                <td style="text-align: center;">
                                                    <!-- <input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;" type="text" value="<?=$vals['product_qty']?>" data-rmb="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-id="<?=$vals['id']?>" onchange="updateQTY(this);" class=""/>  -->
                                                    <?=$vals['product_qty']?>
                                                </td>


                                                <td style="text-align: center;">

                                                    <?=number_format($vals['product_buy_rmb'],2)?>

                                                        <!-- <?=number_format($vals['product_buy_rmb'],2)?> -->
                                                </td>
                                                <td style="text-align: center;">
                                                    <?=number_format($vals['product_buy_qty'],2)?>

                                                </td>

                                                <td style="text-align: right;">

                                                    <?php $totalbaht = ($vals['product_price_rmb']*$vals['product_qty']); ?>
                                                    <!--
								          	<input maxlength="10" readonly="" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;" type="text" value="<?=number_format($totalbaht,2)?>" data-id="<?=$vals['id']?>"  onchange="updateBath(this);" />
								          	<br />-->
                                                    <?php
								          	$total_buy = ($vals['product_buy_rmb']*$vals['product_buy_qty']);
								          	?>
                                                        <?php if($total_buy>0){ ?>
                                                        <?php if(($totalbaht-$total_buy)>0){ ?>
                                                        <!-- <span class="text-red">-<?=number_format(($totalbaht-$total_buy),2)?></span> -->
                                                        <?php $total_refund=$total_refund+($total_buy-$totalbaht); }else{ ?>
                                                        <!-- <span class="text-green">+<?=number_format(($total_buy-$totalbaht),2)?></span> -->
                                                        <?php $total_upfund=$total_upfund+($totalbaht-$total_buy); } ?>
                                                        <?php } ?>

                                                </td>
                                                <td style="text-align: center;">

                                                    <?=number_format($total_buy*$orderInfo['rate'],2)?>
                                                </td>


                                                <?php //if($vals['status']=='E'){ $vals['product_price_thb']=0; } ?>

                                                <!--<td valign="middle">
								          	<button type="button" class="btn btn-danger btn-xs" onclick="delItem(this);" data-item="<?=$vals['id']?>" data-ord="<?=$orderInfo['id']?>"><i class="fa fa-times"></i></button>
								          </td>-->
                                                <td valign="middle">
                                                    <!-- <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button> -->
                                                </td>
                                            </tr>

                                            <?php
                              $total_all=$total_all+$totalbaht;
                              //$cn_cn = $cn_cn+$vals['ship_cn_cn'];
                              //$cn_th = $cn_th+$vals['ship_cn_th'];
                              $total_true = $total_true+$total_buy;
                           $ck++; $num_pice++; } ?>
                                                <?php } ?>
                                                <?php foreach($itemList as $vals){ ?>
                                                <?php if($vals['item_typs_s']!='NR'){ ?>
                                                <tr>

                                                    <td class="text-center">
                                                        <?php if($vals['item_typs_s']=='DE'){ ?>
                                                        <span class="text-red">คืนเงิน</span>
                                                        <?php }else{ ?>
                                                        <span class="text-green">เพิ่มเงิน</span>
                                                        <?php } ?>
                                                    </td>
                                                    <td>
                                                        <b><?=$vals['product_title']?></b>
                                                        <br />
                                                        <br />
                                                        <span>หมายเหตุ</span>
                                                        <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;"><?=$vals['note']?></textarea>
                                                    </td>
                                                    <td></td>
                                                    <td class="text-center">
                                                        <!--<input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center; display: inline;" type="text" name="item_rmb" value="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-qty="<?=$vals['product_qty']?>" data-id="<?=$vals['id']?>" onchange="updateYuan(this);"/>-->

                                                    </td>
                                                    <td class="text-center">
                                                        <!--<input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;display: inline;" type="text" name="item_qty" value="<?=$vals['product_qty']?>" data-rmb="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-id="<?=$vals['id']?>" onchange="updateQTY(this);"/> -->
                                                    </td>
                                                    <td colspan="3"></td>
                                                    <td class="text-center">
                                                        <!-- <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" value="<?=$vals['product_price_thb']?>" data-id="<?=$vals['id']?>"  onchange="updateBath(this);"  /> -->

                                                        <?=number_format($vals['product_price_thb'],2)?>
                                                    </td>
                                                    <td valign="middle">
                                                        <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                                                    </td>

                                                </tr>

                                                <?php
							      			if($vals['item_typs_s']=='DE'){
							      				$total_all=$total_all-$vals['product_price_rmb'];
                                       $total_true=$total_true-$vals['product_price_rmb'];
							      			}else if($vals['item_typs_s']=='IN'){
							      				$total_all=$total_all+$vals['product_price_rmb'];
                                       $total_true=$total_true+$vals['product_price_rmb'];
							      			}
							      		 ?>
                                                    <?php  } ?>

                                                    <?php } ?>
                                                    <?php
                                 $total_all = ($total_all+($orderInfo['order_pay_ship_yuan']));
                                 //$total_all = $total_all+($cn_cn*$orderInfo['rate']);

                                 //$total_true = $total_true+($orderInfo['order_pay_cn']);
                                 //$total_true = ($total_true+$orderInfo['order_pay_ship'])-$orderInfo['order_discount'];
                                 $total_true = $total_true+($cn_cn);
									      ?>
                                                        <tr>
                                                            <td colspan="7"><b>ประเมิณค่าขนส่งร้านจีนล่วงหน้า 10% (10-100 หยวน)<br />เมื่อทราบค่าส่งที่แท้จริงจะนำมาทำยอดคืนให้ภายหลัง</b></td>
                                                            <td>&yen;
                                                                <?=number_format(($orderInfo['order_pay_ship_yuan']),2)?>
                                                            </td>
                                                            <td style="text-align: right;">
                                                                <?=number_format($orderInfo['order_pay_ship'],2)?>
                                                            </td>
                                                            <td>บาท</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="7"><b>ค่าจัดส่งจริงของร้านจีน</b></td>
                                                            <td>&yen;
                                                                <?=number_format(($cn_cn),2)?>
                                                            </td>
                                                            <td style="text-align: right;">
                                                                <?=number_format(($cn_cn*$orderInfo['rate']),2)?>
                                                            </td>
                                                            <td>บาท</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="8"><b>ส่วนลด</b></td>
                                                            <td style="text-align: right;">
                                                                <?=number_format($orderInfo['order_discount'],2)?>
                                                            </td>
                                                            <td>บาท</td>
                                                        </tr>

                                                        <tr>
                                                            <td colspan="8"><b>ก่อนสั่งซื้อจริง ยอดสั่ง </b></td>
                                                            <td style="text-align: right;">
                                                                <h3 style="margin: 0px;" class="text-red">
                                                                    <?=number_format($total_all,2)?>

                                                                </h3>
                                                            </td>
                                                            <td>หยวน</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="8"><b>สั่งซื้อจริง ยอดสั่ง </b></td>
                                                            <td style="text-align: right;">
                                                                <h3 style="margin: 0px;" class="text-green">
                                                                    <?=number_format($total_true,2)?>


                                                                </h3>
                                                            </td>
                                                            <td>หยวน</td>
                                                        </tr>
                                                        <?php
									      		$tt_fund = $total_all-$total_true;
									      	?>
                                                            <?php if($tt_fund!=0){ ?>
                                                            <?php if($tt_fund>0){  ?>
                                                            <!-- <tr>
									      		<td colspan="8" ><b>คืนเงิน </b></td>
									      		<td style="text-align: right;"><?=number_format($tt_fund,2)?></td>
									      		<td>บาท</td>
									      	</tr> -->
                                                            <?php }else{ ?>
                                                            <!-- <tr>
									      		<td colspan="8" ><b>เพิ่มเงิน </b></td>
									      		<td style="text-align: right;"><?=number_format(($total_true-$total_all),2)?></td>
									      		<td>บาท</td>
									      	</tr> -->
                                                            <?php } ?>
                                                            <?php } ?>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="panel-footer hidden">
                                    <!--<div class="col-md-6">
                           		วันที่ทำรายการ : <b><?=$orderInfo['create_dtm']?></b><br />

                           		หมายเหตุ : <b><?=$orderInfo['order_comment']?></b><br />
                           		<?php //GF::print_r($orderInfo['member']); ?>
                           	</div>
                           	<div class="col-md-6">
                           		<table class="table" style="margin-bottom: 30px;">
			                  		<thead>
			                  			<tr>
			                  				<th>ลำดับที่</th>
			                  				<th>ประเภทสินค้า</th>
			                  				<th>ประเภทการนำเข้า</th>
			                  				<th>Unit</th>
			                  				<th>อัตราค่าบริการ</th>
			                  			</tr>
			                  		</thead>
			                  		<tbody>
			                  		<?php $kk=1; foreach($orderInfo['member']['rate'] as $rrList){ ?>
			                  			<tr>
			                  				<td><?=$kk?></td>
			                  				<td><?php $mms = GF::masterdata($rrList['order_type']); echo $mms['master_name']; ?></td>
			                  				<td><?php $mms = GF::masterdata($rrList['ship_by']); echo $mms['master_name']; ?></td>
			                  				<td><?php $mms = GF::masterdata($rrList['unit']); echo $mms['master_name']; ?></td>
			                  				<td><?=$rrList['rate']?></td>

			                  			</tr>
			                  		<?php $kk++; } ?>
			                  		</tbody>
			                  	</table>
                           	</div>-->
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4" style="">
                                        <h3>ชำระแล้ว <span style="color: green;"><b><?=number_format($orderInfo['order_price'],2)?></b></span> บาท</h3>

                                    </div>
                                    <div class="col-sm-4" style="">
                                        <?php $totalAll = ($total_true-$orderInfo['order_price']); if($totalAll<0){$totalAll=0;} ?>
                                        <h3>ค้างชำระ <span style="color: red;"><b><?=number_format($totalAll,2)?></b></span> บาท</h3>
                                        <!--<div class="input-group">
								  <span class="input-group-addon">ชำระแล้ว</span>
								  <input type="text" class="form-control text-right" onchange="updateOrderPrice(this);" value="<?=$orderInfo['order_price']?>" aria-label="Amount (to the nearest dollar)">
								  <span class="input-group-addon">บาท</span>
								</div>-->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>



                        <div class="col-sm-12" style="text-align: right;">

                            <a href="#/ordervendor/orderlist/" class="btn btn-default btn-md pull-left">ย้อนกลับ</a>

                            <?php 
                                //$current_pay = $orderInfo['order_price'];
                                $diff_total = ($orderInfo['old_rate']*$total_all)-($orderInfo['rate']*$total_true);

                                //$diff_pay = ($current_pay-1)-round(($orderInfo['old_rate']*$total_all),2);

                               $diff_total = round($diff_total,2);

                               // echo round($orderInfo['old_rate']*$total_all,2);
                            ?>

                            <?php //GF::print_r($orderInfo); ?>



                        </div>


                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-footer" style="margin-left: 10%">



                    </div>

                </div>
            </div>
        </div>

    </section>
</form>