<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<input type="hidden" id="cnrate" value="<?=$rate?>" />

<input type="hidden" name="mode" value="createitem" />
<input type="hidden" id="ordid" name="order_id" value="<?=$orderInfo['id']?>" />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ
                </div>
                <div class="box-body">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_number']?></b></span>, สถานะ :
                                    <?php
							           	$color_status = 'blue';
							           	if($orderInfo['status']=='C'){
											$color_status = 'red';
										}
										if($orderInfo['status']=='A'){
											$color_status = 'green';
										}
										if($orderInfo['status']=='V'){
											$color_status = 'orange';
										}
										if($orderInfo['status']=='PW'){
											$color_status = 'brown';
										}
										if($orderInfo['status']=='PA'){
											$color_status = 'pink';
										}
							          ?>&nbsp;&nbsp;
                                        <?php if($orderInfo['export']=='Y'){ ?>
                                        <span class="text-red"><b>รอสั่งซื้อ</b></span>
                                        <?php }else{ ?>
                                        <span class="text-green"><b>เรียบร้อย</b></span>
                                        <?php }  ?>


                                </div>
                                <div class="pull-right">
                                    <?php if($orderInfo['status']=='1'){ ?>
                                    <button type="button" class="btn btn-success" data-id="<?=$orderInfo['id']?>" data-val="2" onclick="checngOrderStatusButton(this);">Approve</button>
                                    <?php } ?>
                                    <span style="color: red;">ค่าเงินหยวนขณะที่สั่งซื้อ : <?=$orderInfo['rate']?></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <!-- Start edit by Weerasak 16/10/2564 [Line 100 - 114]-->
                                        <?php $num_pice = 1; $total_all=0;$total_true=0; $old_shop = ''; $old_number = ''; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; 
                                        $old_saller_num = 0;
                                        $old_total_order_buy_amount = 0; //Weerasak 23-10-2564                                       
                                        $sallerOrderInfo = array(); //Weerasak 03-11-2564
                                        $sallerArr = array();
                                        $i=1;
                                        foreach($itemList as $vals){                                          
                                            if($vals['item_typs_s']=='NR'){  
                                                if($vals['saller_number'] != $old_saller_num)
                                                {
                                                                                                                                                                                                                                                               
                                                    $i = 1;
                                                    $old_saller_num = $vals['saller_number'];
                                                    
                                                }             
                                                $sallerArr[$vals['saller_number']] = $vals['saller_number'].$i++;                 
                                            }                                            
                                        }                                                                      
                                        foreach($itemList as $vals){ ?>
                                        <?php if($vals['item_typs_s']=='NR'){ 
                                            $old_total_order_buy_amount += ($vals[product_buy_rmb] * $vals['product_buy_qty']);    // Weerasak 23-10-2564
                                        ?>
                                        <?php if($vals['product_saller_name']!=$old_shop && $vals['saller_number']!=$old_number){ $num_pice = 1;  ?>                                            
                                        <thead> 
                                            <tr bgcolor="#ffeaef">
                                                <!--<td></td>-->
                                                <td colspan="3">
                                                    ร้านค้า :
                                                    <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                        <?=$vals['product_saller_name']?>
                                                    </a>
                                                </td>
                                                <td colspan="3">
                                                    Tracking No : <b><?=$vals['product_sku_1']?></b>
                                                </td>
                                                <td colspan="5"> <!-- Edit by Weerasak 16/10/2564 -->
                                                </td> <!-- Edit by Weerasak 16/10/2564 -->
                                                <td align="right" colspan="5">
                                                    <button class="btn btn-info btn-md" onclick="jumpto('<?=saller.$vals[saller_number]?>')">ดูยอดรวมร้านค้า</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center;" colspan="3">รายการ</th>
                                                <th></th>
                                                <th style="text-align: center;"></th>
                                                <th style="text-align: center;"></th>
                                                <th style="text-align: center;">สถานะ</th>                                               
                                                <th style="text-align: center;">
                                                    <nobr>ราคาหยวน</nobr>
                                                </th>
                                                <th style="text-align: center;">จำนวน
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>
                                                </th>
                                            </tr>
                                        </thead> <!-- Edit by Weerasak 16/10/2564 -->
                                        <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $old_number=$vals['saller_number'];  } ?>
                                        <?php if($vals['product_saller_name']==$old_shop && $vals['saller_number']!=$old_number){ $num_pice = 1; ?>
                                        <!-- ค่าจัดส่งในจีน เป็นช่องให้กรอกตัวเลข -->
                                        <tr bgcolor="#ffeaef">
                                            <!--<td></td>-->
                                            <td colspan="3">
                                                ร้านค้า :
                                                <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                    <?=$vals['product_saller_name']?>
                                                </a>
                                            </td>
                                            <td colspan="3">
                                                Tracking No : <b><?=$vals['product_sku_1']?></b>
                                            </td>
                                            <td class="text-right" colspan="7">
                                                <?php
                                                $keycheck = NULL;
                                                $price_yuan = 0;
                                                $data_idss = 0;
                                                if(count($shipItem['data'])>0){
                                                    $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                                                    if($keysearch!==false){
                                                    $keycheck = $keysearch;
                                                    $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                                    $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                                    $cn_cn = $cn_cn+$price_yuan;
                                                    }
                                                }
                                                ?>
                                                    ค่าจัดส่งจีน :

                                                    <input type="text" data-order="<?=$orderInfo['id']?>" data-saller="<?=$vals['saller_number']?>" data-id="<?=$data_idss?>" class="text-right" onkeypress="numberonly(event);" value="<?=$price_yuan?>" onchange="updateCnShip(this);" />

                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="text-align: center;" colspan="3">รายการ</th>
                                            <th style="text-align: center;">
                                                <nobr>สถานะ</nobr>
                                            </th>
                                            <th style="text-align: center;">
                                                <nobr>ราคาหยวน</nobr>
                                            </th>

                                            <th style="text-align: center;">จำนวน</th>

                                            <th style="text-align: center;">
                                                <nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
                                            <th style="text-align: center;">
                                                <nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>

                                            <th style="text-align: center;">
                                                <nobr></nobr>
                                            </th>
                                            <th style="text-align: center;">
                                                <nobr>ยอดสั่งจริง</nobr><br />บาท</th>
                                            <th></th>

                                        </tr>
                                        <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $old_number=$vals['saller_number']; } ?>
                                        <tr <?php if($vals[ 'status']=='14' ){ ?> class="bg-gray disabled color-palette" <?php } ?>>
                                            <th width="10">
                                                <span class="text-warning"><?=$num_pice?></span>
                                            </th>
                                            <td width="50">
                                                <img class="thumbnail" style="width: 150px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>" />
                                                <nobr>ร้านค้าที่ : <input type="text" data-id="<?=$vals['id']?>" class="text-center" style="width: 60px;" value="<?=$vals['saller_number']?>" onchange="updateSaller(this);" /></nobr>
                                            </td>
                                            <td width="40%">
                                                <?php if($vals['product_link']!=''){ ?>
                                                <a href="<?=$vals['product_link']?>" target="_blank">
                                                    <?=$vals['product_title']?>
                                                </a><br />
                                                <?php }else{ ?>
                                                <?php } ?>

                                                <?php foreach($vals['option'] as $val_op){ ?>
                                                <?=$val_op['option_name']?> : <b><?=$val_op['option_value']?></b>&nbsp;&nbsp;
                                                <?php } ?>
                                                    <br />
                                                    <select class="form-control" data-id="<?=$vals['id']?>" name="order_type" id="order_type" onchange="itemType(this);">
                                                        <?php $shipby = GF::masterdataList('1'); ?>
                                                        <?php foreach($shipby as $master){ ?>
                                                        <option value="<?=$master['id']?>" <?php if($vals['order_type']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_name']?></option>
                                                        <?php  } ?>
                                                    </select>
                                                    <br />
                                                    <span>หมายเหตุ</span>
                                                    <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;"><?=$vals['note']?></textarea>
                                            </td>
                                            <td>
                                                <?php $nmster = GF::masterdata($vals['status']); ?>
                                                <nobr>
                                                    <?=$nmster['master_name']?>
                                                </nobr>
                                            </td>
                                            <td style="text-align: center;"></td>
                                            <td style="text-align: center;"></td>
                                            <td style="text-align: right;">
                                                <?php $totalbaht = ($vals['product_price_rmb']*$vals['product_qty']); ?>
                                                <?php
                                                    $total_buy = ($vals['product_buy_rmb']*$vals['product_buy_qty']);
                                                ?>
                                                    <?php if($total_buy>0){ ?>
                                                    <?php if(($totalbaht-$total_buy)>0){ ?>
                                                    <!-- <span class="text-red">-<?=number_format(($totalbaht-$total_buy),2)?></span> -->
                                                    <?php $total_refund=$total_refund+($total_buy-$totalbaht); }else{ ?>
                                                    <!-- <span class="text-green">+<?=number_format(($total_buy-$totalbaht),2)?></span> -->
                                                    <?php $total_upfund=$total_upfund+($totalbaht-$total_buy); } ?>
                                                    <?php } ?>

                                            </td>
                                            <td style="text-align: center;">
                                                <?=$vals['product_price_rmb']?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$vals['product_qty']?>
                                            </td>
                                            <td style="text-align: right;">                                                
                                                <input maxlength="10" onkeypress="numberonly(event);" class="form-control  center-block" style="width:60px; text-align:center;" type="text" value="<?=$vals['product_buy_qty']?>" data-id="<?=$vals['id']?>" onchange="updateQTY(this);" class="" 
                                                <?php if($orderInfo[
                                                'export']=='S' ){ ?>disabled=""
                                                <?php } ?>/>
                                            </td>

                                            <?php //if($vals['status']=='E'){ $vals['product_price_thb']=0; } ?>
                                            <td colspan="5" valign="middle">
                                            </td>
                                        </tr>
                                        <?php
                                            $total_all=$total_all+$totalbaht;
                                            $total_true = $total_true+$total_buy;                           
                                            $ss = $vals['saller_number'].$num_pice;
                                            $ck++; $num_pice++; } 
                                        
                                        ?>
                                        <!-- กรอกค่าส่งร้านค้า -->
                                        <!-- Start edit by Weerasak 29/10/2564 -->
                                        <?php if(in_array($ss,$sallerArr)){  
                                                $keycheck = NULL;
                                                $price_yuan = 0;
                                                $data_idss = 0;
                                                $sallerOrderAmount = 0;
                                                $sallerDiscount = 0;
                                                $sallerShipping = 0;
                                                $netAmount = 0;
                                                if(count($shipItem['data'])>0){
                                                    $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                                                    
                                                    if($keysearch!==false){
                                                        $keycheck = $keysearch;
                                                        $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                                        $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                                        $cn_cn = $cn_cn+$price_yuan;

                                                        $sallerOrderAmount = $shipItem['data'][$keysearch]['saller_amount_rmb']; 
                                                        $sallerDiscount = $shipItem['data'][$keysearch]['saller_discount_rmb'];
                                                        $sallerShipping = $shipItem['data'][$keysearch]['saller_shipping_rmb'];
                                                        
                                                        $netAmount = ($sallerOrderAmount + $sallerShipping) - $sallerDiscount;
                                                        
                                                    }                                   
                                                }                                
                                                //GF::print_r($orderBySaller);
                    
                                                if($netAmount == 0)
                                                {
                                                    $sallerShipping = $price_yuan;

                                                    foreach($orderBySaller as $s)
                                                    {
                                                        if($s[saller_number] == $vals['saller_number'])
                                                        $sallerOrderAmount = $s[amount];
                                                    }

                                                    $netAmount = $sallerOrderAmount + $sallerShipping;                                   
                                                }
                                                //Weerasak 03-11-2564 นำไปแสดงที่ popup confirm
                                                $sallerOrderInfo[$vals['saller_number']]['saller_name'] = $vals['product_saller_name'];
                                                $sallerOrderInfo[$vals['saller_number']]['orderPrice']=number_format($sallerOrderAmount,2);
                                                $sallerOrderInfo[$vals['saller_number']]['shipping']=number_format($sallerShipping,2);
                                                $sallerOrderInfo[$vals['saller_number']]['discount']=number_format($sallerDiscount,2);
                                                $sallerOrderInfo[$vals['saller_number']]['total']=number_format($netAmount,2);
                                            ?>
                                        <thead>
                                            <tr bgcolor="#FFEAEF">
                                                <td id="<?='saller'.$vals['saller_number']?>" width="100px"><b>ยอดรวมร้าน</b></td>			
                                                <td align="right" colspan="13">
                                                    <table>
                                                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่ง</td>
                                                        <td>
                                                            <?php if($orderInfo['export']=='Y'){ ?>
                                                            <input maxlength="10" id = "<?='price'.$data_idss?>" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=round($sallerOrderAmount,2)?>" 
                                                            data-saller="<?=$vals['saller_number']?>" data-order="<?=$orderInfo['id']?>" data-id="<?=$data_idss?>" onchange="updateCNShippingSaller(this);">
                                                            <?php }else{ ?>
                                                            <span class="text-red"><b><?=round($sallerOrderAmount,2)?></b></span>
                                                            <?php } ?>
                                                        </td>
                                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                                        <td style="padding: 0px 10px 0px 10px;">ค่าส่งในจีน</td>
                                                        <td>
                                                            <?php if($orderInfo['export']=='Y'){ ?>
                                                            <input type="text" id = "<?='shipping'.$data_idss?>" data-order="<?=$orderInfo['id']?>" data-saller="<?=$vals['saller_number']?>" data-id="<?=$data_idss?>" class="text-center" onkeypress="numberonly(event);" value="<?=round($sallerShipping,2)?>" onchange="updateCNShippingSaller(this);" style="width:50px;" />
                                                            <?php }else{ ?>
                                                            <span class="text-red"><b><?=round($sallerShipping,2)?></b></span>
                                                            <?php } ?>
                                                        </td>
                                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                                        <td style="padding: 0px 10px 0px 10px;">ส่วนลด</td>
                                                        <td>                                                
                                                            <?php if($orderInfo['export']=='Y'){ ?>
                                                            <input maxlength="10" id ="<?='discount'.$data_idss?>" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=round($sallerDiscount,2)?>" data-saller="<?=$vals['saller_number']?>" data-order="<?=$orderInfo['id']?>" data-id="<?=$data_idss?>" onchange="updateCNShippingSaller(this);">
                                                            <?php }else{ ?>
                                                            <span class="text-red"><b><?=round($sallerDiscount,2)?></b></span>
                                                            <?php } ?>
                                                        </td>
                                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่งจริง</td>
                                                        <td>
                                                            <?php if($orderInfo['export']=='Y'){ ?>
                                                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=number_format($netAmount,2)?>" data-id="<?=$data_idss?>" onchange="updateYuan(this);" disabled>
                                                            <?php }else{ ?>
                                                            <span class="text-red"><b><?=number_format($netAmount,2)?></b></span>
                                                            <?php } ?>
                                                        </td>
                                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                                        <!-- <td><li class="fa fa-paperclip"></li>Attach file</td> -->
                                                        <td>
                                                            <div class="col-sm-2 text-right">
                                                                <?php if($vals['saller_image']!=''){ ?>                                                    
                                                                <a class="btn btn-info btn-xs" onclick="$('#modal-img-pic').attr('src','<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>');$('#imgsModal').modal('show');" href="javascript:;">ดูรูป</a>

                                                                <?php } ?>
                                                            </div>
                                                            <div class="col-sm-5">
                                                                <form id="saller_<?=$vals['saller_number']?>">
                                                                    <input type="hidden" name="mode" value="uploadseller">
                                                                    <input type="hidden" name="saller_number" value="<?=$vals['saller_number']?>">
                                                                    <input type="hidden" name="order_id" value="<?=$orderInfo['id']?>">
                                                                    <input type="file" name="file_seller" />
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td><button type="button" class="btn btn-info btn-xs" onclick="saveImagSaller('<?=$orderInfo['id']?>','<?=$vals['saller_number']?>');">Upload</button></td>
                                                    </table>
                                                </td>						
                                            </tr> 
                                            <tr height="3"></tr>                                              
                                            <tr><td colspan="14"></td></tr>                           
                                        </thead>                          
                                        <?php } ?>
                                        <!-- END edit by Weerasak 16/10/2564 -->

                                        <?php } ?>

                                        <?php                                             
                                        foreach($itemList as $vals){                                                   
                                        ?>
                                        <?php if($vals['item_typs_s']!='NR'){                                                  
                                        ?>
                                        <tr>
                                            <td class="text-center">
                                                <?php if($vals['item_typs_s']=='DE'){ ?>
                                                <span class="text-red">คืนเงิน</span>
                                                <?php }else{ ?>
                                                <span class="text-green">เพิ่มเงิน</span>
                                                <?php } ?>
                                            </td>
                                            <td>
                                                <b><?=$vals['product_title']?></b>
                                                <br />
                                                <br />
                                                <span>หมายเหตุ</span>
                                                <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;"><?=$vals['note']?></textarea>
                                            </td>
                                            <td></td>
                                            <td class="text-center">
                                                <!--<input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center; display: inline;" type="text" name="item_rmb" value="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-qty="<?=$vals['product_qty']?>" data-id="<?=$vals['id']?>" onchange="updateYuan(this);"/>-->

                                            </td>
                                            <td class="text-center">
                                                <!--<input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;display: inline;" type="text" name="item_qty" value="<?=$vals['product_qty']?>" data-rmb="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-id="<?=$vals['id']?>" onchange="updateQTY(this);"/> -->
                                            </td>
                                            <td colspan="3"></td>
                                            <td class="text-center">
                                                <!-- <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" value="<?=$vals['product_price_thb']?>" data-id="<?=$vals['id']?>"  onchange="updateBath(this);"  /> -->

                                                <?=number_format($vals['product_price_thb'],2)?>
                                            </td>
                                            <td valign="middle">
                                                <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                                            </td>
                                        </tr>

                                        <?php
                                        if($vals['item_typs_s']=='DE'){
                                            $total_all=$total_all-$vals['product_price_rmb'];
                                            $total_true=$total_true-$vals['product_price_rmb'];
                                        }else if($vals['item_typs_s']=='IN'){
                                            $total_all=$total_all+$vals['product_price_rmb'];
                                            $total_true=$total_true+$vals['product_price_rmb'];
                                        }
                                        ?>
                                        <?php  } ?> <!-- end IF Line 92 -->
                                        <?php } ?> <!-- end For Line 91 -->
                                        <?php
                                        $total_all = ($total_all);
                                        $total_all2 = ($total_all+($orderInfo['order_pay_ship_yuan']));
                                        $total_true = $total_true+($cn_cn);
                                        ?>
                                        <!--Start Edit by Weerasak 29-10-2564-->
                                        <?php
                                        $totalAmount = 0;
                                        $totalShipping = 0;
                                        $totalDiscount = 0;

                                        foreach($shipItem['data'] as $item){
                                        //$oldTotalAmount += $vals['product_price_rmb'];
                                        $totalAmount = $totalAmount + $item['saller_amount_rmb']; 
                                        if($item['saller_shipping_rmb'] == 0)
                                        $totalShipping += $item['price_rmb'];
                                        else
                                        $totalShipping = $totalShipping + $item['saller_shipping_rmb'];
                                        $totalDiscount = $totalDiscount + $item['saller_discount_rmb'];
                                        }

                                        if($totalAmount == 0)
                                        {
                                        foreach($orderBySaller as $s)
                                        {
                                        $totalAmount += $s[amount];
                                        }
                                        }
                                        $totalNetAmount = ($totalAmount + $totalShipping)-$totalDiscount;

                                        ?>

                                        <tr>
                                            <td colspan="12" >ยอดรวมก่อนสั่ง</td>
                                            <td align="right"><?=number_format($total_all,2)?></td>
                                            <td >RMB</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" style="font-weight: bold;">รวม</td>
                                            <td style="font-weight: bold;"align="right"><?=number_format($total_all,2)?></td>
                                            <td style="font-weight: bold;">RMB</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" >ยอดรวมหลังสั่ง</td>
                                            <!-- <td align="right"><?=number_format($total_true-$cn_cn,2)?></td> -->
                                            <td align="right"><?=number_format($totalAmount,2)?></td>
                                            <td >RMB</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" >รวมค่าจัดส่ง ร้านจีน</td>
                                            <!-- <td  align="right"><?=number_format($cn_cn,2)?></td> -->
                                            <td align="right"><?=number_format($totalShipping,2)?></td>
                                            <td >RMB</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" >รวมส่วนลด</td>
                                            <td  align="right"><?=number_format($totalDiscount,2)?></td>
                                            <td >RMB</td>
                                        </tr>
                                        <tr>
                                            <td colspan="12" style="font-weight: bold;">รวม</td>
                                            <!-- <td style="font-weight: bold;" align="right"><?=number_format(($total_true),2)?></td> -->
                                            <td style="font-weight: bold;" align="right"><?=number_format($totalNetAmount,2)?></td>
                                            <td style="font-weight: bold;">RMB</td>
                                        </tr>
                                        <!--End edit-->								
                                        <tr>
                                            <td colspan="12" style="font-weight: bold;">ยอดคืน / ยอดค้าง</td><!--Weerasak 23-10-2564-->
                                            <td style="font-weight: bold;" align="right"><?php
                                            if(($totalNetAmount)==0){ //$total_true;
                                                echo "0.00";
                                            }else{?>
                                                <?php if(($totalNetAmount)>($total_all)){?> <!--if(($total_true)>($total_all))-->
                                                <span class="text-red"><?php echo number_format((($totalNetAmount)-($total_all)),2); ?></span>
                                                <?php }else{?>
                                                <span class="text-green"><?php echo number_format((($totalNetAmount)-($total_all)),2); ?></span>
                                                <?php } ?>
                                            <?php }
                                            ?></td>
                                            <td style="font-weight: bold;">RMB</td>
                                        </tr>   
                                                    <?php
									      		$refund_amount = $total_all - $totalNetAmount; //$total_all-$total_true
									      	?>
                                                        <?php if($refund_amount!=0){ ?>
                                                        <?php if($refund_amount>0){  ?>
                                                        <?php }else{ ?>
                                                        <?php } ?>
                                                        <?php } ?>
                                    </tbody>
                                    <tfoot class="hidden">
                                        <tr>
                                            <td class="text-center bg-orange disabled color-palette" align="center" colspan="11">
                                                <span>เพิ่ม/ลด ค่าใช้จ่าย</span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                ประเภทรายการ
                                            </td>
                                            <td class="text-center" colspan="3">
                                                รายละเอียด
                                            </td>

                                            <td style="text-align: center;"></td>
                                            <td style="text-align: center;"></td>
                                            <td style="text-align: center;">
                                                <nobr>รวม (บาท)</nobr>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                <select class="form-control" name="item_type">
									          	<option value="IN">เพิ่มเงิน</option>
									          	<option value="DE">คืนเงิน</option>
									          </select>
                                            </td>
                                            <td colspan="3">
                                                <textarea class="form-control" name="item_name"></textarea>
                                            </td>

                                            <td class="text-center">
                                                <!--<input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center; display: inline;" type="text" name="item_rmb" />-->

                                            </td>
                                            <td class="text-center">
                                                <!--<input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;display: inline;" type="text" name="item_qty"/> -->
                                            </td>

                                            <td class="text-center">
                                                <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" />

                                            </td>
                                            <td class="text-center">
                                                <button type="button" onclick="addItem();" class="btn btn-info">เพิ่ม</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="panel-footer hidden">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4" style="">
                                    <h3>ชำระแล้ว <span style="color: green;"><b><?=number_format($orderInfo['order_price'],2)?></b></span> บาท</h3>
                                </div>
                                <div class="col-sm-4" style="">
                                    <?php $totalAll = ($total_true-$orderInfo['order_price']); if($totalAll<0){$totalAll=0;} ?>
                                    <h3>ค้างชำระ <span style="color: red;"><b><?=number_format($totalAll,2)?></b></span> บาท</h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="callout callout-danger">
                            <h4>โปรดระวัง ! หากทำการบันทึกแล้วจะไม่สามารถทำการแก้ไข ใด ๆ ทั้งสินได้</h4>
                        </div>
                    </div>
                    <div class="col-sm-12" style="text-align: right;">

                        <a href="#/ordervendor/orderlist/" class="btn btn-default btn-md pull-left">ย้อนกลับ</a>
                        
                        <!--Weerasak 21-10-2564-->
                        <?php 
                                ////$current_pay = $orderInfo['order_price'];
                                
                                
                                
                                $diff_total = ($orderInfo['old_rate']*$total_all2)-($orderInfo['rate']*$total_true);

                                ////$diff_pay = ($current_pay-1)-round(($orderInfo['old_rate']*$total_all),2);

                               $diff_total = round($diff_total,2);
                               
                               

                               //// echo round($orderInfo['old_rate']*$total_all,2);
                            ?>

                        <?php //GF::print_r($orderInfo); ?>

                        <?php                          
                        if($orderInfo['export']=='Y'){ 
                            $diff = ($orderInfo['old_rate']*$total_all2) - ($totalNetAmount * $orderInfo['rate']);     
                        ?> <!--Weerasak 21-10-2564-->                            
                            <!-- <a href="javascript:;" onclick="checngOrderStatusActive('<?=$orderInfo['id']?>','<?=round($diff,2)?>');" class="btn btn-success btn-md">เรียบร้อย</a> -->
                            <a href="javascript:;" class="btn btn-success btn-md" data-toggle="modal" data-target="#confirmOrder">เรียบร้อย</a>
                        <?php } ?>                        
                    </div>
                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="imgsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">รูป</h4>
            </div>
            <div class="modal-body">
                <img src="" id="modal-img-pic" class="img-responsive center-block" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">รายการสั่งซื้อ</h3>
                <span class="text-red"><h5 class="modal-title" id="myModalLabel">กรุณาตรวจรายการสั่งซื้อของร้านค้าก่อนยืนยันการสั่งซื้อ</h5></span>
            </div>
            <div class="modal-body">
                <p>
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">ร้านค้า</th>
                            <th scope="col" style="text-align:right">ยอดสั่ง</th>
                            <th scope="col" style="text-align:right">ค่าส่ง</th>
                            <th scope="col" style="text-align:right">ส่วนลด</th>
                            <th scope="col" style="text-align:right">ยอดรวม</th>
                          </tr>
                        </thead>                        
                        <tbody>
                        <?php 
                        $order_success = 'true';
                        foreach($sallerOrderInfo as $saller) {?>
                          <tr>
                            <th scope="row"><?=$saller['saller_name']?></th>
                            <td align="right"><?=$saller['orderPrice']?></td>
                            <td align="right"><?=$saller['shipping']?></td>
                            <td align="right"><?=$saller['discount']?></td>
                            <td align="right"><?=$saller['total']?></td>
                          </tr>
                        <?php                        
                         if((int)$saller['orderPrice'] === 0) { $order_success = 'false'; 
                        } ?>
                        <?php } ?>
                        </tbody>
                      </table>
                </p>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-default" data-dismiss="modal">ปิด</a>
                <a href="javascript:;" onclick="confirmOrder('<?=$orderInfo['id']?>','<?=round($diff,2)?>','<?=$order_success?>');" class="btn btn-primary btn-md" data-dismiss="modal">ยืนยัน</a>
              </div>
        </div>
    </div>
</div>