<head>
    <meta charset="UTF-8">
    <title>TAOBAO CHINA CARGO</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
   
    <!-- AdminLTE Skins. Choose a skin from the css/skins 
         folder instead of downloading all of them to reduce the load. -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
     <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap time Picker -->
  	<link rel="stylesheet" href="<?=$BASEURL?>/assets/template/adminlte/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
     <!-- DATA TABLES -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    
    <!-- fullCalendar 2.2.5-->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css" media="print" />
    
     <!-- Theme style -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    
    <link href="<?=$BASEURL?>/assets/css/style.css" rel="stylesheet" type="text/css" />
    
    <style>
    	.select2-container--default .select2-selection--multiple .select2-selection__choice {
		  background-color: #3c8dbc;
		  border-color: #367fa9;
		  padding: 1px 10px;
		  color: #fff;
  		}
  		.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  			color: #fff;
  		}
  		li > a:hover,li > a:visited,li > a:active,li > a:focus, li > a:link,a {
  			color: #000 !important;
  			text-decoration: none !important;
  		}
  		.login-box, .register-box {
		    width: 70%;
		    margin: 1% auto;
		}
		.login-logo, .register-logo {
		    font-size: 28px;
		    text-align: center;
		    margin-bottom: 0px;
		    font-weight: 500;

		}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script>
    	BASEURL = '<?=$BASEURL?>';
    	cnrate = <?=$cnrate?>;
    	TRANSKEY = 'trnsl.1.1.20150608T074809Z.56e20932fa0f9fbd.621f29305aa5d7e3c8c725efeafea7ee2d3cd8ae';
    	SEARCH_GET_CK = '<?=$GET["link"]?>';
    	
    </script>
  </head>
  <body>
  <!--/////////////////////////////////// HEADER /////////////////////////////////////////////-->
  	<div class="container" >
  		<div class="row">
  			<div class="col-sm-3">
  				<img  src="<?=$BASEURL?>/assets/images/logo-home.png" class="img-responsive"/>
  				
  			</div>
  			<div class="col-sm-9" style="text-align: right;">
  				<ul class="list-inline" style="line-height: 80px; font-size: 16px;">
  					<li class="active" ></li><a href="http://www.taobaochinacargo.com/about-us/">เกี่ยวกับเรา</a></li>
	                <li><a href="http://www.taobaochinacargo.com/howtoordertaobao/">บริการของเรา</a></li>
	                <li><a href="http://www.taobaochinacargo.com/blog-2/">ประกาศข่าวสาร</a></li>
	                <li><a href="http://www.taobaochinacargo.com/tracking_taobaochinacargo/">ตรวจสอบสถานะ</a></li>
	                <li><a href="http://www.taobaochinacargo.com/productlinks/">แนะนำสินค้าTAOBAO</a></li>
	                <li><a href="http://www.taobaochinacargo.com/download/">ดาวน์โหลด</a></li>
	                <li><a href="http://www.taobaochinacargo.com/contact/">ติดต่อเรา</a></li>
	            </ul>
  				
  				
  			</div>
  		</div>
  	</div>

  	<div class="container-fluid" style="background: url('<?=$BASEURL?>/assets/images/logo-home1.png') no-repeat; height: 60px;">
  		
  				<div class="container" >
  					<div class="row">
  						<div class="col-sm-6 text-right" style="padding-top: 20px;">
  							<img src="<?=$BASEURL?>/assets/images/searchtext.png" style="max-width: 100%;"/>
  						</div>
  						<div class="col-sm-6" style="padding-top: 15px;">
  							<div class="input-group input-group-sm">
				                <input type="text" class="form-control" id="searchurl" placeholder="Ex. http://item.taobao.com/item.htm?id=12440339223">
				                    <span class="input-group-btn">
				                      <button type="button" class="btn btn-default btn-flat " onclick="itemSearch('back');"><i class="fa fa-search"></i></button>
				                    </span>
				              </div>
  						</div>
  					</div>
  				</div>
  			
  		</div>
  		
  	</div>

  <!--/////////////////////////////////// BODY /////////////////////////////////////////////-->	
  	
  	
  	<div class="container" style="min-height: 500px; padding-top: 20px;">
  		<div class="col-sm-10 col-sm-offset-1">
  				<div class="box box-warning">
				<div class="box-header with-border">
				
				</div>
				 
				<div class="box-body">	
  		<div class="col-sm-12" id="searchBody" style="margin-top: 3%;">
					    	
		    		
		      	 <form id="orderFrm" name="orderFrm" style="display: none;">
		      	 	<input type="hidden" name="mode" value="additem"/>
			    	<div class="row">
			    		<div class="col-xs-12" style="margin-bottom: 2%;">
			    			<div class="row">
				    			<div class="col-xs-2">
				    				ลิ้งสินค้า
				    			</div>
				    			<div class="col-xs-7">
				    				<input id="product_link" name="product_link" type="text" class="form-control" value="">
				    			</div>
				    			<div class="clearfix"></div>
				    			<div class="col-xs-2" style="margin-top: 2%;">
				    				ชื่อสินค้า
				    			</div>
				    			<div class="col-xs-7" style="margin-top: 2%;">
				    				<input id="product_name" name="product_name" type="text" class="form-control" value="">
				    			</div>
				    			<div class="clearfix"></div>
								<div class="col-xs-2" style="margin-top: 2%;">
									ร้านค้า
								</div>
								<div class="col-xs-7" style="margin-top: 2%;" id="shopname">
									
								</div>
			    			</div>
			    		</div>
			    		<div class="col-sm-5">
			    			<span id="topImg"></span>
			    			
			    			<div class="panel panel-danger" style="margin-top: 20px;">
		                        <div class="panel-heading">
		                            คะแนนร้านค้า
		                        </div>
		                        <div class="panel-body" id="shopInfo">
		                        </div>
		                    </div>
			    		</div>
			    		
			    		<div class="col-sm-7">
			    		
			    		<div class="panel panel-danger">
                        <div class="panel-heading">
                            เลือกสินค้า
                        </div>
                        <div class="panel-body">
                        
				    		<div class="col-xs-12" id="prop_data">
				    		</div>
				    		<div class="col-xs-12">
				    			<h4>ราคา &nbsp;&nbsp;<b id="price_rmb">0.00</b> RMB&nbsp;&nbsp;&nbsp;&nbsp;( <b id="price_th">0.00</b> THB )</h4>
				    		</div>
				    		<div class="col-xs-12" style="margin-top: 2%;">
				    			<div class="row">
				    				<div class="col-xs-2" style="padding-top: 2%;">
				    					<h4>จำนวน</h4>
				    				</div>
				    				<div class="col-xs-3">
				    					<h4><input maxlength="4" onkeypress="validateKey(event);" name="product_qty" id="product_qty" style="font-size: 18px;text-align: center;height: 45px;" type="text" value="1" class="form-control"></h4>
				    				</div>
				    				<div class="col-xs-5" style="margin-top: 2%;">
						    			<button onclick="orderNow_N();" type="button" class="btn btn-warning btn-lg" style="padding-left: 20%;padding-right: 20%;">เพิ่ม</button>
						    		</div>
				    			</div>
				    		</div>
				    		
				    	</div>
				    	</div>	
			    		</div>
			    		<div class="col-xs-12">
			    			<input type="hidden" name="pd_img" id="pd_img" value="">
			    			<input type="hidden" name="shop_name" id="shop_name" value="">
						<input type="hidden" name="shop_link" id="shop_link" value="">
			    			<input type="hidden" name="product_price_rmb" id="product_price_rmb" value="">
			    			<input type="hidden" name="product_price_thb" id="product_price_thb" value="">
			    			<div id="pd_option">
			    				
			    			</div>
			    			<div id="img-tag-c" style="display: none;">
			    				
			    			</div>
			    		</div>
			    	</div>
			    </form>
		         <!--<div id="preLoadSearch" style="text-align: center;display:none;">
		         	<img src="http://demo.siamgolive.com/chinacargo/assets/template/back-end/images/712.GIF" style="max-width: 50px;"><br>
		         	Please Wait...
		         </div>-->
		         <div id="noresult" style="text-align: center;display:none;">
		         	<h2>ไม่พบสินค้าที่ค้นหา</h2>
		         </div>
		      </div>
			  <div class="col-sm-12" id="mem_basket">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                           <i class="fa fa-shopping-cart"></i> ตะกร้าสินค้า
                        </div>
                        <div class="panel-body">
                        <form>
                        		<div id="preLoadSearch2" style="text-align: center;display:none;">
						         	<img src="<?=BASEURL?>/assets/template/back-end/images/712.GIF" style="max-width: 50px;"/><br />
						         	Please Wait...
						         </div>
						    <?php if(count($_SESSION['item'])>0){ ?>
                            <table class="table table-hover" id="myTable">
							      <thead>
							        <tr>
							          <th style="text-align: center;" colspan="2">รายการ</th>
							          <th style="text-align: center;"><nobr>ราคาหยวน/ค่าเงิน</nobr></th>
							          <th style="text-align: center;">จำนวน</th>
							          <th style="text-align: center;"><nobr>รวม (บาท)</nobr></th>
							          <th style="text-align: center;"><nobr>หมายเหตุ</nobr></th>
							          <th></th>
							        </tr>
							      </thead>
							      <tbody id="basket_member">
							      <?php $total_th = 0; $total_cn = 0; foreach($_SESSION['item'] as $key=>$itm){ ?>
								  <?php 
								  	$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  	$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  ?>
							        <tr>
							          <th width="60"><img src="<?=$itm['product_image']?>" width="60" alt=""/></th>
							          <td width="60%">
							          	<a href="<?=$itm['product_link']?>" target="_blank"><?=$itm['product_name']?></a><br />
							          	ร้านค้า : <a href="<?=$itm['saller_link']?>" target="_blank"><?=$itm['saller_name']?></a><br />
							          	<?php foreach($itm['product_option'] as $val_op){ ?>
							          	<?=$val_op['op_name_th']?> : <b><?=$val_op['op_value_th']?></b>&nbsp;&nbsp;
							          	<?php } ?>
							          </td>
							          <td style="text-align: center;">&yen;<?=number_format($itm['product_price_rmb'],2)?>/5.5</td>
							          <td align="right"> <input maxlength="4" style="width:60px; text-align:center;" type="text" value="<?=$itm['product_qty']?>" id="qty_<?=$key?>" onchange="updateQTY('<?=$key?>');"/> </td>
							          <td style="text-align: center;"><?=number_format(($itm['product_price_rmb']*$itm['product_qty'])*5.5,2)?></td>
							          <td>
							          	<textarea data-key="<?=$key?>" onchange="updateComment(this);" style="min-width: 200px;" class="form-control"><?=$itm['comment']?></textarea>
							          </td>
							          <td valign="middle">
							          	<button type="button" class="btn btn-danger btn-xs" onclick="removeItem('<?=$key?>');"><i class="fa fa-times"></i></button>
							          </td>
							        </tr>
							      <?php } ?>  
							      </tbody>
							    </table>
                        	<?php }else{ ?>
                        	<div class="panel text-center" role="alert">Empty Cart</div>
                        	<?php } ?>
                        </form>
                        </div>
                        <div class="panel-footer" style="text-align: right;">
                        <?php if(count($_SESSION['item'])>0){ ?>
                           <a href="javascript:;" onclick="window.location='<?=$BASEURL?>/#/buyship/checkout/'" class="btn btn-danger"><i class="fa fa-check"></i> สั่งซื้อสินค้า</a>
                        <?php } ?>
                        </div>
                    </div>
                </div>
                
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
	              <i class="fa fa-refresh fa-spin"></i>
	            </div>
	            <div class="clearfix"></div>
                </div>
                </div>
                
        </div>
  	</div>
  	
  	
  	
  	<div class="clearfix"></div>
  	
<!--/////////////////////////////////// FOOTER /////////////////////////////////////////////-->	
  	<div class="container-fluid" style="background-color: #000; height: 60px;">
  	<div class="container" style="padding-top: 15px; font-size: 16px; color: #666666;">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">© Copyright 2014 - Taobao China Cargo </p>
                </div>
                <div class="col-md-6">
                    </div>
            </div>
        </div>
        </div>
  </body>
  
  
  
  
  
  
  <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>    
    <!-- Morris.js charts -->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/morris/morris.min.js" type="text/javascript"></script>-->
    <!-- Sparkline -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/knob/jquery.knob.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- bootstrap time picker -->
	<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='<?=$BASEURL?>/assets/template/adminlte/plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/app.min.js" type="text/javascript"></script>    
    
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--<script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/pages/dashboard.js" type="text/javascript"></script> -->   
    
    <!-- AdminLTE for demo purposes -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/demo.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/satnav-js-master/lib/satnav.js"></script>
    
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/script.js"></script>
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/register.js"></script>
    
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/api/script-tmall.js"></script>
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/api/script-taobao.js"></script>
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/api/script-1688.js"></script>
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/api/script-web.js"></script>
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/api/member-web.js"></script>
   <script>
   		SEARCH_GET = Base64.decode(SEARCH_GET_CK);
   		if(SEARCH_GET_CK!=''){
   			$('#searchurl').val(SEARCH_GET);
   			itemSearch('back');
   		}
   </script>
    
    <?php include($BASEDIR.'/app/view/adminlte/element_ui.htm'); ?>