<?php
$total_kg = 0;
if(count($trackingList)>0){
   $i=1;
   foreach($trackingList as $list){
      $total_kg += $list['weight'];
   }
}
?>



    <style>
        .form-group .control-label {
            text-align: left;
        }
    </style>

    <section class="content-header">
        <h1>
            Tracking Management
            <small></small>
        </h1>
    </section>

    <section class="content" style="min-height:0px;padding-bottom:0px;">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info alert-dismissible" style="margin-bottom:0px;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> แจ้งเตือน!</h4>
                    <h5>หลังจากแจ้งรับสินค้า ลูกค้าจะได้รับบิลภายใน 1 - 2 วันทำการ ตามลำดับคิวที่แจ้งรับเข้ามาจ้ะ หากได้รับล่าช้าลูกค้าสามารถติดต่อเจ้าหน้าที่เข้ามาได้เลยจ้ะ</h5>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <form class="form-horizontal" id="createFrm">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <i class="fa fa-barcode"></i>Shipping
                            <div class="pull-right">
                                <a href="#/tracking/trackingforship/" class="btn btn-default">Back</a>
                            </div>
                        </div>

                        <div class="box-body">


                            <div class="col-lg-12">
                                <div class="panel panel-green">
                                    <div class="panel-heading">

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="panel-body">

                                        <input type="hidden" name="mode" value="getshipping" />

                                        <div class="col-sm-6">
                                            <!--<div class="form-group">
								    <label for="inputEmail3" class="col-sm-4 control-label">Tracking</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" name="tracking" placeholder="Tracking" value="<?=$trackingInfo['tracking']?>">
								    </div>
								</div>-->
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-4 control-label">ประเภทการจัดส่งในไทย</label>
                                                <div class="col-sm-8">
                                                    <?php $shipby = GF::masterdataList('5'); ?>
                                                    <select class="form-control" name="ship_by">
								      <?php foreach($shipby as $master){ ?>
                                 <?php if($master['master_char']=='0' || $total_kg<$master['master_char']){ ?>
								      		<option value="<?=$master['master_value']?>"><?=$master['master_name']?></option>
                                 <?php } ?>
								      <?php } ?>
								      </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <!--<div class="form-group">
								    <label for="payoffice" class="col-sm-4 control-label"></label>
								    <div class="col-sm-8">
								      <input  type="checkbox" name="payoffice" value="1"/> ชำระเงินที่โกดัง
								    </div>
								</div>-->
                                            <div class="form-group">
                                                <label for="user_name" class="col-sm-4 control-label">ชื่อผู้รับ</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="user_name" placeholder="ชื่อผู้รับ" value="<?=$memberinfo['user_name']?>">
                                                </div>
                                            </div>

                                        </div>
                                        <?php //GF::print_r($memberinfo); ?>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="user_address" class="col-sm-4 control-label">ที่อยู่ที่จัดส่ง</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" placeholder="ที่อยู่ที่จัดส่ง" name="user_address"><?=$memberinfo['user_address']?> แขวง/ตำบล <?=GF::cvdistrict($memberinfo['district'])?> เขต/อำเภอ <?=GF::cvamphur($memberinfo['amphur'])?> จังหวัด <?=GF::cvprovince($memberinfo['province'])?> <?=$memberinfo['user_post']?></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="user_phone_number" class="col-sm-4 control-label">โทรศัพท์ติดต่อ</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" name="user_phone_number" placeholder="โทรศัพท์ติดต่อ" value="<?=$memberinfo['user_phone_number']?>">
                                                </div>
                                            </div>


                                        </div>




                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="pull-left">รายการสินค้า</span>
                                        <span class="pull-right">น้ำหนักรวม : <b class="text-red"><?=$total_kg?></b> Kg.</span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tracking</th>
                                                    <!-- <th class="text-right">ค่าบริการ</th> -->
                                                    <!-- <th class="text-right">อื่น ๆ</th> -->
                                                    <th class="text-right">ลบ</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <?php if(count($trackingList)>0){ ?>
                                                <?php $i=1; foreach($trackingList as $list){ ?>
                                                <tr>
                                                    <td>
                                                        <?=$i?>
                                                    </td>
                                                    <td>
                                                        <?=$list['tracking']?> <input type="hidden" name="trackid[]" value="<?=$list['tracking']?>" /></td>
                                                    <!-- <td class="text-right">
                                                        <?=number_format($list['price_true'],2)?>
                                                    </td> -->
                                                    <!-- <td class="text-right">
                                                        <?php if(intval($list['other_price'])>0){ ?>
                                                        <span class="text-muted"><?=$list['other_desc']?> : </span>
                                                        <?=number_format(($list['other_price']*GF::getrate()),2)?><br />
                                                            <h6 class="text-muted" style="margin: 0px;">(&yen;
                                                                <?=$list['other_price']?>x
                                                                    <?=GF::getrate()?>)</h6>
                                                            <?php }else{echo '0.00';} ?>

                                                    </td> -->
                                                    <td class="text-right"><button type="button" class="btn btn-danger btn-sm" onclick="deleteTrack(this);">ลบ</button></td>
                                                </tr>
                                                <?php $i++; } ?>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <div class="box-footer text-right" style="padding-left: 10%">

                            <button type="button" class="btn btn-primary" onclick="saveGetshipping();">บันทึกแจ้งรับสินค้า</button>

                        </div>

                    </div>
                </div>



            </div>

        </section>
    </form>