<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Tracking Management
        <small></small>
    </h1>
</section>

<!-- Main content -->
<?php //echo print_r($shippingList);?>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Shipping List
                    <!-- <div class="pull-right">
                        E Wallet : <b><?=number_format($memberinfo['wallet'],2)?></b> บาท
                    </div> -->
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left">

                           </span>
                                <div class="pull-right">

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <th>หมายเลข</th>
                                            <th>รับสินค้าโดย</th>
                                            <th>เลขที่พัสดุ</th>
                                            <th>วันที่ชำระเงิน</th>
                                            <th>สถานะ</th>
                                            <th>ยอดรวม</th>
                                            <th>ยอดชำระเงิน</th>
                                            <th>Action</th>
                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($shippingList as $list){ ?>
                                        <tr>
                                            <td>
                                                <?=$list['shipping_code']?>
                                            </td>
                                            <td>
                                                <?=$list['ship_by']?>
                                            </td>
                                            <td>

                                                <?php if($list['ship_type']=='nim2' && $list['track_code']!=''){?>
                                                <a href="https://www.nimexpress.com/web/p/tracking?i=<?=$list['track_code']?>" target="_balnk">
                                                    <?=$list['track_code']?>
                                                </a>
                                                <?php }else{ ?>
                                                <?=$list['track_code']?>
                                                    <?php } ?>
	                                               
                                            </td>
                                            <td>
                                                <!-- <?=date("d-m-Y H:i:s",strtotime($list['create_dtm']))?> -->
                                                <?php if($list['ship_pay_dtm']=='' || $list['ship_pay_dtm']=='0000-00-00 00:00:00'){ echo '-'; }else{ ?>
                                                <nobr>วันที่ :
                                                    <?=date("d-m-Y",strtotime($list['ship_pay_dtm']))?><br /> เวลา :
                                                        <?=date("H:i:s",strtotime($list['ship_pay_dtm']))?>
                                                </nobr>
                                                <?php } ?>
                                            </td>
                                            <td>
                                                <?php //if($list['status']=='1'){ echo 'รอตรวจสอบ'; }else{ echo "จัดส่งแล้ว"; } ?>
                                                <?php 
                                                if($list['status']=='1' || $list['status']=='9'){ echo 'รอตรวจสอบ'; }
                                                    if($list['status']=='3'){ 
                                                        if($list['tracking_status'] <= '5')
                                                        {
                                                            echo 'รอตรวจสอบ';
                                                        }
                                                        else{  
                                                            echo 'รอการชำระเงิน'; 
                                                         }
                                                            
                                                    }
                                                    if($list['status']=='5'){ echo 'ชำระเงินเรียบร้อย เตรียมจัดส่ง'; }
                                                    if($list['status']=='6'){ echo 'จัดส่งสินค้าแล้ว'; }
                                                    //echo $list['status'];                                               
                                                ?>
                                            </td>
                                            <td class="text-right">
                                                <!-- Edit by Weerasak 17/02/2565 -->
                                                <?php
                                                if($list['tracking_status']>='6')
                                                    echo $list['total'];
                                                else
                                                    echo '0.00';
                                                ?>
                                                <!-- END -->
                                            </td>
                                            <td class="text-right">
                                                
                                                <?php                                                 
                                                $totalttt = str_replace(',', '',(string)$list['total']);

                                                $balance = $totalttt-str_replace(',', '',(string)$list['ship_pay']); 

                                                ?>
                                                <?php if($list['tracking_status']>='6'){ 
                                                
                                                if($balance<0){ echo '0.00'; }else{ echo number_format($balance,2); }
                                                
                                                ?>
                                                
                                                <!-- Edit by Weerasak 17/02/2565 -->
                                                <?php }else{
                                                    echo '0.00';
                                                } ?>
                                                <!-- <?=number_format($balance,2);?> -->
                                                <!-- END -->
                                            </td>
                                            <td>
                                                <a href="#/tracking/viewshipping/<?=$list['id']?>/" class="btn btn-info btn-sm">ดู</a>
                                                <?php if($list['status']=='1'){ ?>
                                                <!-- <button type="button" class="btn btn-danger btn-sm" onclick="deleteShipping('<?=$list['id']?>');">ลบ</button> -->
                                                <?php } ?>


                                            </td>
                                            <td class="text-center">
                                                <?php if($list['status']=='3' || $list['status']=='9'){ ?>
                                                <?php if($balance>0){ 
                                                    if($list['tracking_status']>='6'){
                                                ?>
                                                <a href="#/tracking/confirmpayment/<?=$list['id']?>/?v=<?=$balance?>&tp=2" class="btn btn-info btn-xs">แจ้งชำระเงิน</a>
                                                <?php } ?>
                                                <!-- <?php if($memberinfo['wallet']>0){ ?>
                                                <br />
                                               <button type="button" data-id="<?=$list['id']?>" data-price="<?=$balance?>" class="btn btn-warning btn-xs" onclick="setWallet(this);">ชำระเงินจาก E Wallet</button>
                                                <?php } ?> -->
                                                <?php }else{echo '-';} ?>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>