<style>
    .form-group .control-label {
        text-align: left;
    }
</style>
<?php
$sum_extrapay = 0;
foreach($orderDetail as $ord){
    if($ord['extra_pay_amount'] > 0 && $ord['status'] != 'SUCCESS') {
    $sum_extrapay = $sum_extrapay + $ord['extra_pay_amount'];
    }
}
?>
<!-- ยังไม่เสร็จ -->
<input type ="hidden" id="extrapay" value = "<?=$sum_extrapay;?>">
<section class="content-header">
    <h1>
        Tracking Management
        <small></small>
    </h1>
</section>

<section class="content" style="min-height:0px;padding-bottom:0px;">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info alert-dismissible" style="margin-bottom:0px;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-info"></i> แจ้งเตือน!</h4>
                <h5>หลังจากแจ้งรับสินค้า ลูกค้าจะได้รับบิลภายใน 1 - 2 วันทำการ ตามลำดับคิวที่แจ้งรับเข้ามาจ้ะ หากได้รับล่าช้าลูกค้าสามารถติดต่อเจ้าหน้าที่เข้ามาได้เลยจ้ะ</h5>
            </div>
        </div>
    </div>
</section>
<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>รายการ Tracking ที่แจ้งรับสินค้าได้
                    <div class="pull-right">
                        <?php echo $sum_extrapay; ?>
                    </div>
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left">

                           </span>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-warning btn-sm" id="saveTrackingToship" onclick="saveTrackingToship();">แจ้งรับสินค้า</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <form id="createFrm">
                                    <input type="hidden" name="mode" value="grouptrackid" />
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>

                                            <tr>
                                                <th style="text-align: center;">
                                                    <input type="checkbox" id="select-all" />
                                                </th>
                                                <th>Tracking No.</th>
                                                <th>ร้านค้า</th>
                                                <th>Order</th>
                                                <th>ประเภทสินค้า</th>
                                               <!-- <th class="text-center">ค่าบริการ</th>
                                                <th class="text-center">อื่น ๆ</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php $k=0; foreach($trackingList as $list){ ?>
                                            <?php if($list['flag']=='1'){ ?>
                                            <tr>
                                                <td align="center">
                                                    <?php if($list['flag']=='1'){ ?><input type="checkbox" name="trackid[]" value="<?=$list['tracking']?>" />
                                                    <?php } ?>
                                                    <?php if($list['flag']=='2'){echo 'แจ้งรับสินค้าแล้ว';} ?>
                                                </td>
                                                <td>
                                                    <?=$list['tracking']?>
                                                </td>
                                                <td>
                                                    <?=$list['saller_name']?>
                                                </td>
                                                <td>
                                                    <a href="#/buyship/view/<?=GF::order_id($list['order_id'])?>">
                                                        <?=$list['order_id']?>
                                                    </a>
                                                </td>
                                                <td>
                                                    <?=$list['order_type']?>
                                                </td>
                                               <!-- <td class="text-right">
                                                    <?php if(intval($trackingInfo['status_value'])<6){$list['price_true'] = 0;} ?>
                                                    <?=number_format($list['price_true'],2)?>
                                                </td>
                                                <td class="text-right">
                                                    <?php if(intval($list['other_price'])>0 && inval($list['status_value'])>=6){ ?>
                                                    <span class="text-muted"><?=$list['other_desc']?> : </span>
                                                    <?=number_format(($list['other_price']*GF::getrate()),2)?><br />
                                                        <h6 class="text-muted" style="margin: 0px;">(&yen;
                                                            <?=$list['other_price']?>x
                                                                <?=GF::getrate()?>)</h6>
                                                        <?php }else{echo '0.00';} ?>
                                                </td>-->
                                            </tr>
                                            <?php $k++; } ?>
                                            <?php } ?>
                                        </tbody>
                                    </table>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>
<?php if($k==0){ ?>
<script>
    $('#saveTrackingToship').remove();
</script>
<?php } ?>