<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Tracking Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Tracking List
                    <div class="pull-right">

                    </div>
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left">

                           </span>
                                <div class="pull-right">
                                    <a href="#/tracking/trackinglist/" class="btn btn-primary btn-sm " style="margin-bottom:5px;">ทั้งหมด</a>
                                    <?php $shipby = GF::masterdataList('3'); ?>

                                    <?php foreach($shipby as $master){ ?>

                                    <a class="btn btn-info btn-sm <?php if($GET['status']==$master['master_value']){ ?>active<?php } ?>" style="margin-bottom:5px;" href="#/tracking/trackinglist/?status=<?=$master['master_value']?>">
                                        <?=$master['master_value']?> :
                                            <?=$master['master_name']?>
                                    </a>
                                    <?php } ?>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <?php //GF::print_r($trackingList); ?>
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <th>Tracking No.</th>
                                            <th>ร้านค้า</th>
                                            <th>Order</th>
                                            <th class="text-center">เลขที่บิล</th>
                                            <th>ประเภทสินค้า</th>
                                            <th>สถานะ</th>
                                            <th>น้ำหนัก(จีน)</th>
                                            <th class="text-center">ค่านำเข้า</th>
                                            <th class="text-center">อื่น ๆ</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($trackingList as $list){ ?>
                                        <tr>
                                            <td>
                                                <?=$list['tracking']?>
                                            </td>
                                            <td>
                                                <?=$list['saller_name']?>
                                            </td>
                                            <td>
                                                <a href="#/buyship/view/<?=GF::order_id($list['order_id'])?>">
                                                    <?=$list['order_id']?>
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <?=$list['shipping_code']?>
                                            </td>
                                            <td>
                                                <?=$list['order_type']?>
                                            </td>
                                            <td>
                                                <?=$list['status_value']?> :
                                                    <?=$list['status']?>
                                            </td>
                                            <td class="text-right"><?=$list['weight']?> 
                                                <!--<?php if($list['shipping_code']!=''){ ?>
                                                <?=$list['weight']?>
                                                    <?php }else{ ?> 0
                                                    <?php } ?>-->
                                            </td>
                                            <td class="text-right">
                                                <?php if($list['cbm']>0 && $list['weight']>0){ ?>
                                                <?=@number_format($list['price_true'],2)?>
                                                    <?php }else{ ?> 0.00
                                                    <?php } ?>
                                            </td>
                                            <td class="text-right">
                                                <?php if(intval($list['other_price'])>0 && intval($list['status_value'])>=6){ ?>
                                                <?=@number_format(($list['other_price']*GF::getrate()),2)?><br />
                                                    <h6 class="text-muted" style="margin: 0px;">(&yen;
                                                        <?=$list['other_price']?>x
                                                            <?=GF::getrate()?>)</h6>
                                                    <?php }else{echo '0.00';} ?>
                                            </td>
                                            <td>
                                                <nobr>
                                                    <?php if($button_view){ ?>
                                                    <a href="#/tracking/view/<?=$list['tracking_id']?>" class="btn btn-info btn-sm">ดู</a>
                                                    <?php } ?>
                                                    <?php if($list['status_value']=='1'){ ?>
                                                    <?php if($button_delete){ ?>
                                                    <button class="btn btn-danger btn-sm" onclick="deleteTrackingUser('<?=$list['tracking_id']?>');">ลบ</button>
                                                    

                                                    <?php } ?>
                                                    <?php } ?>
                                                </nobr>

                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>