<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Tracking Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Tracking List
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left"><i class="fa fa-list"></i> ดู Tracking</span>
                                <div class="pull-right">
                                    <a href="#/tracking/trackinglist/" class="btn btn-default">Back</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">

                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">แทรค</label>
                                    <div class="col-sm-9">
                                        <?=$trackingInfo['tracking']?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">รหัสลูกค้า</label>
                                    <div class="col-sm-9">
                                        <?=$trackingInfo['member_code']?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">ร้านค้าที่</label>
                                    <div class="col-sm-9">
                                        <?=$trackingInfo['saller_name']?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">เลขออเดอร์</label>
                                    <div class="col-sm-9">
                                        <?=$trackingInfo['order_id']?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">ประเภทสินค้า</label>
                                    <div class="col-sm-9">
                                        <?=$trackingInfo['order_type']?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">สถานะ</label>
                                    <div class="col-sm-9">

                                        <?=$trackingInfo['status']?>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">น้ำหนัก(จากจีน)</label>
                                    <div class="col-sm-9">
                                        <?php if($trackingInfo['shipping_code']==''){echo '0'; }else{ echo $trackingInfo['weight']; } ?> Kg.
                                    </div>
                                </div>


                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">น้ำหนัก</label>
                                    <div class="col-sm-9">
                                        <?php if($trackingInfo['shipping_code']==''){echo '0'; }else{ echo $trackingInfo['weight_cn']; } ?> Kg.
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">ขนาด</label>
                                    <div class="col-sm-9">
                                        <?=$trackingInfo['dime_x']?> x
                                            <?=$trackingInfo['dime_y']?> x
                                                <?=$trackingInfo['dime_w']?> ซม./1,000,000 =
                                                    <?=($trackingInfo['cbm'])?> CBM.
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">น้ำหนักมาตรฐานของห่อพัสดุ</label>
                                    <div class="col-sm-9">
                                        150 Kg x
                                        <?=number_format($trackingInfo['cbm'],2)?> CBM =
                                            <?=number_format($trackingInfo['cbm']*150,2)?> Kg

                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">ค่าบริการนำเข้า</label>
                                    <div class="col-sm-9">
                                        <!-- Edit by Weerasak 23/02/2565 -->
                                        <?php
                                        if($trackingInfo['cbm']<=0 || $trackingInfo['weight']<=0){
                                            $trackingInfo['price_true'] = 0;
                                        }
                                        echo number_format($trackingInfo['price_true'],2).' บาท';
                                        ?>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">ค่าบริการอื่น ๆ</label>
                                    <div class="col-sm-9">
                                        <!--Edit by Weerasak 23/02/2565 -->
                                        <?php if($trackingInfo['cbm']<=0 || $trackingInfo['weight']<=0) {$trackingInfo['other_price'] = 0;} ?>
                                        <?=@number_format($trackingInfo['other_price']*GF::getrate(),2)?> บาท <span>(<?=$trackingInfo['other_desc']?>)</span>

                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">รวม</label>
                                    <div class="col-sm-9">
                                        <?php $total = ($trackingInfo['other_price']*GF::getrate())+$trackingInfo['price_true']; ?>
                                        <?php if($trackingInfo['cbm']<=0 || $trackingInfo['weight']<=0){$total = 0;}?> <!--Edit by Weerasak 23/02/2565 -->
                                        <b><?=@number_format($total,2)?></b> บาท
                                    </div>

                                </div>


                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">



                </div>
                <!-- /.box-footer -->

            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>ข้อมูล Tracking
                </div>

                <div class="box-body">
                    <div class="col-sm-2">
                        ประเภทสินค้า :
                    </div>
                    <div class="col-sm-9">
                        <?=$trackingInfo['order_type']?>
                    </div>
                    <div class="col-sm-2">
                        จำนวนกล่อง :
                    </div>
                    <div class="col-sm-9">
                        <?=$trackingInfo['num_box']?>
                    </div>
                    <div class="col-sm-2">
                        รูปภาพ :
                    </div>
                    <div class="col-sm-9">
                        <?php if($trackingInfo['tracking_img']!=''){ ?>
                        <img src="<?=$BASEURL?>/uploads/temp/<?=$trackingInfo['tracking_img']?>" data-img="<?=$BASEURL?>/uploads/temp/<?=$trackingInfo['tracking_img']?>" onclick="viewTK(this);" style="max-width:100px;cursor:pointer;">
                        <?php } ?>
                    </div>
                    <div class="col-sm-2">
                        ตีลังไม้ :
                    </div>
                    <div class="col-sm-9">
                        <?php
                        if($trackingInfo['order_box']=='A'){echo 'ตีลังไม้';}
                        if($trackingInfo['order_box']=='B'){echo 'ไม่ตีลังไม้ ';}
                     ?>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2">
                        หมายเหตุ :
                    </div>
                    <div class="col-sm-9">
                        <?=$trackingInfo['order_comment']?>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Tracking Status
                </div>

                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>สถานะ</td>
                                <td>วันที่</td>
                                <td>ผู้ทำรายการ</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if(count($trackingInfo['history'])>0){ foreach($trackingInfo['history'] as $history){ ?>
                            <tr>
                                <td>
                                    <?=$history['status_value']?> :
                                        <?=$history['status']?>
                                </td>
                                <td>
                                    <?=date('d-m-Y H:i:s',strtotime($history['create_dtm']))?>
                                </td>
                                <td>
                                    <?php $userinfo = GF::memberinfo($history['create_by']); ?>
                                    <?=$userinfo['user_name']?>
                                </td>
                            </tr>
                            <?php } } ?>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="tkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">
                <img src="" id="tkimg" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>


<?php //GF::print_r($trackingInfo); ?>