<style>
	.form-group .control-label {
		text-align: left;
	}

</style>

<section class="content-header">
  <h1>
   Payment
    <small></small>
  </h1>
</section>

        <!-- Main content -->

<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Payment List
			</div>

			<div class="box-body">


                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                           <i class="fa fa-list"></i> รายการชำระเงิน
                        </div>
                        <div class="panel-body">
                            <table id="example1" class="table table-bordered table-striped">
							      <thead>

							        <tr>
							          <th>Transaction ID</th>
							          <th>Order ID</th>
							          <th>โอนเข้าธนาคาร</th>
							          <th>เวลาโอน</th>
							          <th>จำนวนเงิน</th>
							          <th>สถานะ</th>
							          <th>หมายเหตุ</th>

							        </tr>
							      </thead>
							      <tbody>
							      <?php foreach($paymentList as $vals){ ?>
							     		<tr>
							     			<td>TC<?=$vals['id']+10000?></td>
							     			<td class="text-center">
                                    <?=$vals['order_info']['order_id']?><br />
                                    <span class="text-success">
                                       <?php
                                          if($vals['order_type']=='1'){
                                             echo "รายการฝากสั่งซื้อ";
                                          }
                                          if($vals['order_type']=='2'){
                                             echo "รายการนำเข้า";
                                          }
                                          if($vals['order_type']=='3'){
                                             echo "รายการเติมเงิน";
                                          }
                                       ?>
                                    </span>
                                 </td>
							     			<td><?=$vals['payment_bank']?></td>
							     			<td>
							     			วันที่ : <?=$vals['payment_date']?><br />
							     			เวลา : <?=$vals['payment_time']?>
							     			</td>
							     			<?php if($vals['payment_amount']==''){$vals['payment_amount']=0;} ?>
							     			<td><?=number_format($vals['payment_amount'],2)?></td>
							     			<td>
							     			<?php
							     			$text_status = 'รอตรวจสอบ';
							     			$color_status = 'blue';
							     				if($vals['status']=='A'){
													$text_status = 'ตรวจสอบแล้ว';
													$color_status = 'green';
												}
												if($vals['status']=='C'){
													$text_status = 'ยกเลิก';
													$color_status = 'brown';
												}
												if($vals['status']=='F'){
													$text_status = 'ไม่พบยอดเงิน';
													$color_status = 'red';
												}
							     			?>
							     				<span style="color: <?=$color_status?>;"><?=$text_status?></span>
							     			</td>
							     			<td><?=$vals['payment_comment']?></td>
							     		</tr>
							     <?php } ?>
							      </tbody>
							    </table>

                        </div>

                    </div>
                </div>

             </div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">

			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

            </div><!-- /.box-footer -->

			</div>
		</div>
	</div>

</section>
