<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">ยอดสั่งซื้อ</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchodrBuyrp();">
                    <input type="hidden" name="mode" value="searchbuyrp" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_buyrp_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_buyrp_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchodrBuyrp();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchBuyrp();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>วัน/เวลา</th>
                            <th>เอเจน</th>
                            <th style="text-align: center;">รหัสสมาชิก</th>
                            <th>เลขที่สั่งซื้อ</th>
                            <th class="warning" style="text-align: center;">ยอดรวมหยวน<br />ก่อนสั่ง</th>
                            <th class="warning" style="text-align: center;">เรทเงิน<br />ก่อนสั่ง</th>
                            <th class="warning" style="text-align: center;">ยอดเงินบาท<br />ก่อนสั่ง</th>
                            <th class="success" style="text-align: center;">ยอดรวมหยวน<br />สั่งจริง</th>
                            <th class="success" style="text-align: center;">เรทเงิน<br />สั่งจริง</th>
                            <th class="success" style="text-align: center;">ยอดเงินบาท<br />สั่งจริง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $total_1 = 0;$total_2 = 0; $total_3=0;$total_4=0; ?>
                        <?php foreach($orderList['data'] as $key=>$odr){ ?>

                        <tr>

                            <td>

                                <?=date('d/m/Y',strtotime($odr['create_dtm']))?><br />
                                    <?=date('H:i:s',strtotime($odr['create_dtm']))?>

                            </td>

                            <td>
                                <?=GF::agencyname($odr['member']['id'])?>
                            </td>
                            <td style="text-align: center;">
                                <?=$odr['member']['user_code']?>
                                    <!-- <br />
                              <span class="text-green">
                                  <?=$odr['member']['user_name']?>
                              </span> -->

                            </td>
                            <td>
                                <span class="black"><?=$odr['order_number']?></span>
                            </td>
                            <td class="warning" style="text-align: center;">
                                <!-- <?php $beforpay = $odr['countprice']['product_price_rmb']+($odr['order_pay_ship']/$odr['rate']) ?> -->
                                <!-- <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span> -->
                                <!-- <span style="color: black"><?=number_format($beforpay,2)?></span> -->
                                <!-- <?php $total_1 += $beforpay; ?> -->
                                <span style="color: black"><?=number_format($odr['order_price_rmb'],2)?></span>
                            </td>
                            <td class="warning text-center">
                                <?=$odr['old_rate']?>
                            </td>
                            <td class="warning text-center">
                                <!-- <?=number_format($beforpay*$odr['old_rate'],2)?>
                                    <?php $total_2 += ($beforpay*$odr['old_rate']); ?> -->
                                    <?=number_format($odr['order_price_thb'],2)?>
                            </td>
                            <td class="success text-center">
                                <!-- <?php $true_yuan = $odr['countprice']['product_buy_rmb']+$odr['countprice']['ship_cn']+$odr['order_pay_cn']; ?>
                                <?=number_format($true_yuan,2)?>
                                    <?php $total_3 += $true_yuan; ?> -->
                                <?=number_format($odr['actual_purchase_rmb'],2)?>
                            </td>
                            <td class="success text-center">
                                <?=$odr['rate']?>
                            </td>
                            <td class="success" style="text-align: center;">
                                <?=number_format($odr['actual_purchase_thb'],2)?>
                                <!-- <?php $true_price = ($odr['countprice']['product_buy_rmb'])*$odr['rate'];
                                //echo $odr['countprice']['product_buy_rmb'];
                                   //$true_price += $odr['order_pay_ship'];
                                   $true_price += ($odr['countprice']['ship_cn']*$odr['rate']);
                                   //$true_price += $odr['order_pay_cn']*$odr['rate'];
                                   $true_price -= $odr['order_discount'];
                                   $true_price += $odr['countprice']['product_price_thb'];
                                   ?>
                                <?=number_format($true_price,2)?>
                                    <?php $total_4 += $true_price; ?> -->
                            </td>

                        </tr>
                        <?php } ?>
                        <tr class="active">
                            <td colspan="4" class="text-center"><b>รวม</b></td>
                            <td class="text-center"><b><?=number_format($total_1,2)?></b></td>
                            <td></td>
                            <td class="text-center"><b><?=number_format($total_2,2)?></b></td>
                            <td class="text-center"><b><?=number_format($total_3,2)?></b></td>
                            <td></td>
                            <td class="text-center"><b><?=number_format($total_4,2)?></b></td>
                        </tr>
                    </tbody>
                </table>
                <nav class="pull-right" style="margin-right: 3%;">
                    <ul class="pagination pagination-md">

                        <?php 
                            $c_page = intval($currpage);
                            if($c_page==0){
                                $c_page = 1;
                            }
                            $start = 1;
                            $end = 10;
                            if($c_page>=6){
                                $start = $c_page-4;
                                $end = $c_page+4;
                            }

                            if($end>=$allPage){
                                $end = $allPage;
                            }
                            ?>
                        <?php //for($i=1;$i<=$allPage;$i++){ ?>
                        <?php for($i=$start;$i<=$end;$i++) {?>
                        <li <?php if($currpage==$i){ ?>class="active"
                            <?php } ?>>
                            <a href="#/report/buyrp/?page=<?=$i?>">
                                <?=$i?>
                            </a>
                        </li>
                        <?php } ?>
                        <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>