<?php

?>

    <section class="content-header">
        <h1> Report </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Home</h3>
                        <div class="pull-right">

                        </div>

                    </div>
                    <div class="box-body">
                        <a class="btn btn-app" href="#/report/sendcn">
                            <i class="fa fa-shopping-cart"></i> รายการส่งยอดสั่งซื้อ
                        </a>
                        <a href="#/report/paidrp" class="btn btn-app">
                            <i class="fa fa-money"></i> รายการยอดชำระค่าสินค้า
                        </a>
                        <a href="#/report/waitshipping" class="btn btn-app">
                            <i class="fa fa-truck"></i> ยอดค้างชำระค่านำเข้า
                        </a>
                        <a href="#/report/buyrp" class="btn btn-app">
                            <i class="fa fa-tasks"></i> ยอดสั่งซื้อ
                        </a>
                        <a href="#/report/shippingrp" class="btn btn-app">
                            <i class="fa fa-truck"></i> ยอดนำเข้าสินค้า
                        </a>
                        <a href="#/report/refundrp" class="btn btn-app">
                            <i class="fa fa-reply-all"></i> ยอด refund
                        </a>
                        <a href="#/report/withdrawrp" class="btn btn-app">
                            <i class="fa fa-money"></i> ลูกค้ายอดถอนเงิน
                        </a>
                        <!-- Edit By Weerasak -->
                        <!-- <a href="#/report/walletrp" class="btn btn-app">
                            <i class="fa fa-money"></i> เติมเงินเข้าระบบ
                        </a> -->
                        <a href="#/report/raterp" class="btn btn-app">
                            <i class="fa fa-line-chart"></i> เรทเงิน
                        </a>
                        <a href="#/report/listkiloq" class="btn btn-app">
                            <i class="fa fa-tasks"></i> รายการบัญชีกิโล-คิว
                        </a>
                    </div>

                </div>
            </div>

            <?php if($pagecontent!=''){include($BASEDIR."/app/view/adminlte/report/".$pagecontent);} ?>


    </section>