<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">รายการบัญชีกิโล-คิว</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchwithdraw();">
                    <input type="hidden" name="mode" value="searckiloq" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_withdrawrp_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_withdrawrp_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchKiloDate();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchBill();">ยกเลิก</button>
                    <button type="button" class="btn btn-primary pull-right" onclick="exportReportToExcel(this);">ส่งออก excel</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered table-striped" id ="tableKiloQ">
                    <thead>
                        <tr>
                            <td class="text-center">รหัส</td>
                            <td class="text-center">เลขบิล</td>
                            <td class="text-center">Q</td>
                            <td class="text-center">QB</td>
                            <td class="text-center">QM</td>
                            <td class="text-center">เรือ ธรรมดา</td>
                            <td class="text-center">เรือ มอก</td>
                            <td class="text-center">คิวเรือ ธรรมดา</td>
                            <td class="text-center">คิวเรือ แบรนด์</td>
                            <td class="text-center">คิวเรือ มอก</td>
                            <td class="text-center">ค่าจัดส่ง</td>
                            <td class="text-center">หลังส่ง</td>
                            <td class="text-center">บริการจัดส่ง</td>
                            <td class="text-center">ขนส่ง/ตีลังไม้</td>
                            <td class="text-center">ค่าปรับ</td>
                        </tr>
                    </thead>
                    <tbody>           
                        <?php foreach($listKiloQ as $item) {?>             
                        <tr>
                            <!-- รหัส -->
                            <td class="text-center"><?=$item['user_code']?></td>         
                            <!-- เลขบิล -->
                            <td class="text-center"><?=$item['shipping_code']?></td>    
                            <!-- Q -->
                            <td class="text-center"><?=$item['Q']?></td>   
                             <!-- QB -->
                            <td class="text-center"><?=$item['QB']?></td>  
                              <!-- QM -->
                            <td class="text-center"><?=$item['QM']?></td>    
                            <!-- เรือธรรมดา -->
                            <td class="text-center"><?=$item['KSea']?></td>    
                            <!-- เรือ มอก -->
                            <td class="text-center"></td>   
                            <!-- คิวเรือธรรมดา --> 
                            <td class="text-center"><?=$item['QSea']?></td>    
                            <!-- คิวเรือแบรนด์ -->
                            <td class="text-center"><?=$item['QBSea']?></td>    
                            <!-- คิวเรือ มอก -->
                            <td class="text-center"><?=$item['QMSea']?></td>    
                            <!-- ค่าจัดส่ง -->
                            <td class="text-center"><?=$item['shipping_th_price']?></td>  
                            <td class="text-center"></td> 
                            <!-- บริการจัดส่ง --> 
                            <td class="text-center"><?=$item['shipping_th_service_price']?></td>                                                             
                            <td class="text-center"></td>    
                            <td class="text-center"></td>    
                            <td class="text-center"></td>                       
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
                <nav class="pull-right" style="margin-right: 3%;">
                    <ul class="pagination pagination-md">

                        <?php 
                            $c_page = intval($currpage);
                            if($c_page==0){
                                $c_page = 1;
                            }
                            $start = 1;
                            $end = 10;
                            if($c_page>=6){
                                $start = $c_page-4;
                                $end = $c_page+4;
                            }

                            if($end>=$allPage){
                                $end = $allPage;
                            }
                            ?>
                        <?php for($i=$start;$i<=$end;$i++) {?>
                        <li <?php if($currpage==$i){ ?>class="active"
                            <?php } ?>>
                            <a href="#/report/listkiloq/?page=<?=$i?>">
                                <?=$i?>
                            </a>
                        </li>
                        <?php } ?>
                        <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>