<?php
//header("Content-type: application/vnd.ms-excel");
//header("Content-Transfer-Encoding: BINARY");
// header('Content-type: application/csv'); //*** CSV ***//
header("Content-Type: application/x-msexcel; name=export_".date('Y-m-d_His').".xls");

header("Content-Disposition: attachment; filename=export_".date('Y-m-d_His').".xls");
header("Pragma:no-cache");
?>

<style>
.num {
  mso-number-format:General;
}
.text{
  mso-number-format:"\@";/*force text*/
}
</style>
<body>
    <table class="table table-bordered table-striped" border="1">
        <thead>
            <tr>
                <td class="text-center">รหัส</td>
                <td class="text-center">เลขบิล</td>
                <td class="text-center">Q</td>
                <td class="text-center">QB</td>
                <td class="text-center">QM</td>
                <td class="text-center">เรือ ธรรมดา</td>
                <td class="text-center">เรือ มอก</td>
                <td class="text-center">คิวเรือ ธรรมดา</td>
                <td class="text-center">คิวเรือ แบรนด์</td>
                <td class="text-center">คิวเรือ มอก</td>
                <td class="text-center">ค่าจัดส่ง</td>
                <td class="text-center">หลังส่ง</td>
                <td class="text-center">บริการจัดส่ง</td>
                <td class="text-center">ขนส่ง/ตีลังไม้</td>
                <td class="text-center">ค่าปรับ</td>
            </tr>
        </thead>
        <tbody>           
            <?php foreach($listKiloQ as $item) {?>             
            <tr>
                <!-- รหัส -->
                <td class="text-center"><?=$item['user_code']?></td>         
                <!-- เลขบิล -->
                <td class="text-center"><?=$item['shipping_code']?></td>    
                <!-- Q -->
                <td class="text-center"><?=$item['Q']?></td>   
                 <!-- QB -->
                <td class="text-center"><?=$item['QB']?></td>  
                  <!-- QM -->
                <td class="text-center"><?=$item['QM']?></td>    
                <!-- เรือธรรมดา -->
                <td class="text-center"><?=$item['KSea']?></td>    
                <!-- เรือ มอก -->
                <td class="text-center"></td>   
                <!-- คิวเรือธรรมดา --> 
                <td class="text-center"><?=$item['QSea']?></td>    
                <!-- คิวเรือแบรนด์ -->
                <td class="text-center"><?=$item['QBSea']?></td>    
                <!-- คิวเรือ มอก -->
                <td class="text-center"><?=$item['QMSea']?></td>    
                <!-- ค่าจัดส่ง -->
                <td class="text-center"><?=$item['shipping_th_price']?></td>  
                <td class="text-center"></td> 
                <!-- บริการจัดส่ง --> 
                <td class="text-center"><?=$item['shipping_th_service_price']?></td>                                                             
                <td class="text-center"></td>    
                <td class="text-center"></td>    
                <td class="text-center"></td>                       
            </tr>
            <?php } ?>
        </tbody>
    </table>
</body>
</html>