<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">เรทเงิน</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchRate();">
                    <input type="hidden" name="mode" value="searchrate" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_raterp_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_raterp_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchRate();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchRate();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">เรทสั่งซื้อ</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">เวลา</th>
                                    <th class="text-center">เรท</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($rateList['rate_1'] as $list){  ?>
                                <tr>

                                    <td class="text-center">
                                        <?=date("d-m-Y",strtotime($list['create_dtm']))?><br />
                                            <?=date("H:i:s",strtotime($list['create_dtm']))?>
                                    </td>
                                    <td class="text-center">
                                        <?=number_format($list['rate'],2)?>
                                    </td>
                                </tr>
                                <?php } ?>

                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">เรทเติมเงิน</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">เวลา</th>
                                    <th class="text-center">เรท</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($rateList['rate_2'] as $list){  ?>
                                <tr>

                                    <td class="text-center">
                                        <?=date("d-m-Y",strtotime($list['create_dtm']))?><br />
                                            <?=date("H:i:s",strtotime($list['create_dtm']))?>
                                    </td>
                                    <td class="text-center">
                                        <?=number_format($list['rate'],2)?>
                                    </td>
                                </tr>
                                <?php } ?>

                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">เรทโอนเงิน</div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">เวลา</th>
                                    <th class="text-center">เรท</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($rateList['rate_3'] as $list){  ?>
                                <tr>

                                    <td class="text-center">
                                        <?=date("d-m-Y",strtotime($list['create_dtm']))?><br />
                                            <?=date("H:i:s",strtotime($list['create_dtm']))?>
                                    </td>
                                    <td class="text-center">
                                        <?=number_format($list['rate'],2)?>
                                    </td>
                                </tr>
                                <?php } ?>

                            </tbody>

                        </table>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>