<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"> ยอด refund</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchodrRefundrp();">
                    <input type="hidden" name="mode" value="searchrefundrp" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_refundrp_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_refundrp_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchodrRefundrp();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchRefundrp();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">วันแจ้ง Refund</th>
                            <th style="text-align: center;">เลขใบสั่งซื้อ</th>
                            <th style="text-align: center;">ลูกค้า</th>
                            <?php if($memberinfo['user_role_id']=='1'){ ?>
                            <th style="text-align: center;">Agency</th>
                            <?php } ?>

                            <th style="text-align: center;">จำนวนที่ขาด</th>
                            <th style="text-align: center;">ราคาสินค้า</th>
                            <th style="text-align: center;">ยอดรวมหยวน</th>
                            <th style="text-align: center;">เรท</th>
                            <th style="text-align: center;">ยอดเงินคืน (บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php if(count($refundList)>0){ ?>
                        <?php $i=1; foreach($refundList as $list){ ?>
                        <tr>
                            <td>
                                <?=date('d-m-Y',strtotime($list['create_dtm']))?>
                            </td>
                            <td style="text-align: center;">
                                <a href="#/ordermanagement/view/<?=$list['item_info']['order_id']?>">
                                    <?=GF::order_no($list['item_info']['order_id'])?>
                                </a>
                            </td>
                            <td>
                                <?php $my_member = GF::memberinfo($list['create_by']); ?>
                                <?=$my_member['user_code']?><br />
                                    <?=$my_member['user_name']?>
                            </td>
                            <?php if($memberinfo['user_role_id']=='1'){ ?>

                            <td style="text-align: center;">
                                <span class="text-blue"><?=GF::agencyname($list['create_by'])?></span></td>
                            <?php } ?>

                            <?php $total_get = $list['item_info']['product_buy_qty']-$list['ref_refund']; ?>
                            <td style="text-align: center;">
                                <?=$total_get?>
                            </td>
                            <td style="text-align: center;">
                                <?=$list['item_info']['product_buy_rmb']?>
                            </td>

                            <td style="text-align: center;">
                                <?=$list['item_info']['product_buy_rmb']*$total_get?><br />
                                    <span class="text-green">คืนจริง <b><?=$list['ref_rmb']?></b></span>
                            </td>
                            <td style="text-align: center;">
                                <?=$list['order_info']['rate']?>
                                    <!-- <br /><span class="text-green">คืนจริง <b><?=$list['ref_rmb']?></b></span> -->
                            </td>
                            <td style="text-align: center;">
                                <?=($list['item_info']['product_buy_rmb']*$total_get)*$list['order_info']['rate']?>
                                    <br /><span class="text-green">คืนจริง <b><?=$list['ref_thb']?></b></span>
                            </td>

                        </tr>

                        <?php $i++; } ?>
                        <?php } ?>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>