<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">รายการส่งยอดสั่งซื้อ</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchodr();">
                    <input type="hidden" name="mode" value="searchodrchina" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_sendcn_search']['start_date']?>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_sendcn_search']['end_date']?>"  autocomplete="off">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchodr();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearch();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th>วัน/เวลา</th>
                            <th>รอบ</th>
                            <th>เอเจน</th>
                            <th style="text-align: center;">รหัสสมาชิก</th>
                            <th>เลขที่สั่งซื้อ</th>
                            <th style="text-align: center;">ยอดรวมหยวนก่อนสั่ง</th>
                            <th style="text-align: center;">เรทเงิน</th>
                            <th style="text-align: center;">ยอดเงินบาท</th>
                            <th style="text-align: center;">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($orderList['data'] as $key=>$odr){ ?>

                        <tr>

                            <td>
                                <?php if($odr['send_order_status']=='Y'){ ?>
                                <?=date('d/m/Y',strtotime($odr['export_date']))?><br />
                                    <?=date('H:i:s',strtotime($odr['export_date']))?>
                                        <?php }else{ ?> -
                                        <?php } ?>
                            </td>
                            <td>
                                <?php if($odr['send_order_status']=='Y'){ ?>
                                <?php
                         if($odr['send_order_round']=='1'){echo 'เช้า';}
                         if($odr['send_order_round']=='2'){echo 'บ่าย';}
                         ?>
                                    <?php }else{ ?> -
                                    <?php } ?>
                            </td>
                            <td>
                                <?=GF::agencyname($odr['member']['id'])?>
                            </td>
                            <td style="text-align: center;">
                                <?=$odr['member']['user_code']?>
                                    <!-- <br />
                              <span class="text-green">
                                  <?=$odr['member']['user_name']?>
                              </span> -->

                            </td>
                            <td>
                                <span class="black"><?=$odr['order_number']?></span>
                            </td>
                            <td style="text-align: center;">
                                <?php $beforpay = $odr['countprice']['product_price_rmb']+($odr['order_pay_ship']/$odr['rate']) ?>
                                <!-- <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span> -->
                                <span style="color: black"><?=number_format($beforpay,2)?></span>
                            </td>
                            <td class="text-center">

                                <?=$odr['rate']?>
                            </td>
                            <td class="text-center">

                                <?=number_format($beforpay*$odr['rate'],2)?>

                            </td>
                            <td style="text-align: center;">
                                <?php if($odr['send_order_status']=='Y'){ ?>
                                <span class="text-green">ส่งยอดเรียบร้อย</span>
                                <?php }else{ ?>
                                <span class="text-red">รอส่งยอด</span>
                                <?php } ?>
                            </td>

                        </tr>
                        <?php } ?>
                    </tbody>
                </table>
                <nav class="pull-right" style="margin-right: 3%;">
                    <ul class="pagination pagination-md">

                        <?php 
                            $c_page = intval($currpage);
                            if($c_page==0){
                                $c_page = 1;
                            }
                            $start = 1;
                            $end = 10;
                            if($c_page>=6){
                                $start = $c_page-4;
                                $end = $c_page+4;
                            }

                            if($end>=$allPage){
                                $end = $allPage;
                            }
                            ?>
                        <?php //for($i=1;$i<=$allPage;$i++){ ?>
                        <?php for($i=$start;$i<=$end;$i++) {?>
                        <li <?php if($currpage==$i){ ?>class="active"
                            <?php } ?>>
                            <a href="#/report/sendcn/?page=<?=$i?>">
                                <?=$i?>
                            </a>
                        </li>
                        <?php } ?>
                        <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>