
<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">ยอดนำเข้าสินค้า</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchShipping();">
                    <input type="hidden" name="mode" value="searchshipping" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_shipping_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_shipping_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchShipping();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchShipping();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th class="text-center">สมาชิก</th>
                            <th class="text-center">เลขที่บิล</th>
                            <th class="text-center">วันที่ออกบิล</th>
                            <th class="text-center">ยอดรวม</th>
                            <th class="text-center">ยอดรวมน้ำหนัก(Kg.)</th>
                            <th class="text-center">ยอดรวมขนาด(CBM.)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $total_1 =0;$total_2 =0;$total_3 =0; ?>
                        <?php  foreach($shippingList as $list){  ?>
                        <tr>
                            <td class="text-center">
                                <?=$list['user_code']?><br />
                                    <?=$list['user_name']?>
                            </td>
                            <td class="text-center">
                                <?=$list['shipping_code']?>
                            </td>
                            <td class="text-center">
                                <?=date("d-m-Y",strtotime($list['create_dtm']))?><br />
                                    <?=date("H:i:s",strtotime($list['create_dtm']))?>
                            </td>
                            <td class="text-center">

                                <?=number_format($list['billing_sum'],2)?>
                                    <?php $total_1 += $list['billing_sum']; ?>
                            </td>
                            <td class="text-center">
                                <?=$list['count_data']['total_weight']?>
                                    <?php $total_2 += $list['count_data']['total_weight']; ?>
                            </td>
                            <td class="text-center">
                                <?=number_format($list['count_data']['total_cbm'],2)?>
                                    <?php $total_3 += $list['count_data']['total_cbm']; ?>
                            </td>
                        </tr>
                        <?php } ?>
                        <tr class="success">
                            <td class="text-center" colspan="3"><b>รวม</b></td>
                            <td class="text-center">
                                <b><?=number_format($total_1,2)?></b>
                            </td>
                            <td class="text-center">
                                <b><?=number_format($total_2,2)?></b>
                            </td>
                            <td class="text-center">
                                <b><?=number_format($total_3,2)?></b>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>