<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">ยอดค้างชำระค่านำเข้า</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchWaitship();">
                    <input type="hidden" name="mode" value="searchwaitship" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_waitship_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_waitship_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchWaitship();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetWaitship();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th class="text-center">สมาชิก</th>
                            <th class="text-center">เลขที่บิล</th>
                            <th class="text-center">วันที่ออกบิล</th>
                            <th class="text-center">ยอดรวม</th>
                            <th class="text-center">ชำระแล้ว</th>
                            <th class="text-center">ยอดค้างชำระ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $total =0; 

                        foreach($waitShipping as $list){ 



                         ?>
                        <tr>
                            <td class="text-center">
                                <?=$list['user_code']?><br />
                                    <?=$list['user_name']?>
                            </td>
                            <td class="text-center">
                                <?=$list['shipping_code']?>
                            </td>
                            <td class="text-center">
                                <?php if($list['create_dtm']!=""){ ?>
                                <?=date("d-m-Y",strtotime($list['create_dtm']))?><br />
                                    <?=date("H:i:s",strtotime($list['create_dtm']))?>
                                <?php } ?>
                            </td>
                            <td class="text-center">

                                <?=number_format($list['billing_sum'],2)?>
                            </td>
                            <td class="text-center">
                                <?=number_format($list['ship_pay'],2)?>
                            </td>
                            <td class="text-center">
                                <?php $total += ($list['billing_sum']-$list['ship_pay']); ?>
                                <?=number_format($list['billing_sum']-$list['ship_pay'],2)?>
                            </td>
                        </tr>
                        <?php } ?>
                        <tr class="success">
                            <td class="text-center" colspan="5"><b>รวม</b></td>
                            <td class="text-center">
                                <b><?=number_format($total,2)?></b>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <nav class="pull-right hidden" style="margin-right: 3%;">
                    <ul class="pagination pagination-md">

                        <?php 
                            $c_page = intval($currpage);
                            if($c_page==0){
                                $c_page = 1;
                            }
                            $start = 1;
                            $end = 10;
                            if($c_page>=6){
                                $start = $c_page-4;
                                $end = $c_page+4;
                            }

                            if($end>=$allPage){
                                $end = $allPage;
                            }
                            ?>
                        <?php //for($i=1;$i<=$allPage;$i++){ ?>
                        <?php for($i=$start;$i<=$end;$i++) {?>
                        <li <?php if($currpage==$i){ ?>class="active"
                            <?php } ?>>
                            <a href="#/report/paidrp/?page=<?=$i?>">
                                <?=$i?>
                            </a>
                        </li>
                        <?php } ?>
                        <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                    </ul>
                </nav>

            </div>
        </div>

    </div>
</div>