<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">รายการเติมเงินเข้าระบบ</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchWallet();">
                    <input type="hidden" name="mode" value="searchwallet" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_walletrp_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_walletrp_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchWallet();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchWallet();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th class="text-center">สมาชิก</th>
                            <th class="text-center">เลขที่รายการ</th>
                            <th class="text-center">เวลา</th>
                            <th class="text-center">ยอดเงิน</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php $total =0; foreach($walletList as $list){ $total += $list['wallet']; ?>
                        <tr>
                            <td class="text-center">
                                <?php $mminf = GF::memberinfo($list['user_id']); ?>
                                <?=$mminf['user_code']?><br />
                                    <?=$mminf['user_name']?>
                            </td>
                            <td class="text-center">
                                IN
                                <?=str_pad($list['id'],5,'0',STR_PAD_LEFT)?>
                            </td>
                            <td class="text-center">
                                <?=date("d-m-Y",strtotime($list['create_dtm']))?><br />
                                    <?=date("H:i:s",strtotime($list['create_dtm']))?>
                            </td>
                            <td class="text-center">
                                <?=number_format($list['wallet'],2)?>
                            </td>
                        </tr>
                        <?php } ?>
                        <tr class="success">
                            <td class="text-center" colspan="3"><b>รวม</b></td>
                            <td class="text-center">
                                <b><?=number_format($total,2)?></b>
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>