<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">รายการถอนเงิน</h3>
            <div class="pull-right">

            </div>

        </div>
        <div class="box-body">
            <div class="col-sm-12">
                <br />
                <form class="form-inline" id="searchFrm" onsubmit="return searchwithdraw();">
                    <input type="hidden" name="mode" value="searchwithdraw" />
                    <input type="submit" style="position: absolute; left: -9999px" />

                    <div class="form-group">
                        <label for="exampleInputName2">Start Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="start_date" name="start_date" placeholder="" value="<?=$_SESSION['report_withdrawrp_search']['start_date']?>">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName2">End Date</label>
                        <input type="text" data-date-format='dd/mm/yyyy' class="form-control datepickerx" id="end_date" name="end_date" placeholder="" value="<?=$_SESSION['report_withdrawrp_search']['end_date']?>">
                    </div>

                    <button type="button" class="btn btn-default" onclick="searchwithdraw();">ค้นหา</button>
                    <button type="button" class="btn btn-default" onclick="resetSearchwithdraw();">ยกเลิก</button>
                </form>
                <br />
            </div>
            <div class="col-sm-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td class="text-center">เวลา</td>
                            <td class="text-center">Approve</td>
                            <td class="text-center">ลูกค้า</td>
                            <td class="text-center">ธนาคาร</td>
                            <td class="text-center">ยอดเงิน</td>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach($withdrawList as $logs){ ?>
                        <tr>
                            <td class="text-center">
                                <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br />
                                    <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                            </td>
                            <td class="text-center">
                                <?=date("d-m-Y H:i:s",strtotime($logs['update_dtm']))?>
                            </td>
                            <td class="text-center">
                                <?php $membeinf = GF::memberinfo($logs['user_id']); ?>
                                <?=$membeinf['user_code']?><br />
                                    <?=$membeinf['user_name']?><br /> wallet : <b class="text-red"><?=number_format($membeinf['wallet'],2)?></b>
                            </td>

                            <td class="text-center">
                                <?php $msdata = GF::masterdata($logs['wd_bank']); ?>
                                <img style="max-width:32px;" src="<?=$msdata['master_value']?>" /><br />
                                <?=$msdata['master_name']?><br />
                                    <?=$logs['wd_number']?><br />
                                        <?=$logs['wd_name']?>
                            </td>
                            <td class="text-center"><b><?=number_format($logs['wd_total'],2)?></b></td>
                        </tr>
                        <?php } ?>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>