<section class="content-header">
    <h1>
        ระบบจัดการคำขอเปิดรหัส Shipping
        <small>Shipping request management</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการคำขอ</h3>
                    <div class="pull-right">

                    </div>

                </div>
                <div class="box-body table-responsive">
                    <div style="margin-bottom: 20px;">

                        <div class="clearfix"></div>
                    </div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>


                                <th>#</th>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <th style="text-align: center;">Agency</th>
                                <?php } ?>
                                <th style="text-align: center;">ชือลูกค้า</th>

                                <th style="text-align: center;">E-Mail</th>
                                <th style="text-align: center;">กลุ่มลูกค้า</th>
                                <th style="text-align: center;">เอกสาร</th>
                                <th style="text-align: center;">สถานะ</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if(count($reqList)>0){ ?>
                            <?php foreach($reqList as $list){ ?>
                            <?php $mm = GF::memberinfo($list['user_id']); //GF::print_r($mm); ?>
                            <tr>
                                <td>
                                    REQ
                                    <?=str_pad($list['req_id'],5,"0",STR_PAD_LEFT)?>
                                </td>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <td style="text-align: center;">
                                    <span class="text-blue"><?=GF::agencyname($mm['user_id'])?></span></td>
                                <?php } ?>
                                <td class="text-center">
                                    <?=$mm['user_name']?>
                                </td>
                                <td class="text-center">
                                    <?=$mm['user_email']?>
                                </td>
                                <td class="text-center">
                                    <?=$mm['position_name']?>
                                </td>
                                <td class="text-center">
                                    <?php
                                 $fl = explode('.',$list['file_path']);

                              ?>
                                        <?php if(end($fl)=='pdf'){ ?>
                                        <a href="<?=$BASEURL?>/uploads/shipping/<?=$list['file_path']?>" class="btn btn-info btn-sm" target="_blank">View</a>
                                        <?php }else{ ?>
                                        <button type="button" class="btn btn-info btn-sm" data-img="<?=$BASEURL?>/uploads/shipping/<?=$list['file_path']?>" onclick="viewReq(this);">View</button>
                                        <?php } ?>
                                        <br />
                                        <span><?=date('d-m-Y H:i:s',strtotime($list['update_dtm']))?></span>
                                </td>
                                <td class="text-center">
                                    <?php if($list['status']=='O'){ ?><span class="text-green">อนุมัติแล้ว</span>
                                    <?php } ?>
                                    <?php if($list['status']=='R'){ ?><span class="text-aqua">รออนุมัติ</span>
                                    <?php } ?>
                                    <?php if($list['status']=='N'){ ?><span class="text-red">ไม่อนุมัติ</span>
                                    <?php } ?>
                                </td>
                                <td class="text-center">
                                    <?php if($list['status']=='R'){ ?>
                                    <button type="button" onclick="updatereq('<?=$list['req_id']?>','Active');" class="btn btn-success">อนุมัติ</button>
                                    <button type="button" onclick="updatereq('<?=$list['req_id']?>','Inactive');" class="btn btn-warning">ไม่อนุมัติ</button>
                                    <?php } ?>
                                </td>
                            </tr>
                            <?php } ?>
                            <?php } ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <th style="text-align: center;">Agency</th>
                                <?php } ?>
                                <th style="text-align: center;">ชือลูกค้า</th>
                                <th style="text-align: center;">E-Mail</th>
                                <th style="text-align: center;">กลุ่มลูกค้า</th>
                                <th style="text-align: center;">เอกสาร</th>
                                <th style="text-align: center;">สถานะ</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <nav class="pull-right" style="margin-right: 3%;">
                        <ul class="pagination pagination-md">
                            <?php for($i=1;$i<=$allPage;$i++){ ?>
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/shipreq/?page=<?=$i?>">
                                    <?=$i?>
                                </a>
                            </li>
                            <?php } ?>

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</section>


<!-- Modal -->
<div class="modal fade" id="reqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">
                <img src="" id="reqimg" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>