 <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.3 Developed By TAOBAO CHINA CARGO
        </div>
        <strong>Copyright &copy; <?=date('Y')?> <a href="http://taobaochinacargo.com/">TAOBAO CHINA CARGO</a>.</strong> All rights reserved.
      </footer>
      
     