<header class="main-header">
    <!-- Logo -->
    <a href="#/dashboard/" class="logo " style="">
        <!--background-color: white; mini logo for sidebar mini 50x50 pixels <img src="<?=$BASEURL?>/assets/images/logo_mini.png"> <img src="<?=$BASEURL?>/assets/images/logo_full.png">-->
        <span class="logo-mini">TCC</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg" style="font-size: 17px;"><b>TAOBAO CHINA CARGO</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <?php if($memberinfo['agency']=='A'){ ?>
        <?php $true_url = $BASEURL."/register/?ref_id=".$memberinfo['id']; $ref_url = GF::shorturl($true_url); ?>
        <div style="    float: left;padding: 12px;margin: 0px;color: black; font-size: 18px;" class="well well-xs hidden">
            Agency Link :
            <?=$ref_url?>
        </div>
        <?php } ?>
        <!-- <select class="form-control pull-left" style="width: 150px; margin-top: 7px;" onchange="viewrates(this);">
          	<option value="">เลือกเรท</option>
          	<option value="1">เรทสั่งซื้อ</option>
          	<option value="2">เรทเติมเงิน</option>
          	<option value="3">เรทโอนเงิน</option>
          </select> -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <!--<li class="messages-menu">
                <a href="javascript:;" class="">
                  <i class="fa fa-clock-o"></i> <span class="text-white" id="the_time"><?=date('d/m/Y H:i')?></span>
                </a>
              </li>-->
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                        <i class="fa fa-rmb"></i>
                        <!-- <span class="label label-warning">10</span> -->
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Update
                            <?=date("d/m/Y",strtotime($getRateActive['rate1']['create_dtm']))?>
                        </li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 150px;">
                                <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                    <li>
                                        <a href="#dashboard/viewrate/1">
                                            <i class="fa fa-money text-aqua"></i> เรทสั่ง : <b><?=$getRateActive['rate1']['rate']?> <i class="fa fa-rmb"></i></b>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#dashboard/viewrate/2">
                                            <i class="fa fa-money text-aqua"></i> เรทเติม : <b><?=$getRateActive['rate2']['rate']?> <i class="fa fa-rmb"></i></b>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#dashboard/viewrate/3">
                                            <i class="fa fa-money text-aqua"></i> เรทโอน : <b><?=$getRateActive['rate3']['rate']?> <i class="fa fa-rmb"></i></b>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <!-- <li class="footer"><a href="#dashboard/viewrate/1">ดูทั้งหมด</a></li> -->
                    </ul>
                </li>
                <li class="dropdown user user-menu">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        <?php if($memberinfo['user_thumb']!=''){ ?>
                        <img src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfo['user_thumb']?>" class="user-image" alt="User Image" />
                        <?php }else{ ?>
                        <img src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="user-image" alt="<?=$memberinfo['user_name']?>" />
                        <?php } ?>
                        <span class="hidden-xs"><?=$memberinfo['user_name']?></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <?php if($memberinfo['user_thumb']!=''){ ?>
                            <img src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfo['user_thumb']?>" class="img-circle" alt="User Image" />
                            <?php }else{ ?>
                            <img src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="<?=$memberinfo['user_name']?>" />
                            <?php } ?>
                            <p>
                            
                                <?=$memberinfo['user_name']?> <br />
                                    <?=$memberinfo['position_name']?>
                                        <small>Member since <?=$memberinfo['user_start_date']?></small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#/user/editprofile/" class="btn btn-default btn-flat">Profile</a>

                            </div>
                            <div class="pull-right">
                                <a href="<?=$BASEURL?>/logout" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <!--<li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>-->
            </ul>
        </div>
    </nav>
</header>