<head>
    <meta charset="UTF-8">
    <title>TAOBAO CHINA CARGO</title>
    <!--<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>-->
    <meta name="viewport" content="width=1366">
    <!-- Bootstrap 3.3.4 -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="<?=$BASEURL?>/assets/template/adminlte/plugins/colorpicker/bootstrap-colorpicker.min.css">
    <!-- Date Picker -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="<?=$BASEURL?>/assets/template/adminlte/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- fullCalendar 2.2.5-->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css" media="print" />

    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>

    <!-- Theme style -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <link href="<?=$BASEURL?>/assets/css/style.css" rel="stylesheet" type="text/css" />

    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #3c8dbc;
            border-color: #367fa9;
            padding: 1px 10px;
            color: #fff;
        }
        
        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: #fff;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        BASEURL = '<?=$BASEURL?>';
        cnrate = <?=$cnrate?>;
        TRANSKEY = 'trnsl.1.1.20211105T041543Z.f7039b3a839d0879.bf88d8e72071052ce0c92738f34c73e53700bd7b';
    </script>
</head>