<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- jQuery UI 1.11.2 -->
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.2 JS -->
<script src="<?=$BASEURL?>/assets/template/adminlte/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Morris.js charts -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/morris/morris.min.js" type="text/javascript"></script>
<!-- Sparkline -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- jvectormap -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
<!-- jQuery Knob Chart -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/knob/jquery.knob.js" type="text/javascript"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
<!-- datepicker -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- bootstrap color picker -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<!-- bootstrap time picker -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
<!-- Slimscroll -->
<script src="<?=$BASEURL?>/assets/template/adminlte/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<!-- FastClick -->
<script src='<?=$BASEURL?>/assets/template/adminlte/plugins/chartjs/Chart.min.js'></script>
<!-- FastClick -->
<script src='<?=$BASEURL?>/assets/template/adminlte/plugins/fastclick/fastclick.min.js'></script>
<!-- AdminLTE App -->
<script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/app.min.js" type="text/javascript"></script>

<link href="<?=$BASEURL?>/assets/libs/summernote/summernote.css" rel="stylesheet">
<script src="<?=$BASEURL?>/assets/libs/summernote/summernote.js"></script>

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/pages/dashboard.js" type="text/javascript"></script> -->

<!-- AdminLTE for demo purposes -->
<script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/demo.js" type="text/javascript"></script>

<script type="text/javascript" src="<?=$BASEURL?>/assets/js/satnav-js-master/lib/satnav.js"></script>

<script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/script.js?v=2"></script>