<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel" style="    height: 90px;">
            <div class="pull-left image">
              <?php if($memberinfo['user_thumb']!=''){ ?>
              <img src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfo['user_thumb']?>" class="img-circle" alt="<?=$memberinfo['user_name']?>" />
              <?php }else{ ?>
                 <img src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="<?=$memberinfo['user_name']?>" />
              <?php } ?>
            </div>
            <div class="pull-left info">
              <p><?=$memberinfo['user_name']?></p>
              <p><?=$memberinfo['user_code']?></p>
              <p><?=$memberinfo['position_name']?></p>

              <!--<a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
            </div>
            <div class="clearfix">

            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <?php $countValue = 1; foreach($moduleList as $module){ ?>
            <?php if(count($module['item'])>=1){ ?>
            <li class="<?php if($countValue==1){ ?>active<?php } ?> treeview">
              <a href="javascript:;">
                <i class="<?=$module['icon']?>"></i> <span><?=$module['module_name']?></span> <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <?php foreach($module['item'] as $mitem){ ?>
                <li ><a href="#/<?=$module['module_prefix']?>/<?=$mitem['item_prefix']?>/"><i class="fa fa-circle-o"></i> <?=$mitem['item_name']?></a></li>
              <?php } ?>
              </ul>
            </li>
            <?php } else{ ?>
            <li class="<?php if($countValue==1){ ?>active<?php } ?> single-menu"><a href="#/<?=$module['module_prefix']?>/"><i class="<?=$module['icon']?>"></i> <span><?=$module['module_name']?></span></a></li>
            <?php } ?>
           	<?php $countValue++; } ?>

          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
