<div id="outbody" style="width: 70%;
border: 1px solid #aaaaaa;
border-radius: 5px;
font-size: 15px;
font-family: 'Tahoma';
color: #6b6b6b;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin:0 auto;
text-align:center;
-webkit-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);
box-shadow: 0px 7px 22px -8px rgba(0,0,0,0.75);">

    <div class="body">
        {MAIL_BODY}
    </div>

</div>