<style>
	.form-group .control-label {
		text-align: left;
	}

</style>


<section class="content-header">
  <h1>
   Import
    <small></small>
  </h1>
</section>

        <!-- Main content -->
<form id="takeOrder_Import" name="takeOrder_Import">
<input type="hidden" name="mode" value="additem"/>
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>ที่อยู่โกดังจีน
			</div>

			<div class="box-body" style="padding:3%;">



                  <?=$content['gen_field_1']?>




			</div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">



            </div>

			</div>
		</div>
	</div>

</section>
</form>
