<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   สั่งซื้อ + นำเข้า
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Order List
			</div>
			 
			<div class="box-body">
				<div class="col-lg-12" id="frmResult">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                           <i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_id']?></b></span>
                        </div>
                        <div class="panel-body">
                        	<div class="col-sm-8 col-sm-offset-1">
                            <form name="slipFrm" id="slipFrm" enctype="multipart/form-data">
                            	<input type="hidden" name="order_id" value="<?=$orderInfo['id']?>"/>
                            	<input type="hidden" name="mode" value="updateslip"/>
                            	<div class="form-group input-group">
                                    <span class="input-group-addon">ประเภทเติมเงิน</span>
                                   	<select class="form-control" id="payment_type" name="payment_type">
                                   		<option value="1">- โอนเงินสด -</option>
                                   	</select>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">เข้าบัญชีธนาคาร</span>
                                   	<select class="form-control" id="payment_bank" name="payment_bank">
                                   	<?php foreach($bank as $vals){ ?>
                                   		<option value="<?=$vals['id']?>"><?=$vals['description']?></option>
                                   	<?php } ?>
                                   	</select>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">วันที่โอน</span>
                                    <input maxlength="30" type="text" class="form-control" id="payment_date" name="payment_date">
                                    <span class="input-group-addon">01-01-2015</span>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">เวลาโอน</span>
                                    <input maxlength="20" type="text" onkeypress="numberonly(event);" class="form-control" id="payment_time" name="payment_time">
                                    <span class="input-group-addon">18.00</span>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">จำนวนเงิน</span>
                                    <input maxlength="20" onkeypress="numberonly(event);" type="text" class="form-control" id="payment_amount" name="payment_amount">
                                    <span class="input-group-addon">บาท (0.00)</span>
                                </div>
                                <div class="form-group input-group">
                                   
                                    <input type="file" class="form-control" id="payment_slip" name="payment_slip">
                                    <span class="input-group-addon">ไฟล์รูปภาพ</span>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">ข้อความ</span>
                                    <textarea maxlength="300" class="form-control" id="payment_comment" name="payment_comment"></textarea>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="panel-footer" style="text-align: center;">
                           	<a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                           	<button type="button" class="btn btn-primary btn-md" onclick="paymentUpdate();"> <i class="fa fa-floppy-o" ></i> แจ้งโอนเงิน</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="payResult" style="display: none;">
					  <div class="panel-body text-center">
					    ข้อมูลของท่านถูกส่งไปยังระบบเรียบร้อยแล้ว<br />
					    <a href="#/shipping/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
					    <a href="#/payment/paymentlist/" class="btn btn-default btn-md">ดูรายการชำระเงิน</a>
					</div>
				</div>
             </div>  
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>




