<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Import
        <small></small>
    </h1>
</section>
<?php //GF::print_r($_SESSION); ?>

<!-- Main content -->
<form id="takeOrder_Import" name="takeOrder_Import">
    <input type="hidden" name="mode" value="additem" />
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <i class="fa fa-shopping-cart"></i>Order
                    </div>

                    <div class="box-body">


                        <div class="col-lg-12">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-list"></i> แอดเลขแทรคจีน
                                </div>
                                <div class="panel-body form-horizontal">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Tracking No.</label>
                                        <div class="col-sm-8">
                                            <input maxlength="50" type="text" class="form-control" id="tracking_no" name="tracking_no" placeholder="Tracking No.">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel panel-info" style="height:180px;">
                                            <div class="panel-heading">
                                                <i class="fa fa-truck"></i> ประเภทสินค้า
                                            </div>
                                            <div class="panel-body">

                                                <!--<input type="radio" name="item_typs_s" value="ปกติ"/> ปกติ
			                        	<br />
			                        	<input type="radio" name="item_typs_s" value="มอก."/> มอก.
			                        	<br />
			                        	<input type="radio" name="item_typs_s" value="อย."/> อย.
			                        	<br />
			                        	<input type="radio" name="item_typs_s" value="ลิขสิทธิ์"/> ลิขสิทธิ์
			                        	<br />
			                        	<input type="radio" name="item_typs_s" value="C"/> อื่น ๆ โปรดระบุ
			                        	<br />
			                        	<input type="text" name="item_typs_o" class="form-control" style="width: 30%;"/>-->
                                                <div class="col-sm-12">
                                                    <select class="form-control" name="item_typs_s">
										      <?php $shipby = GF::masterdataList('1'); ?>
										      <?php foreach($shipby as $master){ ?>
										      	<option value="<?=$master['id']?>"><?=$master['master_name']?></option>
										      <?php  } ?>
										      </select>
                                                </div>

                                            </div>
                                            <div class="panel-footer">
                                                จำนวนกล่อง(หากทราบ)
                                                <div class="clearfix"></div>
                                                <input type="text" onkeypress="numberonly(event);" name="num_box" class="form-control pull-left" style="width: 50%;" />
                                                <div class="pull-left" style="padding-left:10px;padding-top:15px;">กล่อง</div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="panel panel-info" style="height:180px;">
                                            <div class="panel-heading">
                                                <i class="fa fa-image"></i> รูปภาพ
                                            </div>
                                            <div class="panel-body horizontal">
                                                <div class="form-group">
                                                    <label for="img_file" class="col-sm-12 control-label">เลืกไฟล์รูปภาพ</label>
                                                    <div class="col-sm-12">
                                                        <input type="file" class="form-control" id="img_file" name="img_file" placeholder="Image File">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-lg-12">
			                    <div class="panel panel-info">
			                        <div class="panel-heading">
			                           <i class="fa fa-truck"></i> การส่งสินค้า จีน-ไทย
			                        </div>
			                        <div class="panel-body">
			                        	<input type="radio" name="order_ship_cn" value="A"/> ทางรถ ระยะเวลา 5-7 วันจากโกดังจีนมาโกดังไทย(10-17)วันนับจากวันที่เริ่มสั่งซื้อสินค้า อาจช้ากว่าในกรณีเป็นสินค้าสั่งผลิด/พรีออเดอร์/มีภัยธรรมชาติ/ด่านตรวจเข้มกว่าปกติ ซึ่งถ้าร้านค้าจีนส่งของแล้วจะไม่สามรถคืนเงินได้
			                        	<br />
			                        	<input type="radio" name="order_ship_cn" value="B"/> ทางเรือ ระยะเวลา 10-17 วัน รับเฉพาะสินค้า 1 CBM ขึ้น หรือ 100 kg
			                        </div>
			                    </div>
			                 </div>-->


                                    <div class="col-lg-4">
                                        <div class="panel panel-info" style="height:180px;">
                                            <div class="panel-heading">
                                                <i class="fa fa-info"></i> บันทึกช่วยจำ
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-xs-12">
                                                    <textarea maxlength="300" name="order_comment" class="form-control" rows="4"></textarea>
                                                </div>

                                            </div>
                                            <!--<div class="panel-footer" style="text-align: center;">
			                        	<button type="button" class="btn btn-warning btn-lg" onclick="takeorder();"> <i class="fa fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
			                        </div>-->
                                        </div>
                                    </div>
                                    <div class="col-lg-12 hidden">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <i class="fa fa-cube"></i> ตีลังไม้
                                            </div>
                                            <div class="panel-body">
                                                <input type="radio" name="order_box" value="A" /> ตีลังไม้
                                                <br />
                                                <input type="radio" name="order_box" value="B" /> ไม่ตีลังไม้
                                                <br />
                                                <!-- <input type="radio" name="order_box" value="C"/> ตีลังไม้ (กรณีร้านจีนไม่ให้ความร่วมมือไม่ตีมาทางเราจะไม่รับผิดชอบ กรณีเสียหายใด ๆ ทั้งสิ้น) -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer" style="text-align: center;">
                                    <button type="reset" class="btn btn-default">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-success" onclick="addItemImp();">เพิ่ม</button>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <i class="fa fa-list"></i> รายการสินค้า
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <?php if(count($_SESSION['item_imp'])>0){ ?>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tracking No.</th>
                                                    <!-- <th>การส่งสินค้า จีน-ไทย</th> -->
                                                    <!--<th>ตีลังไม้</th>-->
                                                    <th>หมายเหตุ</th>
                                                    <th>manage</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($_SESSION['item_imp'] as $key=>$vals){ ?>
                                                <tr>
                                                    <td>
                                                        <?php if($vals['img_file']!=NULL){ ?>
                                                        <img width="80" src="<?=$BASEURL?>/uploads/temp/<?=$vals['img_file']?>" />
                                                        <?php }else{ ?> -
                                                        <?php } ?>
                                                    </td>
                                                    <td>
                                                        <?=$vals['tracking_no']?>
                                                    </td>
                                                    <!-- <td><?php
                                            	if($vals['order_ship_cn']=='A'){
													echo 'ทางรถ';
												}
												if($vals['order_ship_cn']=='B'){
													echo 'ทางเรือ';
												}
                                             ?></td> -->


                                                    <!--<td>
                                                        <?php
                                            	if($vals['order_box']=='A'){
													echo 'ตีลังไม้';
												}
												if($vals['order_box']=='B'){
													echo 'ไม่ตีลังไม้';
												}
												if($vals['order_box']=='C'){
													echo 'ตีลังไม้ (กรณีร้านจีนไม่ให้ความร่วมมือไม่ตีมาทางเราจะไม่รับผิดชอบ กรณีเสียหายใด ๆ ทั้งสิ้น)';
												}

                                             ?>
                                                    </td>-->

                                                    <td>
                                                        <?=$vals['order_comment']?>
                                                    </td>
                                                    <td><button type="button" class="btn btn-danger btn-sm" onclick="removeItemImp('<?=$key?>')">ลบ</button></td>
                                                </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                        <?php } ?>
                                        <?php //print_r($_SESSION['item_imp']); ?>
                                    </div>

                                    <div class="panel-footer" style="text-align: center;">

                                        <button type="button" class="btn btn-warning btn-lg" onclick="takeorderImp();">บันทึก</button>

                                    </div>
                                </div>
                            </div>



                        </div>






                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-footer" style="margin-left: 10%">

                        <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                    </div>
                    <!-- /.box-footer -->

                </div>
            </div>
        </div>

    </section>
</form>