<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   Import
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Order List
			</div>
			 
			<div class="box-body">
				<div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left"><i class="fa fa-list"></i>  รายการแอดเลขแทรคจีน</div>
                           <div class="pull-right">
                           		<!--<a href="<?=BASEURL?>/member/order_1/track/ALL" class="btn btn-primary"><i class="fa fa-bars"></i> รายการสั่งซื้อ</a>
                           		<a href="<?=BASEURL?>/member/order_1/track/C" class="btn btn-danger"><i class="fa fa-times"></i> รายการยกเลิก</a>
                           		<a href="<?=BASEURL?>/member/order_1/track/A" class="btn btn-success"><i class="fa fa-check"></i> รายการสำเร็จ</a>-->
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
							      <thead>
							        <tr>
							          <th>Order No</th>
							          <th style="text-align: center;">จำนวน</th>
							          <th style="text-align: right;">ยอด/ค้างชำระ</th>
							          <th style="text-align: center;">สถานะ</th>
							          <th style="text-align: center;">วันที่สั่งซื้อ</th>
							          <th style="text-align: center;">หมายเหตุ</th>
							          <th style="text-align: center;">คำสั่ง</th>
							        </tr>
							      </thead>
							      <tbody>
							      <?php foreach($orderList['data'] as $key=>$odr){ ?>
								 
							        <tr>
							          <td>
							          	
							          	<span class="black"><?=$odr['order_id']?></span>
							          </td>
							          <td style="text-align: center;">
							          	<span class="black"><?=$odr['items']?></span>
							          	
							          </td>
							          
							          <td class="text-right">
							          	<?=number_format($odr['countprice']['product_price_thb'],2)?>/<b><?=number_format(($odr['countprice']['product_price_thb']-$odr['order_price']),2)?></b>
							          	<?php if($odr['status']=='E' || ($odr['order_price']<$odr['countprice']['product_price_thb'] && $odr['status']!='W' && $odr['status']!='C' )){ ?>
							          	<br />
							          	<a href="#/shipping/confirmpayment/<?=$odr['id']?>" class="btn btn-info btn-xs">แจ้งชำระเงิน</a>
							          	<?php } ?>
							          </td>
							          <td style="text-align: center;">
							          	<?php 
							           	$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='S'){
											$color_status = 'green';
										}
										if($odr['status']=='OR'){
											$color_status = 'pink';
										}
										if($odr['status']=='PM'){
											$color_status = 'brown';
										}
										if($odr['status']=='E'){
											$color_status = 'orange';
										}
							          ?>
							          	<span style="color:<?=$color_status?>;"><?=$odr['status_text']?></span>
							          </td>
							          <td style="text-align: center;">
							          	<span class="black"><i class="fa fa-clock-o"></i> วันที่ <?=$odr['create_dtm']?></span><br />
							          	<?php if($odr['update_dtm']!='0000-00-00 00:00:00'){ ?>
							          	<span class="black"><i class="fa fa-clock-o"></i> ล่าสุด <?=$odr['update_dtm']?></span>
							          	<?php } ?>
							          </td>
							          <td style="text-align: center;">
							          	<?php if($odr['order_comment']!=''){ ?>
							          	<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="<?=$odr['order_comment']?>">Message</a>
							          	<?php }else{ ?>
							          	-
							          	<?php } ?>
							          </td>
							          <td style="text-align: center;">
							          	<a href="#/shipping/view/<?=$odr['id']?>" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> เปิดดูข้อมูล</a>
							          	
							          </td>
							        </tr>
							      <?php } ?>  
							      </tbody>
							    </table>
							    
							    <nav class="pull-right" style="margin-right: 3%;">
								  <ul class="pagination pagination-md">
								    <?php for($i=1;$i<=$allPage;$i++){ ?>
								    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/shipping/orderlist/?page=<?=$i?>"><?=$i?></a></li>
								    <?php } ?>

								  </ul>
								</nav>
                        </div>
                        
                    </div>
                </div>
			</div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>




