<style>
	.form-group .control-label {
		text-align: left;
	}

</style>


<section class="content-header">
  <h1>
   Import
    <small></small>
  </h1>
</section>

        <!-- Main content -->

<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>ยื่นเอกสารขอเปิดรหัส Shipping
			</div>

			<div class="box-body" style="padding:3%;">

			    <?=$content['gen_field_1']?>

			</div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			<div class="col-xs-12">
				<?php if(count($regis)==0){ ?>
				<form class="form-inline" id="reqFrm" enctype="multipart/form-data">
					<input type="hidden" name="mode" value="addregister"/>
				  <div class="form-group">
				    <label for="exampleInputFile">เลือกไฟล์</label>
				    <input type="file" id="file_img" name="file_img">
				    <p class="help-block">.png, .jpg, .pdf only.</p>
				  </div>

				  <button type="button" class="btn btn-default" onclick="saveRegister();">ส่งเอกสาร</button>
				</form>
				<?php }else{ ?>
					<?php if($regis['status']=='R'){ ?>
					<div class="alert alert-info text-center" role="alert"><strong>รอตรวจสอบ : </strong>ระบบได้รับเอกสารของท่านแล้ว</div>
					<?php } ?>
					<?php if($regis['status']=='N'){ ?>
					<div class="alert alert-warning text-center" role="alert"><strong>ไม่อนุมัติ : </strong>กรุณาส่งเอกสารใหม่</div>
					<br />
					<form class="form-inline" id="reqFrm" enctype="multipart/form-data">
						<input type="hidden" name="mode" value="addregister"/>
					  <div class="form-group">
					    <label for="exampleInputFile">เลือกไฟล์</label>
					    <input type="file" id="file_img" name="file_img">
					    <p class="help-block">.png, .jpg only.</p>
					  </div>

					  <button type="button" class="btn btn-default" onclick="saveRegister();">ส่งเอกสาร</button>
					</form>
					<?php } ?>
				<?php } ?>

			</div>


            </div>

			</div>
		</div>
	</div>

</section>

<?php if(count($regis)==0){ ?>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <span class="pull-left">สมัคร Shipping</span>
         <span class="pull-right"><i class="fa fa-times-circle-o fa-2x" style="cursor: pointer;" onclick="closemodal();"></i></span>
         <div class="clearfix"></div>
      </div>
      <div class="modal-body">
         <?=$content3['gen_field_1']?>
      </div>
      <div class="modal-footer text-center" style="text-align:center !important;">
       <input type="checkbox" id="isAgeSelected" /> ยอมรับข้อตกลง <br /><br /><button type="button" class="btn btn-primary " onclick="acceptRegister();">ยืนยันการเปิด Shipping Member</button>
        <button type="button" class="btn btn-default " onclick="closemodal();">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>
<?php } ?>

<script>
   function closemodal(){
      $('#myModal').modal('hide');
      preload('show');
      setTimeout(function(){
         location.hash = '/';
      },800);
   }

</script>
