<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   Import
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ
			</div>
			 
			<div class="box-body">
				
				<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_id']?></b></span>, สถานะ :
                           <?php 
							           	$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='S'){
											$color_status = 'green';
										}
										if($odr['status']=='OR'){
											$color_status = 'pink';
										}
										if($odr['status']=='PM'){
											$color_status = 'brown';
										}
										if($odr['status']=='E'){
											$color_status = 'orange';
										}
							          ?>
							          	<span style="color:<?=$color_status?>;"><?=$orderInfo['status_text']?></span>
                           
                           </div>
                           <div class="pull-right">
                           	
                           	
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table table-hover">
							      <thead>
							      	<!--<tr>
							          <th>ชื่อสินค้า / ร้าค้า</th>
							          <th></th>
							          <th>ราคา</th>
							          <th></th>
							          <th></th>
							          <th></th>
							        </tr>-->
							        <tr>
							          <!--<th>รายการ</th>
							          <th>ชื่อสินค้า / ร้าค้า</th>
							          <th></th>
							          <th>ราคา</th>
							          <th>สั่งซื้อ</th>
							          <th>จีน-จีน</th>
							          <th>จีน-ไทย</th>
							          <th>รวมทั้งหมด</th>
							          <th>สถานะ</th>
							          <th>เพิ่มเงิน</th>
							          <th>คืนเงิน</th>
							          <th>หมายเหตุ</th>-->
							          <!--<?php if($orderInfo['status']=='W'){ ?><th>ลบ</th><?php } ?>-->
							        </tr>
							      </thead>
							      <tbody>
							      		<tr>
                                          <th style="text-align: center;" colspan="2">รายการ</th>
                                          <th style="text-align: center;"><nobr>สถานะ</nobr></th>
                                          <th style="text-align: center;"><nobr>หมายเหตุ</nobr></th>
								          
								          <th style="text-align: center;"><nobr>รวม (บาท)</nobr></th>
								          
                                    </tr>
							      <?php $total_all=0; $old_shop = ''; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; foreach($itemList as $vals){ ?>
							      <?php if($vals['item_typs_s']=='NR'){ ?>
							      <?php if($vals['product_saller_name']!=$old_shop){ ?>
							      		<tr bgcolor="#ffeaef">
							      			<!--<td></td>-->
							      			<td colspan="13">
							      				ร้านค้า : <a href="<?=$vals['product_saller_link']?>" target="_blank"><?=$vals['product_saller_name']?>?></a>
							      			</td>
							      		</tr>
							      <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; } ?>
							      		
							     
							     		
							     		
							     		<tr <?php if($vals['status']=='E'){ ?>class="bg-gray disabled color-palette"<?php } ?>>
								          <td width="60"><img class="thumbnail" style="width: 150px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>"/></td>
								          <td width="60%">
								          	<h5><?=$vals['product_sku_1']?></h5><br /><br />
								          	ประเภทสินค้า : <b><?php $cvmaster = GF::masterdata($vals['order_type']); echo $cvmaster['master_name']; ?></b>
								          	<br />
								          	ประเภทการนำเข้า : <b><?php $cvmaster = GF::masterdata($vals['ship_by']); echo $cvmaster['master_name']; ?></b>
								          
								          </td>
								          <td>
								          <nobr>
								          <?php $cvmaster = GF::masterdataval('3',$vals['status']); echo $cvmaster['master_name']; ?>
								          </nobr>
								          </td>
								          <td>
								          	<textarea data-key="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;" class="form-control hidden"><?=$vals['note']?></textarea><?=$vals['note']?>
								          </td>
								         
								          <td style="text-align: center;"><?=number_format($vals['product_price_thb'],2)?></td>
								          
								          
								        </tr>
							      <?php $total_all=$total_all+$vals['product_price_thb'];   $cn_cn = $cn_cn+$vals['ship_cn_cn'];$cn_th = $cn_th+$vals['ship_cn_th']; $ck++; } ?>
							      <?php } ?>
							      <?php foreach($itemList as $vals){ ?>
							      		<?php if($vals['item_typs_s']!='NR'){ ?>
							      		<tr>
							      			
								      		<td class="text-center">
								      			<?php if($vals['item_typs_s']=='DE'){ ?>
								      			<span class="text-red">คืนเงิน</span>
								      			<?php }else{ ?>
								      			<span class="text-green">เพิ่มเงิน</span>
								      			<?php } ?>
								      		</td>
								      		<td>
								      			<b><?=$vals['product_title']?></b>
								      			
									          	
								      		</td>
								      		<td>-</td>
								      		<td><?=$vals['note']?></td>
								      		<!--<td class="text-center">
								      			<?=$vals['product_price_rmb']?>/<?=$orderInfo['rate']?>
								      		</td>-->
								      		<!--<td class="text-right">
								      			<?=$vals['product_qty']?> 
								      		</td>-->
								      		<td class="text-right">
								      			<?=$vals['product_price_thb']?>
								
								      		</td>
								      		
								      	</tr>
							      		
							      		<?php 
							      			if($vals['item_typs_s']=='DE'){
							      				$total_all=$total_all-$vals['product_price_thb'];
							      			}else{
							      				$total_all=$total_all+$vals['product_price_thb'];
							      			}
							      		 ?>
							      		<?php  } ?>
							      		
							      <?php } ?>
							      </tbody>
							    </table>
                        </div>
                        <div class="panel-footer">
                           	<div class="col-md-6">
                           		วันที่ทำรายการ : <b><?=$orderInfo['create_dtm']?></b><br />
                           		
                           	</div>
                           	<div class="col-md-6">
                           		<!--ค่าขนส่งสินค้า จีน-จีน : <span style="color: red;"><b><?=$cn_cn?></b></span> หยวน<br />
                           		ค่าขนส่งสินค้า จีน-ไทย : <span style="color: red;"><b><?=$cn_th?></b></span> บาท<br />-->
                           		<!--ค่าขนส่งสินค้า ไทย-ไทย : <span style="color: red;"><b>0</b></span> บาท<br />-->
                           	</div>
                           	<div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12" style="text-align: right;">
                	
                	<a href="#/shipping/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                	<?php if($orderInfo['status']=='W'){ ?><button onclick="cancelOrder('<?=$orderInfo['id']?>','1');" type="button" class="btn btn-warning btn-md"> <i class="fa fa-times"></i> ยกเลิกการสั่งซื้อ</button><?php } ?>
                </div>
                <div class="col-xs-12" style="text-align: center;">
                	<h3>รวมทั้งสิ้น <span style="color: red;"><b><?=number_format($total_all,2)?></b></span> บาท</h3>
                </div>
                
			</div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>




