<section class="content-header">
    <h1>
        คู่มือ

    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการคู่มือ</h3>
                    <div class="pull-right">

                    </div>

                </div>
                <div class="box-body table-responsive">
                    <div style="margin-bottom: 20px;">

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled">
                                <i class="fa fa-shopping-cart"></i> Order
                            </a>
                            <?php foreach($orderList as $list){ ?>
                            <a href="#/manual/info/?id=<?=$list['content_id']?>" class="list-group-item">
                                <?=$list['content_name_th']?>
                            </a>
                            <?php } ?>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled">
                                <i class="fa fa-truck"></i> Shipping
                            </a>
                            <?php foreach($shippingList as $list){ ?>
                            <a href="#/manual/info/?id=<?=$list['content_id']?>" class="list-group-item">
                                <?=$list['content_name_th']?>
                            </a>
                            <?php } ?>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>