<section class="content-header">
    <h1>
        คู่มือ

    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <?=$info['content_name_th']?>
                    </h3>
                    <div class="pull-right">
                        <a href="#/manual/" class="btn btn-default"><i class="fa fa-angle-left"></i> กลับหน้าคู่มือ</a>
                    </div>

                </div>
                <div class="box-body table-responsive">
                    <div style="margin-bottom: 20px;">

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12">
                        <?=$info['content_desc_th']?>
                    </div>

                </div>

            </div>
        </div>
    </div>

</section>