<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>

<section class="content-header">
    <h1>
        Profile
        <small>Profile Management</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">Edit My Profile</h3>

                </div>
                <form class="form-horizontal" id="createFrm" name="createFrm">

                    <input type="hidden" name="mode" value="profile" />
                    <input type="hidden" name="user_id" value="<?=$memberinfomation['id']?>" />
                    <input type="hidden" name="old_thumb" value="<?=$memberinfomation['user_thumb']?>" />
                    <input type="hidden" name="user_role_id" value="<?=$memberinfomation['user_role_id']?>" />

                    <div class="box-body">


                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">รหัสสมาชิก</label>
                            <div class="col-sm-5">
                                <h2>
                                    <?=$memberinfomation['user_code']?>
                                </h2>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">รูปภาพ</label>
                            <?php if(!empty($memberinfomation['user_thumb'])){ ?>
                            <div class="col-sm-2">
                                <img class="img-responsive" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfomation['user_thumb']?>" />
                            </div>
                            <?php } ?>
                            <div class="col-sm-5">
                                <input type="file" class="" id="user_image" onchange="checkFileType(this);" name="user_image" placeholder="Image">
                                <p class="help-block">Allow For .JPG ,.PNG or .GIF only. (105px X 105px)<br />Max file size 5MB.</p>
                            </div>

                        </div>
                        <div class="form-group" style="display: none;">
                            <label for="user_name" class="col-sm-2 control-label">First Name - Last Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_code" name="user_code" placeholder="First Name - Last Name" value="<?=$memberinfomation['user_code']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ชื่อ - นามสกุล</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="ชื่อ - นามสกุล" value="<?=$memberinfomation['user_name']?>">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="user_nickname" class="col-sm-2 control-label">Nick Name</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_nickname" name="user_nickname" placeholder="Nick Name" value="<?=$memberinfomation['user_nickname']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_email" class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-5">
                                <input type="email" class="form-control" id="user_email" name="user_email" placeholder="Email" value="<?=$memberinfomation['user_email']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_phone_number" class="col-sm-2 control-label">เบอร์โทร</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_phone_number" name="user_phone_number" placeholder="เบอร์โทร" value="<?=$memberinfomation['user_phone_number']?>" onkeypress="numberonly(event);">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_birthdate" class="col-sm-2 control-label">วันเกิด</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control my_date" id="user_birthdate" name="user_birthdate" placeholder="วันเกิด" value="<?=$memberinfomation['user_birthdate']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_address" class="col-sm-2 control-label">ที่อยู่</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_address" name="user_address" placeholder="ที่อยู่" value="<?=$memberinfomation['user_address']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_province" class="col-sm-2 control-label">จังหวัด</label>
                            <div class="col-sm-5">
                                <select class="form-control" onchange="changeProvince(this);" id="province" name="province">
                                    <option  value="0">
                                        เลือกจังหวัด
                                    </option>
                                    <?php foreach($province as $plist){ ?>
                                        <option value="<?=$plist['PROVINCE_ID']?>" <?php if($memberinfomation['province']==$plist['PROVINCE_ID']){ ?>selected=""<?php } ?>>
                                        <?=$plist['PROVINCE_NAME']?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group has-feedback" id="amphur">
                            <?php if(count($amphur)>0){ ?>
                            <label for="user_province" class="col-sm-2 control-label">อำเภอ</label>
                            <div class="col-sm-5">
                                <select class="form-control" onchange="changeAmphur(this);" id="amphur" name="amphur">
                                    <option value="0">
                                        เลือกอำเภอ
                                    </option>
                                    <?php foreach($amphur as $alist){ ?>
                                        <option value="<?=$alist['AMPHUR_ID']?>" <?php if($memberinfomation['amphur']==$alist['AMPHUR_ID']){ ?>selected=""<?php } ?>>
                                        <?=$alist['AMPHUR_NAME']?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </div>
                            <?php } ?>
                        </div>
                        <div class="form-group has-feedback" id="district">
                            <?php if(count($district)>0){ ?>
                            <label for="district" class="col-sm-2 control-label">ตำบล</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="district" name="district">
                                    <option value="0">
                                        เลือกตำบล
                                    </option>
                                    <?php foreach($district as $dlist){ ?>
                                        <option value="<?=$dlist['DISTRICT_ID']?>" <?php if($memberinfomation['district']==$dlist['DISTRICT_ID']){ ?>selected=""<?php } ?>>
                                        <?=$dlist['DISTRICT_NAME']?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </div>
                            <?php } ?>
                        </div>
                        <div class="form-group">
                            <label for="user_post" class="col-sm-2 control-label">รหัสไปรษณีย์</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_post" name="user_post" placeholder="รหัสไปรษณีย์" value="<?=$memberinfomation['user_post']?>" onkeypress="numberonly(event);">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_line_id" class="col-sm-2 control-label">Line ID</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_line_id" name="user_line_id" placeholder="Line ID" value="<?=$memberinfomation['user_line_id']?>">
                            </div>
                        </div> 

                        <?php $banklist = GF::masterdataList('7'); ?>       
                        <div class="form-group">
                            <label for="bank_id" class="col-sm-2 control-label">ธนาคาร</label>
                            <div class="col-sm-5">
                                <select class="form-control" id="bank_id" name="bank_id">
                                    <option value="0">
                                        เลือกธนาคาร
                                    </option>
                                    <?php foreach($banklist as $vals){ ?>
                                        <option value="<?=$vals['id']?>" <?php if($memberinfomation['bank_id']==$vals['id']){ ?>selected=""<?php } ?>>
                                            <?=$vals['master_name']?>
                                        </option>
                                    <?php } ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_bookbank" class="col-sm-2 control-label">เลขบัญชีธนาคาร</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_bookbank" name="user_bookbank" placeholder="Bookbank" value="<?=$memberinfomation['user_bookbank']?>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_bookbank_name" class="col-sm-2 control-label">ชื่อบัญชีธนาคาร</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="user_bookbank_name" name="user_bookbank_name" placeholder="Bookbank" value="<?=$memberinfomation['user_name']?>" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_username" class="col-sm-2 control-label">Username</label>
                            <div class="col-sm-5">
                                <input type="hidden" class="form-control" id="user_username" name="user_username" placeholder="Username" value="<?=$memberinfomation['user_username']?>">
                                <?=$memberinfomation['user_username']?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="user_password" name="user_password" placeholder="Password">
                            </div>
                        </div>




                    </div>
                    <div class="box-footer" style="margin-left: 10%">
                        <a href="#/dashboard/" class="btn btn-success pull-right">Back To Dashboard</a>

                        <button type="button" class="btn btn-primary" onclick="saveUser();">Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>

</section>