<section class="content-header">
    <h1>
        User List
        <small>User Management</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <div class="pull-right">
                        <?php if($button_edit){ ?>
                        <!--<a href="#/user/create" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create User</a>-->
                        <?php } ?>
                    </div>

                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <br />
                        <form class="form-inline" id="searchFrm" onsubmit="return searchMember();">
                            <input type="hidden" name="mode" value="searchmember" />
                            <input type="submit" style="position: absolute; left: -9999px" />

                            <div class="form-group">
                                <label for="exampleInputName2">รหัสลูกค้า</label>
                                <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['member_search']['user_code']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">ชื่อลูกค้า</label>
                                <input type="text" class="form-control" id="user_name" name="user_name" value="<?=$_SESSION['member_search']['user_name']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">E-Mail</label>
                                <input type="text" class="form-control" id="user_email" name="user_email" value="<?=$_SESSION['member_search']['user_email']?>" placeholder="">
                            </div>
                            <div class="clearfix"></div><br />
                            <div class="form-group">
                                <label for="exampleInputName2">วันเกิด</label>
                                <input type="text" class="form-control my_date" id="user_birthdate_start" name="user_birthdate_start" value="<?=$_SESSION['member_search']['user_birthdate_start']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">to</label>
                                <input type="text" class="form-control my_date" id="user_birthdate_end" name="user_birthdate_end" value="<?=$_SESSION['member_search']['user_birthdate_end']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">Group</label>
                                <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="user_role_id">
					          	<option value="ALL" <?php if($_SESSION['member_search']['user_role_id']=='ALL'){ ?>selected=""<?php } ?>>ทั้งหมด</option>
                                  <?php foreach($grouplist as $groupl){ ?>
					          	<option value="<?=$groupl['role_id']?>" <?php if($_SESSION['member_search']['user_role_id']==$groupl['role_id']){ ?>selected=""<?php } ?>><?=$groupl['role_name']?></option>
                                  <?php } ?>
                                  

					        </select>
                            </div>
                            <!-- <div class="form-group">
						    <label for="exampleInputName2">วันที่สั่งซื้อ</label>
						    <input type="text" class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odrbuy_search']['create_dtm']?>">
						  </div> -->
                            <button type="button" class="btn btn-default" onclick="searchMember();">ค้นหา</button>
                            <button type="button" class="btn btn-default" onclick="resetSearchMember();">ยกเลิก</button>
                        </form>
                        <br />
                    </div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <th style="text-align: center;">Agency</th>
                                <?php } ?>
                                <th width="10%">Thumb</th>
                                <th>Name</th>
                                <th>ชื่อเล่น</th>
                                <th>E-Mail</th>
                                <!--<th>Position</th>-->
                                <th>Group</th>
                                <th>Birth Date</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($memberList as $members){ ?>
                            <tr>
                                <td width="70"><b><?=$members['user_code']?></b></td>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <td style="text-align: center;">
                                    <span class="text-blue"><?=GF::agencyname($members['id'])?></span></td>
                                <?php } ?>
                                <td align="center">
                                    <?php if($members['user_thumb']!=''){ ?>
                                    <img width="50" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$members['user_thumb']?>" class="img-circle" alt="User Image" />
                                    <?php }else{?>

                                    <img width="50" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
                                    <?php } ?>
                                </td>
                                <td>
                                    <?=$members['user_name']?>
                                        <!--<br />[
                                        <?=$members['user_nickname']?> ]-->
                                </td>
                                <td>

                                    <?=$members['user_nickname']?>
                                </td>
                                <td>
                                    <?=$members['user_email']?>
                                </td>
                                <!--<td><?=$members['position_name']?></td>-->
                                <td>
                                    <?=$members['role_name'];?>
                                        <?php if($members['agency_code']!=''){ ?>
                                        <br /> [CODE :
                                        <b class="text-green"><?=$members['agency_code']?></b>]
                                        <?php } ?>
                                        <!--
                        <?php if($members['status']=='P'){  ?>
                        	<span class="text-red">Probation</span>
                       	<?php } ?>
                       	<?php if($members['status']=='E'){  ?>
                        	<span class="text-green">Permanant</span>
                       	<?php } ?>
                       	<?php if($members['status']=='O'){  ?>
                        	<span class="text-yellow"><?=$members['other_status']?></span>
                       	<?php } ?>

                       	<?php if($members['active_status']=='C'){  ?>
                       	<br />
                       		<span class="text-red">User Retire</span>
                       	<?php } ?>-->
                                </td>
                                <td>
                                    <?php if($members['user_birthdate']!='0000-00-00'){ ?>
                                    <?=date("d-m-Y", strtotime($members['user_birthdate']))?>
                                        <?php } ?>
                                </td>

                                <td>
                                    <?php if($button_edit){ ?>
                                    <a href="#/user/edit/<?=$members['id']?>/" class="btn btn-success btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                    <?php } ?>
                                    <?php if($button_view){ ?>
                                    <a href="#/user/view/<?=$members['id']?>/" class="btn btn-info btn-flat hidden"><i class="fa fa-info"></i> View</a>
                                    <?php } ?>
                                    <?php if($button_delete){ ?>
                                    <button class="btn btn-danger btn-flat user-delete" data-id="<?=$members['id']?>"><i class="fa fa-trash"></i> Delete</button>
                                    <?php } ?>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th width="10%">Thumb</th>
                                <th>Name</th>
                                <th>ชื่อเล่น</th>
                                <th>E-Mail</th>
                                <!--<th>Position</th>-->
                                <th>Group</th>
                                <th>Start Date</th>

                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <nav class="pull-right" style="margin-right: 3%;">
                        <ul class="pagination pagination-md">
                            <li class=""><span class="pull-left"><a href="#/user/userlist/?page=1">First page</a></span></li>
                            <?php 
                        $c_page = intval($currpage);
                        if($c_page==0){
                            $c_page = 1;
                        }
                        $start = 1;
                        $end = 10;
                        if($c_page>=6){
                            $start = $c_page-4;
                            $end = $c_page+4;
                        }

                        if($end>=$allPage){
                            $end = $allPage;
                        }
                        ?>
                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                            <?php for($i=$start;$i<=$end;$i++) {?>
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/user/userlist/?page=<?=$i?>">
                                    <?=$i?>
                                </a>
                            </li>
                            <?php } ?>
                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</section>