<?php
use yii\helpers\Url;
$rate = floatval(Yii::$app->settings->get('money.rate'));
$data = json_decode($item,true);

//echo $isPromo;
//Yii::$app->session->destroy();

?>
<style>
           .skiptranslate, #google_translate_element {display: none;}
            body {min-height: 0px !important; position: static !important; top: 0px !important;}
        </style>
<!-- This line adds jquery to the page, otherwise the script tags at the bottom will not run -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Google Translate Element begin -->
    <script type="text/javascript">
        /*function googleTranslateElementInit() {
            $.when(
                new google.translate.TranslateElement({pageLanguage: 'zh-CN', includedLanguages: 'th',
                    layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT}, 'google_translate_element')
            ).done(function(){
                var select = document.getElementsByClassName('goog-te-combo')[0];
                select.selectedIndex = 1;
                select.addEventListener('click', function () {
                    select.dispatchEvent(new Event('change'));
                });
                select.click();
            });
        }*/
    </script>
<!--<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>-->
        <style>
           body {min-height: 0px !important; position: static !important; top: 0px !important;}
           a.goog-logo-link {
           display: none;
           }
</style>
<script type="text/javascript">
    $(document).ready(function () {
      var maxheight=60;
      var showText = "<button class=\"button button2\">อ่านเพิ่มเติม</button>";
      var hideText = "<button class=\"button button2\">ย่อรายละเอียด</button>";

      $('.textContainer_Truncate').each(function () {
        var text = $(this);
        if (text.height() > maxheight){
            text.css({ 'overflow': 'hidden','height': maxheight + 'px' });

            var link = $('<a href="#">' + showText + '</a>');
            var linkDiv = $('<div></div>');
            linkDiv.append(link);
            $(this).after(linkDiv);

            link.click(function (event) {
              event.preventDefault();
              if (text.height() > maxheight) {
                  $(this).html(showText);
                  text.css('height', maxheight + 'px');
              } else {
                  $(this).html(hideText);
                  text.css('height', 'auto');
              }
            });
        }
      });
   });
</script>
<div class="row" style="padding-left: 15px" id="detail">
  <div class="col-md-9" style="line-height: 1.5em;margin-top: 30px;background: #fcf8e3;
    padding: 15px;">
  <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane" :class="{active:pic==idx}" :id=imageId(idx) v-for="image,idx in item.item.item_imgs" ><img :src=image.url /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li :class="{active:thumb==idx}" v-for="image,idx in item.item.item_imgs">
              <a onclick="imgProduct(this)" :data-target=targetId(idx) data-toggle="tab">
                <img :src=image.url />
              </a>
            </li>
          </ul>
        </div>
        <div class="details col-md-6">
        <div class="row" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <p class="product-description">
        <div id="google_translate_element" style="float:right;margin-top:10px;">
        </div>
        <a :href=item.item.detail_url target="_blank"><button  class="btn btn-primary ">ไปที่เว็บจีน <i class="fa fa-link" aria-hidden="true"></i></button></a></p></div>
          <h3 class="product-title">{{item.item.title}}</h3>
          <h3 class="product-title">{{item.item.nick}}</h3>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <table style="margin-top: 15px" border="0" class="table">

              <?php
              if(isset($data["item"]["priceRange"])){
                foreach ($data["item"]["priceRange"] as $key => $value) {
                  echo "<tr>";

                  echo "<td class='table-primary' ><b>>".$value[0]."</b></td>";
                    echo "<td>¥ ".$value[1]."</td>";
                     echo "<td>THB ".number_format($value[1]*$rate,2)."</td>";
                  echo "</tr>";
                }
              }
              ?>
                </table>

          </div>
          <!--<p class="product-description"><a :href=item.link target="_blank">{{item.link}}</a></p>-->
          <h4 class="price">stock: <span id="currentStock">{{stock}} </h4>
          <p>* ในกรณีที่ สต็อก=0 ให้ลูกค้าเลือกซื้อสินค้าเดียวกันที่ร้านใหม่ค่ะ *</p>

          <div class="row">
            <div class="col-md-1">
               <h3 class="product-title">¥</h3>
            </div>
            <div class="col-md-3">
               <input  style="height: 25px;width: 100%;text-align: right;" id="product_price" name="product_price" type="number"  value="<?=$data["item"]["price"]?>" required>
            </div>
          </div>

          <h4 class="price">current price: <span id="tbh_price_span">THB {{formatPrice(price)}}</span> <small style="text-decoration: line-through;" v-if="isPromo = true">{{formatPrice(promoPrice)}}</small></h4>
          <p>* ในกรณีที่ราคาสินค้าที่แสดงไม่ตรงกับที่เว็บไซส์จีน ให้ลูกค้าใส่ราคาในช่องหมายเหตุได้เลยค่ะ *</p>
          <div class="row" style="margin-bottom:30px;">
            <div class="s-group">
              <p>ขนาด:</p>
              <div v-for="(size,idx) in cate.list_size" class="s-label" @click="getsize(idx)" :class=(select_size==idx)?'item-active':'' v-if="cate.list_size.length > 0">
                <a class="item-prop">{{size.size}}</a>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom:30px;">
            <div class="s-group">
              <p>หมวดหมู่:</p>
              <div v-for="(img,idx) in cate.list_img" class="s-label" @click="getcolor(idx)" :class=(select_color==idx)?'item-active':''>
                <a onclick="imgColor(this)" class="item-prop" v-if="img.img_url">
                    <img :src=img.img_url width="40" height="40" :alt=img.code_color>
                </a>
                <a class="item-prop" :style="'width:33px;height:33px;color:'+img.code_color+';'" v-else>
                  {{img.code_color}}
                </a>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
             <form id="form_upload">
               <table width="100" border="0" class="table">
                <tr>
                  <td style="" width="100">รูปแนบ</td>

                  <td width="">
                      <img width="100%" id="pro_img_upload" class="img" style="display: none">
                      <input id="input_upload" type="file" name="image" class="form-conto" required="required">



                  </td>
                  <td width="50">
                      <button onclick="delImg()" id="btn_del" type="button" class="btn btn-primary" style="display: none">ลบ</button>
                      <button id="btn_upload" type="submit" class="btn btn-primary">อัพโหลด</button>
                  </td>

                </tr>
              </table>
            </form>
                <table width="100" border="0" class="table">
                 <tr>
                   <td>หมายเหตุ</td>
                   <td>
                     <textarea id="product_remark" class="form-control" rows="3"></textarea>
                     <input type="hidden" id="img_url" value="">
                   </td>
                 </tr>
               </table>
            </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
               <h4 class="price">จำนวนขั้นต่ำ: <span id=""><?=$minNum?> </h4>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right">
              Quantity :
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <form id='myform' method='get'>
            <button type="button" class='qtyminus' field='quantity' >
               <span class="glyphicon glyphicon-plus"></span>
            </button>
            <input id="quantity-input" name="quantity" type="number"  value="<?=$minNum*1?>" v-model="quantity" required>
            <button type="button" class='qtyplus' field='quantity' >
               <span class="glyphicon glyphicon-plus"></span>
            </button>
            </form>
            </div>
          </div>

          <div class="row" style="margin-top:20px;">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-right">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <input type="hidden" id="provider" value="<?=$provider?>">
              <input type="hidden" id="shop" value="<?=$data['item']['nick']//=$data["vendor"]?>">
              <input type="hidden" id="itemId" value="<?=$data['item']['num_iid']//=$data["id"]?>">
              <input type="hidden" id="title" value="<?=$data['item']['title']//=$data["title"]?>">
              <input type="hidden" id="image" value="<?=$data['item']['pic_url']//=$data["mainImage"]?>">
              <input type="hidden" id="url" value="<?=$data['item']['detail_url']//=$data["link"]?>">
              <input type="hidden" id="price_cny" value="<?=$promotion_price//=($data["promoPrice"][0]["price"]!=$data["price"][0]["price"])?$data["promoPrice"][0]["price"]:$data["price"][0]["price"]?>">
              <input type="hidden" id="price" value="<?=$data['item']['price']*$rate//=($data["promoPrice"][0]["price"]!=$data["price"][0]["price"])?($data["promoPrice"][0]["price"] * $rate):($data["price"][0]["price"] * $rate)?>">
              <input type="hidden" id="price_original" value="<?=$data['item']['price']?>">
              <button id="addCart" @click="addCart" class="btn btn-warning">เลือกสินค้า</button>
              <button @click="addWishlist" class="btn " style="background-color: #fcf8e3 ">Wishlist</button>
            </div>
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:20px;">
            <p style="color:red;">** ห้ามมิให้สั่งซื้อสินค้าต้องห้าม และมีลิขสิทธิ์ทุกประเภท</p>
        </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <table style="margin-top: 15px" border="0" class="table">

              <?php

              foreach ($data["item"]["props"] as $key => $value) {
                echo "<tr>";

                echo "<td class='table-primary' ><b>".$value["name"]."</b></td>";
                  echo "<td>".$value["value"]."</td>";
                echo "</tr>";
              }

              ?>
                </table>
            </div>
    </div>



  <div class="col-md-3 col-sm-12" style=" margin-top: 30px;">
      <div class="container-fliud"  style="padding: 2px;padding-top: 10px;background-color: #fcf8e3;">
           <table class="table" id="cart_table">
        <?php if($cart != null){
          ?>

          <?php
           $total_pro = 0;
           $total_pro_original = 0;
                 foreach (json_decode($cart,true) as $key => $value):


                      $total_pro += $value["price"] *$value["quantity"];
                      if(isset($value["price_original"]))
                      {
                         $total_pro_original += $value["price_original"] *$value["quantity"];
                      }

                  ?>

                  <tr>
                       <td width="25%">
                        <?php
                          if(isset($value['color']))
                          {
                             if(isset($value['color']['img_url'])){
                            ?>
                              <img src="<?=$value['color']['img_url']?>" style="width:100%;">
                            <?php
                              }else{
                                ?>
                                  <img src="<?=$value["image"]?>" style="width:100%;">
                                <?php
                              }
                          }else{

                          ?>
                              <img src="<?=$value["image"]?>" style="width:100%;">
                            <?php
                          }
                        ?>


                      </td>
                       <td width="30%" align="center">
                          ฿ <?=number_format($value["price"],2)?>
                          <br>
                          <?php
                            if(isset($value["price_original"])){
                              echo "¥ ". number_format($value["price_original"],2);
                            }
                          ?>

                      </td>
                       <td width="35%" align="center">
                        <button onclick="delCartQty(<?=$key?>)">-</button>
                        <?=$value["quantity"]?>
                         <button onclick="addCartQty(<?=$key?>)">+</button>
                        </td>
                       <td width="10%" align="center"><button onclick="deleteCart(<?=$key?>)">x</button></td>
                  </tr>

                 <?php endforeach;

                 ?>
                 <?php
                 if(count(json_decode($cart,true))>0){
                  ?>
                      <tr>
                        <td></td><td>ราคารวม</td>
                        <td>
                          ฿ <?=number_format($total_pro,2)?>
                          <br>
                          ¥ <?=number_format( $total_pro_original,2)?>

                        </td><td></td>
                      </tr>
                     <tr><td colspan="4"><center><a style="margin-top: 10px" href="<?=Url::to(['/cart/addtocart'])?>"  class="btn btn-warning">หยิบใส่ตระกร้า</a></center></td></tr>
                  <?php
                 }else{
                  ?>
                    <tr>
                      <td align="center"> ไม่มีสินค้าที่เลือก</td>
                    </tr>
                  <?php
                 }
                 ?>


                 <?php
          }else{
            ?>
            <tr>
              <td align="center"> ไม่มีสินค้าที่เลือก</td>
            </tr>
            <?php
          }?>
        </table>


      </div>

  </div>





    <!-- Detail -->
    <div class="row col-lg-2 col-md-3 col-sm-12 col-xs-12 product-detail">
      </div>
      <div class="row col-lg-8 col-md-8 col-sm-12 col-xs-12 product-detail">
      <h3>รายละเอียดสินค้า</h3>
      <div class="textContainer_Truncate">
      <p v-html="item.item.desc">{{item.item.desc}}</p>
      </div>
      </div>
      <div class="row col-lg-2 col-md-2 col-sm-12 col-xs-12 product-detail">
      </div>
  </div>

        </div>

</div>
<script>
  console.log(<?=$item?>);
  console.log(<?=$priceRange?>);
  function imgColor(el,qty){
    let pimg = $(el).children('img').attr('src');
    $('.tab-pane.active').children('img').attr('src', pimg)

  }
  function imgProduct(el){
    let pimg = $(el).children('img').attr('src');
    let pid = $(el).data('target');
    $(pid).children('img').attr('src', pimg)

  }

  function render_cart(response){
          var pro_total = 0;
           var pro_total_orig = 0;
          var cart_index;
          let data_html ="";
          for (cart_index = 0; cart_index < response.data.length; cart_index++) {
              let data = response.data[cart_index];
              console.log(data.color);
               if (typeof data.color === "undefined") {

              }else{
                    if (typeof data.color.img_url === "undefined") {

                  }else{

                   data.image = data.color.img_url;
                  }
              }
              pro_total += data.price*data.quantity;
                if (typeof data.price_original === "undefined") {
                   data.price_original = 0;
                }
                  pro_total_orig +=data.price_original*data.quantity;


               data_html += "<tr>\
                             <td width='25%'><img src='"+data.image+"' style='width:100%;'></td>\
                             <td width='30%' align='center'>฿ "+data.price.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"<br>¥ "+data.price_original.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</td>\
                             <td width='35%' align='center'> \
                              <button onclick='delCartQty("+cart_index+")''>-</button> \
                              "+data.quantity+"\
                             <button onclick='addCartQty("+cart_index+")''>+</button> \
                             </td>\
                             <td width='10%' align='center'><button onclick='deleteCart("+cart_index+")'>x</button></td>\
                        </tr>";
          }
          if(cart_index>0){
            data_html += "<tr><td></td><td>ราคารวม</td><td>฿ "+pro_total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"<br>¥ "+pro_total_orig.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")+"</td><td></td></tr>";
            data_html+= '<tr><td colspan="4"><center><a style="margin-top: 10px" href="<?=Url::to(['/cart/addtocart'])?>"  class="btn btn-warning">หยิบใส่ตระกร้า</a></center></td></tr>'
          }else{
            data_html= '<tr><td colspan="4"><center>ไม่มีรายการสินค้าที่เลือก</center></td></tr>'
          }

          $("#cart_table").html(data_html);
  }
  function deleteCart(key){
        axios.get('<?=Url::to(['/product/deletecartpro?key='])?>'+key,
        { headers: { 'Content-type': 'application/x-www-form-urlencoded'}
        })
        .then(function (response) {
          render_cart(response);
        })
        .catch(function (error) {
          console.log(error);
          window.location.reload()
        });
}

function addCartQty(key){
        axios.get('<?=Url::to(['/product/add-qty?key='])?>'+key,
        { headers: { 'Content-type': 'application/x-www-form-urlencoded'}
        })
        .then(function (response) {
          render_cart(response);
        })
        .catch(function (error) {
          console.log(error);
          //window.location.reload()
        });
}

function delImg(){
      $("#input_upload").show();
      $("#btn_upload").show();
      $("#img_url").val("");

      $('#pro_img_upload').attr('src',"");
      $("#pro_img_upload").hide();
      $("#btn_del").hide();
}


function delCartQty(key){
        axios.get('<?=Url::to(['/product/del-qty?key='])?>'+key,
        { headers: { 'Content-type': 'application/x-www-form-urlencoded'}
        })
        .then(function (response) {
          render_cart(response);
        })
        .catch(function (error) {
          console.log(error);
          window.location.reload()
        });
}

function cal_product_price(qty){
    let minNum = <?=$minNum?>;
    let product_price_range = <?=$priceRange?>;
    let money_rate = <?=$rate?>;
    let price_tb =  ($("#product_price").val() * money_rate).toFixed(2).toString();
    let price_original = $("#product_price").val();
    for (var i = 0; i < product_price_range.length; i++) {
      let rate =  product_price_range[i];
       console.log("rate",rate);

      if(qty >= parseInt(rate[0])){
         price_tb = (rate[1]* money_rate).toFixed(2).toString();
         price_original = (rate[1]*1).toFixed(2).toString();
          console.log("price_tb",price_tb);
      }
    }


    if(qty < minNum){
       $('#addCart').prop('disabled',true)
    }else{
       $('#addCart').prop('disabled',false)
    }

    $("#product_price").val(price_original) ;
    $("#tbh_price_span").html("TBH "+ price_tb)
}


$(document).ready(function(){

     $("#form_upload").on("submit", function (event) {
                event.preventDefault(); //prevent default submitting
                var formData = new FormData($(this)[0]);
                $.ajax({
                    url: '<?=Url::to(['/product/upload'])?>',
                    type: "post",
                    data: formData,
                    processData: false, //Not to process data
                    contentType: false, //Not to set contentType
                    success: function (data) {
                        $("#input_upload").hide();
                        $("#btn_upload").hide();
                        $("#img_url").val(data);

                        $('#pro_img_upload').attr('src',data);
                        $("#pro_img_upload").show();
                        $("#btn_del").show();
                    }
                });
            });

    $("#product_price").bind('keyup mouseup', function () {
      let money_rate = <?=$rate?>;
      let tbh_price = ($("#product_price").val() *money_rate).toFixed(2).toString();

         $("#tbh_price_span").html("TBH "+tbh_price)
    });

    $("#quantity-input").bind('keyup mouseup', function () {
        cal_product_price($("#quantity-input").val());
    });


    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var fieldName = $(this).prev();
        // Get its current value
        var currentVal = parseInt(fieldName.val());
        let qty = currentVal + 1;
        // If is not undefined
        if (!isNaN(currentVal )&& currentVal < 9999) {
            // Increment
            fieldName.val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            qty = 1;
            fieldName.val(0);
        }

        cal_product_price(qty);






    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        var fieldName = $(this).next();
        // Get its current value
        var currentVal = parseInt(fieldName.val());
        let qty = currentVal - 1;
        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 0) {
            // Decrement one
            fieldName.val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
            qty = 1;
            fieldName.val(0);
        }

         cal_product_price(qty);
    });
});
</script>

<script>
var app = new Vue({
  el : "#detail",
  data : {
    disabledCart : true,
    stock : <?=$stock?>,
    price: <?=$price?>,
    priceRange: <?=$priceRange?>,
    promoPrice : <?=$promotion_price?>,
    isPromo : <?=$isPromo?>,
    thumb : 0,
    pic : 0,
    item : <?=$item?>,
    quantity : <?=$minNum?>,
        total : 0,
    disabledCart : true,
        group : [],
        options : [],
    rate : <?=$rate?>,
    cate:{
      list_size:'',
      list_img:[],
      list_cate:[]
    },
    select_color:0,
    select_size:0,
    provider:'<?=$provider?>'
  },
  created(){
    this.cateprops();
    this.getprice();
  },
  methods : {
    cateprops:function(){
      //var list = this.item.item.props;
      //var size = list.filter(function(item) { return item.name == 'Shoe size' || item.name == 'Size'; });
      //var color = list.filter(function(item) { return item.name == 'Color classification'; });
      //var list_size = size[0].value.split(/[ ,]+/);
      //var list_color = color[0].value.split(" ");
      //this.cate.list_size = list_size;
      //this.cate.list_color = list_color;

      var pimg = Object.keys(this.item.item.props_img).sort().map((key)=>{
        return {code:key,img_url:this.item.item.props_img[key]}
      });

      if(this.provider == '1688'){
        var getcolor = Object.keys(this.item.item.props_list).sort().map((key)=>{
          var type_key = key.split(':');
          if(type_key[0] == '0'){
            //var color = this.item.item.props_list['0'+':'+type_key[1]]
            return {code:key,code_color:this.item.item.props_list['0'+':'+type_key[1]]}
          }
        //console.log(color)
          /*if(getprops[0] === 'size'){
            return {code:key,size:getprops[1]}
          }*/
          //return {code:key,code_color:this.item.item.props_list[key]}
        });
        var getsize = Object.keys(this.item.item.props_list).sort().map((key)=>{
          var type_key = key.split(':');
          console.log(type_key);
          if(type_key[0] == '1'){
            return {code:key,size:this.item.item.props_list['1'+':'+type_key[1]]}
          }
        });


        var color = getcolor.filter(function(el){
          return el !== undefined;
        });
        var size = getsize.filter(function(el){
          return el !== undefined;
        });

        var list_img = [];
        //check empty images
        if(pimg.length > 0){
        var same_data = color.filter(function(c){
          return pimg.some(function(i){
            return i.code === c.code;
          });
        });
        for (var i = 0; i < pimg.length; i++) {
          if(pimg[i].code === same_data[i].code){
            var color = same_data[i].code_color.split(":");
            list_img.push({code:pimg[i].code,img_url:pimg[i].img_url,code_color:color[1]});
          }
        }
        }else{
          var lcolor = []
          color.forEach((item, i) => {
            var scolor = item.code_color.split(':');
            lcolor.push({code:item.code,code_color:scolor[1].toLowerCase().replace(/\s/g,'')});
          });

          list_img = lcolor;
          console.log(lcolor)
        }

        var list_size = []
        //console.log(size)
        size.forEach((item, i) => {
          var s = item.size.split(':');
          list_size.push({code:item.code,size:s[1]});
        });


        //console.log(list_size);
        this.cate.list_size = list_size;
        this.cate.list_img = list_img;


      }else{


        var pcolor = Object.keys(this.item.item.props_list).sort().map((key)=>{
          return {code:key,code_color:this.item.item.props_list[key]}
        });

        var same_data = pcolor.filter(function(c){
          return pimg.some(function(i){
            return i.code === c.code;
          });
        });
        //console.log(same_data);


        var list_img = [];
        var list_code_img =[];
        for (var i = 0; i < pimg.length; i++) {
          if(pimg[i].code === same_data[i].code){
            var color = same_data[i].code_color.split(":");
            list_img.push({code:pimg[i].code,img_url:pimg[i].img_url,code_color:color[1]});
            list_code_img.push(pimg[i].code);
          }
        }

        var list_cate = [];
        for (var i = 0; i < pcolor.length; i++) {

          var a = pcolor[i].code.split(":");
          if(a[0] == '1627207'){


            if(!list_code_img.includes(pcolor[i].code)){
               var color = pcolor[i].code_color.split(":");
              list_img.push({code:pcolor[i].code,code_color:color[1]});
            }
          }

        }



        //console.log(list_img);
        this.cate.list_img = list_img;


        var pname = this.item.item.props_name;
        var spname = pname.split(";");
        var list_size = [];
        for (var i = 0; i < spname.length; i++) {
          var a = spname[i].split(":");
          console.log(a);
          if(a[0] != '1627207'){
          list_size.push({code:a[0]+":"+a[1],size:a[3]});
          }else if(a[0] != '1627207'){

          }
        }
      }
      /*var list_size = pcolor.filter(function(cc){
        return objpname.some(function(ii){
          return ii.code === cc.code;
        });
      }).map(function(xx){
        var size = xx.code_color.split(":");
        return {code:xx.code,size:size[1]};
      })*/
      //console.log(list_size);
      this.cate.list_size = list_size;

    },
    getsize(idx){
      this.select_size = idx;
      this.getprice();
    },
    getcolor(idx){
      this.select_color = idx;
      this.getprice();
    },
    getprice(){
      var selected_1 = this.cate.list_img[this.select_color];
      if(this.cate.list_size.length >0){
        var selected_2 = this.cate.list_size[this.select_size];
        var code_size = selected_2.code;
      }else{
        var selected_2 = "";
        var code_size = "";
      }


      //console.log(selected_1,this.select_size)

      var code_color = selected_1.code;


      console.log(code_size,code_color)

      var skus = Object.keys(this.item.item.skus.sku).sort().map((key)=>{


            return {code:key,properties:this.item.item.skus.sku[key]}

      });



      if(this.provider == '1688'){
        var get_skus = skus.filter(function(s){
          // console.log(code_size)
            if(code_size==""){
              return s.properties.properties === code_color;
            }else{
               var s_properties = s.properties.properties.split(';');
               // console.log(s_properties[1] ,'BBB')
               return s_properties[0] === code_color && s_properties[1] === code_size;
            }

        });
      }else{
       var get_skus = skus.filter(function(s){

             //console.log(code_size)
            if(code_size==""){
              return s.properties.properties === code_color;
            }else{
               var s_properties = s.properties.properties.split(';');
              // console.log(s_properties[0],s_properties[1] ,'BBB')
               return (s_properties[0] === code_color && s_properties[1] === code_size) || (s_properties[0] === code_size && s_properties[1] === code_color);
            }

        });
      }


      var price = this.item.item.price;
      // console.log(get_skus[0]);
       this.stock = get_skus[0].properties.quantity;


        this.price = get_skus[0].properties.price;
        $("#product_price").val(this.price);

      if(this.stock>0){
          $('#addCart').prop('disabled',false)
          $('#quantity-input').prop('readonly',false)
          $('#quantity-input').prop('max',this.stock)
        }else{
          $('#addCart').prop('disabled',true)
          $('#quantity-input').prop('readonly',true);
        }

    },
    formatPrice : function(price){
      return (price * this.rate).toFixed(2).toString();
    },
    imageId : function(id) {
      return "pic-" + id;
    },
    targetId : function(id) {
      return "#pic-" + id;
    },
    optionName : function(index){
            return "variants_" + index
        },
        bindOptions : function(idx){
            var opt_arr = _.map(this.options, function(opt){ return opt.data; });
            var opt = opt_arr.join(";")
            var v = this
            this.item.skuMap.map(function(value,key){
                if(value.skuMap == opt){
                    v.promoPrice = (value.promoPrice * v.rate).toFixed(2)
                    v.price = (value.price * v.rate).toFixed(2)
                    v.stock = value.stock
                    if(value.stock > 0){
                        v.disabledCart = false
                    }else{
                        v.disabledCart = true
                    }
                }
            })
      //console.log(opt);
        },
        addCart : function(e){
      var price = ($("#product_price").val() * this.rate).toFixed(2).toString();
      var price_original = ($("#product_price").val()*1).toFixed(2).toString();
      var price_cny = ($("#product_price").val()*1).toFixed(2).toString();
       pro_total = 0;


        console.log("price_cny",price_cny);



                var postData = {
                    /*title : this.item.title,
                    image : this.item.mainImage,
                    price : this.promoPrice,
                    quantity : this.quantity,
                    total : (this.promoPrice * this.quantity).toFixed(2),
              options : this.options,
          shop : this.item.nick,
          url : this.item.link*/
          "provider": $("#provider").val(),
          "shop" : $("#shop").val(),
          "itemId" : $("#itemId").val(),
          "title" : $("#title").val(),
          "image" : $("#image").val(),
          "price_cny" : price_cny,
          "price" : price,
          "price_original":price_original,
          "price_original_total":price_original* $("#quantity-input").val(),
          "options" : [],
          "quantity" : $("#quantity-input").val(),
          "product_remark" : $("#product_remark").val(),
          "img_url" : $("#img_url").val(),
          "total" : price * $("#quantity-input").val(),
          "total_cny" :  price_cny * $("#quantity-input").val(),
          "size":this.cate.list_size[this.select_size],
          "color":this.cate.list_img[this.select_color],
          "url" : $("#url").val(),
        }


        axios.post('<?=Url::to(['/product/addprocart'])?>', Qs.stringify(postData),
        { headers: { 'Content-type': 'application/x-www-form-urlencoded'}
        })
        .then(function (response) {
           console.log(response);
           render_cart(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    },addWishlist : function(e){
      var price = (this.price * this.rate).toFixed(2).toString();
      var price_cny = (this.promoPrice * this.rate).toFixed(2).toString();
       pro_total = 0;
                var postData = {
                    /*title : this.item.title,
                    image : this.item.mainImage,
                    price : this.promoPrice,
                    quantity : this.quantity,
                    total : (this.promoPrice * this.quantity).toFixed(2),
              options : this.options,
          shop : this.item.nick,
          url : this.item.link*/
          "provider": $("#provider").val(),
          "shop" : $("#shop").val(),
          "itemId" : $("#itemId").val(),
          "title" : $("#title").val(),
          "image" : $("#image").val(),
          "price_cny" : price_cny,
          "price" : price,
          "options" : [],
          "quantity" : $("#quantity-input").val(),
          "total" : price * $("#quantity-input").val(),
          "total_cny" :  price_cny * $("#quantity-input").val(),
          "size":this.cate.list_size[this.select_size],
          "color":this.cate.list_img[this.select_color],
          "url" : $("#url").val(),
        }
        axios.post('<?=Url::to(['/wishlist/add'])?>', Qs.stringify(postData),
        { headers: { 'Content-type': 'application/x-www-form-urlencoded'}
        })
        .then(function (response) {
          window.location.href = '<?=Url::to(['/wishlist'])?>';
          //console.log(response);
        })
        .catch(function (error) {
          console.log(error);
           window.location.href = '<?=Url::to(['/wishlist'])?>';
        });
    }
  }
})
</script>
<style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 2rem;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.row.col-lg-8.col-md-8.col-sm-12.col-xs-12.product-detail {
    text-align: -webkit-center;
}
.s-group{
  display: block;
  margin-bottom: 5px;
}
.s-label{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-right: 15px;
  margin-bottom: 5px;
}
.s-label:hover{
  border: 1px solid #ff004b!important;
}
.item-active{
  border: 1px solid #ff004b!important;
}
.item-prop{
  color:#000000;
}
/*****************globals*************/
body {
  /*font-family: 'open sans';*/
  overflow-x: hidden; }

img {
  max-width: 100%; }

.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  /*background: #eee;*/
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

/*# sourceMappingURL=style.css.map */
</style>

<script>

  var skuMap = ''; <?//=json_encode(json_decode($item,true)['skuMap'])?>

  var curStock,price = $("#price").val();
  var price_cny = $("#price_cny").val();
  $('.variants').click(function(){
    var data = [];
    $("input:radio").each(function () {
      if ($(this).prop('checked')) {
        data.push($(this).data('data'))
      }
    })
    skuMap.forEach(elem => {
      if(data.join(";") == elem.skuMap.toString().replace("&gt","")){
        curStock = elem.stock
        price = (elem.promoPrice * <?=$rate?>)

        price_cny = elem.promoPrice
        $("#currentPrice").text(price.toFixed(2))
        $("#currentStock").text(elem.stock)
        if(elem.stock>0){
          $('#addCart').prop('disabled',false)
          $('#quantity-input').prop('readonly',false)
          $('#quantity-input').prop('max',elem.stock)
        }else{
          $('#addCart').prop('disabled',true)
          $('#quantity-input').prop('readonly',true);
        }
      }
    });
  });

  $('#addCart').click(function(){
    var options = []
    $("input:radio").each(function () {
      if ($(this).prop('checked')) {
        options.push({
          "group" : $(this).data('group'),
          "data" : $(this).data('data'),
          "image" : $(this).data('image'),
          "label" : $(this).data('label')
        })
      }
    })
    var postData = {
      "provider": $("#provider").val(),
      "shop" : $("#shop").val(),
      "itemId" : $("#itemId").val(),
      "title" : $("#title").val(),
      "image" : $("#image").val(),
      "price_cny" : price_cny,
      "price" : price,
      "options" : options,
      "quantity" : $("#quantity-input").val(),
      "total" : price * $("#quantity-input").val(),
      "total_cny" : price_cny * $("#quantity-input").val(),
      "url" : $("#url").val(),
    }
    $.post('<?=Url::to(['/cart/add'])?>', postData , function(data, textStatus, xhr) {
      location.href = "<?=Url::to(['/cart'])?>"
    });
  });
</script>
