<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
    <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
        <div class="info-box" style="min-height: 50px; cursor: pointer;">
                <span class="info-box-icon bg-green" style="height: 50px;line-height: 0px; padding-top: 2px;"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content" style="height: 50px;">
                    <span class="info-box-text">ตะกร้าสินค้า <?=$_SESSION['allqty']?> ชิ้น </span>
                    <span class="info-box-number">&yen; <?=$_SESSION['allyuan']?></span>
                </div>
                <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</section>

<!-- Main content -->
<form name="tempFrm" id="tempFrm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp" />
    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>
<form name="temp2Frm" id="temp2Frm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp2" />
    <input type="text" name="key" id="mkey" value="" />
    <input type="text" id="uploadFileCC" name="filetemp" placeholder="Choose File" />
</form>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Order
                </div>

                <div class="box-body">
                    
                    <div class="col-xs-12" id="searchBody" style="margin-top: 3%;">
                        <div class="col-lg-12" id="cart_temp" style="margin-top:15px;">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-shopping-cart"></i> ตะกร้าสินค้า
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div id="preLoadSearch2" style="text-align: center;display:none;">
                                            <img src="<?=BASEURL?>/assets/template/back-end/images/712.GIF" style="max-width: 50px;" /><br /> Please Wait...
                                        </div>
                                        <?php if(count($_SESSION['item'])>0){ ?>
                                        <table class="table table-hover" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="2">รายการ</th>
                                                    <th style="text-align: center;">
                                                        <nobr>ราคาหยวน</nobr>
                                                    </th>
                                                    <th style="text-align: center;">จำนวน</th>
                                                    <th style="text-align: center;">
                                                        <nobr>รวม (หยวน)</nobr>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <nobr>รวม (บาท)</nobr>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <nobr>หมายเหตุ</nobr>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="basket_member">
                                                <?php $preserved = array_reverse($_SESSION['item'], true); ?>
                                                <?php $total_th = 0; $total_cn = 0; foreach($preserved as $key=>$itm){ ?>
                                                <?php
								  	$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  	$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  ?>
                                                    <tr>
                                                        <th width="100" style="text-align: center;">
                                                            <img src="<?=$itm['product_image']?>" width="60" alt="" /><br />
                                                            <!-- <div class="fileUpload btn btn-primary btn-sm">
                                                                <span class="up-text23">Upload</span><span id="preTemp23" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                                                <input id="uploadBtn3" data-key="<?=$key?>" type="file" class="upload" onchange="uploadfiletemplist(this);" />
                                                            </div> -->
                                                        </th>
                                                        <td width="60%">
                                                            <a href="<?=$itm['product_link']?>" target="_blank">
                                                                <?=$itm['product_name']?>
                                                            </a><br /> ร้านค้า :
                                                            <a href="<?=$itm['saller_link']?>" target="_blank">
                                                                <?=$itm['saller_name']?>
                                                            </a><br />
                                                            <?php if(count($itm['product_option'] )>0){ ?>
                                                            <?php foreach($itm['product_option'] as $keyn=>$val_op){ ?>
                                                            <?=$val_op['op_name_th']?> : <input style="width:180px;margin-bottom: 5px;" type="text" value="<?=$val_op['op_value_th']?>" data-keyn="<?=$keyn?>" data-key="<?=$key?>" onchange="updateOption(this);" />
                                                                <!--<b><?=$val_op['op_value_th']?></b>--><br />
                                                                <?php } ?>
                                                                <?php } ?>
                                                                <br />
                                                                
                                                        </td>
                                                        <td style="text-align: center;">&yen;
                                                            <?=@number_format($itm['product_price_rmb'],2)?>
                                                        </td>
                                                        <td align="right"> <input maxlength="4" id="qty_<?=$key?>" style="width:60px; text-align:center;" type="text" value="<?=$itm['product_qty']?>" onchange="updateQTY('<?=$key?>');" /> </td>
                                                        <td style="text-align: center;">
                                                            <?=@number_format(($itm['product_price_rmb']*$itm['product_qty']),2)?>
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <?=@number_format(($itm['product_price_rmb']*$itm['product_qty'])*GF::getrate(),2)?>
                                                        </td>
                                                        <td>
                                                            <textarea data-key="<?=$key?>" onchange="updateComment(this);" style="min-width: 200px;" class="form-control"><?=$itm['comment']?></textarea>
                                                        </td>
                                                        <td valign="middle">
                                                            <button type="button" class="btn btn-danger btn-xs" onclick="removeCartItem('<?=$key?>');"><i class="fa fa-times"></i></button>
                                                        </td>
                                                    </tr>
                                                    <?php } ?>
                                            </tbody>
                                        </table>
                                        <?php }else{ ?>
                                        <div class="panel text-center" role="alert">Empty Cart</div>
                                        <?php } ?>
                                    </form>
                                </div>
                                <div class="panel-footer" style="text-align: right;">
                                    <?php if(count($_SESSION['item'])>0){ ?>
                                    <a href="#/buyship/checkout" class="btn btn-warning"><i class="fa fa-credit-card" aria-hidden="true"></i> CHECKOUT</a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-footer" style="margin-left: 10%">

                        <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                    </div>
                    <!-- /.box-footer -->

                </div>
            </div>
        </div>

</section>
<script type="text/javascript">
    

    function removeCartItem(key){
    $.ajax({
            type: "GET",
            url: BASEURL + "/buyship/removeItem/?key=" + key,
            success: function(resp) {
                location.reload();
            }
        });
    }

    function updateQTY(key){
    $('#preLoadSearch').show();
    setTimeout(function(){
        var vals = $('#qty_'+key).val();
        var key_c = parseInt(vals);//alert(key_c);
        if(isNaN(key_c)){
            key_c = '1';
        }
        if(key_c==0){
            removeItem(key);
            return;
        }
        
        /*$('#preLoadSearch2').show();
        $('#myTable').hide();*/
        $.ajax({ 
           type: "GET", 
           url:  BASEURL+"/search/updateQTY/?key="+key+"&value="+key_c,
           success: function(resp){
                   location.reload();
            }
         });
    },100);
    
}
function updateComment(elem){
    
        $('#preLoadSearch').show();
        var vals = $(elem).val();
        var key = $(elem).attr('data-key');

        
        /*$('#preLoadSearch2').show();
        $('#myTable').hide();*/
        $.ajax({ 
           type: "GET", 
           url:  BASEURL+"/search/updateComment/?key="+key+"&value="+vals,
           success: function(resp){
                  location.reload();
            }
         });

    
}
</script>