<style>
    .form-group .control-label {
        text-align: left;
    }
</style>
<?php //GF::print_r($_SESSION); ?>

<section class="content-header">
    <h1 class="pull-left">
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
    <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
        <div class="info-box" style="min-height: 50px; cursor: pointer;" <?php if($_SESSION[ 'allqty']>0){ ?>onclick="location.hash = '/buyship/checkout/?
            <?=time()?>';"
                <?php } ?>>
                <span class="info-box-icon bg-green" style="height: 50px;line-height: 0px; padding-top: 2px;"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content" style="height: 50px;">
                    <span class="info-box-text">ตะกร้าสินค้า <?=$_SESSION['allqty']?> ชิ้น </span>
                    <span class="info-box-number">&yen; <?=$_SESSION['allyuan']?></span>
                </div>
                <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</section>

<!-- Main content -->
<form id="takeOrder" name="takeOrder">
    <input type="hidden" name="web_rate" value="<?=$rate?>" />
    <input type="hidden" name="mode" value="takeorder" />
    <input type="hidden" name="ship_by" value="4" />
    <input type="hidden" name="order_comment" value="" />

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <i class="fa fa-shopping-cart"></i>Order
                    </div>

                    <div class="box-body">

                        <div class="col-lg-12">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-shopping-cart"></i> ตะกร้าสินค้า
                                    <!--<button type="button" class="btn btn-info pull-right"   onclick="setkeyorder();">คำนวนราคาใหม่</button>-->
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">
                                                    <a href="javascript:;" onclick="checkAll(this);setkeyorder();" <?php if(count($_SESSION[ 'orderkey'])>0){ ?>data-prop="O"<?php }else{ ?>data-prop="C"<?php } ?>><nobr>เลือกทั้งหมด</nobr></a>
                                                </th>
                                                <th style="text-align: center;" colspan="2">รายการ</th>
                                                <th style="text-align: center;">
                                                    <nobr>ราคาหยวน</nobr>
                                                </th>
                                                <th style="text-align: center;">จำนวน</th>
                                                <th style="text-align: center;">
                                                    <nobr>รวม (หยวน)</nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>รวม (บาท)</nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>หมายเหตุ</nobr>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php $preserved = array_reverse($_SESSION['item'], true); ?>
                                            <?php $total_th = 0; $total_cn = 0; $all_items = 0; foreach($preserved as $key=>$itm){ ?>
                                            <?php
								  	if(count($_SESSION['orderkey'])>0){
								  		if(array_search($key,$_SESSION['orderkey'])!==false){
								  			$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  			$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  			$all_items++;
								  		}

								    }else{
								    	$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  		$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  		$all_items++;
								  		$_SESSION['orderkey'] = array();
								    }
								  ?>
                                                <tr>
                                                    <td align="center"><input type="checkbox" class="checkbox" onclick="setkeyorder();" name="select_product[]" value="<?=$key?>" <?php if(array_search($key,$_SESSION[ 'orderkey'])!==false){ ?>checked=""
                                                        <?php } ?>/></td>
                                                    <th width="60"><img src="<?=$itm['product_image']?>" width="60" alt="" /></th>
                                                    <td width="70%">
                                                        <a href="<?=$itm['product_link']?>" target="_blank">
                                                            <?=$itm['product_name']?>
                                                        </a><br /> ร้านค้า :
                                                        <a href="<?=$itm['saller_link']?>" target="_blank">
                                                            <?=$itm['saller_name']?>
                                                        </a><br />
                                                        <?php if(count($itm['product_option'] )>0){ ?>
                                                        <?php foreach($itm['product_option'] as $val_op){ ?>
                                                        <?=$val_op['op_name_th']?> : <b><?=$val_op['op_value_th']?></b>&nbsp;&nbsp;
                                                            <?php } ?>
                                                            <?php } ?>
                                                    </td>
                                                    <td style="text-align: center;">&yen;
                                                        <?=number_format($itm['product_price_rmb'],2)?>
                                                    </td>
                                                    <td align="right"> <input maxlength="4" onkeypress="validateKeyC(event);" style="width:60px; text-align:center;" type="text" value="<?=$itm['product_qty']?>" id="qty_<?=$key?>" onchange="updateQTY('<?=$key?>');" /> </td>
                                                    <td style="text-align: center;">
                                                        <?=number_format(($itm['product_price_rmb']*$itm['product_qty']),2)?>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <?=number_format(($itm['product_price_rmb']*$itm['product_qty'])*GF::getrate(),2)?>
                                                    </td>
                                                    <td>
                                                        <?=$itm['comment']?>
                                                    </td>

                                                </tr>
                                                <?php } ?>
                                        </tbody>
                                    </table>
                                </div>
                                <!--<div class="panel-footer" style="background-color: white;">


                        </div>-->
                            </div>
                        </div>
                        <div class="col-xs-12 text-right">
                            <?php $limit_rate = GF::orderlimit(); ?>
                            <!-- <h5>หากมียอดการสั่งซื้อต่ำกว่า <sapn><b><?=$limit_rate['lm_max']?></b> หยวน </span> คิดค่าบริการในการสั่ซื้อ <sapn><b><?=$limit_rate['rate']?></b> หยวน </span> </h5> -->
                            <h5>หากมียอดการสั่งซื้อต่ำกว่า <b>200</b> หยวน <b class="text-red">**</b></h5>
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-7">
                                    <!--<div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-credit-card"></i> การชำระเงิน
				                        </div>
				                        <div class="panel-body">
				                        	<input name="order_payment" value="A" type="radio"/> ชำระเงิน 2 รอบ คือรอบที่ 1 ค่าสินค้าและค่าขนส่ง จีน-จีน ชำระรอบที่ 2 ค่าขนส่ง จีน-ไทย/ไทย-ไทย
				                        </div>
				                    </div>
				                 </div>-->
                                    <!--<div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-truck"></i> ข้อมูล
				                        </div>s
				                        <div class="panel-body">
				                        	<div class="form-group">
											    <label for="inputEmail3" class="col-sm-4 control-label">ประเภทการนำเข้า</label>
											    <div class="col-sm-8">
											    <?php $shipby = GF::masterdataList('2'); ?>
											      <select class="form-control" name="ship_by">
											      <?php foreach($shipby as $master){ ?>
											      		<option value="<?=$master['id']?>"><?=$master['master_value']?> : <?=$master['master_name']?></option>
											      <?php } ?>
											      </select>
											    </div>
											</div>
											<div class="clearfix" style="height: 30px;"></div>

											<div class="form-group">
											    <label for="inputEmail3" class="col-sm-4 control-label">หมายเหตุ</label>
											    <div class="col-sm-8">
													 <textarea name="order_comment" class="form-control" rows="8"></textarea>
											    </div>
											</div>
				                        </div>
				                    </div>
				                 </div>-->
                                    <!--<div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-cube"></i> ตีลังไม้
				                        </div>
				                        <div class="panel-body">

				                        	<input type="radio" name="order_box" value="C"/> ตีลังไม้ (กรณีร้านจีนไม่ให้ความร่วมมือ หรือร้านไม่มีระบุหน้าสินค้าว่าต้องการให้โกดังตีลังไม้ ทำงเราจะไม่รับผิดชอบกรณีเสียหำยใดๆทั้ง สิ้น)
				                        	<br />
				                        	<input type="radio" name="order_box" value="B"/> ไม่ตีลังไม้
				                        	<br />

				                        </div>
				                    </div>
				                 </div>-->

                                    <!--<div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-info"></i> หมายเหตุ
				                        </div>
				                        <div class="panel-body">
				                        	<div class="col-xs-8">
				                        		<textarea name="order_comment" class="form-control" rows="8"></textarea>
				                        	</div>

				                        </div>

				                    </div>
				                 </div>-->
                                </div>
                                <?php 
                                if(count($_SESSION['orderkey'])==0){
                                    $all_items = 0;
                                    $total_cn = 0;
                                    $total_th = 0;
                                }
                               ?>
                                <div class="col-sm-5" style="text-align: right;">
                                    <div class="col-xs-7 text-right">

                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <!--<button type="button" class="btn btn-info pull-right"   onclick="setkeyorder();">คำนวนราคาใหม่</button>-->
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h4>อัตราแลกเปลี่ยน :</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <h4><span style="color: red;"><?=GF::getrate()?></span> บาท</h4>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h4>จำนวน <span class="text-red"><b><?=$all_items?></b></span> รายการ รวมทั้งสิ้น</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <h4><span style="color: red;"><?=number_format($total_cn,2)?></span> หยวน</h4>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h4>ประเมินค้าจัดส่ง 10% :</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <?php $tt_ships = ($total_cn*10)/100; if($tt_ships<=10){$tt_ships=10;}if($tt_ships>=100){$tt_ships=100;} $_SESSION['order_des']['pay_ship']=$tt_ships; ?>
                                        <?php 
                                            if(count($_SESSION['orderkey'])==0){
                                                $tt_ships = 0;
                                            }
                                        ?>
                                        <h4><span style="color: red;"><?=number_format($tt_ships,2)?></span> หยวน</h4>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h5>ต่ำสุด 10 หยวน
                                            <!--สูงสุด 100 หยวน-->:</h5>
                                    </div>
                                    <div class="col-xs-5 text-right">

                                        <h4 class="hidden"><span style="color: red;"><?=number_format(($tt_ships*GF::getrate()),2)?></span> บาท</h4>
                                        <?php $_SESSION['order_des']['pay_ship']=($tt_ships*GF::getrate()); ?>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h4>ยอดรวมหยวน
                                            <!--สูงสุด 100 หยวน-->:</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">

                                        <h4 class=""><span style="color: red;"><?=number_format(($tt_ships+$total_cn),2)?></span> หยวน</h4>
                                        <?php //$_SESSION['order_des']['pay_ship']=($tt_ships*GF::getrate()); ?>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h4>กรอกรหัสส่วนลด :</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <input type="text" onchange="getecoupon(this);" class="form-control text-center" value="<?=$_SESSION['coupon_code']?>" />
                                        <?php if($_SESSION['e_min']!=''){ ?>
                                        <p class="text-red">*ยอดขั้นต่ำ
                                            <?=number_format($_SESSION['e_min'],2);?>
                                        </p>
                                        <?php } ?>
                                    </div>
                                    <div class="col-xs-7 text-right">
                                        <h4>ส่วนลด :</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <?php
                           			$tt_ecoupon = 0.00;
                           			if($_SESSION['coupon_code']!=''){
                           				if($_SESSION['e_type']=='P'){ $tt_ecoupon = ($total_th*$_SESSION['e_amount'])/100; }
                           				else{$tt_ecoupon = $_SESSION['e_amount'];}
                           			}
                           			$_SESSION['order_des']['discount'] = $tt_ecoupon;
                           		?>
                                            <h4><span style="color: red;" id="couponval"><?=$tt_ecoupon?></span> บาท</h4>
                                    </div>
                                    <!-- <div class="col-xs-7 text-right">
                           			<h4>ค่าบริการสั่งซื้อ :</h4>
                           		</div>
                                 <div class="col-xs-5 text-right">
                                    <?php

                                       //GF::print_r($total_cn);
                                       /*$buy_save = 0.00;
                                       $_SESSION['order_buy_service'] = $buy_save;
                                       if($total_cn<=$limit_rate['lm_max']){
                                          $_SESSION['order_buy_service'] = $limit_rate['rate'];
                                          $buy_save = $limit_rate['rate']*GF::getrate();
                                       }*/

                                    ?>
                           			<h4><span style="color: red;"><?=number_format($buy_save,2)?></span> บาท</h4>
                           		</div> -->

                                    <div class="col-xs-7 text-right">
                                        <h4>สรุปยอดรวม :</h4>
                                    </div>
                                    <div class="col-xs-5 text-right">
                                        <?php $total_th = (($total_th+($tt_ships*GF::getrate()))-$tt_ecoupon)+$buy_save; ?>
                                        <h4><span style="color: red;"><?=number_format($total_th,2)?></span> บาท</h4>
                                    </div>

                                    <!--<h4>เรทเงิน <span style="color: red;"><?=GF::getrate()?></span> บาท</h4>
                           		<h4>จำนวน <?=count($_SESSION['item'])?> รายการ รวมทั้งสิ้น <span style="color: red;"><?=number_format($total_cn,2)?></span> หยวน</h4>
                           		<h4>ประมาณ <span style="color: red;"><?=number_format($total_th,2)?></span> บาท</h4>-->
                                </div>
                                <div class="col-sm-12" style="text-align: right;">
                                    <a href="#/buyship/order" class="btn btn-default btn-md">ย้อนกลับ</a>
                                    <button type="button" class="btn btn-warning btn-md" onclick="takeorder();"> <i class="fa fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
                                    <br /><br /><br /><br />
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-footer" style="margin-left: 10%">

                        <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                    </div>
                    <!-- /.box-footer -->

                </div>
            </div>
        </div>

    </section>
</form>