<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Payment Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>แจ้งชำระเงิน
                </div>

                <div class="box-body">
                    <div class="col-lg-12" id="frmResult">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_id']?></b></span>&nbsp;&nbsp;&nbsp;ยอดชำระ : <b class="text-red"><?=number_format($GET['v'],2)?></b> บาท
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-8 col-sm-offset-1">
                                    <form name="slipFrm" id="slipFrm" enctype="multipart/form-data">
                                        <input type="hidden" name="order_id" value="<?=$orderInfo['id']?>" />
                                        <input type="hidden" name="order_type" value="<?=$order_type?>" />
                                        <input type="hidden" name="pay_amount" value="<?=$GET['v']?>" />
                                        <input type="hidden" name="mode" value="updateslip" />
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">ประเภทจ่ายเงิน</span>
                                            <select class="form-control" id="payment_type" name="payment_type">
                                       <?php if($orderInfo['id']!=''){ ?>
                                   		<option value="1">- โอนเงินสด -</option>
                                       <?php }else{ ?>
                                       <option value="2">- เติมเงิน -</option>
                                       <?php } ?>
                                   	</select>
                                        </div>
                                        <div class="form-group input-group">
                                            <!--<span class="input-group-addon">เข้าบัญชีธนาคาร</span>-->

                                        </div>

                                        <?php // GF::print_r($banklist); ?>
                                        <?php foreach($banklist as $vals){ ?>
                                        <?php $mst = GF::masterdata($vals['master_id']); ?>
                                        <label>
                                                    <input type="radio" name="payment_bank" id="payment_bank" value="<?=$vals['bank_id']?>" checked>
                                                    <img src="<?=$mst['master_value']?>" /> <?=$mst['master_name']?> [<?=$vals['bank_desc']?>]
                                                </label><br />
                                        <?php } ?>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">วันที่โอน</span>
                                            <input maxlength="30" type="text" class="form-control datepickerX" id="payment_date" name="payment_date">
                                            <span class="input-group-addon">01-01-2015</span>
                                        </div>
                                        <div class=" bootstrap-timepicker form-group input-group">

                                            <span class="input-group-addon">เวลาโอน</span>
                                            <input type="text" class="form-control timepicker" onkeypress="numberonly(event);" id="payment_time" name="payment_time">
                                            <span class="input-group-addon">18.00</span>

                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">จำนวนเงิน</span>
                                            <input maxlength="20" type="text" class="form-control" id="payment_amount" name="payment_amount" value="<?=number_format($GET['v'],2)?>" disabled>
                                            <span class="input-group-addon">บาท (0.00)</span>
                                        </div>
                                        <div class="form-group input-group">

                                            <input type="file" class="form-control" id="payment_slip" name="payment_slip">
                                            <span class="input-group-addon">ไฟล์รูปภาพ</span>
                                        </div>
                                        <div class="form-group input-group">
                                            <span class="input-group-addon">ข้อความ</span>
                                            <textarea maxlength="300" class="form-control" id="payment_comment" name="payment_comment"></textarea>
                                        </div>
                                    </form>
                                    <!-- Edit By Weerasak 20-01-2566 -->
                                    <!-- <?php if($memberinfo['wallet']<0){ ?> -->
                                    <!-- <div class="callout callout-danger text-center">
                                        <h4>ลูกค้ามียอดเงินค้างใน E-wallet ยอดค้าง <b><?=number_format($memberinfo['wallet'],2)?></b> บาท หากเติมหรือโอนเงินยอดเงินจะนำไปหักลบจากยอดค้างก่อนค่ะ</h4>
                                    </div> -->
                                    <!-- <?php } ?> -->
                                    <!-- END -->
                                </div>

                            </div>
                            <div class="panel-footer" style="text-align: center;">
                                <a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                                <button type="button" class="btn btn-primary btn-md" onclick="paymentUpdate();"> <i class="fa fa-floppy-o" ></i> แจ้งโอนเงิน</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" id="payResult" style="display: none;">
                        <div class="panel-body text-center">
                            ข้อมูลของท่านถูกส่งไปยังระบบเรียบร้อยแล้ว<br />
                            <?php if($order_type=='1'){ ?>
                            <a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                            <?php }else{ ?>
                            <a href="#/ewallet/" class="btn btn-default btn-md">ย้อนกลับ</a>
                            <?php } ?>
                            <a href="#/ewallet/paymentlist/" class="btn btn-default btn-md">ดูรายการชำระเงิน</a>
                        </div>
                    </div>
                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>