<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Order List
                </div>

                <div class="box-body">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>
                                <div class="pull-right">
                                    <!-- E Wallet : <b><?=number_format($memberinfo['wallet'],2)?></b> บาท -->
                                    <?php //GF::print_r($orderList['data']); ?>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline" id="searchFrm" onsubmit="return searchodr();">
                                    <input type="hidden" name="mode" value="searchodr" />
                                    <input type="submit" style="position: absolute; left: -9999px" />
                                    <div class="form-group">
                                        <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                                        <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odr_search']['order_number']?>" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2">สถานะ</label>
                                        <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
					          	<option value="ALL" <?php if($_SESSION['odr_search']['status']=='1'){ ?>selected=""<?php } ?>>ทั้งหมด</option>
					          	<option value="1" <?php if($_SESSION['odr_search']['status']=='1'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
                                  <option value="6" <?php if($_SESSION['odr_search']['status']=='6'){ ?>selected=""<?php } ?>>รอตรวจสอบยอด</option>
                                  <option value="7" <?php if($_SESSION['odr_search']['status']=='7'){ ?>selected=""<?php } ?>>ค้างชำระ</option>
					          	<option value="2" <?php if($_SESSION['odr_search']['status']=='2'){ ?>selected=""<?php } ?>>รอชำระเงิน</option>
					          	<option value="3" <?php if($_SESSION['odr_search']['status']=='3'){ ?>selected=""<?php } ?>>สั่งซื้อ</option>

					          	<option value="4" <?php if($_SESSION['odr_search']['status']=='4'){ ?>selected=""<?php } ?>>แจ้งจัดส่ง</option>
					          	<option value="5" <?php if($_SESSION['odr_search']['status']=='5'){ ?>selected=""<?php } ?>>เสร็จสิ้น</option>
					          	<option value="C" <?php if($_SESSION['odr_search']['status']=='C'){ ?>selected=""<?php } ?>>ยกเลิก</option>
					        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputName2">วันที่สั่งซื้อ</label>
                                        <input type="text" data-date-format='dd-mm-yyyy' class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odr_search']['create_dtm']?>">
                                    </div>
                                    <button type="button" class="btn btn-default" onclick="searchodr();">ค้นหา</button>
                                    <button type="button" class="btn btn-default" onclick="resetSearch();">ยกเลิก</button>
                                </form>
                                <br /><br />
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>เลขที่สั่งซื้อ</th>
                                            <th style="text-align: center;">จำนวน</th>
                                            <th style="text-align: center;">หยวน(&yen;)</th>
                                            <th style="text-align: center;">เรทเงิน</th>
                                            <th style="text-align: center;">ยอดรวม</th>
                                            <th style="text-align: center;">ค้างชำระ</th>
                                            <th style="text-align: center;">ยอดสั่งจริง</th>
                                            <th style="text-align: center;">เรทสั่งจริง</th>
                                            <th style="text-align: center;">เพิ่ม/คืน</th>
                                            <th style="text-align: center;">สถานะ</th>
                                            <th style="text-align: center;">วันที่สั่งซื้อ</th>

                                            <th style="text-align: center;">คำสั่ง</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($orderList['data'] as $key=>$odr){ ?>

                                        <tr>
                                            <td>

                                                <span class="black">

							          	<?=$odr['order_number']?>

							          	</span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="black"><?=$odr['items']?></span>

                                            </td>
                                            <td style="text-align: center;"><!-- หยวน weerasak 26-10-2564-->
                                                <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb']+$odr['order_pay_ship_yuan'],2)?></span>
                                                
                                                <!-- <?php 
                                                $order_amount = $odr['countprice']['total_saller_amount'];
                                                if($odr['order_buy_rmb'] > 0)
                                                    {
                                                        $order_amount = $odr['order_buy_rmb'];
                                                    }
                                                ?> -->
                                                <!-- <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span> -->
                                            </td>
                                            <td class="text-center">
                                                <?=$odr['old_rate']?>
                                            </td>
                                            <td class="text-center"><!-- ยอดรวม weerasak 26-10-2564-->
                                                <?php 
                                                $totals = (($odr['countprice']['product_price_rmb']*$odr['old_rate'])+$odr['order_pay_ship'])-$odr['order_discount'];
                                                //$totals = $totals+$odr['countprice']['product_price_thb'];
                                                //// $totals = $totals+($odr['countprice']['ship_cn']*$odr['rate']);
                                                //$totals = $odr['countprice']['product_price_rmb']*$odr['old_rate'];
                                                if($odr['status']=='C'){$totals=0;}
                                                ?>
                                                <?=number_format($totals,2)?>

                                            </td>

                                            
                                                <?php $true_price = ($odr['countprice']['product_buy_rmb'])*$odr['rate'];
                                  //echo $odr['countprice']['product_buy_rmb'];
                                     //$true_price += $odr['order_pay_ship'];
                                     $true_price += ($odr['countprice']['ship_cn']*$odr['rate']);
                                     //$true_price += $odr['order_pay_cn']*$odr['rate'];
                                     $true_price -= $odr['order_discount'];
                                     //$true_price += $odr['countprice']['product_price_thb'];
                                     //echo $odr['countprice']['ship_cn'];

                                     //Weerasak 22-10-2564
                                     $order_netprice = $odr['countprice']['total_order_buy_amount']*$odr['rate'];                                     
                                     /*if($odr['order_buy_rmb'] > 0)
                                         {
                                             $order_netprice = $odr['order_buy_rmb']*$odr['rate'];
                                         }*/
                                         $order_netprice -= $odr['order_discount'];  //edit by hatairat 30-10-64 ส่วนลด จากเว็บ

                                     if($odr['export']=='N'){$true_price=0;}
                                  ?>
                                            <td class="text-center"><!--ค้างชำระ-->
                                                <!-- <?php $divTotal = ($totals-$odr['order_price']); ?>
                                                <?php if($divTotal<0){$divTotal=0;} ?>
                                                <b class="text-red"><?=number_format($divTotal,2)?></b> -->
                                                <?php
                                                if(intval($odr['overdue_paid']) != 0){
                                                    if($odr['status']=='7'){ ?>
                                                        <b class="text-orange"><?=number_format($odr['payment_balance'],2)?></b>
                                                    <?php } else if($odr['payment_amount_web'] > 0) {?>
                                                        <b class="text-orange"><?=number_format($odr['payment_balance'],2)?></b>
                                                    <?php }else { echo '0.00'; }
                                                }else{echo '0.00';} ?>
                                            </td>
                                            <td class="text-center"><!--[ยอดสั่งจริง] Edit by Weerasak 17-10-2564-->
                                                <?php if($odr['export']=='S'){ ?>
                                                <!-- <?=number_format($true_price,2)?> -->
                                                <?=number_format($order_netprice,2)?>
                                                <?php }else{ ?> -
                                                <?php } ?>
                                            </td><!--End edit-->
                                            <td class="text-center">
                                                <?php if($odr['export']=='S'){ ?>
                                                <?=$odr['rate']?>
                                                    <?php }else{ ?> -
                                                    <?php } ?>
                                            </td>
                                            <td class="text-center"><!--เพิ่ม/คืน-->

                                                <?php
							          //$refund = $true_price-$totals;
                                      $refund = $order_netprice - $totals;
							          $ttpay = ($totals-$odr['order_price']);

							          if($ttpay<1){
							          	//$ttpay = 0;
							          }
							          //$refund = floor(($refund*100))/100;
							          //echo $refund;
							          ?>
                                                <?php if($order_netprice>0){ ?>
                                                    <!-- <?php if($refund<0){ ?> -->
                                                    <?php if($odr['export']=='S'){ ?>
                                                        <?php if((int)$refund < 0){ ?>
                                                    <span class="text-green"><?=number_format($refund,2)?>(คืน)</span><br/> 
                                                    <?php } ?>
                                                    รวม
                                                    <?php $ccls = $ttpay+$refund;  ?>
                                                    <?=number_format($ccls,2)?>
                                                        <?php }else{ ?> -
                                                        <?php } ?>
                                                        <!-- <?php } ?> -->

                                                        <!-- <?php if($refund>=0){  ?> -->

                                                        <?php if($odr['export']=='S'){ ?>
                                                        <?php if((int)$refund > 0){  ?>
                                                        <span class="text-red"><?=number_format($refund,2)?>(เพิ่ม)</span><br /> 
                                                        <?php } ?>
                                                        รวม

                                                        <?php if($ttpay<1 && $ttpay>-1 ){ $ttpay=0; } ?>
                                                        <?php $ccls = $ttpay+$refund;  ?>                                                        
                                                        <?=number_format($ccls,2)?>
                                                        <?php                    
                                                            if($odr['overdue_paid'] > 0){ 
                                                                echo '<br><span class="text-blue">ชำระแล้ว '.number_format($refund,2).'</span>';    
                                                            }
                                                        ?>
                                                            <?php }else{ ?> -
                                                            <?php } ?>


                                                            <!-- <?php } ?> -->
                                                <?php } else { echo '-'; } ?>
                                                           


                                                            <?php
							          if($odr['countprice']['product_buy_rmb']>0){
							          	$ttpay=$ttpay+$refund;
							          }


							          ?>
                                      <!-- ปิดการใช้งาน Edit By Weerasak 19-01-2566 -->                                      
                                                        <?php if($odr['refund_wallet']>0 && $odr['is_refunded']=='Y'){ ?>
                                                        <br />
                                                        <span class="text-blue">คืนเงินแล้ว <b><?=number_format(($odr['refund_wallet']),2)?></b></span>
                                                        <?php }?> 
                                            </td>
                                            <td style="text-align: center;">
                                                <?php
							           	/*$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='S'){
											$color_status = 'green';
										}
										if($odr['status']=='OR'){
											$color_status = 'pink';
										}
										if($odr['status']=='PM'){
											$color_status = 'brown';
										}
										if($odr['status']=='E'){
											$color_status = 'orange';
										}*/

                                        $color_status = GF::order_color_status($odr['status']);

                                        if($odr['export']=='S'){      
                                            $color_status = GF::order_color_status('5');                                      
                                            $status_text = 'เสร็จสิ้น';
                                        }else{
                                            $status_text = $odr['status_text'];
                                        }
                                        
							          ?>
                                                    <span style="color:<?=$color_status?>;"><?=$status_text?></span>
                                                    <?php if($odr['status']=='2' && $divTotal==0){ ?>
                                                    <br />
                                                    <nobr>(ชำระเงินแล้ว รอตรวจสอบ)</nobr>
                                                    <?php } 
                                                    else if($odr['status'] =='7'){
                                                        if(intval($odr['overdue_paid']) != 0) {
                                                            echo '<p><button class="btn btn-warning btn-xs" data-remarks="'.$odr[remarks].'" onclick="showremarks(this);">รายละเอียด</button></p>';                                                        
                                                        }
                                                    } ?>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="black">  <?=$odr['create_dtm']?></span><br />
                                                <?php if($odr['update_dtm']!='0000-00-00 00:00:00'){ ?>
                                                <!-- <span class="black"><i class="fa fa-clock-o"></i> ล่าสุด <?=$odr['update_dtm']?></span> -->
                                                <?php } ?>
                                            </td>
                                            <!--<td style="text-align: center;">
							          	<?php if($odr['order_comment']!=''){ ?>
							          	<a href="javascript:;" data-toggle="tooltip" data-placement="bottom" title="<?=$odr['order_comment']?>">Message</a>
							          	<?php }else{ ?>
							          	-
							          	<?php } ?>
							          </td>-->
                                            <td style="text-align: center;">
                                                <!-- <?=$ttpay?> -->
                                                <a href="#/buyship/view/<?=$odr['id']?>" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> เปิดดูข้อมูล</a>
                                                <?php if($odr['status']!='C'){ ?>
                                                <!--<div style="margin-bottom: 1px;">&nbsp;</div>-->
                                                <!--<button type="button" class="btn btn-default btn-sm" onclick="reOrder('<?=$odr['id']?>');"><i class="fa fa-refresh"></i> สั่งสินค้าอีกครั้ง</button>-->
                                                <?php $ttpay = $ttpay + $odr['payment_balance']; ?> <!--edit by hatairat 26-11-64-->
                                                <?php if($ttpay>0 && $odr['status']!='1'){ ?>

                                                <?php if($odr['status']=='2' || $odr['status']=='7'){ ?>
                                                <?php 
                                                    if($odr['payment_balance'] > 0)
                                                    {
                                                        $ppdpay1 = number_format($odr['payment_balance'],2);
                                                    }else{
                                                        $ppdpay1 = number_format($odr['sum_price'],2);
                                                    }

                                                    //$ppdpay1 = number_format($ttpay,2);
                                                    $ppdpay1 = str_replace(",","",$ppdpay1);                                                    
                                                ?>
                                                
                                                <br />
                                                <?php if(intval($odr['overdue_paid']) != 0){ ?>
                                                <a href="#/buyship/confirmpayment/<?=$odr['id']?>/?v=<?=$ppdpay1?>&tp=1" class="btn btn-info btn-xs">แจ้งชำระเงิน</a>
                                                <?php 
                                                        }
                                                    } 
                                                ?>
                                                <?php if($memberinfo['wallet']>0 ){ ?>
                                                <br />
                                                <?php 
                                                        $ppdpay = number_format($ttpay,2);
                                                        $ppdpay = str_replace(",","",$ppdpay);
                                                ?>
                                               <!-- <button type="button" data-id="<?=$odr['id']?>" data-price="<?=$ppdpay?>" class="btn btn-warning btn-xs" onclick="setWallet(this);">ชำระเงินจาก E Wallet</button>-->
                                                <?php } ?>
                                                <?php } ?>

                                                <?php if($odr['status']=='1' || $odr['status']=='2'){ ?>
                                                <?php if($odr['status']=='2' && $divTotal==0){ ?>
                                                <?php }else{ ?>
                                                <button onclick="cancelOrder('<?=$odr['id']?>','1');" type="button" class="btn btn-danger btn-xs"> <i class="fa fa-times"></i> ยกเลิก</button>
                                                <?php } ?>

                                                <?php } ?>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <?php } ?>

                                    </tbody>
                                </table>

                                <nav class="pull-right" style="margin-right: 3%;">
                                    <ul class="pagination pagination-md">
                                        <?php for($i=1;$i<=$allPage;$i++){ ?>
                                        <li <?php if($currpage==$i){ ?>class="active"
                                            <?php } ?>>
                                            <a href="#/buyship/orderlist/?page=<?=$i?>">
                                                <?=$i?>
                                            </a>
                                        </li>
                                        <?php } ?>

                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>

<div class="modal fade" id="remarksModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button> -->
                <h4 class="modal-title">รายละเอียด</h4>                
            </div>
            <div class="modal-body">
                <p><span class="text-red">สถานะ : ไม่พบยอด</span></p>
                <span id="remarks"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
