<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1 class="pull-left">
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
    <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
        <a class="info-box" style="min-height: 50px; cursor: pointer;" href="#/buyship/cart" >
                <span class="info-box-icon bg-green" style="height: 50px;line-height: 0px; padding-top: 2px;"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content" style="height: 50px;">
                    <span class="info-box-text">ตะกร้าสินค้า <?=$_SESSION['allqty']?> ชิ้น </span>
                    <span class="info-box-number">&yen; <?=$_SESSION['allyuan']?></span>
                </div>
                <!-- /.info-box-content -->
        </a>
        <!-- /.info-box -->
    </div>
</section>

<!-- Main content -->
<form name="tempFrm" id="tempFrm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp" />
    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>
<form name="temp2Frm" id="temp2Frm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp2" />
    <input type="text" name="key" id="mkey" value="" />
    <input type="text" id="uploadFileCC" name="filetemp" placeholder="Choose File" />
</form>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Order  <p style="color: red;">** การขนส่ง จะ เลือกทางรถอัตโนมัติ หากลูกค้าต้องการขนส่งทางเรือ รบกวนติดต่อ  
เจ้าหน้าที่ ผ่าน line @taobaochinacargo  ก่อนการชำระเงิน **</p><br> <p style="color: red;">** สินค้าประเภทแบตเตอร์รี่ ถูกปรับกลุ่มประเภทสินค้าเป็นสินค้ากลุ่มพิเศษ **</p>
                </div>

                <div class="box-body">
                    <div class=" col-sm-12 ">
                        <div class="input-group ">
                            <input type="text" class="form-control " name="searchurl" id="searchurl" placeholder="Ex. http://item.taobao.com/item.htm?id=12440339223" onkeyup="CheckKeySearch(event);">
                            <span class="input-group-btn">
				        <button class="btn btn-warning" type="button" onclick="itemSearch('back');">สั่งซื้อ</button>
                        <!-- <button class="btn btn-warning" type="button" onclick="OrderItem();">สั่งซื้อ</button> -->
				      </span>
                        </div> 
                    </div>
                    <div class="col-xs-12" id="searchBody" style="margin-top: 3%;">


                      <form id="orderFrm" name="orderFrm" style="display: none;">
                            <input type="hidden" name="mode" value="additem" />
                            <div class="row">
                                <div class="col-xs-12" style="margin-bottom: 2%;">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            ลิ้งสินค้า
                                        </div>
                                        <div class="col-xs-7">
                                            <input id="product_link" name="product_link" type="text" class="form-control" value="">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-2" style="margin-top: 2%;">
                                            ชื่อสินค้า
                                        </div>
                                        <div class="col-xs-7" style="margin-top: 2%;">
                                            <input id="product_name" name="product_name" type="text" class="form-control" value="">
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-xs-2" style="margin-top: 2%;">
                                            ร้านค้า
                                        </div>
                                        <div class="col-xs-7" style="margin-top: 2%;" id="shopname">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <span id="topImg">
			    			</span><br />

                                    <!-- <div class="fileUpload btn btn-primary">
                                        <span class="up-text">Upload</span><span id="preTemp" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                        <input id="uploadBtn" type="file" class="upload" onchange="uploadfiletemp(this);" />
                                    </div> -->

                                    <div class="panel panel-danger hidden" style="margin-top: 20px;">
                                        <div class="panel-heading">
                                            คะแนนร้านค้า
                                        </div>
                                        <div class="panel-body" id="shopInfo">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-7">

                                    <div class="well">
                                        <div class="col-xs-2" style="padding-top: 5px;">
                                            <b id="pc_name">ราคา :</b>
                                        </div>
                                        <div class="col-xs-8">
                                            <b id="price_rmb2">&yen;</b><b id="price_rmb" class="price_rmb">0.00</b>
	                                        <div class="col-xs-2 text-right" style="padding-top: 5px; ">
	                                            <img src="<?=$BASEURL?>/assets/images/edit-btn.png" style="cursor: pointer;" onclick="editRmb();" />
	                                        </div>
                                            <h5 class="cal_thai">
                                                <?=$cnrate?> x <span class="price_rmb"></span> = <span id="price_th">0.00</span> (ราคาโดยประมาณ)</h5>
                                            <br />
	                                        
                                            <div class="input-group" style="display: none;" id="edit_rmb">
                                                <span class="input-group-addon noselect" style="cursor: pointer;">&yen;</span>
                                                <input type="text" class="form-control text-center" id="newRmb" value="1" onchange="changeYuan(this);" onkeypress="numberonly(event);">

                                            </div>
                                        </div>
                                       
                                        <div class="clearfix"></div>
                                    </div>



                                    <div class="col-xs-12" id="prop_data">
                                    </div>
                                    <div class="col-xs-12 item-sku2">
                                        <dl>
                                            <dt style="width: 100px;">ประเภทสินค้า : </dt>
                                            <dd style="padding-left: 40px; width:300px;">

                                                <!--<ul class="tb-cleafix">
								      <?php $shipby = GF::masterdataList('1'); ?>
								      <?php $kx=1; foreach($shipby as $master){ ?>
								      	<li class="J_SKU <?php if($kx=='1'){ ?>active<?php } ?>" data-val="<?=$master['id']?>" onclick="changeOrdertype(this);"><a href="javascript:;"><span><?=$master['master_name']?></span></a></li>
								      	<?php $kx++; } ?>
								      </ul>-->
                                                <select class="form-control" name="order_type">
								      <?php $shipby = GF::masterdataList('1'); ?>
								      <?php foreach($shipby as $master){ ?>
								      	<option value="<?=$master['id']?>"><?=$master['master_name']?></option>
								      <?php  } ?>
								      </select>
                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-xs-12">
                                        <!--<h4>ราคา &nbsp;&nbsp; RMB&nbsp;&nbsp;&nbsp;&nbsp;( <b id="price_th">0.00</b> THB )</h4>-->
                                    </div>
                                    <div class="col-xs-12" style="margin-top: 2%;">
                                        <div class="row">
                                            <div class="col-xs-3" style="padding-top: 2%;">
                                                <span><b>จำนวน</b></span>
                                            </div>
                                            <div class="col-xs-5">
                                                <!--<h4><input maxlength="4" onkeypress="validateKey(event);" name="product_qty" id="product_qty" style="font-size: 18px;text-align: center;height: 45px;" type="text" value="1" class="form-control"></h4>-->
                                                <div class="input-group">
                                                    <span class="input-group-addon noselect" style="cursor: pointer;" onclick="minClick();">-</span>
                                                    <input type="text" class="form-control text-center" name="product_qty" value="1" id="product_qty" onkeypress="numberonly(event);">
                                                    <span class="input-group-addon noselect" style="cursor: pointer;" onclick="plusClick();">+</span>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-xs-4" style="padding-top: 2%;">
                                                <span><b>รายละเอียดเพิ่มเติม</b></span>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-xs-10">
                                                <textarea class="form-control" name="note" rows="8" placeholder="ถ้าท่านไม่ทราบขนาด สี หรือแบบ สามารถกรอกรายละเอียดเพิ่มเติมแจ้งทางเราได"></textarea>
                                            </div>
                                            <div class="col-sm-8 text-right" style="margin-top: 5%;">
                                                <!--<button onclick="orderNow_N();" type="button" class="btn btn-warning btn-lg" style="padding-left: 20%;padding-right: 20%;">เพิ่ม</button>-->
                                                <!--<img src="<?=$BASEURL?>/assets/images/buy-btn.png" onclick="orderNow_N();" style="cursor: pointer;max-width: 100%;"/>-->
                                                <button type="button" class="btn btn-warning btn-lg" onclick="orderNow_N();"><i class="fa fa-shopping-cart"></i> ลงตะกร้าสินค้า</button>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <div class="col-xs-12">
                                    <input type="hidden" name="pd_img" id="pd_img" value="">
                                    <input type="hidden" name="shop_name" id="shop_name" value="">
                                    <!--<input type="hidden" name="order_type" id="order_type" value="1">-->
                                    <input type="hidden" name="shop_link" id="shop_link" value="">
                                    <input type="hidden" name="product_price_rmb" id="product_price_rmb" value="">
                                    <input type="hidden" name="product_price_thb" id="product_price_thb" value="">
                                    <div id="pd_option">

                                    </div>
                                    <div id="img-tag-c" style="display: none;">

                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--<div id="preLoadSearch" style="text-align: center;display:none;">
		         	<img src="http://demo.siamgolive.com/chinacargo/assets/template/back-end/images/712.GIF" style="max-width: 50px;"><br>
		         	Please Wait...
		         </div>-->
                        <div id="noresult" style="text-align: center;display:none;">
                            <div class="col-xs-12" id="searchBody" style="margin-top: 3%;">


                                <form id="orderFrm2" name="orderFrm2" style="">
                                    <input type="hidden" name="mode" value="additem" />
                                    <div class="row">
                                        <div class="col-xs-12" style="margin-bottom: 2%;">
                                            <div class="row">
                                                <div class="col-xs-2">
                                                    ลิ้งสินค้า <span class="text-red">*</span>
                                                </div>
                                                <div class="col-xs-7">
                                                    <input id="product_link_null" name="product_link" type="text" class="form-control" value="">
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="col-xs-2" style="margin-top: 2%;">
                                                    ชื่อสินค้า <span class="text-red">*</span>
                                                </div>
                                                <div class="col-xs-7" style="margin-top: 2%;">
                                                    <input id="product_name_null" name="product_name" type="text" class="form-control" value="">
                                                </div>
                                                <div class="clearfix"></div>
                                                <!-- <div class="col-xs-2" style="margin-top: 2%;">
     									ร้านค้า
     								</div>
     								<div class="col-xs-7" style="margin-top: 2%;" id="shopname">

     								</div> -->
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <span id="topImg">
                           <img id="J_ThumbView2" src="" style="max-width:100%;" />
     			    			</span><br />

                                            <!-- <div style="display: none;" class="fileUpload btn btn-primary">
                                                <span class="up-text">Upload</span><span id="preTemp2" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                                <input id="uploadBtn2" type="file" class="upload" onchange="uploadfiletemp2(this);" />

                                            </div>
                                            <span style="display: none;" class="text-red">*กรุณาเลือกรูป</span> -->


                                        </div>

                                        <div class="col-sm-7">

                                            <div class="well">
                                                <div class="col-xs-2" style="padding-top: 5px;">
                                                    <b id="pc_name">ราคา <span class="text-red">*</span> :</b>
                                                </div>
                                                <div class="col-xs-8">
                                                    <b id="price_rmb2">&yen;</b><b id="price_rmb" class="price_rmb">0.00</b>
                                                    <h5 class="cal_thai">
                                                        <?=$cnrate?> x <span class="price_rmb"></span> = <span id="price_th">0.00</span> (ราคาโดยประมาณ)</h5>
                                                    <br />
                                                    <div class="input-group" style="" id="edit_rmb">
                                                        <span class="input-group-addon noselect" style="cursor: pointer;">&yen;</span>
                                                        <input type="text" class="form-control text-center" id="newRmb" value="1" onchange="changeYuan(this);" onkeypress="numberonly(event);">

                                                    </div>
                                                    <span  class="text-red">*กรุณาระบุราคา</span>
                                                </div>



                                                <div class="col-xs-2 text-right" style="padding-top: 5px; ">
                                                    <!-- <img src="<?=$BASEURL?>/assets/images/edit-btn.png" style="cursor: pointer;" onclick="editRmb();"/> -->
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>



                                            <div class="col-xs-12" id="prop_data">
                                            </div>

                                            <div class="col-xs-12 item-sku2">
                                                <dl>
                                                    <dt style="width: 100px;">สี <span class="text-red">*</span> : </dt>
                                                    <dd style="padding-left: 40px; width:300px; margin-bottom:10px;">
                                                        <input type="hidden" class="form-control" name="op_name[]" value="สี" />
                                                        <input type="text" class="form-control" name="op_value[]" onkeyup="$('#colorth').val($(this).val());" />
                                                        <input type="hidden" class="form-control" name="op_name_th[]" value="สี" />
                                                        <input type="hidden" class="form-control" name="op_value_th[]" id="colorth" />
                                                    </dd>
                                                    <dt style="width: 100px;">ไซด์ <span class="text-red">*</span> : </dt>
                                                    <dd style="padding-left: 40px; width:300px; margin-bottom:10px;">
                                                        <input type="hidden" class="form-control" name="op_name[]" value="ไซด์" />
                                                        <input type="text" class="form-control" name="op_value[]" onkeyup="$('#sizeth').val($(this).val());" />
                                                        <input type="hidden" class="form-control" name="op_name_th[]" value="ไซด์" />
                                                        <input type="hidden" class="form-control" name="op_value_th[]" id="sizeth" />
                                                    </dd>
                                                    <dt style="width: 100px;">ประเภทสินค้า : </dt>
                                                    <dd style="padding-left: 40px; width:300px;">

                                                        <!--<ul class="tb-cleafix">
     								      <?php $shipby = GF::masterdataList('1'); ?>
     								      <?php $kx=1; foreach($shipby as $master){ ?>
     								      	<li class="J_SKU <?php if($kx=='1'){ ?>active<?php } ?>" data-val="<?=$master['id']?>" onclick="changeOrdertype(this);"><a href="javascript:;"><span><?=$master['master_name']?></span></a></li>
     								      	<?php $kx++; } ?>
     								      </ul>-->
                                                        <select class="form-control" name="order_type">
     								      <?php $shipby = GF::masterdataList('1'); ?>
     								      <?php foreach($shipby as $master){ ?>
     								      	<option value="<?=$master['id']?>"><?=$master['master_name']?></option>
     								      <?php  } ?>
     								      </select>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div class="col-xs-12">
                                                <!--<h4>ราคา &nbsp;&nbsp; RMB&nbsp;&nbsp;&nbsp;&nbsp;( <b id="price_th">0.00</b> THB )</h4>-->
                                            </div>
                                            <div class="col-xs-12" style="margin-top: 2%;">
                                                <div class="row">
                                                    <div class="col-xs-3" style="padding-top: 2%;">
                                                        <span><b>จำนวน</b></span>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <!--<h4><input maxlength="4" onkeypress="validateKey(event);" name="product_qty" id="product_qty" style="font-size: 18px;text-align: center;height: 45px;" type="text" value="1" class="form-control"></h4>-->
                                                        <div class="input-group">

                                                            <input type="text" class="form-control text-center" name="product_qty" value="1" id="product_qty" onkeypress="numberonly(event);">

                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-xs-4" style="padding-top: 2%;">
                                                        <span><b>รายละเอียดเพิ่มเติม</b></span>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <div class="col-xs-10">
                                                        <textarea class="form-control" name="note" rows="8" placeholder="ถ้าท่านไม่ทราบขนาด สี หรือแบบ สามารถกรอกรายละเอียดเพิ่มเติมแจ้งทางเราได"></textarea>
                                                    </div>
                                                    <div class="col-sm-8 text-right" style="margin-top: 5%;">
                                                        <!--<button onclick="orderNow_N();" type="button" class="btn btn-warning btn-lg" style="padding-left: 20%;padding-right: 20%;">เพิ่ม</button>-->
                                                        <!-- <img src="<?=$BASEURL?>/assets/images/buy-btn.png" onclick="orderNow_N2();" style="cursor: pointer;max-width: 100%;" /> -->
                                                        <button class="btn btn-warning btn-lg" onclick="orderNow_N2();"><i class="fa fa-shopping-cart"></i> ลงตะกร้าสินค้า</button>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                        <div class="col-xs-12">
                                            <input type="hidden" name="pd_img" id="pd_img2" value="">
                                            <input type="hidden" name="shop_name" id="shop_name" value="">
                                            <!--<input type="hidden" name="order_type" id="order_type" value="1">-->
                                            <input type="hidden" name="shop_link" id="shop_link" value="">
                                            <input type="hidden" name="product_price_rmb" id="product_price_rmb" value="">
                                            <input type="hidden" name="product_price_thb" id="product_price_thb" value="">
                                            <div id="pd_option">

                                            </div>
                                            <div id="img-tag-c"  >

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12" id="cart_temp" style="margin-top:15px;">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-shopping-cart"></i> ตะกร้าสินค้า
                                </div>
                                <div class="panel-body">
                                    <form>
                                        <div id="preLoadSearch2" style="text-align: center;display:none;">
                                            <img src="<?=BASEURL?>/assets/template/back-end/images/712.GIF" style="max-width: 50px;" /><br /> Please Wait...
                                        </div>
                                        <?php if(count($_SESSION['item_tmp'])>0){ ?>
                                        <table class="table table-hover" id="myTable">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;" colspan="2">รายการ</th>
                                                    <th style="text-align: center;">
                                                        <nobr>ราคาหยวน</nobr>
                                                    </th>
                                                    <th style="text-align: center;">จำนวน</th>
                                                    <th style="text-align: center;">
                                                        <nobr>รวม (หยวน)</nobr>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <nobr>รวม (บาท)</nobr>
                                                    </th>
                                                    <th style="text-align: center;">
                                                        <nobr>หมายเหตุ</nobr>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="basket_member">
                                                <?php $preserved = array_reverse($_SESSION['item_tmp'], true); ?>
                                                <?php $total_th = 0; $total_cn = 0; foreach($preserved as $key=>$itm){ ?>
                                                <?php
								  	$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  	$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  ?>
                                                    <tr>
                                                        <th width="100" style="text-align: center;">
                                                            <img src="<?=$itm['product_image']?>" width="60" alt="" /><br />
                                                            <!-- <div class="fileUpload btn btn-primary btn-sm">
                                                                <span class="up-text23">Upload</span><span id="preTemp23" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                                                <input id="uploadBtn3" data-key="<?=$key?>" type="file" class="upload" onchange="uploadfiletemplist(this);" />
                                                            </div> -->
                                                        </th>
                                                        <td width="60%">
                                                            <a href="<?=$itm['product_link']?>" target="_blank">
                                                                <?=$itm['product_name']?>
                                                            </a><br /> ร้านค้า :
                                                            <a href="<?=$itm['saller_link']?>" target="_blank">
                                                                <?=$itm['saller_name']?>
                                                            </a><br />
                                                            <?php if(count($itm['product_option'] )>0){ ?>
                                                            <?php foreach($itm['product_option'] as $keyn=>$val_op){ ?>
                                                            <?=$val_op['op_name_th']?> : <input style="width:180px;margin-bottom: 5px;" type="text" value="<?=$val_op['op_value_th']?>" data-keyn="<?=$keyn?>" data-key="<?=$key?>" onchange="updateOption(this);" />
                                                                <!--<b><?=$val_op['op_value_th']?></b>--><br />
                                                                <?php } ?>
                                                                <?php } ?>
                                                                <br />
                                                                
                                                        </td>
                                                        <td style="text-align: center;">&yen;
                                                            <?=@number_format($itm['product_price_rmb'],2)?>
                                                        </td>
                                                        <td align="right"> <input maxlength="4" id="qty_<?=$key?>" style="width:60px; text-align:center;" type="text" value="<?=$itm['product_qty']?>" onchange="updateTempQTY('<?=$key?>');" /> </td>
                                                        <td style="text-align: center;">
                                                            <?=@number_format(($itm['product_price_rmb']*$itm['product_qty']),2)?>
                                                        </td>
                                                        <td style="text-align: center;">
                                                            <?=@number_format(($itm['product_price_rmb']*$itm['product_qty'])*GF::getrate(),2)?>
                                                        </td>
                                                        <td>
                                                            <textarea data-key="<?=$key?>" onchange="updateTempComment(this);" style="min-width: 200px;" class="form-control"><?=$itm['comment']?></textarea>
                                                        </td>
                                                        <td valign="middle">
                                                            <button type="button" class="btn btn-danger btn-xs" onclick="removeCartTempItem('<?=$key?>');"><i class="fa fa-times"></i></button>
                                                        </td>
                                                    </tr>
                                                    <?php } ?>
                                            </tbody>
                                        </table>
                                        <?php }else{ ?>
                                        <div class="panel text-center" role="alert">Empty Cart</div>
                                        <?php } ?>
                                    </form>
                                </div>
                                <div class="panel-footer" style="text-align: right;">
                                    <?php if(count($_SESSION['item_tmp'])>0){ ?>
                                    <a href="#/buyship/tempToCart" class="btn btn-warning"><i class="fa fa-credit-card" aria-hidden="true"></i> ตะกร้าสินค้า</a>
                                    <?php } ?>
                                </div>
                            </div>
                        </div>





                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-footer" style="margin-left: 10%">

                        <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                    </div>
                    <!-- /.box-footer -->

                </div>
            </div>
        </div>

</section>