<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการ Refund
                    <div class="pull-right">
                        <a href="#/buyship/refundlist/?status=" class="btn btn-primary btn-sm">ทั้งหมด</a>
                        <a href="#/buyship/refundlist/?status=Wait" class="btn btn-info btn-sm">รอตรวจสอบ</a>
                        <a href="#/buyship/refundlist/?status=Progress" class="btn btn-info btn-sm">กำลังดำเนินการ</a>
                        <a href="#/buyship/refundlist/?status=Ship" class="btn btn-info btn-sm">รอสินค้า</a>
                        <a href="#/buyship/refundlist/?status=Compelte" class="btn btn-info btn-sm">ได้รับสินค้าแล้ว</a>
                        <a href="#/buyship/refundlist/?status=Refund" class="btn btn-info btn-sm">คืนเงิน</a>
                        <a href="#/buyship/refundlist/?status=Norefund" class="btn btn-info btn-sm">ร้านแจ้งส่งให้ครบ</a>
                    </div>
                </div>

                <div class="box-body">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการ Refund</div>
                                <div class="pull-right">
                                    <!--<a href="<?=BASEURL?>/member/order_1/track/ALL" class="btn btn-primary"><i class="fa fa-bars"></i> รายการสั่งซื้อ</a>
                           		<a href="<?=BASEURL?>/member/order_1/track/C" class="btn btn-danger"><i class="fa fa-times"></i> รายการยกเลิก</a>
                           		<a href="<?=BASEURL?>/member/order_1/track/A" class="btn btn-success"><i class="fa fa-check"></i> รายการสำเร็จ</a>-->

                                    <?php //GF::print_r($memberinfo); ?>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>

                                            <th style="text-align: center;">วันแจ้ง Refund</th>
                                            <th style="text-align: center;">เลขใบสั่งซื้อ</th>
                                            <th style="text-align: center;">รูปภาพ</th>
                                            <th style="text-align: center;">ร้านค้าที่</th>
                                            <th style="text-align: center;">รายการที่</th>
                                            <th style="text-align: center;">จำนวนที่ขาด</th>
                                            <th style="text-align: center;">ราคาสินค้า</th>
                                            <th style="text-align: center;">ยอดรวมหยวน</th>
                                            <th style="text-align: center;">เรท</th>
                                            <th style="text-align: center;">ยอดเงินคืน (บาท)</th>
                                            <th style="text-align: center;">รูปภาพ</th>
                                            <th style="text-align: center;">รูปภาพร้านจีน</th>
                                            <th style="text-align: center;">Comment</th>
                                            <th style="text-align: center;">สถานะ</th>
                                            <th style="text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php if(count($refList)>0){ ?>
                                        <?php $i=1; foreach($refList as $list){ ?>
                                        <tr>
                                            <td>
                                                <?=date('d-m-Y',strtotime($list['create_dtm']))?>
                                            </td>
                                            <td style="text-align: center;">
                                                <a href="#/buyship/view/<?=$list['item_info']['order_id']?>">
                                                    <?=GF::order_no($list['item_info']['order_id'])?>
                                                </a>
                                            </td>
                                            <td><img src="<?=$list['item_info']['img_path']?>" style="max-width:80px;" /></td>
                                            <td style="text-align: center;">
                                                <?=$list['item_info']['saller_number']?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['ref_item']?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['item_info']['product_buy_qty']-$list['ref_refund']?>
                                                    <?php $ddt=0; $ddt = $list['item_info']['product_buy_qty']-$list['ref_refund']; ?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['item_info']['product_price_rmb']?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['item_info']['product_price_rmb']*$ddt?><br />
                                                    <span class="text-green">คืนจริง <b><?=$list['ref_rmb']?></b></span>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['order_info']['rate']?><br />
                                            </td>
                                            <td style="text-align: center;">
                                                <?=($list['item_info']['product_price_rmb']*$ddt)*$list['order_info']['rate']?>
                                                    <br /><span class="text-green">คืนจริง <b><?=$list['ref_thb']?></b></span>
                                            </td>
                                            <td>
                                                <?php if($list['ref_file']!=''){ ?>
                                                <?php $file_type = explode('.',$list['ref_file']);$xcv = end($file_type);   ?>
                                                <?php if($xcv=='pdf'){ ?>
                                                <a href="<?=$BASEURL?>/uploads/refund/<?=$list['ref_file']?>" target="_blank" class="btn btn-info btn-xs">ดูไฟล์</a>
                                                <?php }else{ ?>
                                                <a href="javascript:;" onclick="ddUmg('<?=$BASEURL?>/uploads/refund/<?=$list['ref_file']?>');"><img style="max-width:50px;" src="<?=$BASEURL?>/uploads/refund/<?=$list['ref_file']?>" /></a>
                                                <?php } ?>
                                                <?php } ?>
                                            </td>
                                            <td>
                                                <?php if($list['ref_file2']!=''){ ?>
                                                <a href="javascript:;" onclick="ddUmg('<?=$BASEURL?>/uploads/refund/<?=$list['ref_file2']?>');"><img style="max-width:50px;" src="<?=$BASEURL?>/uploads/refund/<?=$list['ref_file2']?>" /></a>
                                                <?php } ?>
                                            </td>
                                            <td>
                                                <?=$list['ref_comment']?>
                                            </td>
                                            <td style="text-align: center;">
                                                <b>
                                    <?php
                                       if($list['status']=='Wait'){echo 'รอตรวจสอบ';}
                                       else if($list['status']=='Progress'){echo 'กำลังดำเนินการ';}
                                       else if($list['status']=='Ship'){echo 'รอสินค้า';}
                                       else if($list['status']=='Compelte'){echo 'ได้รับสินค้าแล้ว';}
                                       else if($list['status']=='Refund' || $list['status']=='Refunded'){echo 'คืนเงิน';}
                                       else if($list['status']=='Norefund'){echo 'ร้านแจ้งส่งให้ครบ';}
                                       else {
                                        echo 'กำลังดำเนินการ';
                                       }
                                    ?>
                                    </b>
                                                <br />
                                                <span class="text-info">Admin : <?=$list['ref_admin']?></span>
                                            </td>
                                            <td style="text-align: center;">
                                                <?php if($list['status']=='Wait'){ ?>
                                                <button type="button" data-id="<?=$list['ref_id']?>" data-item="<?=$list['item_id']?>" onclick="cancelRefund(this);" class="btn btn-danger btn-xs">ยกเลิก</button>
                                                <?php }else{ ?> -
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <?php $i++; } ?>
                                        <?php } ?>
                                    </tbody>

                                </table>

                                <nav class="pull-right" style="margin-right: 3%;">
                                    <ul class="pagination pagination-md">
                                        <?php for($i=1;$i<=$allPage;$i++){ ?>
                                        <li <?php if($currpage==$i){ ?>class="active"
                                            <?php } ?>>
                                            <a href="#/buyship/refundlist/?page=<?=$i?>">
                                                <?=$i?>
                                            </a>
                                        </li>
                                        <?php } ?>

                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <img src="" class="img-responsive center-block" id="ddImg" />
            </div>

        </div>
    </div>
</div>