<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ Del
                </div>

                <div class="box-body">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_id']?></b></span>, สถานะ :
                                    <?php 
							           	$color_status = 'blue';
							           	if($orderInfo['status']=='C'){
											$color_status = 'red';
										}
										if($orderInfo['status']=='A'){
											$color_status = 'green';
										}
										if($orderInfo['status']=='V'){
											$color_status = 'orange';
										}
										if($orderInfo['status']=='PW'){
											$color_status = 'brown';
										}
										if($orderInfo['status']=='PA'){
											$color_status = 'pink';
										}
							          ?>
                                    <span style="color:<?=$color_status?>;"><?=$orderInfo['status_text']?></span>

                                </div>
                                <div class="pull-right">
                                    <!--<?php if($orderInfo['status']=='PW'){ ?>
                           		<a href="<?=BASEURL?>/member/payment_track/update/<?=$orderInfo['id']?>" class="btn btn-primary"><i class="fa fa-money"></i> แจ้งชำระเงิน</a>
                           	<?php } ?>-->
                                    <span style="color: red;">ค่าเงินหยวนขณะที่สั่งซื้อ : <?=$orderInfo['rate']?></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <!--<tr>
							          <th>ชื่อสินค้า / ร้าค้า</th>
							          <th></th>
							          <th>ราคา</th>
							          <th></th>
							          <th></th>
							          <th></th>
							        </tr>-->
                                        <tr>
                                            <!--<th>รายการ</th>
							          <th>ชื่อสินค้า / ร้าค้า</th>
							          <th></th>
							          <th>ราคา</th>
							          <th>สั่งซื้อ</th>
							          <th>จีน-จีน</th>
							          <th>จีน-ไทย</th>
							          <th>รวมทั้งหมด</th>
							          <th>สถานะ</th>
							          <th>เพิ่มเงิน</th>
							          <th>คืนเงิน</th>
							          <th>หมายเหตุ</th>-->
                                            <!--<?php if($orderInfo['status']=='W'){ ?><th>ลบ</th><?php } ?>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="3" valign="center" style="border-left: 1px solid #DDDDDD;text-align: center;">รายการ</td>
                                            <td align="left" style="border-left: 1px solid #DDDDDD;text-align: center; border-right: 1px solid #DDDDDD;"></td>
                                        </tr>
                                        <?php $total_all=0; $old_shop = ''; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; foreach($itemList as $vals){ ?>
                                        <?php if($vals['product_saller_name']!=$old_shop){ ?>
                                        <?php if($vals['product_sku_1']=='-'){ ?>
                                        <tr bgcolor="#F39C12">
                                            <td colspan="12">ร้านจีนไม่ส่งของ -
                                                <?=$vals['notrack_comment']?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                        <tr bgcolor="#ffeaef">
                                            <!--<td></td>-->
                                            <td colspan="13">
                                                ร้านค้า :
                                                <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                    <?=$vals['product_saller_name']?> -
                                                        <?=$vals['saller_number']?>
                                                </a>
                                            </td>
                                        </tr>
                                        <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; } ?>
                                        <!--<tr bgcolor="#eaf1ff">
							      			<td></td>
							      			<td colspan="12">
							      				ชื่อสินค้า : <?=$vals['product_title']?> 
							      			</td>
							      		</tr>-->
                                        <tr style="border-bottom: 1px solid #DDDDDD;">
                                            <td style="border-left: 1px solid #DDDDDD;text-align: center;" valign="center">
                                                <!--<?=$ck?>.-->
                                                <br />
                                                <a target="_blank" href="<?=$vals['product_link']?>">View</a><br /><br />
                                                <?php if($orderInfo['status']=='W'){ ?><button type="button" class="btn btn-default btn-sm" onclick="delItem(this);" data-item="<?=$vals['id']?>" data-ord="<?=$orderInfo['id']?>"><i class="fa fa-trash-o"></i> ลบ</button>
                                                <?php } ?>
                                                <br /><br />
                                                <span style="color: red;">No <b><?=$im_sale_no?></b></span>
                                                <?php $im_sale_no++; ?>

                                            </td>
                                            <td style="">
                                                <img class="thumbnail" style="width: 150px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>" />
                                            </td>
                                            <td style="border-right: 1px solid #DDDDDD;">
                                                <?=$vals['product_title']?> <br />
                                                    <?php foreach($vals['option'] as $opt){ ?>
                                                    <?=$opt['option_name_th']?> :
                                                        <?=$opt['option_value_th']?> <br />
                                                            <?php } ?>
                                                            <br />
                                                            <b>ราคา(หยวน)</b> : &yen;
                                                            <?=$vals['product_price_rmb']?>/ชิ้น<br />
                                                                <b>จำนวนสั่งซื้อ</b> :
                                                                <?=$vals['product_qty']?><br />
                                                                    <b>ราคา</b> :
                                                                    <?=$vals['product_price_thb']?> บาท<br />

                                            </td>
                                            <!--<td style="border: 1px solid #DDDDDD;" align="center">
							     				&yen; <?=$vals['product_price_rmb']?>
							     				<hr>
							     				฿ <?=$vals['product_price_thb']?>
							     			</td>-->
                                            <!--<td colspan="2" align="left">
							     			<nobr>จีน - จีน &nbsp;&nbsp;&nbsp;<?=$vals['ship_cn_cn']?> หยวน <?=$vals['ship_cn_cn']*$orderInfo['rate']?></nobr><br /><br />
							     			<nobr>เพิ่มเงิน &nbsp;&nbsp;&nbsp;<?=$vals['upfund']?> บาท</nobr>
							     			<br /><br /><br />
							     			<h5 style="color: green;"><b>รวมทั้งสิ้น : <?=number_format(($vals['product_price_thb']+$vals['upfund'])-$vals['refund'],2)?> บาท</b></h5>
							     			<?php $total_all = $total_all+(($vals['product_price_thb']+$vals['upfund'])-$vals['refund']) ?>
							     			</td>-->
                                            <!--<td style="" align="left">
							     			<nobr><?=$vals['ship_cn_cn']?> หยวน <?=$vals['ship_cn_cn']*$orderInfo['rate']?> บาท</nobr>
							     			<br /><br />
							     			<nobr><?=$vals['upfund']?> บาท</nobr>
							     			</td>-->
                                            <!--<td style="" align="left"><br /><br />
							     			<nobr>คืนเงิน</nobr>
							     			</td>
							     			<td style="" align="center">
							     			<br /><br />
							     			<nobr>-<?=$vals['refund']?> บาท</nobr>
							     				
							     			</td>-->

                                            <td style="border-right: 1px solid #DDDDDD;">
                                                หมายเหตุ
                                                <?=$vals['note']?>

                                            </td>
                                            <!--<?php if($orderInfo['status']=='W'){ ?><td style="border: 1px solid #DDDDDD;"><button type="button" class="btn btn-default btn-sm" onclick="delItem('<?=$vals['id']?>');"><i class="fa fa-trash-o"></i> ลบ</button></td><?php } ?>-->
                                        </tr>
                                        <?php $cn_cn = $cn_cn+$vals['ship_cn_cn'];$cn_th = $cn_th+$vals['ship_cn_th']; $ck++; } ?>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="col-md-6">
                                    วันที่ทำรายการ : <b><?=$orderInfo['create_dtm']?></b><br /> วิธีชำระเงิน : <b><?php if($orderInfo['order_payment']=='A'){?>
                           		ชำระเงิน 2 รอบ คือรอบที่ 1 เป็นค่าสินค้าและค่าขนส่ง จีน-จีน ชำระรอบที่ 2 เป้นค่าขนส่ง จีน-ไทย/ไทย-ไทย
                           		<?php } ?></b>
                                    <br /> วิธีการขนส่งสินค้า จีน-ไทย : <b><?php if($orderInfo['order_ship_cn']=='A'){?>
                           			ทางรถ
                           			<?php }else if($orderInfo['order_ship_cn']=='B'){ ?>
                           			ทางเรือ
                           			<?php } ?>
                           		</b><br /> วิธีขนส่งสินค้าในไทย : <b><?=$orderInfo['order_ship_th']['name']?></b><br /> หมายเหตุ : <b><?=$orderInfo['order_comment']?></b><br />
                                </div>
                                <div class="col-md-6">
                                    ค่าขนส่งสินค้า จีน-จีน : <span style="color: red;"><b><?=$cn_cn?></b></span> หยวน<br /> ค่าขนส่งสินค้า จีน-ไทย : <span style="color: red;"><b><?=$cn_th?></b></span> บาท<br />
                                    <!--ค่าขนส่งสินค้า ไทย-ไทย : <span style="color: red;"><b>0</b></span> บาท<br />-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="text-align: right;">

                        <a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                        <?php if($orderInfo['status']=='W'){ ?><button onclick="cancelOrder('<?=$orderInfo['id']?>','1');" type="button" class="btn btn-warning btn-md"> <i class="fa fa-times"></i> ยกเลิกการสั่งซื้อ</button>
                        <?php } ?>
                    </div>
                    <div class="col-xs-12" style="text-align: center;">
                        <h3>รวมทั้งสิ้น <span style="color: red;"><b><?=number_format($orderInfo['order_price'],2)?></b></span> บาท</h3>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>