<script>
    supperid = "<?=$orderInfo['id']?>";
</script>
<style>
    .form-group .control-label {
        text-align: left;
    }
    
    tr.head-border th {
        border: 1px solid #cecece !important;
    }
</style>

<section class="content-header">
    <h1>
        สั่งซื้อ + นำเข้า
        <small></small>
    </h1>
</section>

<form name="tempFrm" id="tempFrm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp3" />
    <input type="text" name="item_id" id="item_id" value="" />
    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>
<form name="temp2Frm" id="temp2Frm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp3" />

    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ
                </div>

                <div class="box-body">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_number']?></b></span>, สถานะ :
                                    <?php
							           	$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='1'){
											$color_status = 'green';
										}
										if($odr['status']=='2'){
											$color_status = 'pink';
										}
										if($odr['status']=='3'){
											$color_status = 'brown';
										}
										if($odr['status']=='4'){
											$color_status = 'orange';
										}
										if($odr['status']=='5'){
											$color_status = 'green';
										}
							          ?>
                                        <span style="color:<?=$color_status?>;"><?=$orderInfo['status_text']?></span>

                                </div>
                                <div class="pull-right">
                                    <!--<?php if($orderInfo['status']=='PW'){ ?>
                           		<a href="<?=BASEURL?>/member/payment_track/update/<?=$orderInfo['id']?>" class="btn btn-primary"><i class="fa fa-money"></i> แจ้งชำระเงิน</a>
                           	<?php } ?>-->
                                    <span style="color: red;">ค่าเงินหยวนขณะที่สั่งซื้อ : <?=$orderInfo['rate']?></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table ">
                                    <thead>
                                        <!--<tr>
							          <th>ชื่อสินค้า / ร้าค้า</th>
							          <th></th>
							          <th>ราคา</th>
							          <th></th>
							          <th></th>
							          <th></th>
							        </tr>-->
                                        <tr>
                                            <!--<th>รายการ</th>
							          <th>ชื่อสินค้า / ร้าค้า</th>
							          <th></th>
							          <th>ราคา</th>
							          <th>สั่งซื้อ</th>
							          <th>จีน-จีน</th>
							          <th>จีน-ไทย</th>
							          <th>รวมทั้งหมด</th>
							          <th>สถานะ</th>
							          <th>เพิ่มเงิน</th>
							          <th>คืนเงิน</th>
							          <th>หมายเหตุ</th>-->
                                            <!--<?php if($orderInfo['status']=='W'){ ?><th>ลบ</th><?php } ?>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <tr>
                                          <th style="text-align: center;" colspan="2">รายการ</th>
                                          <th style="text-align: center;"><nobr>สถานะ</nobr></th>
                                          <th style="text-align: center;"><nobr>หมายเหตุ</nobr></th>
								          <th style="text-align: center;"><nobr>ราคาหยวน</nobr></th>

								          <th style="text-align: center;">จำนวน</th>

								          <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
                                  <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>
								          <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />บาท</th>
								          <th style="text-align: center;"><nobr>รวม (บาท)</nobr></th>

                                 </tr> -->
                                        <?php
                                    	$total_upfund = 0;
                                        $total_refund = 0;
                                        $total_yuan_b = 0;
                                        $total_yuan_a = 0;
                                    ?>
                                    <!-- Start edit by hatairat 22/10/2564 [14 Line]-->
                                            <?php $num_pice = 1; $total_all=0;$total_true=0; $old_shop = ''; $numshop=1; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; 
                                            $old_saller_num = 0;
                                            $old_total_order_buy_amount = 0; //hatairat 26-10-2564                                        
                                            $sallerArr = array();
                                            $i=1;
                                            foreach($itemList as $vals){                                          
                                                if($vals['item_typs_s']=='NR'){  
                                                    if($vals['saller_number'] != $old_saller_num)
                                                    {
                                                                                                                                                                                                                                                                   
                                                        $i = 1;
                                                        $old_saller_num = $vals['saller_number'];
                                                        
                                                    }             
                                                    $sallerArr[$vals['saller_number']] = $vals['saller_number'].$i++;                 
                                                }                                            
                                            }   
                                            
                                            foreach($itemList as $vals){ ?>
                                            <?php if($vals['item_typs_s']=='NR'){ 
                                                $old_total_order_buy_amount += ($vals[product_buy_rmb] * $vals['product_buy_qty']);    // hatairat 26-10-2564  
                                                ?>
                                            <?php if($vals['product_saller_name']!=$old_shop){  $num_pice = 1; ?>
                                            <?php if($vals['product_sku_1']=='-'){ ?>
                                            <tr bgcolor="#ffb744">
                                                <td colspan="14">ร้านจีนไม่ส่งของ -
                                                    <?=$vals['notrack_comment']?>
                                                </td>
                                            </tr>
                                            <?php } ?>
                                            <tr bgcolor="#ffeaef">
                                                <!--<td></td>-->
                                                <td colspan="3">
                                                    ร้านค้า 2:
                                                    <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                        <?=$vals['product_saller_name']?>
                                                    </a>
                                                </td>
                                                <td colspan="3">
                                                    Tracking No : <b><?=$vals['product_sku_1']?></b>
                                                </td>
                                                <!-- Edit by hatairat 20/10/2564 -->
                                               <!-- <td colspan="4">
                                                    <div class="col-sm-7">รูปภาพร้านค้า</div>
                                                    <div class="col-sm-3">
                                                        <?php if($vals['saller_image']!=''){ ?>
                                                        <a class="btn btn-info btn-xs" onclick="$('#modal-img-pic').attr('src','<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>');$('#imgsModal').modal('show');" href="javascript:;">ดูรูป</a>
                                                        <?php } ?>
                                                    </div>


                                                </td>
                                                <td colspan="4" class="text-right">
                                                    <?php
                                          $keycheck = NULL;
                                          $price_yuan = 0;
                                          $data_idss = 0;
                                          if(count($shipItem['data'])>0){
                                             $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                                             if($keysearch!==false){
                                                $keycheck = $keysearch;
                                                $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                                $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                                $cn_cn = $cn_cn+$price_yuan;
                                             }
                                          }
                                       ?>
                                                        ค่าจัดส่งจีน : <b><?=$price_yuan?></b> หยวน
                                                </td>-->
                                                <td align="right" colspan="7">
                                                    <!-- <a href="javascript:void(0)" onclick="jumpto('<?=saller.$vals[saller_number]?>')" return false;>ดูยอดรวมร้าน</a> -->
                                                    <button class="btn btn-info btn-md" onclick="jumpto('<?=saller.$vals[saller_number]?>')">ดูยอดรวมร้านค้า</button>
                                                </td>
                                                <td align="right" width ="30px"></td>
                                                <!-- Edit by hatairat 20/10/2564 -->
                                            </tr>
                                            <tr class="head-border">
                                                <th style="text-align: center;" colspan="3" rowspan="2">รายการ</th>

                                                <th style="text-align: center;" rowspan="2">
                                                    <nobr>สถานะ</nobr>
                                                </th>
                                                <th style="text-align: center;" rowspan="2">
                                                    <nobr>หมายเหตุ</nobr>
                                                </th>
                                                <th style="text-align: center;" colspan="5">ยอดก่อนสั่ง</th>
                                                <th style="text-align: center;" colspan="3">ยอดสั่งจริง</th>
                                                <?php if($orderInfo['status']=='1'){ ?>
                                                <th rowspan="2" style="text-align: center;">ลบ</th>
                                                <?php }else{ ?>
                                                <th rowspan="2"></th>
                                                <?php } ?>
                                            </tr>
                                            <tr class="head-border">
                                                <!-- <th style="text-align: center;" colspan="3">รายการ</th> -->
                                                <!-- <th style="text-align: center;">
                                                    <nobr>สถานะ</nobr>
                                                </th> -->
                                                <!-- <th style="text-align: center;">
                                                    <nobr>หมายเหตุ</nobr>
                                                </th> -->
                                                <th style="text-align: center; min-width: 100px;">
                                                    <nobr>ราคา(&yen;)</nobr>
                                                </th>

                                                <th style="text-align: center;">จำนวน</th>
                                                <th style="text-align: center; min-width: 100px;">
                                                    <nobr>รวม(&yen;)</nobr>
                                                </th>
                                                <th style="text-align: center;min-width: 100px;">
                                                    <nobr>รวม(฿)</nobr>
                                                </th>
<!-- Edit by hatairat 22/10/2564 -->
                                            <!--
                                                <th style="text-align: center;">
                                                    <nobr>ราคา(&yen;)</nobr>
                                                </th>--><!-- Edit by hatairat 22/10/2564 -->

                                                <th style="text-align: center;" colspan="3">จำนวน</th>
                                                <!-- Edit by hatairat 22/10/2564 -->
                                            <!--<th style="text-align: center;">
                                                    <nobr>รวม(&yen;)</nobr>
                                                </th>
                                                <th style="text-align: center;">
                                                    <nobr>รวม(฿)</nobr>
                                                </th>--><!-- Edit by hatairat 22/10/2564 -->


                                            </tr>
                                            <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $numshop++; } ?>




                                            <tr style="" <?php if($vals[ 'status']=='14' ){ ?>class="bg-gray disabled color-palette"
                                                <?php } ?>>
                                                <th width="10">
                                                    <span class="text-warning"><?=$num_pice?></span>
                                                </th>
                                                <th width="60">

                                                    <img class="thumbnail" style="width: 150px; margin-bottom:0px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>" />
                                                    <?php if($orderInfo['status']=='1'){ ?>
                                                    <div class="fileUpload btn btn-primary btn-xs">
                                                        <span class="up-text">Upload</span><span class="preTemp" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                                        <input id="uploadBtn" type="file" class="upload" data-item="<?=$vals['id']?>" onchange="uploadfiletemp(this);" />
                                                    </div>
                                                    <?php } ?>

                                                    <?php if(($vals['ref_id']=='0' || $vals['ref_id']=='') && $vals['product_buy_qty']!='0'){ ?>
                                                    <br />
                                                    <button type="button" class="btn btn-default btn-xs" onclick="showItemRefundInfo('<?=$vals['id']?>','<?=$num_pice?>');">
                                       <i class="fa fa-retweet" aria-hidden="true"></i> ทวงเงินร้านค้าจีน
                                     </button>
                                                    <?php } ?>
                                                    <?php if($vals['ref_id']>0){ ?>
                                                    <br />
                                                    <span class="text-muted">รายการขอ ทวงเงินร้านค้าจีน</span>
                                                    <?php } ?>
                                                </th>
                                                <td width="60%">
                                                    <a href="<?=$vals['product_link']?>" target="_blank">
                                                        <?=$vals['product_title']?>
                                                    </a><br />

                                                    <?php if($orderInfo['status']=='1' || $orderInfo['status']=='2'){ ?>
                                                    <?php foreach($vals['option'] as $val_op){ ?>
                                                    <?=$val_op['option_name_th']?> : <input onchange="changeOption(this);" data-odr="<?=$orderInfo['id']?>" data-opid="<?=$val_op['id']?>" type="text" value="<?=$val_op['option_value_th']?>">&nbsp;&nbsp;
                                                        <?php } ?>
                                                        <?php }else{ ?>
                                                        <?php foreach($vals['option'] as $val_op){ ?>
                                                        <?=$val_op['option_name_th']?> : <b><?=$val_op['option_value_th']?></b>&nbsp;&nbsp;
                                                            <?php } ?>

                                                            <?php } ?>
                                                            <br /><br /> ประเภทสินค้า : <b><?php $cvmaster = GF::masterdata($vals['order_type']); echo $cvmaster['master_name']; ?></b>
                                                            <br /> ประเภทการนำเข้า : <b><?php $cvmaster = GF::masterdata($vals['ship_by']); echo $cvmaster['master_name']; ?></b>
                                                </td>
                                                <td>
                                                    <nobr>
                                                        <?php $cvmaster = GF::masterdataval('3',$vals['status']); echo $cvmaster['master_name']; ?>

                                                    </nobr>
                                                </td>
                                                <td>
                                                    <textarea data-key="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;" class="form-control hidden"><?=$vals['note']?></textarea>
                                                    <?=$vals['note']?>
                                                </td>
                                                <td style="text-align: center;"><nobr>&yen;
                                                    <?=number_format($vals['product_price_rmb'],2)?></nobr>

                                                </td>
                                                <td align="right"> <input maxlength="4" style="width:60px; text-align:center;" type="text" value="<?=$vals['product_qty']?>" id="qty_<?=$key?>" onchange="updateQTYOrder(this);" class="hidden" />
                                                    <?=$vals['product_qty']?>
                                                </td>
                                                <td style="text-align: center;">&yen;
                                                    <?=number_format($vals['product_price_rmb']*$vals['product_qty'],2)?>
                                                </td>

                                                <td style="text-align: center;">
                                                    <?php 
                                                    $totalbaht = ($vals['product_price_rmb']*$vals['product_qty'])*$orderInfo['old_rate'];
                                                    $total_buy = ($vals['product_buy_rmb']*$vals['product_buy_qty'])*$orderInfo['rate'];
                                                    ?>
                                                    <?=number_format($totalbaht,2)?>
                                                     <br /><!-- Weerasak 29-10-2564--> 
                                                        <?php if($total_buy>0){ ?>
                                                        <?php if(($totalbaht-$total_buy)>0){ ?>
                                                        <span class="text-red">-<?=number_format(($totalbaht-$total_buy),2)?></span>
                                                        <?php $total_refund=$total_refund+($total_buy-$totalbaht); }else{ ?>
                                                        <span class="text-green">+<?=number_format(($total_buy-$totalbaht),2)?></span>
                                                        <?php $total_upfund=$total_upfund+($totalbaht-$total_buy); } ?> 
                                                        <?php } ?>
                                                </td>

                                                <!-- Edit by hatairat 22/10/2564 -->
                                            <!--<td style="text-align: center;">
                                                    <?php $total_yuan_a += $vals['product_buy_rmb']*$vals['product_buy_qty']; ?>
                                                    <?php $total_yuan_b += $vals['product_price_rmb']*$vals['product_qty']; ?>
                                                    <?=number_format($vals['product_buy_rmb'],2)?>
                                                </td>-->
                                                <td style="text-align: center;" colspan="4">

                                                    <?=$vals['product_buy_qty']?>
                                                </td>
                                                <!-- Edit by hatairat 17/10/2564 -->
                                            <!--
                                                <td style="text-align: center;">

                                                    <?=number_format($vals['product_buy_rmb']*$vals['product_buy_qty'],2)?>
                                                </td>
                                                <td style="text-align: center;">

                                                    <?=number_format($total_buy,2)?>
                                                </td>--><!-- Edit by hatairat 17/10/2564 -->

                                                <?php if($orderInfo['status']=='1'){ ?>
                                                <td valign="middle">
                                                    <button type="button" class="btn btn-danger btn-xs" onclick="delItem(this);" data-item="<?=$vals['id']?>" data-ord="<?=$orderInfo['id']?>"><i class="fa fa-times"></i></button>
                                                </td>
                                                <?php }else{ ?>
                                                <td></td>
                                                <?php } ?>
                                            </tr>
                                            <?php
                                 $total_all=$total_all+$totalbaht;
                                 //$cn_cn = $cn_cn+$vals['ship_cn_cn'];
                                 //$cn_th = $cn_th+$vals['ship_cn_th'];
                                 $total_true = $total_true+$total_buy;
                                 $ss = $vals['saller_number'].$num_pice;
                              $ck++; $num_pice++;} ?>
                              <!-- edit by hataitrat 22/10/2564 -->
                           <?php if(in_array($ss,$sallerArr)){  
                            $keycheck = NULL;
                            $price_yuan = 0;
                            $data_idss = 0;
                            $sallerOrderAmount = 0;
                            $sallerDiscount = 0;
                            $sallerShipping = 0;
                            $netAmount = 0;
                            if(count($shipItem['data'])>0){
                                $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                                if($keysearch!==false){
                                    $keycheck = $keysearch;
                                    $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                    $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                    $cn_cn = $cn_cn+$price_yuan;

                                    $sallerOrderAmount = $shipItem['data'][$keysearch]['saller_amount_rmb']; 
                                    $sallerDiscount = $shipItem['data'][$keysearch]['saller_discount_rmb'];
                                    $sallerShipping = $shipItem['data'][$keysearch]['saller_shipping_rmb'];

                                    $netAmount = ($sallerOrderAmount + $sallerShipping) - $sallerDiscount;
                                }
                            }
                            //echo GF::print_r($shipItem);
                           // echo $price_yuan;
                            if($netAmount == 0)
                            {
                                //$sallerOrderAmount = $old_total_order_buy_amount;
                                $sallerShipping = $price_yuan;

                                foreach($orderBySaller as $s)
                                {
                                    if($s[saller_number] == $vals['saller_number'])
                                        $sallerOrderAmount = $s[amount];
                                }
                                $netAmount = $sallerOrderAmount + $sallerShipping;  

                               //$netAmount = $old_total_order_buy_amount;
                            }
                        ?>
                        <thead>
                            <tr bgcolor="#FFEAEF">
                                <td id="<?='saller'.$vals['saller_number']?>" colspan="2"><b>ยอดรวมร้าน</b>
                                </td>			
                                <td align="right" colspan="12">
                                    <table>                                
                                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่ง</td>
                                        <td>
                                            <span class="text-red"><b><?=number_format($sallerOrderAmount,2)?></b></span>
                                            <!--<?php if($orderInfo['export']=='Y'){ ?>                                            
                                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=$sallerOrderAmount?>" data-order="<?=$orderInfo['id']?>" data-id="<?=$data_idss?>" onchange="updateOrderAmountSaller(this);">
                                            <?php }else{ ?>
                                            <span class="text-red"><b><?=$sallerOrderAmount?></b></span>
                                            <?php } ?>-->
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                        <td style="padding: 0px 10px 0px 10px;">ค่าส่งในจีน</td>
                                        <td>
                                            <span class="text-red"><b><?=number_format($sallerShipping,2)?></b></span>
                                            <!--<?php if($orderInfo['export']=='Y'){ ?>
                                            <input type="text" data-order="<?=$orderInfo['id']?>" data-saller="<?=$vals['saller_number']?>" data-id="<?=$data_idss?>" class="text-center" onkeypress="numberonly(event);" value="<?=$sallerShipping?>" onchange="updateCNShippingSaller(this);" style="width:50px;" />
                                            <?php }else{ ?>
                                            <span class="text-red"><b><?=$sallerShipping?></b></span>
                                            <?php } ?>-->
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                        <td style="padding: 0px 10px 0px 10px;">ส่วนลด</td>
                                        <td>    
                                            <span class="text-red"><b><?=number_format($sallerDiscount,2)?></b></span>                                            
                                            <!--<?php if($orderInfo['export']=='Y'){ ?>
                                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=$sallerDiscount?>" data-order="<?=$orderInfo['id']?>" data-id="<?=$data_idss?>" onchange="updateDiscountSaller(this);">
                                            <?php }else{ ?>
                                            <span class="text-red"><b><?=$sallerDiscount?></b></span>
                                            <?php } ?>-->
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่งจริง</td>
                                        <td>
                                            <span class="text-red"><b><?=number_format($netAmount,2)?></b></span>
                                            <!--<?php if($orderInfo['export']=='Y'){ ?>
                                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=$netAmount?>" data-id="<?=$data_idss?>" onchange="updateYuan(this);" disabled>
                                            <?php }else{ ?>
                                            <span class="text-red"><b><?=$netAmount?></b></span>
                                            <?php } ?>-->
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <!-- <td><li class="fa fa-paperclip"></li>Attach file</td> -->
                                        <td>
                                            <div class="col-sm-3 text-right">
                                                <?php if($vals['saller_image']!=''){ ?>                                                    
                                                <a class="btn btn-info btn-xs" onclick="$('#modal-img-pic').attr('src','<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>');$('#imgsModal').modal('show');" href="javascript:;">ดูรูป</a>

                                                <?php } ?>
                                            </div>
                                            <!--<div class="col-sm-5">
                                                <form id="saller_<?=$vals['saller_number']?>">
                                                    <input type="hidden" name="mode" value="uploadseller">
                                                    <input type="hidden" name="saller_number" value="<?=$vals['saller_number']?>">
                                                    <input type="hidden" name="order_id" value="<?=$orderInfo['id']?>">
                                                    <input type="file" name="file_seller" />
                                                </form>
                                            </div>-->
                                        </td>
                                        <td><!--<button type="button" class="btn btn-info btn-xs" onclick="saveImagSaller('<?=$orderInfo['id']?>','<?=$vals['saller_number']?>');">Upload</button>--></td>
                                    </table>
                                </td>						
                            </tr> 
                            <tr height="3"></tr>        
                            <tr><td colspan="14"></td></tr>                          
                        </thead>                          
                    <?php } ?>
                    <!-- END edit by hatairat 22/10/2564 -->

                                                <?php } ?>
                                                <?php foreach($itemList as $vals){ ?>
                                                <?php if($vals['item_typs_s']!='NR'){ ?>
                                                <tr>

                                                    <td class="text-center">
                                                        <?php if($vals['item_typs_s']=='DE'){ ?>
                                                        <span class="text-red">คืนเงิน</span>
                                                        <?php }else{ ?>
                                                        <span class="text-green">เพิ่มเงิน</span>
                                                        <?php } ?>
                                                    </td>
                                                    <td>
                                                        <b><?=$vals['product_title']?></b>


                                                    </td>
                                                    <td>-</td>
                                                    <td>
                                                        <?=$vals['note']?>
                                                    </td>
                                                    <td class="text-center">
                                                        <!--<?=$vals['product_price_rmb']?>/<?=$orderInfo['rate']?>-->
                                                    </td>
                                                    <td class="text-right">
                                                        <!--<?=$vals['product_qty']?> -->
                                                    </td>
                                                    <td colspan="3"></td>
                                                    <td class="text-right">
                                                        <?=$vals['product_price_thb']?>

                                                    </td>

                                                </tr>

                                                <?php
							      			if($vals['item_typs_s']=='DE'){
							      				$total_all=$total_all-$vals['product_price_thb'];
                                       $total_true=$total_true-$vals['product_price_thb'];
							      			}else if($vals['item_typs_s']=='IN'){
							      				$total_all=$total_all+$vals['product_price_thb'];
                                       $total_true=$total_true+$vals['product_price_thb'];
							      			}
							      		 ?>
                                                    <?php  } ?>

                                                    <?php } ?>
                                                    <?php //echo $orderInfo['order_pay_ship'];
                              $total_all = ($total_all+$orderInfo['order_pay_ship'])-$orderInfo['order_discount'];
                              //$total_all = $total_all+($cn_cn*$orderInfo['old_rate']);

                              //$total_true = $total_true+($orderInfo['order_pay_cn']*$orderInfo['rate']);
                              $total_true = ($total_true)-$orderInfo['order_discount'];
                              $total_true = $total_true+($cn_cn*$orderInfo['rate']);
                              if($orderInfo['export']=='N'){$total_true=0;}
                           ?>
                            <!--Start Edit by hatairat 23-10-2564-->
                           <?php
                                $totalAmount = 0;
                                $totalShipping = 0;
                                $totalDiscount = 0;
                                foreach($shipItem['data'] as $item){
                                    $totalAmount = $totalAmount + $item['saller_amount_rmb']; 

                                    if($item['saller_shipping_rmb'] == 0)
                                        $totalShipping += $item['price_rmb'];
                                    else
                                        $totalShipping = $totalShipping + $item['saller_shipping_rmb'];

                                    $totalDiscount = $totalDiscount + $item['saller_discount_rmb'];   
                                
                                }
                                if($totalAmount == 0)
                                {
                                    foreach($orderBySaller as $s)
                                    {
                                        $totalAmount += $s[amount];
                                    }
                                }
                                $totalNetAmount = (($totalAmount + $totalShipping)-$totalDiscount)
                                 
                            ?>
                                                    <tr>
                                                        <td colspan="15"><b>สรุปยอดก่อนสั่งซื้อ</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">ค่าสินค้า</td>
                                                        <td style=" min-width: 100px;" >
                                                            <?=number_format($total_yuan_b,2)?> &yen;
                                                        </td>
                                                        <td style="text-align: right;min-width: 150px;" colspan="3">
                                                            <?=number_format($total_yuan_b*$orderInfo['old_rate'],2)?> บาท
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">ประเมิณค่าขนส่งร้านจีนล่วงหน้า 10% (10-100 หยวน)<br />เมื่อทราบค่าส่งที่แท้จริงจะนำมาทำยอดคืนให้ภายหลัง</b>
                                                        </td>
                                                        <td>
                                                            <?=number_format(($orderInfo['order_pay_ship_yuan']),2)?> &yen;
                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            <?=number_format($orderInfo['order_pay_ship'],2)?> บาท
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">เรทเงินก่อนสั่งจริง
                                                        </td>
                                                        <td>
                                                            <?=number_format($orderInfo['old_rate'],2)?>
                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">รวมชำระรอบแรก</td>
                                                        <td>

                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            <?php 
                                                                $pay_first = ($total_yuan_b*$orderInfo['old_rate'])+$orderInfo['order_pay_ship'];
                                                                ?>
                                                            <?=number_format($pay_first,2)?> บาท
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">ส่วนลด</td>
                                                        <td>

                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            <?=number_format($orderInfo['order_discount'],2)?> บาท
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">ยอดโอน</td>
                                                        <td>

                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            <?=number_format($pay_first-$orderInfo['order_discount'],2)?> บาท
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td colspan="15"><b>สรุปยอดสั่งจริง</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">ค่าสินค้า</td> <!--Edit by hatairat 23-10-64-->
                                                        <?php if($totalAmount == 0 ){ ?>
                                                            <td><?=number_format($total_yuan_a,2)?> &yen;</td>
                                                            <td style="text-align: right;" colspan="3">
                                                                <?=number_format($total_yuan_a*$orderInfo['rate'],2)?> บาท
                                                            </td>
                                                            <?php }else{ ?>
                                                        <td>
                                                            <?=number_format($totalAmount,2)?> &yen;
                                                            <!--<?=number_format($total_yuan_a,2)?> &yen;-->
                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            <?=number_format($totalAmount*$orderInfo['rate'],2)?> บาท
                                                        </td>
                                                        <?php } ?>
                                                        <!--End Edit 23-10-64-->
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">ค่าจัดส่งจริงของร้านจีน</td> <!--Edit by hatairat 23-10-64-->
                                                        <td>
                                                            <?=number_format($totalShipping,2)?> &yen;
                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            <?=number_format(($totalShipping*$orderInfo['rate']),2)?> บาท
                                                        </td>
                                                        <!-- <?php if($totalShipping == 0 ){ ?>
                                                        <td>
                                                            <?=number_format(($cn_cn),2)?> &yen;
                                                            <td style="text-align: right;min-width: 100px;" colspan="3">
                                                                <?=number_format(($cn_cn*$orderInfo['rate']),2)?> บาท
                                                            </td>
                                                        </td>
                                                        <?php }else{ ?>
                                                            <td align="right"><?=number_format($totalShipping,2)?></td>    
                                                            <td style="text-align: right;min-width: 100px;" colspan="3">
                                                                <?=number_format(($totalShipping*$orderInfo['rate']),2)?> บาท
                                                            </td>
                                                            <?php } ?>             -->
                                                       <!--End Edit by hatairat 23-10-64-->

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">เรทเงินสั่งจริง
                                                        </td>
                                                        <td>
                                                            <?=number_format($orderInfo['rate'],2)?>
                                                        </td>
                                                        <td style="text-align: right;" colspan="3">
                                                            
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9" >รวมส่วนลด</td>
                                                        <td><?=number_format($totalDiscount,2)?> &yen;
                                                            <td style="text-align: right;" colspan="3"><?=number_format(($totalDiscount*$orderInfo['rate']),2)?> บาท</td>
                                                        </td>
                                                        
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td colspan="9">รวมยอดสั่งจริง</td>
                                                        <td>
                                                        </td>
                                                        <?php if($totalNetAmount == 0 ){ ?><!--Edit by hatairat 23-10-64-->
                                                        <td style="text-align: right;" colspan="3">
                                                            <?=number_format($total_true,2)?> บาท
                                                        </td>
                                                        <?php }else{ ?>
                                                            <td style="text-align: right;" colspan="3"><?=number_format((($totalNetAmount*$orderInfo['rate'])- $orderInfo['order_discount']),2)?></td> <!--edit by hatairat 30-10-64 ส่วนลด จากเว็บ-->
                                                            <?php } ?> 
                                                              <!--End Edit by hatairat 23-10-64-->
                                                    </tr>




                                                    <!-- <tr>
                                                        <td colspan="10"><b>ก่อนสั่งซื้อจริง ยอดสั่ง </b></td>
                                                        <td style="text-align: right;">
                                                            <h3 style="margin: 0px;" class="text-red">
                                                                <?=number_format($total_all,2)?>
                                                            </h3>
                                                        </td>
                                                        <td>บาท</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="10"><b>สั่งซื้อจริง ยอดสั่ง </b></td>
                                                        <td style="text-align: right;">
                                                            <h3 style="margin: 0px;" class="text-green">
                                                                <?=number_format($total_true,2)?>
                                                            </h3>
                                                        </td>
                                                        <td>บาท</td>
                                                    </tr> -->
                                                    <!--Edit By hatairat 26-10-64-->
                                                    <?php
                               if($totalNetAmount == 0 ){ 
                                $tt_fund = $total_all-$total_true;
                               }else{
                                $tt_fund = $total_all - (($totalNetAmount*$orderInfo['rate']) - $orderInfo['order_discount']); //edit by hatairat 30-10-64 ส่วนลด จากเว็บ
                               }
                              //$tt_fund = floor(($tt_fund*100))/100;
                           ?>                          
                                                        <?php if($tt_fund!=0){ ?>
                                                        <?php if($tt_fund>0){  ?>
                                                        <tr>
                                                            <td colspan="11"><b>คืนเงิน </b></td>

                                                            <?php if($orderInfo['export']=='N'){?>
                                                            <td style="text-align: right;" colspan="3">0.00 บาท</td>

                                                            <?php }else{ ?>
                                                            <td style="text-align: right;" colspan="3">
                                                                <?=number_format($tt_fund,2)?> บาท
                                                            </td>
                                                            <?php } ?>

                                                        </tr>
                                                        <?php }else{ ?>
                                                        <tr>
                                                            <td colspan="11"><b>เพิ่มเงิน </b></td>
                                                            <?php if($orderInfo['export']=='N'){?>
                                                            <td style="text-align: right;" colspan="3">0.00 บาท</td>

                                                            <?php }else{ ?>
                                                            <td style="text-align: right;" colspan="3">
                                                                <?php if($totalNetAmount == 0 ){ ?>
                                                                <?=number_format(($total_true-$total_all),2)?> บาท
                                                                <?php }else{ ?>
                                                                    <?=number_format(abs($tt_fund),2)?> บาท 
                                                                    <?php } ?> <!--End Edit hatairat 26-10-64-->
                                                            </td>
                                                            <?php } ?>

                                                        </tr>
                                                        <?php } ?>
                                                        <?php } ?>

                                    </tbody>
                                </table>

                            </div>
                            <div class="panel-footer">
                                <div class="col-md-6">
                                    วันที่ทำรายการ : <b><?=$orderInfo['create_dtm']?></b><br />
                                    <!--วิธีชำระเงิน : <b><?php if($orderInfo['order_payment']=='A'){?>
                           		ชำระเงิน 2 รอบ คือรอบที่ 1 เป็นค่าสินค้าและค่าขนส่ง จีน-จีน ชำระรอบที่ 2 เป้นค่าขนส่ง จีน-ไทย/ไทย-ไทย
                           		<?php } ?></b>
                           		<br />
                           		วิธีการขนส่งสินค้า จีน-ไทย : <b><?php if($orderInfo['order_ship_cn']=='A'){?>
                           			ทางรถ
                           			<?php }else if($orderInfo['order_ship_cn']=='B'){ ?>
                           			ทางเรือ
                           			<?php } ?>
                           		</b><br />
                           		วิธีขนส่งสินค้าในไทย : <b><?=$orderInfo['order_ship_th']['name']?></b><br />
                           		หมายเหตุ : <b><?=$orderInfo['order_comment']?></b><br />-->
                                </div>
                                <div class="col-md-6">
                                    <!--ค่าขนส่งสินค้า จีน-จีน : <span style="color: red;"><b><?=$cn_cn?></b></span> หยวน<br />
                           		ค่าขนส่งสินค้า จีน-ไทย : <span style="color: red;"><b><?=$cn_th?></b></span> บาท<br />-->
                                    <!--ค่าขนส่งสินค้า ไทย-ไทย : <span style="color: red;"><b>0</b></span> บาท<br />-->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" style="text-align: right;">

                        <a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                        <?php if($orderInfo['status']=='W'){ ?><button onclick="cancelOrder('<?=$orderInfo['id']?>','1');" type="button" class="btn btn-warning btn-md"> <i class="fa fa-times"></i> ยกเลิกการสั่งซื้อ</button>
                        <?php } ?>
                    </div>
                    <!--<div class="col-xs-12" style="text-align: center;">
                	<h3>รวมทั้งสิ้น <span style="color: red;"><b><?=number_format($total_all,2)?></b></span> บาท</h3>
                </div>-->

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>
<style>
    .refund-term {
        width: 100%;
        height: 100%;
        z-index: 9999999;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: white;
        padding: 20px;
    }
    .modal-body {
     
     overflow-x: hidden; 
    }
</style>
<!-- Modal -->
<div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">ทวงเงินร้านค้าจีน</h4>
            </div>
            <div class="modal-body" style="position:relative;">
                <div class="refund-term">
                    <?=$ship_content['gen_field_1']?><br />
                        <button type="button" style="margin-bottom: 15px;" class="btn btn-primary  center-block" onclick="$('.refund-term').remove();">ยอมรับข้อตกลง</button>
                </div>
                <div class="row" >
                    <div class="col-sm-4">
                        <img src="" id="img_pd" class="img-responsive" />
                    </div>
                    <div class="col-sm-8">
                        <form class="form-horizontal" name="refundFrm" id="refundFrm" >
                            <input type="hidden" name="mode" value="addrefund" />
                            <input type="hidden" name="item_id" id="item_id2" value="0" />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ชื่อสินค้า</label>
                                <div class="col-sm-7">
                                    <span id="itm_name">xxx</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">รายการที่</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ref_item" name="ref_item" placeholder="รายการที่" value="0" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">จำนวนที่สั่ง</label>
                                <div class="col-sm-7">
                                    <!--<span id="item_qty">xxx</span>-->
                                    <input type="text" class="form-control" id="item_qty" name="item_qty" placeholder="รายการที่" value="0" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">จำนวนสินค้าที่ขาด</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ref_refund" name="ref_refund" placeholder="จำนวนสินค้าที่ขาด" value="1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ข้อความ</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" name="comment"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">รูปภาพ</label>
                                <div class="col-sm-7">
                                    <input type="file" id="ref_file" name="ref_file">
                                    <p class="help-block">.JPG, .PNG, .GIF และ PDF เท่านั้น</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-warning" onclick="saveRefund();">ยืนยัน Refund</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="imgsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">รูป</h4>
            </div>
            <div class="modal-body">
                <img src="" id="modal-img-pic" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>