<section class="content-header">
    <h1>
        จัดการธนาคาร
        <!-- <small>Permission Management</small> -->
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Group</h3>
                    <div class="pull-right">
                        <?php if($button_edit){ ?>
                        <a href="#/setting/createbank" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create Bank</a>
                        <?php } ?>
                    </div>

                </div>
                <div class="box-body">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <?php if($memberinfo['user_role_id']=='1'){ ?>
                                    <th style="text-align: center;">Agency</th>
                                    <?php } ?>
                                    <th>Bank Name</th>
                                    <th>ประเภท</th>
                                    <th>Bank Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php $no = 1; foreach($bankList as $list){ ?>
                                <tr>
                                    <td>
                                        <?=$no?>
                                    </td>
                                    <?php if($memberinfo['user_role_id']=='1'){ ?>
                                    <?php $mm = GF::memberinfo($list['agency_id']); ?>
                                    <td style="text-align: center;">
                                        <span class="text-blue"><?=$mm['user_code']?><br /><?=$mm['user_name']?> </span></td>
                                    <?php } ?>
                                    <td>
                                        <?php $msdata = GF::masterdata($list['master_id']); ?>
                                        <nobr><img style="max-width:32px;" src="<?=$msdata['master_value']?>" />
                                            <?=$msdata['master_name']?>
                                        </nobr>
                                    </td>
                                    <td>
                                        <b>
                                        <?php 
                                        if($list['bank_type']=='1'){
                                          ?> <span class="text-success">ค่าสินค้า</span>
                                        <?php
                                        }else{
                                            ?> <span class="text-danger">ค่าขนส่ง</span>
                                            <?php
                                        }
                                        ?>
                                                </b>
                                    </td>
                                    <td>
                                        <?=$list['bank_desc']?>
                                    </td>
                                    <td>
                                        <?php if($button_edit){ ?>
                                        <a href="#/setting/editbank/<?=$list['bank_id']?>/" class="btn btn-success btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                        <?php } ?>

                                        <?php if($button_delete){ ?>
                                        <button class="btn btn-danger btn-flat " data-id="<?=$list['bank_id']?>" onclick="deleteBank(this);"><i class="fa fa-trash"></i> Delete</button>
                                        <?php } ?>


                                    </td>
                                </tr>
                                <?php $no++; } ?>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>No.</th>
                                    <?php if($memberinfo['user_role_id']=='1'){ ?>
                                    <th style="text-align: center;">Agency</th>
                                    <?php } ?>
                                    <th>Bank Name</th>
                                    <th>ประเภท</th>
                                    <th>Bank Description</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

<script>
    var inputused = 'D';
</script>