<section class="content-header">
    <h1>
        จัดการคู่มือ
    </h1>
</section>

<!-- Main content -->


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <?php if(!is_array($contentInfo)){ ?>
                    <h3 class="box-title">สร้างเนื้อหา</h3>
                    <?php }else{ ?>
                    <h3 class="box-title">แก้ไขเนื้อหา</h3>
                    <?php } ?>
                </div>
                <form class="form-horizontal" id="contFrm" name="contFrm">
                    <?php if(!is_array($contentInfo)){ ?>
                    <input type="hidden" name="mode" value="createcontent" />
                    <input type="hidden" name="content_id" id="content_id" value="0" />
                    <?php }else{ ?>
                    <input type="hidden" name="mode" value="editcontent" />
                    <input type="hidden" name="content_id" value="<?=$contentInfo['content_id']?>" />
                    <?php } ?>
                    <div class="box-body">

                        <div class="col-md-9">





                            <div class="form-group">
                                <label for="exp_title" class="col-sm-3 control-label">หัวข้อข่าว</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="content_name_th" name="content_name_th" placeholder="หัวข้อข่าว" value="<?=$contentInfo['content_name_th']?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exp_title" class="col-sm-3 control-label">หมวดหมู่</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="category_id">
                                        <option value="1" <?php if($contentInfo['category_id']=='1'){ ?> selected<?php } ?> >Order</option>
                                        <option value="2" <?php if($contentInfo['category_id']=='2'){ ?> selected<?php } ?> >Shipping</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="exp_desc" class="col-sm-3 control-label">เนื้อหา</label>
                                <div class="col-sm-8">

                                    <textarea class="form-control summernote" id="content_desc_th" name="content_desc_th" placeholder="เนื้อหา"><?=$contentInfo['content_desc_th']?></textarea>
                                </div>
                            </div>







                        </div>


                    </div>

                    <div class="box-footer" style="">

                        <a href="#/setting/manuallist/" class="btn btn-success pull-right">กลับหน้ารายการเนื้อหา</a>


                        <button type="button" class="btn btn-primary" id="" onclick="saveContentContent();"> <i class="fa fa-save"></i> บันทึก</button>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>


        </div>
    </div>


</section>

<script>
    callEditor('.summernote');
</script>