<section class="content-header">
    <h1>
        จัดการธนาคาร

    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">ธนาคาร</h3>

                </div>

                <div class="box-body"><br/><br/>
                    <form id="bankFrm" class="form-horizontal">
                        <?php if($bankInfo['bank_id']!=''){ ?>
                        <input type="hidden" name="mode" value="editbank" />
                        <input type="hidden" name="bank_id" value="<?=$bankInfo['bank_id']?>" />
                        <?php }else{ ?>
                        <input type="hidden" name="mode" value="createbank" />
                        <?php } ?>

                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">ธนาคาร <span style="color: red;">*</span></label>
                            <div class="col-md-4 col-sm-6">
                                <?php $banklist = GF::masterdataList('7'); ?>
                                <?php foreach($banklist as $vals){ ?>
                                <?php if($vals['master_char']=='Y'){ ?>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="master_id" id="master_id" value="<?=$vals['id']?>" <?php if($bankInfo['master_id']==$vals['id']){ ?>checked<?php } ?>>
                                        <img src="<?=$vals['master_value']?>" /> <?=$vals['master_name']?>
                                    </label>
                                </div>
                                <?php } ?>
                                <?php } ?>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">ประเภท</label>
                            <div class="col-md-4 col-sm-6">
                                <select class="form-control" name="bank_type">
                                    <option value="1" <?php if($bankInfo['bank_type']=='1'){ ?>selected<?php } ?> >ค่าสินค้า</option>
                                    <option value="2"  <?php if($bankInfo['bank_type']=='2'){ ?>selected<?php } ?> >ค่าสินขนส่ง</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">รายละเอียด</label>
                            <div class="col-md-4 col-sm-6">

                                <textarea class="form-control" id="bank_desc" name="bank_desc" placeholder="รายละเอียด"><?=$bankInfo['bank_desc']?></textarea>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>


                        <br/>
                        <br/>
                        <div class="box-footer" style="margin-left: 10%">
                            <a href="#/setting/banklist/" class="btn btn-success pull-right">Back To List</a>
                            <button type="button" class="btn btn-primary" id="btn_save_ecoupon" style="" onclick="saveBank();">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>