<style>
	.clearfix {margin-bottom: 15px !important;}
</style>
<section class="content-header">
  <h1>
    FTP & Template Magagement
    <small>FTP & Template Magagement</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Template</h3>
			  <div class="pull-right">
			  	<a href="#/setting/ftpmrg/" class="btn btn-default">Back</a>
			  </div>
			  
			</div>
			<div class="box-body">
				<form id="createFrm" name="createFrm">
				<?php if(!is_array($templateInfo)){ ?>
				<input type="hidden" name="mode" value="updatetemplate"/>
				<?php }else{ ?>
				<input type="hidden" name="mode" value="edittemplate"/>
				<input type="hidden" name="template_id" value="<?=$templateInfo['template_id']?>"/>
				<?php } ?>
				<div class="col-sm-10">
				<div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">Template Name</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="template_name" name="template_name" placeholder="Template Name" value="<?=$templateInfo['template_name']?>">
				    </div>
				    
				  </div>
				  <div class="clearfix"></div>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">FTP Host</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="ftp_host" name="ftp_host" placeholder="FTP Host" value="<?=$templateInfo['ftp_host']?>">
				    </div>
				    
				  </div>
				  <div class="clearfix"></div>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">FTP Username</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="ftp_username" name="ftp_username" placeholder="FTP Username" value="<?=$templateInfo['ftp_username']?>">
				    </div>
				    
				  </div>
				  <div class="clearfix"></div>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">FTP Password</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="ftp_password" name="ftp_password" placeholder="FTP Password" value="<?=$templateInfo['ftp_password']?>">
				    </div>
				    
				  </div>
				  <div class="clearfix"></div>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">FTP Port</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="ftp_port" name="ftp_port" placeholder="FTP Port" value="<?=$templateInfo['ftp_port']?>">
				    </div>
				    
				  </div>
				  <div class="clearfix"></div>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-2 control-label">FTP Path</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="ftp_path" name="ftp_path" placeholder="FTP Path" value="<?=$templateInfo['ftp_path']?>">
				    </div>
				    <div class="col-sm-2">
				    	<button type="button" class="btn btn-warning btn-sm" onclick="return addItemTemp();">เพิ่ม</button>
				    	<button type="button" class="btn btn-primary btn-sm" onclick="return saveItemTemp();">บันทึก</button>
				    </div>
				  </div>
				  <div class="clearfix"></div>
			   <table id="example1" class="table table-bordered table-striped" style="margin-top: 20px;">
                    <thead>
                      <tr>
                        
                        <th>Item Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody id="ddAdd">
                    <?php if(!is_array($templateInfo)){ ?>
                 		<tr>
                 			
                 			<td width="350">
                 				<?php $mms = GF::masterdataList('6'); ?>
							      <select class="form-control" name="master_id[]">
							      <?php foreach($mms as $master){ ?>
							      		<option value="<?=$master['id']?>"><?=$master['master_name']?></option>
							      <?php } ?>
							      </select>
                 			</td>
                 			<td><button class="btn btn-danger btn-sm" onclick="return delItemTemp(this);">ลบ</button></td>
                 		</tr>
                 	<?php }else{ ?>
                 	<?php foreach($templateInfo['data'] as $dataList){ ?>
                 		<tr>
                 			
                 			<td width="350">
                 				<?php $mms = GF::masterdataList('6'); ?>
							      <select class="form-control" name="master_id[]">
							      <?php foreach($mms as $master){ ?>
							      		<option value="<?=$master['id']?>" <?php if($dataList['master_id']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_name']?></option>
							      <?php } ?>
							      </select>
                 			</td>
                 			<td><button class="btn btn-danger btn-sm" onclick="return delItemTemp(this);">ลบ</button></td>
                 		</tr>
                 	<?php } ?>
                 	<?php } ?>
                    </tbody>
                    <tfoot>
                      <tr>
                        
                        <th>Item Name</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
                  </form>
                  
			</div>
			
			</div>
		</div>
	</div>
          
</section>

<div class="hidden">
	<table>
		<tbody id="ddClone">
			<tr>
                 			
     			<td width="350">
     				<?php $mms = GF::masterdataList('6'); ?>
				      <select class="form-control" name="master_id[]">
				      <?php foreach($mms as $master){ ?>
				      		<option value="<?=$master['id']?>"><?=$master['master_name']?></option>
				      <?php } ?>
				      </select>
     			</td>
     			<td><button class="btn btn-danger btn-sm" onclick="return delItemTemp(this);">ลบ</button></td>
     		</tr>
		</tbody>
	</table>
</div>