<section class="content-header">
    <h1>
        <?php if($total>0){ ?> Edit E-Coupon
        <small> Edit E-Coupon</small>
        <?php }else{ ?> Create E-Coupon
        <small> Create E-Coupon</small>
        <?php } ?>

    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">E-Coupon Information</h3>

                </div>

                <div class="box-body"><br/><br/>
                    <form id="ecouponFrm" class="form-horizontal">
                        <?php if($total>0){ ?>
                        <input type="hidden" name="mode" value="editecoupon" />
                        <input type="hidden" name="e_id" value="<?=$ecouponlist['e_id'];?>" />
                        <?php }else{ ?>
                        <input type="hidden" name="mode" value="createecoupon" />
                        <?php } ?>

                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">E-Coupon No. <span style="color: red;">*</span></label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control" id="ecoupon_number" name="ecoupon_number" placeholder="E-Coupon No." value="<?=$ecouponlist['e_no'];?>">
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">E-Coupon Amount <span style="color: red;">*</span></label>
                            <div class="col-md-2 col-sm-2">

                                <input type="text" class="form-control" onkeypress="numberonlySet(event);" id="ecoupon_amount" name="ecoupon_amount" placeholder="E-Coupon Amount" value="<?=$ecouponlist['e_amount'];?>">
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <select class="form-control" name="e_type">
                      		<option value="B" <?php if($ecouponlist['e_type']=='B'){ ?>selected=""<?php } ?>>Baht</option>
                      		<option value="P" <?php if($ecouponlist['e_type']=='P'){ ?>selected=""<?php } ?>>Percent</option>
                      	</select>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">E-Coupon Min Order. <span style="color: red;"></span></label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control" id="ecoupon_min" onkeypress="numberonlySet(event);" name="ecoupon_min" placeholder="E-Coupon Min Order." value="<?=$ecouponlist['e_min'];?>">
                                <p>บาท</p>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">E-Coupon Limit User(s)</label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control" id="ecoupon_limit" onkeypress="numberonlySet(event);" name="ecoupon_limit" placeholder="E-Coupon Limit User(s)" value="<?=$ecouponlist['e_limit'];?>">
                                <p>ถ้าไม่จำกัดกรุณากรอก 0 </p>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">Start Date</label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control my_date" id="start_date" name="start_date" placeholder="Start Date" value="<?=$ecouponlist['start_date'];?>">
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">End Date</label>
                            <div class="col-md-4 col-sm-6">
                                <input type="text" class="form-control my_date" id="end_date" name="end_date" placeholder="End Date" value="<?=$ecouponlist['end_date'];?>">
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="leave_title" class="col-sm-4 col-md-4 control-label text-right">รายละเอียด</label>
                            <div class="col-md-4 col-sm-6">

                                <textarea class="form-control" id="e_desc" name="e_desc" placeholder="รายละเอียด"><?=$ecouponlist['e_desc'];?></textarea>
                            </div>
                            <div class="col-md-4 col-sm-2 hidden-xs">
                                &nbsp;
                            </div>

                        </div>


                        <br/>
                        <br/>
                        <div class="box-footer" style="margin-left: 10%">
                            <a href="#/setting/ecoupon/" class="btn btn-success pull-right">Back To List</a>
                            <button type="reset" class="btn btn-default" id="ecouponReset">Reset</button>
                            <button type="button" class="btn btn-primary" id="btn_save_ecoupon" style="" onclick="saveEcoupon();">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>