<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>

<section class="content-header">
    <h1>
        Permission
        <small>Permission Management</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <?php if($memberinfo['user_role_id']=='1'){ ?>
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <?php if(!is_array($groupInfo)){ ?>
                    <h3 class="box-title">Create Group</h3>
                    <?php }else{ ?>
                    <h3 class="box-title">Edit Group</h3>
                    <?php } ?>
                </div>
                <form class="form-horizontal" id="createFrm" name="createFrm">
                    <?php if(!is_array($groupInfo)){ ?>
                    <input type="hidden" name="mode" value="creategroup" />
                    <?php }else{ ?>
                    <input type="hidden" name="mode" value="editgroup" />
                    <input type="hidden" name="role_id" value="<?=$groupInfo['role_id']?>" />
                    <?php } ?>
                    <div class="box-body">


                        <div class="form-group">
                            <label for="leave_title" class="col-sm-2 control-label">Group Name</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Group Name" value="<?=$groupInfo['role_name']?>">
                            </div>

                        </div>

                        <div class="form-group ">
                            <label for="leave_title" class="col-sm-2 control-label"></label>

                            <div class="col-sm-4">
                                <label>
                                    <input type="checkbox" class="minimal"  name="email_notification" value="A" <?php if($groupInfo['email_notification']=='A'){ ?> checked=""<?php } ?> />
                                &nbsp; Owner Group
                                </label>
                                <label>
                                    <input type="checkbox" class="minimal"  name="email_account" value="A" <?php if($groupInfo['email_account']=='A'){ ?> checked=""<?php } ?> />
                                &nbsp; Agency Group
                                </label>
                                <label>
                                    <input type="checkbox" class="minimal"  name="admin_group" value="A" <?php if($groupInfo['admin_group']=='A'){ ?> checked=""<?php } ?> />
                                &nbsp; Adminintrator Group
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="leave_title" class="col-sm-2 control-label">Agency</label>
                            <div class="col-sm-4">
                                <!-- <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Group Name" value="<?=$groupInfo['role_name']?>"> -->
                                <select class="form-control" id="agency_id" name="agency_id">
                                    <option value="0">เลือก Agency</option>
                                    <?php foreach($agencyList as $agen){ ?>
                                        <option value="<?=$agen['id']?>" <?php if($groupInfo['agency_id']==$agen['id']){ ?>selected<?php } ?>>[<?=$agen['user_code']?>] <?=$agen['user_name']?></option>
                                    <?php } ?>
                                </select>
                            </div>

                        </div>

                        <div class="form-group ">
                            <label for="leave_title" class="col-sm-2 control-label">Agency Type</label>

                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" class="minimal"  name="agency_type" value="O" <?php if($groupInfo['agency_type']=='O'){ ?> checked=""<?php } ?> />
                                &nbsp; Order
                                </label>
                                <label>
                                    <input type="radio" class="minimal"  name="agency_type" value="S" <?php if($groupInfo['agency_type']=='S'){ ?> checked=""<?php } ?> />
                                    &nbsp; Shipping
                                </label>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label for="leave_title" class="col-sm-2 control-label">Agency Default</label>

                            <div class="col-sm-4">
                                <label>
                                    <input type="radio" class="minimal"  name="agency_default" value="Y" <?php if($groupInfo['agency_default']=='Y'){ ?> checked=""<?php } ?> />
                                &nbsp; Yes
                                </label>
                                <label>
                                    <input type="radio" class="minimal"  name="agency_default" value="N" <?php if($groupInfo['agency_default']=='N'){ ?> checked=""<?php } ?> />
                                    &nbsp; No
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="leave_desc" class="col-sm-2 control-label">Permission</label>
                            <div class="col-sm-9">

                                <table class="table table-bordered">
                                    <?php foreach($moduleList as $module){ ?>
                                    <tr>
                                        <td>
                                            <i class="<?=$module['icon']?>"></i>
                                            <?=$module['module_name']?>
                                        </td>
                                        <td></td>
                                        <td>
                                            <label>
				                      <!--<input type="radio" name="allow_module[]" class="minimal" value="<?=$module['id']?>" />-->
				                      <?php
				                      $key = -1;
				                      if(is_array($groupInfo)){
					                      foreach($groupInfo['module'] as $key_c=>$vals){
					                      	if($module['id']==$vals['module_id']){
					                      		$key = $key_c;
					                      	}
					                      }
				                      }

				                      ?>
				                      <input type="checkbox" class="minimal"  name="allow_module[]" value="<?=$module['id']?>"
				                      <?php if($key>=0){ ?>
				                      <?php if($groupInfo['module'][$key]['permission']=='A'){ ?>
				                      checked=""
				                      <?php } ?>
				                      <?php } ?>
				                      />
				                      Allow
				                    </label> &nbsp;&nbsp;
                                            <!--<label>
				                      <input type="radio" name="denied_module[]" class="minimal" value="<?=$module['id']?>"/>
				                      Denied
				                    </label>-->

                                        </td>
                                        <td>
                                            <?php if($module['module_type']=='S'){ ?>
                                            <label>
	                     			 <?php
				                      $key = -1;
				                      if(is_array($groupInfo)){
					                      foreach($groupInfo['module'] as $key_c=>$vals){
					                      	if($module['id']==$vals['module_id']){
					                      		$key = $key_c;
					                      	}
					                      }
				                      }

				                      ?>
				                  		<input type="checkbox" class="minimal"  name="view_module[]" value="<?=$module['id']?>"
				                  		<?php if($key>=0){ ?>
					                      <?php if($groupInfo['module'][$key]['per_view']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
				                  		/>
				                  		view
				                     </label> &nbsp;&nbsp;
                                            <label>
				                     <?php
				                      $key = -1;
				                      if(is_array($groupInfo)){
					                      foreach($groupInfo['module'] as $key_c=>$vals){
					                      	if($module['id']==$vals['module_id']){
					                      		$key = $key_c;
					                      	}
					                      }
				                      }

				                      ?>
			                      		<input type="checkbox" class="minimal"  name="edit_module[]" value="<?=$module['id']?>"
			                      		<?php if($key>=0){ ?>
					                      <?php if($groupInfo['module'][$key]['per_edit']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
			                      		/>
			                      		edit
				                     </label> &nbsp;&nbsp;
                                            <label>
				                     <?php
				                      $key = -1;
				                      if(is_array($groupInfo)){
					                      foreach($groupInfo['module'] as $key_c=>$vals){
					                      	if($module['id']==$vals['module_id']){
					                      		$key = $key_c;
					                      	}
					                      }
				                      }

				                      ?>
			                      		<input type="checkbox" class="minimal"  name="delete_module[]" value="<?=$module['id']?>"
			                      		<?php if($key>=0){ ?>
					                      <?php if($groupInfo['module'][$key]['per_delete']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
			                      		/>
			                      		delete
				                     </label>
                                            <?php } ?>
                                        </td>
                                    </tr>
                                    <?php foreach($module['item'] as $item){ ?>
                                    <tr>
                                        <td>&nbsp;
                                            
                                        </td>
                                        <td>
                                            -
                                            <?=$item['item_name']?>
                                        </td>
                                        <td>
                                            <label>
				                      <!--<input type="radio" name="allow_item[]" value="<?=$item['id']?>" class="minimal" />-->
				                      <?php
				                      $key = -1;
				                      if(is_array($groupInfo)){
					                      foreach($groupInfo['item'] as $key_c=>$vals){
					                      	if($item['id']==$vals['item_id']){
					                      		$key = $key_c;
					                      	}
					                      }
				                      }

				                      ?>
				                      <input type="checkbox" class="minimal" name="allow_item[]" value="<?=$item['id']?>"
				                      <?php if($key>=0){ ?>
					                      <?php if($groupInfo['item'][$key]['permission']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
				                      />
				                      Allow
				                    </label> &nbsp;&nbsp;
                                            <!--<label>
				                      <input type="radio" name="denied_item[]" value="<?=$item['id']?>" class="minimal" />
				                      Denied
				                    </label>-->

                                        </td>
                                        <td>

                                            <label>
	                     				<?php
					                      $key = -1;
					                      if(is_array($groupInfo)){
						                      foreach($groupInfo['item'] as $key_c=>$vals){
						                      	if($item['id']==$vals['item_id']){
						                      		$key = $key_c;
						                      	}
						                      }
					                      }

					                      ?>
				                  		<input type="checkbox" class="minimal" name="view_item[]" value="<?=$item['id']?>"
				                  		<?php if($key>=0){ ?>
					                      <?php if($groupInfo['item'][$key]['per_view']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
				                  		/>
				                  		view
				                     </label> &nbsp;&nbsp;
                                            <label>
				                     	<?php
					                      $key = -1;
					                      if(is_array($groupInfo)){
						                      foreach($groupInfo['item'] as $key_c=>$vals){
						                      	if($item['id']==$vals['item_id']){
						                      		$key = $key_c;
						                      	}
						                      }
					                      }

					                      ?>
			                      		<input type="checkbox" class="minimal" name="edit_item[]" value="<?=$item['id']?>"
			                      		<?php if($key>=0){ ?>
					                      <?php if($groupInfo['item'][$key]['per_edit']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
			                      		/>
			                      		edit
				                     </label> &nbsp;&nbsp;
                                            <label>
				                     	<?php
					                      $key = -1;
					                      if(is_array($groupInfo)){
						                      foreach($groupInfo['item'] as $key_c=>$vals){
						                      	if($item['id']==$vals['item_id']){
						                      		$key = $key_c;
						                      	}
						                      }
					                      }

					                      ?>
			                      		<input type="checkbox" class="minimal"  name="delete_item[]" value="<?=$item['id']?>"
			                      		<?php if($key>=0){ ?>
					                      <?php if($groupInfo['item'][$key]['per_delete']=='A'){ ?>
					                      checked=""
					                      <?php } ?>
					                      <?php } ?>
			                      		/>
			                      		delete
				                     </label>

                                        </td>
                                    </tr>
                                    <?php } ?>
                                    <?php } ?>
                                </table>



                            </div>
                        </div>





                    </div>
                    <div class="box-footer" style="margin-left: 10%">
                        <a href="#/setting/permission/" class="btn btn-success pull-right">Back To List</a>

                        <!-- <button type="reset" class="btn btn-default">Reset</button> -->
                        <button type="button" class="btn btn-primary" onclick="saveGroup();">Save</button>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <?php } ?>
        <?php if(is_array($groupInfo)){ ?>
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">อัตราค่าบริการต่อสมาชิก</h3>
					<button type="button" class="btn btn-primary pull-right" onclick="usersysRate();">Send อัตราค่าบริการต่อสมาชิก To Sync Data</button>
                </div>
                <form class="form-horizontal" id="createFrm2" name="createFrm2">

                    <input type="hidden" name="mode" value="addrate" />
                    <input type="hidden" id="vuid" name="user_id" value="<?=$groupInfo['role_id']?>" />

                    <div class="box-body">

                        <table class="table" style="margin-bottom: 30px;">
                            <thead>
                                <tr>
                                    <th>ลำดับที่</th>
                                    <th>ประเภทสินค้า</th>
                                    <th>ประเภทการนำเข้า</th>
                                    <th>Unit</th>
                                    <th>Unit Code</th>
                                    <th>อัตราค่าบริการ</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <?php if(count($rateList)>0){ ?>
                                <?php $kk=1; foreach($rateList as $rrList){ ?>
                                <tr>
                                    <td>
                                        <?=$kk?>
                                    </td>
                                    <td>
                                        <?php $mms = GF::masterdata($rrList['order_type']); echo $mms['master_name']; ?>
                                    </td>
                                    <td>
                                        <?php $mms = GF::masterdata($rrList['ship_by']); echo $mms['master_name']; ?>
                                    </td>
                                    <td>
                                        <?php $mms = GF::masterdata($rrList['unit']); echo $mms['master_name']; ?>
                                    </td>
                                    <td>
                                        <?=$rrList['unit_code']?>
                                    </td>
                                    <td>
                                        <?=$rrList['rate']?>
                                    </td>
                                    <td><button type="button" class="btn btn-danger btn-xs" onclick="dalrate('<?=$rrList['id']?>');">ลบ</button></td>
                                </tr>
                                <?php $kk++; } ?>
                                <?php } ?>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">ประเภทสินค้า</label>
                            <div class="col-sm-4">
                                <?php $shipby = GF::masterdataList('1'); ?>
                                <select class="form-control" name="order_type">
					      <?php foreach($shipby as $master){ ?>
					      		<option value="<?=$master['id']?>"><?=$master['master_value']?> : <?=$master['master_name']?></option>
					      <?php } ?>
					      </select>
                            </div>


                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">ประเภทการนำเข้า</label>
                            <div class="col-sm-4">
                                <?php $shipby = GF::masterdataList('2'); ?>
                                <select class="form-control" name="ship_by">
					      <?php foreach($shipby as $master){ ?>
					      		<option value="<?=$master['id']?>"><?=$master['master_value']?> : <?=$master['master_name']?></option>
					      <?php } ?>
					      </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Unit</label>
                            <div class="col-sm-4">
                                <?php $shipby = GF::masterdataList('4'); ?>
                                <select class="form-control" name="unit">
					      <?php foreach($shipby as $master){ ?>
					      		<option value="<?=$master['id']?>"><?=$master['master_value']?> : <?=$master['master_name']?></option>
					      <?php } ?>
					      </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">อัตราค่าบริการ</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" onkeypress="numberonly(event);" name="rate" />
                            </div>
                        </div>





                    </div>
                    <div class="box-footer" style="margin-left: 10%">
                        <a href="#/setting/permission/" class="btn btn-success pull-right">Back To List</a>
                        <button type="button" class="btn btn-primary" onclick="saveRate();">Save</button>
                        
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
        <?php } ?>

    </div>

</section>

<script>
</script>