<section class="content-header">
    <h1>
        E-Coupon
        <small> E-Coupon List</small>
    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">E-Coupon List</h3>
                    <div class="pull-right">
                        <a href="#/setting/createecoupon/" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create E-Coupon</a>
                    </div>
                </div>

                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <th style="text-align: center;">Agency</th>
                                <?php } ?>
                                <th>E-Coupon No.</th>
                                <th>E-Coupon Amount</th>
                                <th>Start-End</th>
                                <th>Status</th>
                                <th>Description</th>
                                <th>Create</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <?php for($x=0;$x<count($ecouponlist);$x++){ ?>
                            <tr>
                                <td>
                                    <?php echo $x+1;?>
                                </td>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <?php $mm = GF::memberinfo($ecouponlist[$x]['agency_id']); ?>
                                <td style="text-align: center;">
                                    <span class="text-blue"><?=$mm['user_code']?><br /><?=$mm['user_name']?> </span></td>
                                <?php } ?>
                                <td>
                                    <?php echo $ecouponlist[$x]['e_no'];?>
                                </td>
                                <td>
                                    <?php echo number_format($ecouponlist[$x]['e_amount'],2);?>
                                    <?php if($ecouponlist[$x]['e_type']=='B'){echo 'Baht';}else{echo 'Percent';} ?>
                                </td>
                                <td>
                                    <?php echo $ecouponlist[$x]['start_date'];?>-
                                    <?php echo $ecouponlist[$x]['end_date'];?>
                                </td>
                                <td>
                                    <?php
                           $now_time = time();
                           $status = 'online';
                           if($ecouponlist[$x]['start_date_time']!='' && $ecouponlist[$x]['start_date_time']>$now_time){$status = 'Close';}

                           if($ecouponlist[$x]['end_date_time']!='' && $ecouponlist[$x]['end_date_time']<$now_time){$status = 'Close';}


                           if($status=='online'){echo '<span class="text-green">Online</span>';}else{echo '<span class="text-red">Closed</span>';}

                           ?>
                                </td>
                                <td>
                                    <?php echo $ecouponlist[$x]['e_desc'];?>
                                </td>
                                <td>
                                    <?php echo $ecouponlist[$x]['create_dtm'];?>
                                </td>
                                <td>
                                    <?php if($button_edit){ ?>
                                    <a href="#/setting/editecoupon/<?=$ecouponlist[$x]['e_id'];?>/" class="btn btn-success btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
                                    <?php } ?>
                                    <?php if($button_delete){ ?>
                                    <button class="btn btn-danger btn-flat " data-id="<?=$ecouponlist[$x]['e_id'];?>" onclick="delEcoupon(this);"><i class="fa fa-trash"></i> Delete</button>
                                    <?php } ?>
                                </td>

                            </tr>
                            <?php } ?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No.</th>
                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                <th style="text-align: center;">Agency</th>
                                <?php } ?>
                                <th>E-Coupon No.</th>
                                <th>E-Coupon Amount</th>
                                <th>Start-End</th>
                                <th>Status</th>
                                <th>Description</th>
                                <th>Create</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
</section>