<section class="content-header">
    <h1>
        E-mail Template

    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal" id="contFrm" name="contFrm">
                <input type="hidden" name="mode" value="updateemail" />
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">E-mail Setting</h3>

                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    <?=$gen_content_7['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_7" placeholder=""><?=$gen_content_7['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    <?=$gen_content_8['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_8" placeholder=""><?=$gen_content_8['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    <?=$gen_content_9['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_9" placeholder=""><?=$gen_content_9['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    <?=$gen_content_10['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_10" placeholder=""><?=$gen_content_10['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1 hidden">
                                <h4>
                                    <?=$gen_content_11['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8 hidden">
                                <textarea class="form-control summernote" id="" name="cont_11" placeholder=""><?=$gen_content_11['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1 ">
                                <h4>
                                    <?=$gen_content_12['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8 ">
                                <textarea class="form-control summernote" id="" name="cont_12" placeholder=""><?=$gen_content_12['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1 ">
                                <h4>
                                    <?=$gen_content_13['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8 ">
                                <textarea class="form-control summernote" id="" name="cont_13" placeholder=""><?=$gen_content_13['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1 ">
                                <h4>
                                    <?=$gen_content_14['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8 ">
                                <textarea class="form-control summernote" id="" name="cont_14" placeholder=""><?=$gen_content_14['gen_field_1']?></textarea>
                            </div>

                            <div class="col-sm-2 col-sm-offset-1 ">
                                <h4>
                                    <?=$gen_content_15['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8 ">
                                <textarea class="form-control summernote" id="" name="cont_15" placeholder=""><?=$gen_content_15['gen_field_1']?></textarea>
                            </div>

                        </div>

                    </div>
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-primary" onclick="saveEmailTemplate();">บันทึก</button>
                    </div>
                </div>
            </form>
        </div>
</section>
<script>
    callEditor('.summernote');
</script>