<section class="content-header">
    <h1>
        E-mail Template

    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal" id="contFrm" name="contFrm">
                <input type="hidden" name="mode" value="updateemail" />
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">E-mail Setting</h3>

                    </div>

                    <div class="box-body">
                        <div class="row">
                            <?php foreach($template as $list){ ?>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    <?=$list['gen_name']?>
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" value="<?=$list['gen_field_2']?>" name="gen_field_2[<?=$list['email_id']?>]" style="margin-bottom:10px;">
                                <textarea class="form-control summernote" id="" name="gen_field_1[<?=$list['email_id']?>]" placeholder=""><?=$list['gen_field_1']?></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <?php } ?>

                        </div>

                    </div>
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-primary" onclick="saveEmailTemplate();">บันทึก</button>
                    </div>
                </div>
            </form>
        </div>
</section>
<script>
    callEditor('.summernote');
</script>