<section class="content-header">
  <h1>
    FTP & Template Magagement
    <small>FTP & Template Magagement</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		
    
		
		<div class="col-md-12">
		  <div class="box box-info">
			<div class="box-header with-border">
			<h3 class="box-title">Template List </h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/setting/createtemplate/" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create Template</a>
			  <?php } ?>
			  </div>
			  
			</div>
			<div class="box-body">
				<div class="col-sm-10">
			   <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Template Name</th>
                        <th align="center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <?php $k=1; foreach($templateList as $valss){ ?>
                    	<tr>
                    		<td><?=$k?></td>
                    		<td><?=$valss['template_name']?></td>
                    		<td align="center">
                    			<a href="#/setting/edittemplate/<?=$valss['template_id']?>" class="btn btn-warning btn-sm">แก้ไข</a>
                    			<button type="button" class="btn btn-danger btn-sm" onclick="deleteTemplate('<?=$valss['template_id']?>');">ลบ</button>
                    		</td>
                    	</tr>
                    <?php $k++; } ?>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>No.</th>
                        <th>Template Name</th>
                        <th align="center">Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
			</div>
			
			</div>
		</div>
		
		
	</div>
          
</section>

