<section class="content-header">
    <h1>
        General Setting

    </h1>
</section>
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <form class="form-horizontal" id="contFrm" name="contFrm">
                <input type="hidden" name="mode" value="updatecontent" />
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Content Setting</h3>

                    </div>

                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    ยื่นเอกสารขอเปิดรหัส
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_1" placeholder=""><?=$ship_content_1['gen_field_1']?></textarea>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    ข้อตกลงเปิด shipping-member
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_3" placeholder=""><?=$ship_content_3['gen_field_1']?></textarea>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    ที่อยู่โกดังจีน
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_2" placeholder=""><?=$ship_content_2['gen_field_1']?></textarea>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    ข้อตกลงการ Refund
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_4" placeholder=""><?=$ship_content_4['gen_field_1']?></textarea>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    ข้อตกลงการสมัครสมาชิก
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_5" placeholder=""><?=$ship_content_5['gen_field_1']?></textarea>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    Login Content
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <textarea class="form-control summernote" id="" name="cont_6" placeholder=""><?=$ship_content_6['gen_field_1']?></textarea>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <h4>
                                    Login Content Background
                                </h4>
                            </div>
                            <div class="col-sm-8">
                                <input class="form-control my-colorpicker" name="cont_6_2" type="text" value="<?=$ship_content_6['gen_field_2']?>" />
                            </div>
                        </div>

                    </div>
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-primary" onclick="saveContentGeneral();">บันทึก</button>
                    </div>
                </div>
            </form>
        </div>
</section>
<script>
    callEditor('.summernote');
</script>