<section class="content-header">
    <h1>
        จัดการคู่มือ
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการเนื้อหา</h3>
                    <div class="pull-right">
                        <?php if($button_edit){ ?>
                        <a href="#/setting/createmanual" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i>สร้างเนื้อหาใหม่</a>
                        <?php } ?>
                    </div>

                </div>
                <div class="box-body table-responsive">
                    <div style="margin-bottom: 20px;">

                        <div class="clearfix"></div>
                    </div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>


                                <th>ชือหัวข้อ</th>
                                <th>หมวดหมู่</th>
                                <th style="text-align: center;">สถานะ</th>
                                <th style="text-align: center;">แก้ไขล่าสุด</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </thead>
                        <?php foreach($contentList as $list){ ?>
                        <tr>


                            <td>
                                <?=iconv_substr($list['content_name'], 0,30, "UTF-8")?>
                            </td>
                            <td>
                                <?php if($list['category_id']=='1'){ ?>
                                <span class="text-info">Order</span>
                                <?php }else{ ?>
                                <span class="text-success">Shipping</span>
                                <?php } ?>
                            </td>
                            <td align="center">
                                <?php $new_status='C'; ?>
                                <?php if($list['status']=='C'){ ?>
                                <span class="text-red">ไม่แสดง</span>
                                <?php $new_status='O'; } ?>
                                <?php if($list['status']=='O'){ ?>
                                <span class="text-green">แสดง</span>
                                <?php } ?>
                                <br />
                                <button class="btn btn-flat btn-default btn-xs" data-id="<?=$list['content_id']?>" data-status="<?=$new_status?>" onclick="setContentcontentStatus(this);"><i class="fa fa-refresh"></i></button>
                            </td>
                            <td align="center">
                                <?=date("d-m-Y",strtotime($list['update_dtm']))?><br />
                                    <?=date("H:i:s",strtotime($list['update_dtm']))?>
                            </td>
                            <td align="center">
                                <?php if($button_edit){ ?>
                                <a href="#/setting/editmanual/<?=$list['content_id']?>" class="btn btn-flat btn-success btn-sm"><i class="fa fa-edit"></i></a>
                                <?php } ?>
                                <?php if($button_delete){ ?>
                                <button type="button" onclick="deleteContent('<?=$list['content_id']?>');" class="btn btn-flat btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                <?php } ?>
                            </td>
                        </tr>
                        <?php } ?>
                        <tfoot>
                            <tr>
                                <th>ชือหัวข้อ</th>
                                <th>หมวดหมู่</th>
                                <th style="text-align: center;">สถานะ</th>
                                <th style="text-align: center;">แก้ไขล่าสุด</th>
                                <th style="text-align: center;">Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <nav class="pull-right" style="margin-right: 3%;">
                        <ul class="pagination pagination-md">
                            <?php for($i=1;$i<=$allPage;$i++){ ?>
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/setting/manuallist/?page=<?=$i?>">
                                    <?=$i?>
                                </a>
                            </li>
                            <?php } ?>

                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</section>