<section class="content-header">
  <h1>
    Masterdata
    <small>Masterdata Management</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Masterdata List > <span style="color: green;"><b><?=$groupInfomation['group_name']?></b></span></h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/setting/masterdata" class="btn btn-flat btn-default"> Back to Group</a> <a href="#/setting/createmasterdata/<?=$groupInfomation['id']?>/" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create Masterdata</a>
			  <?php } ?>
			  </div>
			  
			</div>
			<div class="box-body">
				<div class="col-sm-10">
			   <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Masterdata Name</th>
                        <th>Masterdata Value</th>
                        <th>Masterdata Char</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <?php $no = 1; foreach($masterList as $list){ ?>
                      <tr>
                        <td><?=$no?></td>
                        <td><?=$list['master_name']?></td>
                       	<td><?=$list['master_value']?></td>
                       	<td><?=$list['master_char']?></td>
                        <td>
                        	
                        	
                        	
                        	<?php if($button_edit){ ?>
                        	<a href="#/setting/editmasterdata/<?=$list['id']?>/" class="btn btn-success btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
                       
                        	<?php } ?>
                        	
                        	
                        	
                        	<?php if($button_delete){ ?>
                        	<button class="btn btn-danger btn-flat " data-gid="<?=$groupInfomation['id']?>" data-id="<?=$list['id']?>" onclick="deleteMasterdata(this);"><i class="fa fa-trash"></i> Delete</button>
                        	<?php } ?>
                        	
                        	
                        </td>
                      </tr>
                     <?php $no++; } ?>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>No.</th>
                        <th>Masterdata Name</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
			</div>
			
			</div>
		</div>
	</div>
          
</section>

<script>
	var inputused = 'D';
</script>