<section class="content-header">
  <h1>
    Masterdata
    <small>Masterdata Management</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Masterdata Group</h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/setting/createmastergroup" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create Group</a>
			  <?php } ?>
			  </div>
			  
			</div>
			<div class="box-body">
				<div class="col-sm-10">
			   <table id="example1" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Group Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <?php $no = 1; foreach($groupList as $list){ ?>
                      <tr>
                        <td><?=$list['id']?></td>
                        <td><?=$list['group_name']?></td>
                       
                        <td>
                        	
                        	<?php if($button_view){ ?>
                        	
                        	<a href="#/setting/masterlist/<?=$list['id']?>/" class="btn btn-info btn-flat"><i class="fa fa-info"></i> View</a>
                       
                        	<?php } ?>
                        	
                        	<?php if($button_edit){ ?>
                        	<a href="#/setting/editmastergroup/<?=$list['id']?>/" class="btn btn-success btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
                       
                        	<?php } ?>
                        	
                        	
                        	
                        	<?php if($button_delete){ ?>
                        	<!--<button class="btn btn-danger btn-flat " data-id="<?=$list['id']?>" onclick="deleteMasterGroup(this);"><i class="fa fa-trash"></i> Delete</button>-->
                        	<?php } ?>
                        	
                        	
                        </td>
                      </tr>
                     <?php $no++; } ?>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>ID</th>
                        <th>Group Name</th>
                        <th>Action</th>
                      </tr>
                    </tfoot>
                  </table>
                  </div>
			</div>
			
			</div>
		</div>
	</div>
          
</section>

<script>
	var inputused = 'D';
</script>