<section class="content-header">
  <h1>
    Rate Exchange
    <small>Rate Exchange</small>
  </h1>
</section>
<section class="content" >
	<div class="row">

       <div class="col-md-12">
		  <div class="box box-warning">
				<div class="box-header with-border">
					<h3 class="box-title">Rate Exchange</h3>
				</div>
				<div class="box-body">
				<br/><br/>
				<form class="form-horizontal" id="rateexchangeFrm" name="rateexchangeFrm">
						<input type="hidden" name="mode" value="createrateexchange"/>
						<input type="hidden" name="exchange_id" id="exchange_id" value="<?=$rateExchange['id'];?>"/>
						<div class="col-sm-3"></div>
						<div class="col-sm-6">
		                        <div class="input-group">
  									<span class="input-group-addon" style="background-color: #eee !important;">(เรทสั่งซื้อ) เงินหยวน ¥1 ต่อ ฿ </span>
								  <input type="text" class="form-control" onkeypress="numberonly(event);"  name="exchange" id="exchange" value="<?=$rateExchange['rate'];?>" >
								  <span class="input-group-addon" style="background-color: #eee !important;"> บาทไทย</span>
								   <span class="input-group-btn">
							        <button class="btn btn-primary btn-flat" type="button" onclick="saveExchange();">กำหนดค่า</button>
							      </span>
								</div>
						</div>
		                <div class="col-sm-4"></div>


					</form>
                    <div class="clearfix"></div><br/><br/>
                    <form class="form-horizontal" id="rateexchangeFrm2" name="rateexchangeFrm2">
    						<input type="hidden" name="mode" value="createrateexchange2"/>
    						<input type="hidden" name="exchange_id" id="exchange_id2" value="<?=$rateExchange2['id'];?>"/>
    						<div class="col-sm-3"></div>
    						<div class="col-sm-6">
    		                        <div class="input-group">
      									<span class="input-group-addon" style="background-color: #eee !important;">(เรทเติมเงิน) เงินหยวน ¥1 ต่อ ฿ </span>
    								  <input type="text" class="form-control" onkeypress="numberonly(event);"  name="exchange" id="exchange2" value="<?=$rateExchange2['rate'];?>" >
    								  <span class="input-group-addon" style="background-color: #eee !important;"> บาทไทย</span>
    								   <span class="input-group-btn">
    							        <button class="btn btn-primary btn-flat" type="button" onclick="saveExchange2();">กำหนดค่า</button>
    							      </span>
    								</div>
    						</div>
    		                <div class="col-sm-4"></div>


    					</form>
                        <div class="clearfix"></div><br/><br/>
                        <form class="form-horizontal" id="rateexchangeFrm3" name="rateexchangeFrm3">
        						<input type="hidden" name="mode" value="createrateexchange3"/>
        						<input type="hidden" name="exchange_id" id="exchange_id3" value="<?=$rateExchange3['id'];?>"/>
        						<div class="col-sm-3"></div>
        						<div class="col-sm-6">
        		                        <div class="input-group">
          									<span class="input-group-addon" style="background-color: #eee !important;">(เรทโอนเงิน) เงินหยวน ¥1 ต่อ ฿ </span>
        								  <input type="text" class="form-control" onkeypress="numberonly(event);"  name="exchange" id="exchange3" value="<?=$rateExchange3['rate'];?>" >
        								  <span class="input-group-addon" style="background-color: #eee !important;"> บาทไทย</span>
        								   <span class="input-group-btn">
        							        <button class="btn btn-primary btn-flat" type="button" onclick="saveExchange3();">กำหนดค่า</button>
        							      </span>
        								</div>
        						</div>
        		                <div class="col-sm-4"></div>


        					</form>
				<br/><br/>
				<br/><br/>

				</div>


			</div>
		</div>
	</div>
</section>
