<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Sync Data
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Sync List
                </div>

                <form id="createFrm">
                    <input type="hidden" name="mode" value="exportExcel" />
                    <div class="box-body">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left"><i class="fa fa-list"></i> Sync List</div>
                                    <button type="button" class="pull-right btn btn-success" onclick="synctcctoserver();"><i class="fa fa-refresh"></i> Sync TCC To Server</button>&nbsp;
                                    <button type="button" class="pull-right btn btn-primary" onclick="syncservertotcc();" style="margin-right: 15px;"><i class="fa fa-refresh"></i> Sync Server To TCC(Tracking)</button>
                                    <button type="button" class="pull-right btn btn-info" onclick="syncservertotccbill();" style="margin-right: 15px;"><i class="fa fa-refresh"></i> Sync Server To TCC(Billing)</button>

                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Token</th>
                                                <th style="text-align: center;">Method</th>
                                                <th style="text-align: center;">Data</th>
                                                <th style="text-align: center;">สถานะ</th>
                                                <th style="text-align: center;">วันที่สั่ง sync</th>
                                                <th style="text-align: center;">คำสั่ง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($syncList as $list){ ?>
                                            <tr>
                                                <td>
                                                    <?=$list['service_token']?>
                                                </td>
                                                <td style="text-align: center;">
                                                    <?=$list['service_method']?>
                                                </td>
                                                <td style="text-align: center;"></td>
                                                <td style="text-align: center;">
                                                    <?php if($list['status']=='N'){ ?>
                                                    <span class="label label-danger">รอ sync</span>
                                                    <?php }else{ ?>
                                                    <span class="label label-success">sync แล้ว <?=$list['update_dtm']?></span>
                                                    <?php } ?>
                                                </td>
                                                <td style="text-align: center;">
                                                    <?=$list['create_dtm']?>
                                                </td>
                                                <td style="text-align: center;">
                                                    <?php if($list['service_method']!='SYNC_TRACK'){ ?>
                                                    <button type="button" class="btn btn-sm btn-warning" onclick="syncbytoken('<?=$list['service_token']?>');"><i class="fa fa-refresh"></i> Sync</button>
                                                    <?php } ?>
                                                </td>
                                            </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>

                                   <!-- <nav class="pull-right" style="margin-right: 3%;">
                                        <ul class="pagination pagination-md">
                                            <?php for($i=1;$i<=$allPage;$i++){ ?>
                                            <li <?php if($currpage==$i){ ?>class="active"
                                                <?php } ?>>
                                                <a href="#/setting/syncdata/?page=<?=$i?>">
                                                    <?=$i?>
                                                </a>
                                            </li>
                                            <?php } ?>

                                        </ul>
                                    </nav>-->
                                    
                                    
                                    <nav class="pull-right" style="margin-right: 3%;">
                        <ul class="pagination pagination-md">
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/setting/syncdata/?page=1">
                                                หน้าแรก
                                            </a>
                            </li>

                            <?php 
                            $c_page = intval($currpage);
                            if($c_page==0){
                                $c_page = 1;
                            }
                            $start = 1;
                            $end = 10;
                            if($c_page>=6){
                                $start = $c_page-4;
                                $end = $c_page+4;
                            }

                            if($end>=$allPage){
                                $end = $allPage;
                            }
                            ?>
                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                            <?php for($i=$start;$i<=$end;$i++) {?>
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/setting/syncdata/?page=<?=$i?>">
                                    <?=$i?>
                                </a>
                            </li>
                            <?php } ?>
                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                        </ul>
                    </nav>
                                    
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>