<script>
	var project_id = "<?=$infomation['project_id']?>";
</script>
<section class="content-header">
  <h1>
    Project
    <small>Project Management</small>
  </h1>  
</section>

        <!-- Main content -->
<?php 
	$mode_url = '';
	if(isset($GET['module'])){
		$mode_url = '?module=report';
	}


?>
<section class="content" >
	<div class="row">
		  <div class="col-sm-9 col-sm-offset-1" id="addon" <?php if(!is_array($idinfomation)){ ?>style="display: none;"<?php } ?>>
              <div class="box box-warning box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Create Add-On</h3>
                  <div class="box-tools pull-right">
                    
                  </div>
                </div>
                <form class="form-horizontal" id="createFrm" name="createFrm">
                <input type="hidden" name="project_id" value="<?=$infomation['project_id']?>"/>
                <?php if(!is_array($idinfomation)){ ?>
                <input type="hidden" name="mode" value="createaddon"/>
                
                <?php }else{ ?>
                <input type="hidden" name="mode" value="editaddon"/>
                <input type="hidden" name="addon_id" value="<?=$idinfomation['addon_id']?>"/>
                <?php } ?>
                <div class="box-body">
                  <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Add-On Type</label>
                      <div class="col-sm-7">
                        	<select class="form-control" id="addon_type" name="addon_type">
                        		<option value="1" <?php if($idinfomation['addon_type']=='1'){ ?>selected=""<?php } ?>>Project</option>
                        		<option value="2" <?php if($idinfomation['addon_type']=='2'){ ?>selected=""<?php } ?>>Hosting</option>
                        		<option value="3" <?php if($idinfomation['addon_type']=='3'){ ?>selected=""<?php } ?>>Co-Location</option>
                        		<option value="4" <?php if($idinfomation['addon_type']=='4'){ ?>selected=""<?php } ?>>Domainname</option>
                        		<option value="5" <?php if($idinfomation['addon_type']=='5'){ ?>selected=""<?php } ?>>Online Marketting</option>
                        		<option value="6" <?php if($idinfomation['addon_type']=='6'){ ?>selected=""<?php } ?>>M/A</option>
                        		<option value="7" <?php if($idinfomation['addon_type']=='7'){ ?>selected=""<?php } ?>>Service</option>
                        	</select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Add-On Information</label>
                      <div class="col-sm-7">
                        	<textarea class="form-control" id="addon_info" name="addon_info"><?=$idinfomation['addon_info']?></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Add-On Payment</label>
                      <div class="col-sm-7">
                        	<input type="text" class="form-control" id="addon_payment" name="addon_payment" value="<?=$idinfomation['addon_payment']?>"/>
                      </div>
                    </div>
                </div>
                <div class="box-footer">
                	
                    <button type="button" class="btn btn-primary pull-right" id="saveLeave" onclick="saveAddon();">Save</button>
                    <button type="reset" class="btn btn-default pull-right">Cancel</button>
                </div>
                </form>
              </div>
            </div>
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Edit Project > Add-On</h3>
			  <div class="pull-right">
			  	<a href="javascript:;" class="btn btn-flat btn-warning" onclick="openCreate();"><i class="fa fa-plus"></i> Create Add-On</a>
			  </div>
			  
			</div>
			<div class="box-body">
			
				<a href="#/project/edit/<?=$infomation['project_id']?>/<?=$mode_url?>" class="btn bg-orange btn-flat">Project Detail</a>
				<a href="javascript:;" class="btn bg-navy btn-flat">Project Add-On</a>
				<a href="#/project/payment/<?=$infomation['project_id']?>/<?=$mode_url?>" class="btn bg-orange btn-flat">Project Payment</a>
				<br />
                    <table id="example1" class="table table-bordered table-striped">
	                    <thead>
	                      <tr>
	                        
	                        <th>No.</th>
	                        <th>Add-On Type</th>
	                        <th>Add-On Information</th>
	                        <th>Add-On Payment</th>
	                        <th>Create Date</th>
	                        <th>Action</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                    <?php $no=1; foreach($addonList as $addon){ ?>
	                    	<tr>
	                    		<td><?=$no?></td>
	                    		<td>
	                    			<?php
	                    			if($addon['addon_type']=='1'){
	                    				echo "Project";
	                    			}
	                    			else if($addon['addon_type']=='2'){
	                    				echo "Hosting";
	                    			}
	                    			else if($addon['addon_type']=='3'){
	                    				echo "Co-Location";
	                    			}
	                    			else if($addon['addon_type']=='4'){
	                    				echo "Domainname";
	                    			}
	                    			else if($addon['addon_type']=='5'){
	                    				echo "Online Marketting";
	                    			}
	                    			else if($addon['addon_type']=='6'){
	                    				echo "M/A";
	                    			}
	                    			else if($addon['addon_type']=='7'){
	                    				echo "Service";
	                    			}
	                    			
	                    			?>
	                    		</td>
	                    		<td>
	                    			<?=$addon['addon_info']?>
	                    		</td>
	                    		<td>
	                    			<?=$addon['addon_payment']?>
	                    		</td>
	                    		<td>
	                    			<?=date("d-m-Y", strtotime($addon['create_dtm']))?>
	                    		</td>
	                    		<td>
	                    			<a href="#/project/addon/<?=$infomation['project_id']?>/?mode=edit&id=<?=$addon['addon_id']?>" class="btn btn-success btn-sm btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
	                        	
	                        	<button class="btn btn-danger btn-flat btn-sm addon-delete" onclick="deleteAddon('<?=$addon['addon_id']?>');"><i class="fa fa-trash"></i> Delete</button>
	                    		</td>
	                    	</tr>
	                    <?php $no++; } ?>
	                    </tbody>
	                    <tfoot>
	                      <tr>
	                       
	                        <th>No.</th>
	                        <th>Add-On Type</th>
	                        <th>Add-On Information</th>
	                        <th>Add-On Payment</th>
	                        <th>Create Date</th>
	                        <th>Action</th>
	                      </tr>
	                    </tfoot>
	                  </table>
	                
	                  
                 
			   
			</div>
			<div class="box-footer" style="margin-left: 10%">
			<?php if(!isset($GET['module'])) {?>
				<a href="#/project/projectlist/" class="btn btn-success pull-right">Back To List</a>
			<?php }else{ ?>
				<a href="#/report/project_list/" class="btn btn-success pull-right">Back To List</a>
			<?php } ?>
			
            
            </div><!-- /.box-footer -->
			
			</div>
		</div>
	</div>
          
</section>

