<style>
	.form-group .control-label {
		text-align: left;
	}
	.box-body {padding-left: 10%;}
</style>

<section class="content-header">
  <h1>
   Project
    <small>Project Management</small>
  </h1>
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<?php if(!is_array($leaveInfo)){ ?>
			  <h3 class="box-title">Create Project</h3>
			 <?php }else{ ?>
			 	<h3 class="box-title">Edit Project</h3>
			 <?php } ?>
			</div>
			 <form class="form-horizontal" id="createFrm" name="createFrm">
			 <?php if(!is_array($leaveInfo)){ ?>
			 <input type="hidden" name="mode" value="create"/>
			 <?php }else{ ?>
			 <input type="hidden" name="mode" value="edit"/>
			 <input type="hidden" name="leave_id" value="<?=$leaveInfo['id']?>"/>
			 <input type="hidden" name="old_thumb" value="<?=$leaveInfo['leave_image']?>"/>
			 <?php } ?>
			<div class="box-body">


                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Image</label>


                      <div class="col-sm-5">
                        <input type="file" class="" id="project_thumb" onchange="checkFileType(this);" name="project_thumb" placeholder="Files" multiple="">
                        <p class="help-block">Allow For .JPG ,.PNG or .GIF only.Max file size 5MB.</p>
                      </div>

                    </div>
                    
                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label">Project Type</label>
                      <div class="col-sm-5">
                        <select class="form-control select2"  data-placeholder="Select a Type" id="user_owner" name="project_type">
                        		<?php $project_type = GF::masterdataList('2'); ?>
                      			<?php foreach($project_type as $typelist){ ?>
                      			<option value="<?=$typelist['id']?>"><?=$typelist['master_name']?></option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_title" class="col-sm-2 control-label">Project Name</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project Name" value="<?=$leaveInfo['leave_title']?>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label">Project Owner</label>
                      <div class="col-sm-5">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Select a Owner" id="user_owner" name="user_owner[]">
                      			<?php foreach($memberList as $members){ ?>
                      			<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label">Project Team</label>
                      <div class="col-sm-5">
                        <select class="form-control select2" multiple="multiple" data-placeholder="Select a Team" id="user_team" name="user_team[]">

                      			<?php foreach($memberList as $members){ ?>
                      			<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>



                    <div class="form-group" >
                      <label for="birthdate" class="col-sm-2 control-label">Start Date</label>
                      <div class="col-sm-3">
                        <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <input type="text" class="form-control my_date" id="project_start" name="project_start" value="" />
	                    </div><!-- /.input group -->
                      </div>

                    </div>
                    
                    <div class="form-group" >
                      <label for="birthdate" class="col-sm-2 control-label">Expected End Date</label>
                      <div class="col-sm-3">
                        <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <input type="text" class="form-control my_date" id="project_end" name="project_end" value="" />
	                    </div><!-- /.input group -->
                      </div>

                    </div>



                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-5">

                        <textarea class="form-control" rows="8" id="project_desc" name="project_desc"><?=$leaveInfo['leave_desc']?></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-2 control-label">Project Status</label>
                      <div class="col-sm-5">
                        	<!--<select class="form-control" id="project_status" name="project_status">
                        		<option value="1">Requirement</option>
                        		<option value="2">Design</option>
                        		<option value="3">Develop</option>
                        		<option value="4">Local Test</option>
                        		<option value="5">UAT</option>
                        		<option value="6">Deploy</option>
                        		<option value="7">Go Live</option>
                        	</select>-->
                        	<!--<input type="text" class="form-control " placeholder="Project Status" id="project_status" name="project_status" value="" />
                        	
                        	<span>Requirement, Design, Develop, Local Test, UAT, Deploy, Go Live</span>-->
                       <select class="form-control select2"  data-placeholder="Select a Type" id="project_status" name="project_status">
                        		<?php $project_status = GF::masterdataList('3'); ?>
                      			<?php foreach($project_status as $statuslist){ ?>
                      			<option value="<?=$statuslist['id']?>"><?=$statuslist['master_name']?></option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>

                    <!--<div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Files</label>


                      <div class="col-sm-5">
                        <input type="file" class="" id="project_file" name="project_file[]" placeholder="Files" multiple="">
                        <p class="help-block">เลือกได้หลายไฟล์ (เอาแค่พอประมาณถ้าไม่อยากรอนาน)</p>
                      </div>

                    </div>-->

                    <div id="project_o">
                    <div class="form-group" id="clone_c">
                      <label for="item_file" class="col-sm-2 control-label">File</label>
                      <div class="col-sm-3">
                        <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-file-o"></i>
	                      </div>
	                      <input type="file" class="form-control script_pic"  name="item_file[]" value="" />
	                    </div><!-- /.input group -->
                      </div>
                      <!--<div class="col-sm-2">
	                    	<input type="text" class="form-control item-name" name="item_name[]" placeholder="File Name"/>
	                    </div>-->
	                   <div class="col-sm-2" >
	                   		<button type="button" style="display: none;" class="btn btn-danger btn-flat btn-xs"  onclick="removeFileProject(this);"><i class="fa fa-trash"></i> Remove</button>
	                   </div>
                    </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label"></label>
                      <div class="col-sm-5">
                         <button type="button" class="btn btn-warning btn-flat"  onclick="cloneFileProject(this);"><i class="fa fa-plus"></i> Add</button>
                      </div>
                    </div>






			</div>
			<div class="box-footer" style="margin-left: 10%">
			<a href="#/project/projectlist" class="btn btn-success pull-right">Back To List</a>
			<?php if(empty($view)){ ?>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" onclick="saveProject();">Save</button>
            <?php } ?>
            </div><!-- /.box-footer -->
            </form>
			</div>
		</div>
	</div>

</section>

<script>
	 $(".leave_date").datepicker({
	      	todayBtn: "linked",
	       language: "th",
	       autoclose: true,
	       todayHighlight: true,
	       format: 'dd/mm/yyyy'
      });
</script>
<?php if(!empty($view)){ ?>
<script>
	$('input').attr('readonly',true);
     $('select').attr('disabled',true);
     $('textarea').attr('disabled',true);
     $('.leave-d').hide();
</script>
<?php } ?>


