<script>
	var project_id = "<?=$infomation['project_id']?>";
</script>
<style>
	.form-group .control-label {
		text-align: left;
	}
	.box-body {padding-left: 10%;}
</style>

<section class="content-header">
  <h1>
   Project
    <small>Project Management</small>
  </h1>
</section>

        <!-- Main content -->
<?php 
	$mode_url = '';
	if(isset($GET['module'])){
		$mode_url = '?module=report';
	}


?>
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">

			 	<h3 class="box-title">Edit Project</h3>

			</div>
			 <form class="form-horizontal" id="createFrm" name="createFrm">

			 <input type="hidden" name="mode" value="edit"/>
			 <input type="hidden" name="project_id" value="<?=$infomation['project_id']?>"/>
			 <input type="hidden" name="old_thumb" value="<?=$infomation['project_thumb']?>"/>

			<div class="box-body">

				<a href="javascript:;" class="btn bg-navy btn-flat">Project Detail</a>
				<!--<a href="#/project/addon/<?=$infomation['project_id']?>/<?=$mode_url?>" class="btn bg-orange btn-flat">Project Add-On</a>-->
				<a href="#/project/payment/<?=$infomation['project_id']?>/<?=$mode_url?>" class="btn bg-orange btn-flat">Project Payment</a>
                    <div class="form-group" style="margin-top: 50px;">
                      <label for="inputEmail3" class="col-sm-2 control-label">Image</label>
                      <?php if($infomation['project_thumb']!=''){ ?>
                     	<div class="col-sm-3">
                     		<img src="<?=$BASEURL?>/uploads/project/<?=$infomation['project_thumb']?>" class="img-responsive"/>
                     	</div>
                    <?php } ?>
                      <div class="col-sm-5">
                        <input type="file" class="" id="project_thumb" onchange="checkFileType(this);" name="project_thumb" placeholder="Files" multiple="">
                        <p class="help-block">Allow For .JPG ,.PNG or .GIF only.<br />Max file size 5MB.</p>
                      </div>

                    </div>
					
					<div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label">Project Type</label>
                      <div class="col-sm-5">
                        <select class="form-control select2"  data-placeholder="Select a Type" id="user_owner" name="project_type">
                        		<?php $project_type = GF::masterdataList('2'); ?>
                      			<?php foreach($project_type as $typelist){ ?>
                      			<option value="<?=$typelist['id']?>" <?php if($infomation['project_type']==$typelist['id']){ ?>selected=""<?php } ?>><?=$typelist['master_name']?></option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>
					
                    <div class="form-group">
                      <label for="leave_title" class="col-sm-2 control-label">Project Name</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project Name" value="<?=$infomation['project_name']?>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label">Project Owner</label>
                      <div class="col-sm-5">
                        <select class="form-control select2"
                          multiple="multiple"
                          data-placeholder="Select a Owner"
                          id="user_owner"
                          name="user_owner[]"
                          onchange="return teamSelectFilter()">
                      			<?php foreach($memberList as $members): ?>
                      			<option
                                value="<?=$members['id']?>"
                                data_name = "<?=$members['user_name']?>"
                          			<?php
                                  foreach($infomation['owner'] as $owner){
                          				  if($owner['user_id']==$members['id']){
                          				    echo 'selected=""';
                          				  } //if
                          			  } //foreach
                                ?>
                      			  > <!--/option-->
                              <?=$members['user_name']?>(<?=$members['user_nickname']?>)
                            </option>
                      			<?php endforeach ?>
                    	</select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label">Project Team</label>
                      <div class="col-sm-5">
                        <select class="form-control select2"
                          multiple="multiple"
                          data-placeholder="Select a Team"
                          id="user_team" name="user_team[]">
                      			<?php
                              foreach($memberList as $members){
                                foreach($infomation['team'] as $teams){
                                  if($teams['user_id'] == $members['id']){
                                    echo '<option data_check="old" value="'.$members['id'].'" selected>';
                                    echo $members['user_name'].'('.$members['user_nickname'].')';
                                    echo '</option>';
                                  }//if
                                }//foreach
                              }//foreach
                            ?>
                    	</select>
                      </div>
                    </div>



                    <div class="form-group" >
                      <label for="birthdate" class="col-sm-2 control-label">Start Date</label>
                      <div class="col-sm-3">
                        <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <?php

	                      	$valdate = '';
	                      	if($infomation['project_start']!='0000-00-00'){
	                      		$valdate = date("d-m-Y", strtotime($infomation['project_start']));
	                      	}

	                       ?>
	                      <input type="text" class="form-control my_date" name="project_start" value="<?=$valdate?>" />
	                    </div><!-- /.input group -->
                      </div>

                    </div>
                    
                    <div class="form-group" >
                      <label for="birthdate" class="col-sm-2 control-label">Expected End Date</label>
                      <div class="col-sm-3">
                        <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <?php

	                      	$valdate2 = '';
	                      	if($infomation['project_end']!='0000-00-00'){
	                      		$valdate2 = date("d-m-Y", strtotime($infomation['project_end']));
	                      	}

	                       ?>
	                      <input type="text" class="form-control my_date" name="project_end" value="<?=$valdate2?>" />
	                    </div><!-- /.input group -->
                      </div>

                    </div>



                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-5">

                        <textarea class="form-control" rows="8" id="leave_desc" name="project_desc"><?=$infomation['project_desc']?></textarea>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-2 control-label">Project Status</label>
                      <div class="col-sm-5">
                        	<!--<select class="form-control" id="project_status" name="project_status">
                        		<option value="1" <?php if($infomation['status']=='1'){ ?>selected=""<?php } ?>>Requirement</option>
                        		<option value="2" <?php if($infomation['status']=='2'){ ?>selected=""<?php } ?>>Design</option>
                        		<option value="3" <?php if($infomation['status']=='3'){ ?>selected=""<?php } ?>>Develop</option>
                        		<option value="4" <?php if($infomation['status']=='4'){ ?>selected=""<?php } ?>>Local Test</option>
                        		<option value="5" <?php if($infomation['status']=='5'){ ?>selected=""<?php } ?>>UAT</option>
                        		<option value="6" <?php if($infomation['status']=='6'){ ?>selected=""<?php } ?>>Deploy</option>
                        		<option value="7" <?php if($infomation['status']=='7'){ ?>selected=""<?php } ?>>Go Live</option>
                        	</select>-->
                        	<!--<input type="text" class="form-control " placeholder="Project Status" id="project_status" name="project_status" value="<?=$infomation['project_status']?>" />
                        	<span>Requirement, Design, Develop, Local Test, UAT, Deploy, Go Live</span>-->
                        <select class="form-control select2"  data-placeholder="Select a Type" id="project_status" name="project_status">
                        		<?php $project_status = GF::masterdataList('3'); ?>
                      			<?php foreach($project_status as $statuslist){ ?>
                      			<option value="<?=$statuslist['id']?>" <?php if($infomation['project_status']==$statuslist['id']){ ?>selected=""<?php } ?>><?=$statuslist['master_name']?></option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>

                    <!--<div class="form-group">
                      <label for="leave_desc" class="col-sm-2 control-label">Files</label>
                      <div class="col-sm-5">
                      <?php foreach($infomation['file'] as $file){ ?>
                        	<span class="text-red"><?=$file['file_title']?> - <span class="text-green"><?=date("m/d/Y", strtotime($file['create_dtm']))?></span></span><span class="text-yellow"> By <?=$file['user_name']?></span>&nbsp;&nbsp;&nbsp; <a target="_blank" href="<?=$BASEURL?>/uploads/projectfiles/<?=$file['file_name']?>" class="btn btn-default btn-flat btn-xs" style="margin-bottom: 5px;"><i class="fa fa-download"></i></a>&nbsp;&nbsp;&nbsp; [<a href="javascript:;" class="text-red" onclick="deleteFile('<?=$file['file_id']?>');">X Delete</a>]<br />
                      <?php } ?>
                      </div>
                    </div>-->

                    <?php if(!empty($infomation['project_id']) && count($infomation['file'])>=1){ ?>
                    <?php $ck=1; foreach($infomation['file'] as $files){ ?>
                    <div class="form-group" >
                      <label for="birthdate" class="col-sm-2 control-label">File <?=$ck?></label>
                      <div class="col-sm-4">
                        <div class="input-group">
	                       <a target="_blank" href="<?=$BASEURL?>/uploads/projectfiles/<?=$files['file_name']?>" class="btn btn-default btn-flat btn-xs" style="margin-bottom: 5px;"><i class="fa fa-download"></i></a>&nbsp;&nbsp;&nbsp; <span class="text-red"><?=$files['file_title']?> - <span class="text-green"><?=date("d-m-Y", strtotime($files['create_dtm']))?></span></span><span class="text-yellow"> By <?=$files['user_name']?></span>
	                      </div><!-- /.input group -->
                      </div>
                      <!-- <div class="col-sm-2">
	                    	<input type="text" class="form-control item-name" name="item_name_e[]" placeholder="File Name" value="<?=$files['file_title']?>" data-id="<?=$files['file_id']?>" onchange="updateFileTitleProject(this);"/>
	                    </div> -->
	                   <div class="col-sm-2" >
	                   		<button type="button" data-id="<?=$files['file_id']?>" class="btn btn-danger btn-flat btn-xs" id="clonedate" onclick="removeFileT(this);"><i class="fa fa-trash"></i> Remove</button>
	                   </div>
                    </div>
                    <?php $ck++; } ?>
                    <?php } ?>

                    <!--<div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Files</label>


                      <div class="col-sm-5">
                        <input type="file" class="" id="project_file" name="project_file[]" placeholder="Files" multiple="">
                        <p class="help-block">เลือกได้หลายไฟล์ (เอาแค่พอประมาณถ้าไม่อยากรอนาน)</p>
                      </div>

                    </div>-->
                    <div id="project_o">
                    <div class="form-group" id="clone_c">
                      <label for="item_file" class="col-sm-2 control-label">File</label>
                      <div class="col-sm-4">
                        <div class="input-group">
	                         <div class="input-group-addon">
	                           <i class="fa fa-file-o"></i>
	                         </div>
	                         <input type="file" class="script_pic"  name="item_file[]" value="" />
	                       </div><!-- /.input group -->
                      </div>
                      <!-- <div class="col-sm-2">
	                    	<input type="text" class="form-control item-name" name="item_name[]" placeholder="File Name"/>
	                    </div> -->
	                   <div class="col-sm-2" >
	                   		<button type="button" style="display: none;" class="btn btn-danger btn-flat btn-xs"  onclick="removeFileProject(this);"><i class="fa fa-trash"></i> Remove</button>
	                   </div>
                    </div>
                    </div>

                    <div class="form-group">
                      <label for="leave_type" class="col-sm-2 control-label"></label>
                      <div class="col-sm-5">
                         <button type="button" class="btn btn-warning btn-flat"  onclick="cloneFileProject(this);"><i class="fa fa-plus"></i> Add</button>
                      </div>
                    </div>






			</div>
			<div class="box-footer" style="margin-left: 10%">
			<?php if(!isset($GET['module'])) {?>
				<a href="#/project/projectlist/" class="btn btn-success pull-right">Back To List</a>
			<?php }else{ ?>
				<a href="#/report/project_list/" class="btn btn-success pull-right">Back To List</a>
			<?php } ?>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveProject();">Save</button>

            </div><!-- /.box-footer -->
            </form>
			</div>
		</div>
	</div>

</section>

<script>
	 $(".leave_date").datepicker({
	      	todayBtn: "linked",
	       language: "th",
	       autoclose: true,
	       todayHighlight: true,
	       format: 'dd/mm/yyyy'
      });
</script>
<?php if(!empty($view)){ ?>
<script>
	$('input').attr('readonly',true);
     $('select').attr('disabled',true);
     $('textarea').attr('disabled',true);
     $('.leave-d').hide();
</script>
<?php } ?>


