<section class="content-header">
  <h1>
    My Sprint Test
    <small>My Sprint Test Management</small>
  </h1>
</section>


        <!-- Main content -->
<section class="content" >
	<div class="row">

       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
				 <h3 class="box-title">My Sprint Test </h3>

			</div>
			<div class="box-body">
				<form class="form-horizontal" id="clearmysprinttestFrm" name="createFrm">
					<input type="hidden" name="mode" value="clearmysprintlisttest"/>
				</form>
				<form class="form-horizontal" id="searchmysprinttestFrm">
					<input type="hidden" name="mode" value="searchmysprintlisttest"/>
					<div class="row">
						<div class="col-md-6">
						<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">Start date </label>
	                      <div class="col-sm-7">
	                       <div class="input-group">
		                      <div class="input-group-addon">
		                        <i class="fa fa-calendar"></i>
		                      </div>
		                      <input type="text" class="form-control my_dates" name="start_date" value="<?=$_SESSION['project_mysprinttest']['start_date']?>" >
		                    </div><!-- /.input group -->
	                      </div>
	                    </div>
						
		                    <div class="clearfix"></div>
							 <div class="form-group">
		                      <label for="inputSprintName" class="col-md-3 control-label text-right">Project Name </label>
		                      <div class="col-md-7">
		                        <select name="sprint_project_id" class="form-control select2"  data-placeholder="Select Project Name" >
		                        	<option value=""></option>
		                        	<?php for($i=0;$i<count($projectlist);$i++){ ?>
		                        	<option <?php if($_SESSION['project_mysprinttest']['sprint_project_id']==$projectlist[$i]['project_id']){ ?> selected="selected" <?php }?> value="<?=$projectlist[$i]['project_id']?>"><?php echo $projectlist[$i]['project_name'];?></option>
		                        	<?php } ?>
		                        </select>
		                      </div>
		                    </div>
		                    <div class="clearfix"></div>
							<div class="form-group">
		                      <label for="inputSprintName" class="col-md-3 control-label text-right">Sprint Name</label>
		                      <div class="col-md-7">
		                        <input type="text" class="form-control" id="sprint_name_list" name="sprint_name_list" placeholder="Sprint Name" value="<?=$_SESSION['project_mysprinttest']['sprint_name_list']?>">
		                      </div>
		                    </div>
							
						</div>
						<div class="col-md-6">
							<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">End date </label>
	                      <div class="col-sm-7">
	                       <div class="input-group">
		                      <div class="input-group-addon">
		                        <i class="fa fa-calendar"></i>
		                      </div>
		                      <input type="text" class="form-control my_dates" name="end_date" value="<?=$_SESSION['project_mysprinttest']['end_date']?>" >
		                    </div><!-- /.input group -->
	                      </div>
	                    </div>
							<div class="clearfix"></div>
								<div class="form-group">
			                      <label for="leave_type" class="col-md-3 control-label">Sprint Status</label>
			                      <div class="col-md-7">
			                        <select class="form-control select2"  data-placeholder="Select status" id="sprint_status" name="sprint_status">
			                        <option value=""></option>
			                      			<option <?php if($_SESSION['project_mysprinttest']['sprint_status']=="In"){ ?> selected="selected" <?php }?> value="In">Inprogress</option>
			                      			<option <?php if($_SESSION['project_mysprinttest']['sprint_status']=="Co"){ ?> selected="selected" <?php }?> value="Co">Completed</option>
			                      			<option <?php if($_SESSION['project_mysprinttest']['sprint_status']=="Ca"){ ?> selected="selected" <?php }?> value="Ca">Canceled</option>

			                    	</select>
			                      </div>
			                    </div>
							<div class="clearfix"></div>
								<div class="form-group">
		                      <label for="leave_type" class="col-md-3 control-label">Sprint Owner</label>
		                      <div class="col-md-7">
		                        <select class="form-control select2" data-placeholder="Select a Owner" id="sprint_owner" name="sprint_owner">
		                        <option value=""></option>
		                      			<?php foreach($memberList as $members){ ?>
		                      			<option value="<?=$members['id']?>" <?php if($_SESSION['project_mysprinttest']['sprint_owner']==$members['id']){ ?>selected=""<?php } ?>><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
		                      			<?php } ?>
		                    	</select>
		                      </div>
		                    </div>
							<div class="clearfix"></div>
							
							
						</div>
						<div class=" col-sm-12">
							<div class="form-group text-center">
			                    <button type="button" class="btn btn-warning " onclick="clearMySprintTest();">Reset</button>
	                    		<button type="button" class="btn btn-primary " onclick="searchMySprintTest();">Search</button>
		                    </div>
						</div>
					</div>
					
				</form>
				
			</div>
			<div class="box-body">

             <form class="form-horizontal" >
             	<table class="table table-bordered table-striped">
                	  		<thead>
                	  			<tr>
                	  				<th>No.</th>
			                        <th class="text-left">Sprint Name</th>
			                        <th class="text-left">Project Name</th>
			                        <th class="text-left">Owner</th>
			                        <th class="text-left">Start Date</th>
			                        <th class="text-left">End Date</th>
			                        <th class="text-left">Status</th>
			                        <th class="text-left">Action</th>
                      </tr>
                	  		</thead>
                	  <tbody>
                    	<?php for($j=0;$j<$total;$j++){
                    		?>
                    	<tr>
                    		<td><?php echo $j+1;echo "."; ?></td>
                    		<td><?php echo $MySprintTest[$j]['sprint_name']; ?></td>
                    		<td><?php echo $MySprintTest[$j]['project_name']; ?></td>
                    		<td>
                    			<?php 
                    				for($x=0;$x<count($MySprintTest[$j]['owner']);$x++){ 
                    				
                    				?>
	                       		<div class="col-xs-12" >
									<?php if(!empty($MySprintTest[$j]['owner'][$x]['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$MySprintTest[$j]['owner'][$x]['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									&nbsp;&nbsp;
	                       			<?php echo $MySprintTest[$j]['owner'][$x]['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
                    		</td>
                    		<td><?php echo $MySprintTest[$j]['sprint_start']; ?></td>
                    		<td><?php echo $MySprintTest[$j]['sprint_end']; ?></td>
                    		<td><?php echo $MySprintTest[$j]['sprint_status']; ?></td>
                    		<td >
                    		<?php if($button_view){ ?>
	                        	 <a href="#/project/viewmysprinttest/<?=$MySprintTest[$j]['sprint_id']?>/" class="btn btn-info btn-sm btn-flat"><i class="fa fa-info"></i> View</a>
	                        <?php } ?>	 
	                        </td>
                    	</tr>
                    	<?php }?>
                    </tbody>	
                    
                    <tfoot>
                    
                      <tr>
                        <th class="text-right" colspan="8">
                        	 <?php if($allPage>=2){ ?>
			                  <nav class="pull-right" style="margin-right: 3%;">
								  <ul class="pagination pagination-md">
								    <?php for($i=1;$i<=$allPage;$i++){ ?>
								    <li <?php if($currpage==$i){ ?> class="active"<?php } ?>><a href="#/project/mysprinttest/"><?=$i?></a></li>
								    <?php } ?>

								  </ul>
								</nav>
							  <?php } ?>
                        	
                        </th>

                      </tr>
                    </tfoot>	
               </table> 	  		
             
             </form>

			</div>
			
			</div>
		</div>
	</div>

</section>

