<section class="content-header">
  <h1>
    My Sprint List
    <small>My Sprint List Management</small>
  </h1>
</section>


        <!-- Main content -->
<section class="content" >
	<div class="row">

       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
				<a href="#/project/mysprintlist/?case=MS" 
					<?php if($_case=="MS"){?> class="btn bg-navy btn-flat" <?php } else{ ?>class="btn bg-orange btn-flat" <?php } ?> >My Sprint List </a>
				<a href="#/project/mysprintlist/?case=SL" 
					<?php if($_case=="SL"){?> class="btn bg-navy btn-flat" <?php } else{ ?>class="btn bg-orange btn-flat" <?php } ?> >Sprint List</a>
			  <div class="pull-right">
			 
			  </div>

			</div>
			
			<div class="box-body">
			
			<?php if($_case=="MS" ){ ?>
			<form class="form-horizontal" id="frm_mysprintlist">
			<input type="hidden" id="mode" name="mode" value="save_status_mysprintlist"/>
				<div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                <?php for($i=0;$i<$total;$i++){ ?>
                  <li  <?php if($i==0){ ?> class="active" <?php }?> >
                  	<a href="#tab_<?=$i;?>" data-toggle="tab" 
                  		<?php if($i==0){ ?> aria-expanded="true" <?php }else{ ?> aria-expanded="false" <?php } ?> 
                  	>
                  		<?=$MySprintList[$i]['sprint_name']?>
                  	</a></li>
                 <?php } ?>  
                </ul>
                <div class="tab-content col-sm-10">
                
                	 <?php for($i=0;$i<$total;$i++){ ?>
                	  <div class="tab-pane <?php if($i==0){ ?>active<?php } ?>" id="tab_<?=$i?>">
                	  	<table class="table table-bordered table-striped">
                	  		<thead>
                	  			<tr>
                	  				<th>No.</th>
                	  				<th>Estimate Hour</th>
                	  				<th>Task Name</th>
                	  				<th>Assign To</th>
                	  				<th colspan="2">Status</th>
                	  				
                	  				<th>Tester Status</th>
                	  			</tr>
                	  		</thead>
                	  		<tbody>
                	  			<?php for($y=0;$y<count($MySprintList[$i]['backlog']);$y++){ ?>
                	  			<tr >
                	  				<td style="width: 3%;"><?php echo $y+1; echo ".";?></td>
                	  				<td  style="width: 10%;"><?php echo $MySprintList[$i]['backlog'][$y]['estimate_hour'];?></td>
                	  				<td  style="width: 15%;"><?php echo $MySprintList[$i]['backlog'][$y]['task_name'];?></td>
                	  				<td  style="width: 10%;"><?php 
			                	  	foreach($memberList as $members){ 
			                      			if($MySprintList[$i]['backlog'][$y]['member_id']==$members['id']){ 
			                      			if(!empty($members['user_thumb'])){?>
			                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$members['user_thumb']?>" class="img-circle" alt="User Image" />
			                       			&nbsp;&nbsp;
					                        <?php }else{?>
								
											<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
											
											&nbsp;&nbsp;
			                      			<?php } 	echo $members['user_nickname'];
			                      			 }
			                      			}
                	  					?></td>
                	  				<td  style="width: 12%;"><?php 
                	  					$z=0;
                	  					$z2=0;
                	  				 	foreach($memberList as $members){ 
					                      	if($MySprintList[$i]['member_id']==$MySprintList[$i]['backlog'][$y]['member_id']){	$z++;
					                      		}
					                      	}
					                      	if($z==0){
					                      		if($MySprintList[$i]['backlog'][$y]['status']=="Wa"){ echo "Waiting";}
				                      			if($MySprintList[$i]['backlog'][$y]['status']=="In"){echo "<span style=\"color:orange;\">Inprogress</span>";}
				                      			if($MySprintList[$i]['backlog'][$y]['status']=="Co"){echo "<span style=\"color:green;\">Completed</span>";}
				                      			if($MySprintList[$i]['backlog'][$y]['status']=="Ca"){echo "<span style=\"color:red;\">Canceled</span>";}
				                      			
					                      	}else{ 
					                      		if($MySprintList[$i]['backlog'][$y]['status']=="Ca"){ 
					                      		$z2++;
					                      		echo "<span  style=\"color:red; border: 0px !important;\">Canceled</span>";
					                      		?>
					                      			
					                      	<?php 	}else{ ?>
					                      			
					                      	<?php if($MySprintList[$i]['backlog'][$y]['backlog_tester']=="Co"){ 
				                      			echo "<span style=\"color:green;\">Completed</span>";
				                      			}else{ ?>
					                      	
					                      		<select class="form-control sprint_status_backlog" id="sprint_status_backlog" name="sprint_status_backlog[]" data-status="<?=$MySprintList[$i]['backlog'][$y]['status']?>" onchange="return statusMyBacklog(this);" >
					                      		
												<option <?php if($MySprintList[$i]['backlog'][$y]['status']=="Wa"){?> selected="selected" <?php }?> value="Wa">Waiting</option>
				                      			<option <?php if($MySprintList[$i]['backlog'][$y]['status']=="In"){?> selected="selected" <?php }?> v value="In">Inprogress</option>
				                      			<option <?php if($MySprintList[$i]['backlog'][$y]['status']=="Co"){?> selected="selected" <?php }?> v value="Co">Completed</option>
				                      			<?php } ?>
				                      			</select>
					                      <?php	}	}
					                      	
	                	  						
		                	  		?>
		                	  		<br/>
		                	  			<textarea class="form-control "  id="sprint_note_backlog" name="sprint_note_backlog[]" rows="4" style="display: none;" onkeypress="return checkSaveMyBtn(this);"></textarea>
		                	  		</td>
									
		                	  		<td style="width: 3%;" align="center">
		                	  			<?php if($z==0){ ?>
		                	  				
		                	  			<?php }else{ 
		                	  					if($z2>0){}else{
		                	  			?>
		                	  				<?php if($MySprintList[$i]['backlog'][$y]['backlog_tester']=="Co"){}else{ ?>
		                	  				<a href="javascript:;" onclick="saveMySprintList(this);" id="btn-save-mybacklog" data-id="<?=$MySprintList[$i][backlog][$y]['backlog_id']?>" class="btn btn-primary btn-sm btn-flat "><i class="fa fa-save "></i></a>
		                	  				<?php } ?>
		                	  			<?php }
		                	  			}?>
		                	  		</td>
		                	  		<td  style="width: 8%;"  >
										<?php if($MySprintList[$i]['backlog'][$y]['backlog_tester']=="Wa"){ echo "Waiting";} ?> 
										<?php if($MySprintList[$i]['backlog'][$y]['backlog_tester']=="In"){ echo "<span style=\"color:red;\">Fail</span>";} ?> 
										<?php if($MySprintList[$i]['backlog'][$y]['backlog_tester']=="Co"){ echo "<span style=\"color:green;\">Pass</span>";} ?> 
									</td>
                	  			</tr>
                	  			<?php } ?> 
                	  		</tbody>
                	  		
                	  	</table>
	                  </div><!-- /.tab-pane -->
                	 <?php } ?> 
                
                </div><!-- /.tab-content -->
              </div>
              </form>
             <?php }else{ ?> 
             <form class="form-horizontal" >
             	<table class="table table-bordered table-striped">
                	  		<thead>
                	  			<tr>
                	  				<th>No.</th>
			                        <th class="text-left">Sprint Name</th>
			                        <th class="text-left">Project Name</th>
			                        <th class="text-left">Owner</th>
			                        <th class="text-left">Start Date</th>
			                        <th class="text-left">End Date</th>
			                        <th class="text-left">Status</th>
			                        <th class="text-left">Action</th>
                      </tr>
                	  		</thead>
                	  <tbody>
                    	<?php for($j=0;$j<$total;$j++){
                    		?>
                    	<tr>
                    		<td><?php echo $j+1;echo "."; ?></td>
                    		<td><?php echo $MySprintList[$j]['sprint_name']; ?></td>
                    		<td><?php echo $MySprintList[$j]['project_name']; ?></td>
                    		<td>
                    			<?php 
                    				for($x=0;$x<count($MySprintList[$j]['owner']);$x++){ 
                    				
                    				?>
	                       		<div class="col-xs-12" >
									<?php if(!empty($MySprintList[$j]['owner'][$x]['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$MySprintList[$j]['owner'][$x]['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									&nbsp;&nbsp;
	                       			<?php echo $MySprintList[$j]['owner'][$x]['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
                    		</td>
                    		<td><?php echo $MySprintList[$j]['sprint_start']; ?></td>
                    		<td><?php echo $MySprintList[$j]['sprint_end']; ?></td>
                    		<td><?php echo $MySprintList[$j]['sprint_status']; ?></td>
                    		<td >
                    		<?php if($button_view){ ?>
	                        	 <a href="#/project/viewmysprintlist/<?=$MySprintList[$j]['sprint_id']?>/" class="btn btn-info btn-sm btn-flat"><i class="fa fa-info"></i> View</a>
	                        <?php } ?>	 
	                        </td>
                    	</tr>
                    	<?php }?>
                    </tbody>	
                    
                    <tfoot>
                    
                      <tr>
                        <th class="text-right" colspan="8">
                        	 <?php if($allPage>=2){ ?>
			                  <nav class="pull-right" style="margin-right: 3%;">
								  <ul class="pagination pagination-md">
								    <?php for($i=1;$i<=$allPage;$i++){ ?>
								    <li <?php if($currpage==$i){ ?> class="active"<?php } ?>><a href="#/project/mysprintlist/?case=SL&page=<?=$i?>"><?=$i?></a></li>
								    <?php } ?>

								  </ul>
								</nav>
							  <?php } ?>
                        	
                        </th>

                      </tr>
                    </tfoot>	
               </table> 	  		
             
             </form>
             
             <?php } ?>
			</div>
			
			</div>
		</div>
	</div>

</section>

