<script>
var paymentid = '<?=$infomation['project_id']?>';
</script>
<script>
	var project_id = "<?=$infomation['project_id']?>";
</script>
<section class="content-header">
  <h1>
    Project
    <small>Project Management</small>
  </h1>  
</section>

        <!-- Main content -->
<?php 
	$mode_url = '';
	if(isset($GET['module'])){
		$mode_url = '?module=report';
	}


?>
<section class="content" >
	<div class="row">
		  <div class="col-sm-9 col-sm-offset-1" id="addon" <?php if(!is_array($idinfomation)){ ?>style="display: none;"<?php } ?>>
              <div class="box box-warning box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Create Payment</h3>
                  <div class="box-tools pull-right">
                    
                  </div>
                </div>
                <form class="form-horizontal" id="createFrm" name="createFrm">
                <input type="hidden" name="project_id" value="<?=$infomation['project_id']?>"/>
                
                <input type="hidden" name="mode" value="createpayment"/>
                
                <div class="box-body">
                  <div class="form-group">
                      <label for="payment_type" class="col-sm-3 control-label">Payment Type</label>
                      <div class="col-sm-7">
                        	<select class="form-control" id="payment_type" name="payment_type" onchange="checkPayment(this);">
                        		<option value="1" <?php if($idinfomation['addon_type']=='1'){ ?>selected=""<?php } ?>>Project</option>
                        		<option value="2" <?php if($idinfomation['addon_type']=='2'){ ?>selected=""<?php } ?>>Hosting</option>
                        		<option value="3" <?php if($idinfomation['addon_type']=='3'){ ?>selected=""<?php } ?>>Co-Location</option>
                        		<option value="4" <?php if($idinfomation['addon_type']=='4'){ ?>selected=""<?php } ?>>Domainname</option>
                        		<option value="5" <?php if($idinfomation['addon_type']=='5'){ ?>selected=""<?php } ?>>Online Marketting</option>
                        		<option value="6" <?php if($idinfomation['addon_type']=='6'){ ?>selected=""<?php } ?>>M/A</option>
                        		<option value="7" <?php if($idinfomation['addon_type']=='7'){ ?>selected=""<?php } ?>>Service</option>
                        		<option value="8" <?php if($idinfomation['addon_type']=='8'){ ?>selected=""<?php } ?>>SSL</option>
                        	</select>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="payment_value" class="col-sm-3 control-label">Payment Value</label>
                      <div class="col-sm-7">
                        	<input type="text" onchange="numberonly(event);" onkeypress="numberonly(event);" class="form-control" id="payment_value" name="payment_value" value="<?=$idinfomation['addon_payment']?>"/>
                      </div>
                    </div>
                    <div class="noproject" style="display: none;">
                    <div class="form-group">
                      <label for="payment_value" class="col-sm-3 control-label">Payment Terms</label>
                      <div class="col-sm-7">
                        	<select class="form-control" name="payment_term" id="payment_term">
                        		<option value="1">Daily</option>
                        		<option value="2">Monthly</option>
                        		<option value="3">Yearly</option>
                        	</select>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="leave_title" class="col-sm-3 control-label">Start Date </label>
                      <div class="col-sm-7">
                       <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <input type="text" class="form-control my_date" name="payment_start" value="" />
	                    </div><!-- /.input group -->
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_title" class="col-sm-3 control-label">End Date </label>
                      <div class="col-sm-7">
                       <div class="input-group">
	                      <div class="input-group-addon">
	                        <i class="fa fa-calendar"></i>
	                      </div>
	                      <input type="text" class="form-control my_date" name="payment_end" value="" />
	                    </div><!-- /.input group -->
                      </div>
                    </div>
                    </div>
                </div>
                <div class="box-footer">
                	
                    <button type="button" class="btn btn-primary pull-right" id="saveLeave" onclick="savePayment();">Save</button>
                    <button type="reset" class="btn btn-default pull-right" style="margin-left: 10px;margin-right:10px;">Cancel</button>
                </div>
                </form>
              </div>
            </div>
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Edit Project > Payment</h3>
			  <div class="pull-right">
			  	<a href="javascript:;" class="btn btn-flat btn-warning" onclick="openCreate();"><i class="fa fa-plus"></i> Create Payment</a>
			  </div>
			  
			</div>
			<div class="box-body">
			
				<a href="#/project/edit/<?=$infomation['project_id']?>/<?=$mode_url?>" class="btn bg-orange btn-flat">Project Detail</a>
				<!--<a href="#/project/addon/<?=$infomation['project_id']?>/<?=$mode_url?>" class="btn bg-orange btn-flat">Project Add-On</a>-->
				<a href="javascript:;" class="btn bg-navy btn-flat">Project Payment</a>
				<br />
				<?php foreach($payList as $list){ ?>
				
				<div class="col-sx-12" style="margin-top: 30px;"></div>
                   
		       <div class="col-md-12 ">
	              <div class="box box-success box-solid">
	                <div class="box-header with-border">
	                  <h3 class="box-title"><?=$list['type_name']?> <?php if($mode_url!=''){ ?>:: [Project:<?=$infomation['project_name']?>]<?php } ?></h3>
	                  <div class="box-tools pull-right">
	                    <button type="button" class="btn btn-danger btn-flat btn-sm" onclick="deletePayment('<?=$list['payment_id']?>');"><i class="fa fa-trash"></i> Delete Payment</button>
	                  </div><!-- /.box-tools -->
	                </div><!-- /.box-header -->
	                <div class="box-body">
	                <?php if($list['payment_type']=='1') {?>
	                <div class="form-group">
                      <label for="payment_value" class="col-sm-2 control-label">Payment Value</label>
                      
                      <div class="col-sm-3">
                        	<input type="text" class="form-control" id="payment_value_<?=$list['payment_id']?>" name="payment_value_<?=$list['payment_id']?>" value="<?=$list['payment_value']?>"/>
                      </div>
                      <div class="col-sm-2">
                      	<button type="button" class="btn btn-primary btn-flat btn-sm" onclick="updatePaymentValue('<?=$list['payment_id']?>');"><i class="fa fa-save"></i> Save</button>
                      </div>
                      
                    </div>
                    <?php } ?>
	                   <table class="table table-bordered">
		                    <tr>
		                      <th style="width: 10px">#</th>
		                      <th>งวดที่</th>
		                      <th>
		                      <?php if($list['payment_type']=='1') {?>
		                      รายละเอียด
		                      <?php }else{ ?>
		                      Start Date
		                      <?php } ?>
		                      </th>
		                      <th>
		                      <?php if($list['payment_type']=='1') {?>
		                      %
		                      <?php }else{ ?>
		                      End Date
		                      <?php } ?>
		                      </th>
		                      <th>Baht</th>
		                      <th>Status</th>
		                      <th>Note</th>
		                      <th>History</th>
		                      <th>Action</th>
		                    </tr>
		                    <?php $i=1; foreach($list['round'] as $round){ ?>
		                    <style>
		                    	.greys{background-color: #e4e4e4;}
		                    </style>
		                    <?php 
		                    	$table_color = '';
		                    	if($round['round_status']=='2'){
		                    		$table_color = 'warning';
		                    	}
		                    	if($round['round_status']=='3'){
		                    		$table_color = 'info';
		                    	}
		                    	if($round['round_status']=='4'){
		                    		$table_color = 'success';
		                    	}
		                    	if($round['round_status']=='5'){
		                    		$table_color = 'greys';
		                    	}
		                    ?>
		                    <tr class="<?=$table_color?>">
		                      <td><?=$i?>.</td>
		                      <td><input type="text" class="form-control" id="round_name_d_<?=$round['round_id']?>" name="round_name_d_<?=$round['round_id']?>" value="<?=$round['round_name']?>"/></td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <input type="text" class="form-control" id="round_desc_d_<?=$round['round_id']?>" name="round_desc_d_<?=$round['round_id']?>" value="<?=$round['round_desc']?>"/>
		                       <?php }else{ ?>
		                      		<?=date("d-m-Y", strtotime($round['round_start']))?>
		                      <?php } ?>
		                      </td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <input type="text" class="form-control" onkeypress="numberonly(event);" id="round_percent_d_<?=$round['round_id']?>" name="round_percent_d_<?=$round['round_id']?>" value="<?=$round['round_percent']?>"/>
		                      <?php }else{ ?>
		                      		<?php 
		                      		if($round['round_end']!='0000-00-00'){
		                      			echo date("d-m-Y", strtotime($round['round_end'])); 
		                      		}else{
		                      			echo '-';
		                      		}	
		                      		?>
		                      <?php } ?>
		                      </td>
		                      <td><input onkeypress="numberonly(event);" type="text" class="form-control" id="round_bath_d_<?=$round['round_id']?>" name="round_bath_d_<?=$round['round_id']?>" value="<?=$round['round_bath']?>"/></td>
		                      <td>
		                      	<select class="form-control" id="round_status_d_<?=$round['round_id']?>" name="round_status_d_<?=$round['round_id']?>">
		                      		<option value="1" <?php if($round['round_status']=='1'){ ?>selected=""<?php } ?>>รอ Confirm</option>
		                      		<option value="2" <?php if($round['round_status']=='2'){ ?>selected=""<?php } ?>>วางบิลได้</option>
		                      		<option value="3" <?php if($round['round_status']=='3'){ ?>selected=""<?php } ?>>วางบิลแล้ว</option>
		                      		<option value="4" <?php if($round['round_status']=='4'){ ?>selected=""<?php } ?>>ได้รับเงินแล้ว</option>
		                      		<option value="5" <?php if($round['round_status']=='5'){ ?>selected=""<?php } ?>>ยกเลิก</option>
		                      	</select>
		                      </td>
		                      <td><input type="text" class="form-control" id="note_d_<?=$round['round_id']?>" name="note_d_<?=$round['round_id']?>"/></td>
		                      <td>
		                      <button type="button" class="btn btn-info btn-flat btn-sm" onclick="openHistory('<?=$round['round_id']?>');">View</button>
		                      <div class="col-xs-12" id="history_<?=$round['round_id']?>" style="display: none;">
		                      <?php foreach($round['history'] as $history){   ?>
		                      
		                      <?php $memberinfom = GF::memberinfo($history['create_by']); ?>
		                      <table style="margin-top: 5px;">
		                      	<tr>
		                      		<td style="width: 55px;" valign="top">
		                      			<img src="<?=$BASEURL?>/uploads/userthumbnail/<?=$memberinfom['user_thumb']?>" class="img-circle" style="max-width: 50px;" alt="User Image">
		                      		</td>
		                      		<td valign="top">
		                      			<h5 style="margin-top: 0px;">Status :<b><?=$history['round_status_text']?></b> <br />Note : <b><?=$history['history_note']?></b> <br />Create : <b><?=date("d-m-Y H:i:s", strtotime($history['create_dtm']))?></b></h5><hr>
		                      		</td>
		                      	</tr>
		                      </table>
		                      	
		                      <?php } ?>
		                      </div>
		                      
		                      </td>
		                      <td width="100">
		                      	<button type="button" class="btn btn-success btn-flat btn-sm" onclick="editRound('<?=$round['round_id']?>');"><i class="fa fa-save"></i></button>
		                      	<button type="button" class="btn btn-danger btn-flat btn-sm" onclick="deleteRound('<?=$round['round_id']?>');"><i class="fa fa-trash"></i></button>
		                      </td>
		                    </tr>
		                    <?php $i++; } ?>
		                    <tr>
		                      <td></td>
		                      <td><input type="text" class="form-control" id="round_name_e_<?=$list['payment_id']?>" name="round_name_e_<?=$list['payment_id']?>"/></td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <input type="text" class="form-control" id="round_desc_e_<?=$list['payment_id']?>" name="round_desc_e_<?=$list['payment_id']?>"/>
		                      <?php }else{ ?>
		                      <input type="text" class="form-control my_date" id="round_start_e_<?=$list['payment_id']?>" name="round_start_e_<?=$list['payment_id']?>" placeholder="dd/mm/yyyy"/>	
		                      <?php } ?>
		                      </td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <input type="text" onkeypress="numberonly(event);" class="form-control" id="round_percent_e_<?=$list['payment_id']?>" name="round_percent_e_<?=$list['payment_id']?>"/>
		                      <?php }else{ ?>
		                      <input type="text" class="form-control my_date" id="round_end_e_<?=$list['payment_id']?>" name="round_end_e_<?=$list['payment_id']?>" placeholder="dd/mm/yyyy"/>
		                      <?php } ?>
		                      </td>
		                      <td><input onkeypress="numberonly(event);" type="text" class="form-control" id="round_bath_e_<?=$list['payment_id']?>" name="round_bath_e_<?=$list['payment_id']?>" /></td>
		                      <td>
		                      	<select class="form-control" id="round_status_e_<?=$list['payment_id']?>" name="round_status_e_<?=$list['payment_id']?>">
		                      		<option value="1">รอ Confirm</option>
		                      		<option value="2">วางบิลได้</option>
		                      		<option value="3">วางบิลแล้ว</option>
		                      		<option value="4">ได้รับเงินแล้ว</option>
		                      		<option value="5">ยกเลิก</option>
		                      	</select>
		                      </td>
		                      <td><input type="text" class="form-control" id="note_e_<?=$list['payment_id']?>" name="note_e_<?=$list['payment_id']?>"/></td>
		                      <td></td>
		                      <td width="100">
		                      	<button type="button" class="btn btn-success btn-flat btn-sm" onclick="saveRound('<?=$list['payment_id']?>');"><i class="fa fa-save"></i> Save/Add</button>
		                      	
		                      </td>
		                    </tr>
		                  </table>
	                </div>
	              </div>
	            </div>
	                  
                <?php } ?> 
			   
			</div>
			<div class="box-footer" style="margin-left: 10%">
			<?php if(!isset($GET['module'])) {?>
			<a href="#/project/projectlist" class="btn btn-success pull-right">Back To List</a>
			<?php }else{ ?>
				<?php if($GET['module']=='report'){ ?>
					<a href="#/report/project_list/" class="btn btn-success pull-right">Back To List</a>
				<?php }else{ ?>
            		<a href="#/account/payment/" class="btn btn-success pull-right">Back To List</a>
            	<?php } ?>
            <?php } ?>
            </div><!-- /.box-footer -->
			
			</div>
		</div>
	</div>
          
</section>
<form class="form-horizontal" id="createFrmPay" name="createFrmPay">
<input type="hidden" name="mode" id="mode_s" value=""/>
<input type="hidden" name="payment_id" id="payment_id_s" value=""/>
<input type="hidden" name="round_id" id="round_id_s" value=""/>
<input type="hidden" name="round_name" id="round_name_s" value=""/>
<input type="hidden" name="round_desc" id="round_desc_s" value=""/>
<input type="hidden" name="round_status" id="round_status_s" value=""/>
<input type="hidden" name="round_percent" id="round_percent_s" value=""/>
<input type="hidden" name="round_bath" id="round_bath_s" value=""/>
<input type="hidden" name="round_start" id="round_start_s" value=""/>
<input type="hidden" name="round_end" id="round_end_s" value=""/>
<input type="hidden" name="note" id="note_s" value=""/>
</form>
