<section class="content-header">
  <h1>
    Project
    <small>Project Management</small>
  </h1>
</section>


        <!-- Main content -->
<section class="content" >
	<div class="row">

       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Project List</h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/project/create" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create Poject</a>
			  <?php } ?>
			  </div>

			</div>
			<div class="box-body">

				<a href="#/project/projectlist/?case=OW" class="btn <?php if($_case=='OW'){echo 'bg-navy';}else{echo 'bg-orange';} ?> btn-flat">Owner Project</a>
				<a href="#/project/projectlist/?case=OT" class="btn <?php if($_case=='OT'){echo 'bg-navy';}else{echo 'bg-orange';} ?> btn-flat">Other Project</a>
				<br />
				
				<form class="form-horizontal" id="clearFrm" name="clearFrm">
				<input type="hidden" name="mode" value="clearprojectlist"/>
			</form>
			<form class="form-horizontal" id="createFrm" name="createFrm">

                <input type="hidden" name="mode" value="searchprojectlist"/>
                <input type="hidden" name="mode_case" value="<?=$_case?>"/>

                <div class="box-body">
                    <div >
                    <div class="col-sm-4">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">Start Date </label>
	                      
	                      <div class="col-sm-8">
	                      	<div class="input-group"> <input type="text" class="form-control my_date" name="start_date1" value="<?=$_SESSION['project_project']['start_date1']?>" /><span class="input-group-addon">To</span> <input type="text" class="form-control my_date" name="start_date2" value="<?=$_SESSION['project_project']['start_date2']?>" />  </div>
	                      </div>
	                      
	                    </div>
                    </div>
                   
                    <div class="col-sm-4">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">End Date </label>
	                      
	                      <div class="col-sm-8">
	                      	<div class="input-group"> <input type="text" class="form-control my_date" name="end_date1" value="<?=$_SESSION['project_project']['end_date1']?>" /><span class="input-group-addon">To</span> <input type="text" class="form-control my_date" name="end_date2" value="<?=$_SESSION['project_project']['end_date2']?>" />  </div>
	                      </div>
	                      
	                    </div>
                    </div>
                    
                    <div class="col-sm-4 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">Status </label>
	                      <div class="col-sm-8">
	                      
                        	<select class="form-control select2"  data-placeholder="Select Status" id="project_status" name="project_status">
                        		<option value=""></option>
                        		<?php $project_status = GF::masterdataList('3'); ?>
                      			<?php foreach($project_status as $statuslist){ ?>
                      			<option value="<?=$statuslist['id']?>" <?php if($_SESSION['project_project']['project_status']==$statuslist['id']){ ?>selected=""<?php } ?>><?=$statuslist['master_name']?></option>
                      			<?php } ?>
                    	</select>
	                      </div>
	                    </div>
                    </div>
					<div class="clearfix"></div>
					
					<div class="col-sm-4">
						<div class="form-group">
                      <label for="leave_type" class="col-sm-3 control-label">Project Type</label>
                      
                      <div class="col-sm-8">
                        <select class="form-control select2"  data-placeholder="Select Type" id="project_type" name="project_type">
                        		<option value=""></option>
                        		<?php $project_type = GF::masterdataList('2'); ?>
                      			<?php foreach($project_type as $typelist){ ?>
                      			<option value="<?=$typelist['id']?>" <?php if($_SESSION['project_project']['project_type']==$typelist['id']){ ?>selected=""<?php } ?>><?=$typelist['master_name']?></option>
                      			<?php } ?>
                    	</select>
                      </div>
                    </div>
					</div>

                    <div class="col-sm-4">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-4 control-label">Project Name </label>
	                      <div class="col-sm-8">
	                       <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project Title" value="<?=$_SESSION['project_project']['project_name']?>">
	                      </div>
	                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6 ">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-5 control-label">
	                      <input type="radio" name="user_type" onclick="onclickUserS('C');"  value="" <?php if($_SESSION['project_project']['user_type']==''){ ?>checked=""<?php } ?> /> All
	                      <input type="radio" name="user_type" onclick="onclickUserS('O');" value="O" <?php if($_SESSION['project_project']['user_type']=='O'){ ?>checked=""<?php } ?>/> Owner
	                      <input type="radio" name="user_type" onclick="onclickUserS('O');"  value="T" <?php if($_SESSION['project_project']['user_type']=='T'){ ?>checked=""<?php } ?>/> Team
	                       </label>
	                      <div class="col-sm-7" id="my_user_id">
	                       <select class="form-control select2" data-placeholder="Select a User" id="user_id" name="user_id">
                      			<option value=""></option>
                      			<?php foreach($memberList as $members){ ?>
                      			<option value="<?=$members['id']?>" <?php if($_SESSION['project_project']['user_id']==$members['id']){ ?>selected=""<?php } ?>><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                    	   </select>
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-4">
                    	<button type="button" class="btn btn-warning " onclick="clearProjectlist();">Reset</button>
                    	<button type="button" class="btn btn-primary "  onclick="searchProjectlist();">Search</button>
                    </div>

                    </div>
                </div>
                <!--<div class="box-footer" style="text-align: center;">


                </div>-->
                </form>
                    <table id="example1" class="table table-bordered table-striped">
	                    <thead>
	                      <tr>

	                        <th>Thumb</th>
	                        <th>Project Name</th>
	                        <th>Owner</th>
	                        <th>Team</th>
	                        <th>Status</th>
	                        <th>Start</th>
	                        <th>End</th>
	                        <!--<th>Note</th>-->
	                        <th>Action</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                    <?php $no = 1; foreach($projectList as $list){ ?>
	                      <tr <?php if(($no%2)==1){ ?>class="warning"<?php } ?>>

	                        <td align="center"> <?php if(!empty($list['project_thumb'])){ ?><img width="50" src="<?=$BASEURL?>/uploads/project/<?=$list['project_thumb']?>" alt="User Image" /><?php } ?>
	                       	<td>
	                       		<?=$list['project_name']?><br />
	                       		<span class="text-green"><?php $typedata=GF::masterdata($list['project_type']); echo $typedata['master_name']; ?></span>
	                       	</td>
	                       	<td>
	                       	<?php foreach($list['owner'] as $owner){ ?>
	                       		<div class="col-xs-12" >
									<?php if(!empty($owner['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$owner['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									
	                       			<?=$owner['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
	                       	</td>
	                       	<td>
	                       		<?php foreach($list['team'] as $team){ ?>
	                       		<div class="col-xs-12" style="text-align: left;">
									<?php if(!empty($team['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$team['user_thumb']?>" class="img-circle" alt="User Image" />
									
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
	                       			<?=$team['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
	                       	</td>
	                       	<td>
	                       		<?php
	                       		//if($list['status']=='1'){ echo 'Requirement'; }
	                       		//else if($list['status']=='2'){ echo 'Design'; }
	                       		//else if($list['status']=='3'){ echo 'Develop'; }
	                       		//else if($list['status']=='4'){ echo 'Local Test'; }
	                       		//else if($list['status']=='5'){ echo 'UAT'; }
	                       		//else if($list['status']=='6'){ echo 'Deploy'; }
	                       		//else if($list['status']=='7'){ echo 'Go Live'; }
	                       		 ?>
								
								<?php $statusdata=GF::masterdata($list['project_status']); echo $statusdata['master_name']; ?>
								<br /><br />
								
								<?php 
									if(count($list['comment'])>=1){
										//echo $list['comment'][0]['comment_desc'];
									
								 ?>
								 <?php if($list['comment'][0]['comment_type']=='Normal'){ ?>
								 <span class="text-green"><?=$list['comment'][0]['comment_desc']?><br /><?=$list['comment'][0]['user_name']?> - <?=date('d-m-Y H:i:s',strtotime($list['comment'][0]['create_dtm']))?></span>
								 <?php } ?> 
								 
								 <?php if($list['comment'][0]['comment_type']=='Critical'){ ?>
								 <span class="text-red"><?=$list['comment'][0]['comment_desc']?><br /><?=$list['comment'][0]['user_name']?> - <?=date('d-m-Y H:i:s',strtotime($list['comment'][0]['create_dtm']))?></span>
								 <?php } ?> 
								 
								 
								 <?php } ?>
								 <br />
								 <button type="button" class="btn btn-info btn-xs" data-id="<?=$list['project_id']?>" onclick="commentNote(this);">Add Note</button>
	                       	</td>
	                       	<td width="100">
	                       	<?php if($list['project_start']!=NULL && $list['project_start']!='0000-00-00'){ ?>
	                       		<?=date("d-m-Y", strtotime($list['project_start']))?>
	                       	<?php }else{ ?>
	                       			-
	                       	<?php } ?>
	                       		</td>
	                       		<td width="100">
	                       	<?php if($list['project_end']!=NULL && $list['project_end']!='0000-00-00'){ ?>
	                       		<?=date("d-m-Y", strtotime($list['project_end']))?>
	                       	<?php }else{ ?>
	                       			-
	                       	<?php } ?>
	                       		</td>
	                       	<!--<td></td>-->
	                        <td width="200">
	                        <?php if($button_edit){ ?>
	                        	<a href="#/project/edit/<?=$list['project_id']?>/" class="btn btn-success btn-sm btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
	                        	<?php } ?>
	                        	<?php if($button_view){ ?>
	                        	<a href="#/project/view/<?=$list['project_id']?>/" class="btn btn-info btn-sm btn-flat"><i class="fa fa-info"></i> View</a>
	                        	<?php } ?>
	                        	<?php if($button_delete){ ?>
	                        	<button class="btn btn-danger btn-flat btn-sm " onclick="deleteProject(this);" data-id="<?=$list['project_id']?>"><i class="fa fa-trash"></i> Delete</button>
	                        	<?php } ?>
	                        </td>
	                      </tr>
	                     <?php $no++; } ?>
	                    </tbody>
	                    <tfoot>
	                      <tr>

	                        <th>Thumb</th>
	                        <th>Project Name</th>
	                        <th>Owner</th>
	                        <th>Team</th>
	                        <th>Status</th>
	                        <th>Start</th>
	                        <th>End</th>
	                        <!--<th>Note</th>-->
	                        <th>Action</th>
	                      </tr>
	                    </tfoot>
	                  </table>

	                  <?php if($allPage_OW>=2){ ?>
	                  <nav class="pull-right" style="margin-right: 3%;">
						  <ul class="pagination pagination-md">
						    <?php for($i=1;$i<=$allPage_OW;$i++){ ?>
						    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/project/projectlist/?page=<?=$i?>&case="<?=$_case?>><?=$i?></a></li>
						    <?php } ?>

						  </ul>
						</nav>
					  <?php } ?>


			</div>

			</div>
		</div>
	</div>

</section>
<script>
var my_case = '<?=$_case?>';
	<?php if($_SESSION['project_project']['user_type']==''){ ?>
    	setTimeout(function(){
    		onclickUserS('C');
    	},500);
	<?php } //if ?>

	function onclickUserS(typed){
    	if(typed=='O'){
    		$('#my_user_id').show();
    	}else{
    		$('#my_user_id').hide();
    	}
    }
</script>

 <div class="modal " id="commentModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Project Note</h4>
      </div>
      <div class="modal-body">
        	<form class="form-horizontal" id="createFrm2" name="createFrm">
                <div class="box-header">
                <input type="hidden" name="project_id" id="pj_id" value=""/>

                <input type="hidden" name="mode" value="createcomment"/>


                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Comment</label>
                      <div class="col-sm-7">
                        	<textarea class="form-control" id="comment_text" name="comment_text" rows="7"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Type</label>
                      <div class="col-sm-7">
                        	<select class="form-control" name="comment_type">
                        		<option value="Normal">Normal</option>
                        		<option value="Critical">Critical</option>
                        	</select>
                      </div>
                    </div>

                </div>
                <div class="box-footer">

                    <button type="button" class="btn btn-primary pull-right" onclick="saveCommentNote();">Save</button>
                    <!--<button type="reset" class="btn btn-default pull-right">Reset</button>-->
                </div>
                </form>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
