<section class="content-header">
  <h1>
    Sprint List
    <small>Sprint List Management</small>
  </h1>
</section>


        <!-- Main content -->
<section class="content" >
	<div class="row">

       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Sprint List</h3>
			  <div class="pull-right">
			  <?php if($button_edit){ ?>
			  	<a href="#/project/createsprintlist" class="btn btn-flat btn-warning"><i class="fa fa-plus"></i> Create Sprint List</a>
			  <?php } ?>
			  </div>

			</div>
			<div class="box-body">
				<form class="form-horizontal" id="clearFrm" name="clearFrm">
					<input type="hidden" name="mode" value="clearsprintlist"/>
				</form>
				<form class="form-horizontal" id="createFrm" name="createFrm">
					<input type="hidden" name="mode" value="searchsprintlist"/>
						<div class="col-md-6">
							<div class="form-group">
		                      <label for="leave_title" class="col-sm-3 control-label">Start Date </label>
		                      
		                      <div class="col-md-7">
		                      	<div class="input-group"> <input type="text" class="form-control my_date" name="start_date1" value="<?=$_SESSION['project_sprint']['start_date1']?>" /><span class="input-group-addon">To</span> <input type="text" class="form-control my_date" name="start_date2" value="<?=$_SESSION['project_sprint']['start_date2']?>" />  </div>
		                      </div>
		                      
		                    </div>
		                    <div class="clearfix"></div>
							 <div class="form-group">
		                      <label for="inputSprintName" class="col-md-3 control-label text-right">Project Name </label>
		                      <div class="col-md-7">
		                        <select name="sprint_project_id" class="form-control select2"  data-placeholder="Select Project Name" >
		                        	<option value=""></option>
		                        	<?php for($i=0;$i<count($projectlist);$i++){ ?>
		                        	<option <?php if($_SESSION['project_sprint']['sprint_project_id']==$projectlist[$i]['project_id']){ ?> selected="selected" <?php }?> value="<?=$projectlist[$i]['project_id']?>"><?php echo $projectlist[$i]['project_name'];?></option>
		                        	<?php } ?>
		                        </select>
		                      </div>
		                    </div>
		                    <div class="clearfix"></div>
							<div class="form-group">
		                      <label for="leave_type" class="col-md-3 control-label">Sprint Owner</label>
		                      <div class="col-md-7">
		                        <select class="form-control select2" data-placeholder="Select a Owner" id="sprint_owner" name="sprint_owner">
		                        <option value=""></option>
		                      			<?php foreach($memberList as $members){ ?>
		                      			<option value="<?=$members['id']?>" <?php if($_SESSION['project_sprint']['sprint_owner']==$members['id']){ ?>selected=""<?php } ?>><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
		                      			<?php } ?>
		                    	</select>
		                      </div>
		                    </div>
							<div class="clearfix"></div>
							<div class="form-group">
		                      <label for="inputSprintName" class="col-md-3 control-label text-right">Sprint Name</label>
		                      <div class="col-md-7">
		                        <input type="text" class="form-control" id="sprint_name_list" name="sprint_name_list" placeholder="Sprint Name" value="<?=$_SESSION['project_sprint']['sprint_name_list']?>">
		                      </div>
		                    </div>
							
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
		                      <label for="leave_title" class="col-sm-3 control-label">End Date </label>
		                      
		                      <div class="col-md-7">
		                      	<div class="input-group"> <input type="text" class="form-control my_date" name="end_date1" value="<?=$_SESSION['project_sprint']['end_date1']?>" /><span class="input-group-addon">To</span> <input type="text" class="form-control my_date" name="end_date2" value="<?=$_SESSION['project_sprint']['end_date2']?>" />  </div>
		                      </div>
		                      
		                    </div>
							<div class="clearfix"></div>
								<div class="form-group">
			                      <label for="leave_type" class="col-md-3 control-label">Sprint Status</label>
			                      <div class="col-md-7">
			                        <select class="form-control select2"  data-placeholder="Select status" id="sprint_status" name="sprint_status">
			                        <option value=""></option>
			                      			<option <?php if($_SESSION['project_sprint']['sprint_status']=="In"){ ?> selected="selected" <?php }?> value="In">Inprogress</option>
			                      			<option <?php if($_SESSION['project_sprint']['sprint_status']=="Co"){ ?> selected="selected" <?php }?> value="Co">Completed</option>
			                      			<option <?php if($_SESSION['project_sprint']['sprint_status']=="Ca"){ ?> selected="selected" <?php }?> value="Ca">Canceled</option>

			                    	</select>
			                      </div>
			                    </div>
							<div class="clearfix"></div>
								<div class="form-group">
			                      <label for="leave_type" class="col-md-3 control-label">Team</label>
			                      <div class="col-md-7">
			                        <select class="form-control select2" data-placeholder="Select Team" id="sprint_list_team" name="sprint_list_team">
			                        <option value=""></option>
			                        		<?php foreach($memberList as $members){ ?>
		                      			<option value="<?=$members['id']?>" <?php if($_SESSION['project_sprint']['sprint_list_team']==$members['id']){ ?>selected=""<?php } ?>><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
		                      			<?php } ?>
			                      			<!--<?php foreach($memberList as $members){ ?>
			                      			<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
			                      			<?php } ?>-->
			                    	</select>
			                      </div>
			                    </div>
							<div class="clearfix"></div>
							<div class="form-group text-center">
			                    <button type="button" class="btn btn-warning " onclick="clearSprintlist();">Reset</button>
	                    		<button type="button" class="btn btn-primary " onclick="searchSprintlist();">Search</button>
		                    </div>
							
						</div>
				</form>
			</div>
			<div class="box-body">
				 <table  class="table table-bordered table-striped" >
                    <thead>
                      <tr >
                        <th class="text-left">Sprint Name</th>
                        <th class="text-left">Project Name</th>
                        <th class="text-left">Owner</th>
                        <th class="text-left">Start Date</th>
                        <th class="text-left">End Date</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    	<?php for($i=0;$i<count($sprintlist);$i++){?>
                    	<tr>
                    		<td><?php echo $sprintlist[$i]['sprint_name']; ?></td>
                    		<td><?php echo $sprintlist[$i]['project_name']; ?></td>
                    		<td>
                    			<?php 
                    				for($x=0;$x<count($sprintlist[$i]['owner']);$x++){ 
                    				
                    				?>
	                       		<div class="col-xs-12" >
									<?php if(!empty($sprintlist[$i]['owner'][$x]['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$sprintlist[$i]['owner'][$x]['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									&nbsp;&nbsp;
	                       			<?php echo $sprintlist[$i]['owner'][$x]['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
                    		</td>
                    		<td><?php echo $sprintlist[$i]['sprint_start']; ?></td>
                    		<td><?php echo $sprintlist[$i]['sprint_end']; ?></td>
                    		<td><?php echo $sprintlist[$i]['sprint_status']; ?></td>
                    		<td >
                    			<?php if($button_edit){ ?>
	                        	 <a  href="#/project/editsprintlist/<?=$sprintlist[$i]['sprint_id']?>/" class="btn btn-success btn-sm btn-flat"><i class="fa fa-pencil-square-o"></i> Edit</a>
	                        	 <?php } ?>
	                        	 <?php if($button_view){ ?>
	                        	 <a href="#/project/viewsprintlist/<?=$sprintlist[$i]['sprint_id']?>/" class="btn btn-info btn-sm btn-flat"><i class="fa fa-info"></i> View</a>
	                        	 <?php } ?>
	                        	 <?php if($button_delete){ ?>
	                        	 <button class="btn btn-danger btn-flat btn-sm " onclick="deleteSprintList(this);" data-id="<?=$sprintlist[$i]['sprint_id']?>"><i class="fa fa-trash"></i> Delete</button>
	                        	 <?php } ?>
	                        </td>
                    	</tr>
                    	<?php }?>
                    </tbody>
                    <tfoot>
                      <tr>
                      	<th colspan="7">
                    	<?php if($allPage>=2){ ?>
			                  <nav class="pull-right" style="margin-right: 3%;">
								  <ul class="pagination pagination-md">
								    <?php for($i=1;$i<=$allPage;$i++){ ?>
								    <li <?php if($currpage==$i){ ?> class="active"<?php } ?>><a href="#/project/sprintlist/?page=<?=$i?>"><?=$i?></a></li>
								    <?php } ?>

								  </ul>
								</nav>
							  <?php } ?>
						</th>
                      </tr>
                    </tfoot>
                </table>    
			</div>
			</div>
		</div>
	</div>

</section>

