
				<table class="table table-bordered table-striped" id="stm_clone_a">
					<thead>
						<tr>
							<!--<th valign="middle">No.</th>-->
							<th valign="middle">Estimate Hour</th>
							<th valign="middle">Task Name</th>
							<th valign="middle"  style="width: 25%;" >Assign To</th>
							
							<th valign="middle" style="width: 17%;" >Status</th>
							<th valign="middle" >Effort</th>
							<th valign="middle" >
								<button type="button"  id="btn-clone" class="btn btn-warning btn-flat btn-sm pull-right"  onclick="return clonefn();"><i class="fa fa-plus" ></i> Add</button>
							</th>
							
						</tr>
					</thead>
					<tbody>
					<?php 
					//GF::print_r($SprintTemplateItemList);
					$sum_es=0;
					for($i=0;$i<count($SprintTemplateItemList);$i++){ 
					$sum_es = $sum_es+$SprintTemplateItemList[$i]['estimate_hour'];
					?>
						<tr>
							<!--<td><?php echo $i+1;?></td>-->
							<td>
							<input type="hidden" id="hd_backlog_id" name="hd_backlog_id[]" value="0"/>
							<input  type="text" name="sprint_es_name[]" id="sprint_es_name" class="sprint_es_name"  onkeyup="numberonlyBL(event);"  onkeypress="numberonly(event);" value="<?php echo $SprintTemplateItemList[$i]['estimate_hour'];?>" style="text-align: center; width: 100px;"/></td>
							<td><input  type="text" name="sprint_task_name[]" id="sprint_task_name" value="<?php echo $SprintTemplateItemList[$i]['task_name'];?>" style="text-align: center;"/></td>
							<td>
								<select class="form-control selecter  select2 select3" data-placeholder="Select assign" id="backlog_owner" name="backlog_owner[]" style="width: 200px;">
                      			<?php foreach($memberList as $members){ ?>
                      				<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                    			</select>
							</td>
							<td>
								<select class="form-control " id="sprint_status_backlog" name="sprint_status_backlog[]" >
									<option value="Wa">Waiting</option>
	                      			<option value="In">Inprogress</option>
	                      			<option value="Co">Completed</option>
	                      			<?php  if($SprintTemplateItemList[$i]['status']=="In" || $SprintTemplateItemList[$i]['status']=="Co"){}else{ ?>
	                      			<option value="Ca">Canceled</option>
	                      			<?php } ?>
                      			</select>
                    		</td>
                    		<td style="text-align: center;">
                    		
                    			<input type="checkbox"  id="backlog_effrot" name="backlog_effrot[]" <?php if($SprintTemplateItemList[$i]['effrot']=='Y'){ ?> checked="checked" <?php } ?> onclick="checkedFn(this);" value="Y"/>
                    			<input type="hidden" id="backlog_effrot_hd" name="backlog_effrot_hd[]" value="N"/>
                    	
                    		</td>
							<td>
								<?php if($SprintTemplateItemList[$i]['status']=="In" || $SprintTemplateItemList[$i]['status']=="Co" || $SprintTemplateItemList[$i]['status']=="Ca"){}else{
								?>
									<button type="button"  id="btn-clone" class="btn btn-danger btn-flat btn-sm" onclick="removet(this);"><i class="fa fa-trash" ></i> </button>
								<?php }?>
								<?php if($total==0 || $total==''){}else{ ?>
								<button type="button"  id="btn-clone" class="btn btn-primary btn-flat btn-sm" onclick="saveBacklogList(this);"><i class="fa fa-save " ></i></button>
								<?php } ?>
							</td>
						</tr>
					<?php } ?>	
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6" style="width: 20%">
								<span class="pull-left" >Total Estimate Hour : <strong> &nbsp;&nbsp;&nbsp;&nbsp; <p id="text_sum_eltemate_how" class="pull-right"><?=$sum_es?></p></strong><input type="hidden" id="hd_sum_es" value="<?=$sum_es?>"></span>
								<div class="clearfix"></div>
								<span class="pull-left" > Avalible Hour : <strong> &nbsp;&nbsp;&nbsp;&nbsp;<p id="text_sum_avarible_how" class="pull-right"></p></strong></span>
							</td>
						</tr>
					</tfoot>
				</table>

