<script>
	var project_id = "<?=$infomation['project_id']?>";
</script>
<section class="content-header">
  <h1>
    Project
    <small>Project Management</small>
  </h1>
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		   <div class="col-sm-9 col-sm-offset-1" id="comment" style="display: none;">
              <div class="box box-warning box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">New Comments</h3>
                  <div class="box-tools pull-right">

                  </div>
                </div>
                <form class="form-horizontal" id="createFrm" name="createFrm">
                <div class="box-header">
                <input type="hidden" name="project_id" value="<?=$infomation['project_id']?>"/>

                <input type="hidden" name="mode" value="createcomment"/>


                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Comment</label>
                      <div class="col-sm-7">
                        	<textarea class="form-control" id="comment_text" name="comment_text" rows="7"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="leave_desc" class="col-sm-3 control-label">Type</label>
                      <div class="col-sm-7">
                        	<select class="form-control" name="comment_type">
                        		<option value="Normal">Normal</option>
                        		<option value="Critical">Critical</option>
                        	</select>
                      </div>
                    </div>

                </div>
                <div class="box-footer">

                    <button type="button" class="btn btn-primary pull-right" id="saveLeave" onclick="saveComment();">Save</button>
                    <!--<button type="reset" class="btn btn-default pull-right">Reset</button>-->
                </div>
                </form>
              </div>
            </div>
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">View project </h3>
			  <div class="pull-right">
			  
			  	<button type="button" class="btn btn-primary btn-flat" onclick="openComment();"><i class="fa fa-comments"></i> New Comment</button>
			  	
			  </div>

			</div>
			<div class="box-body">
			<div class="row">
	            <div class="col-md-8">
	              <!-- Custom Tabs -->
	              <div class="nav-tabs-custom">
	                <ul class="nav nav-tabs">
	                  <li class="active"><a href="#tab_1" data-toggle="tab">Project Detail</a></li>
	                  <li><a href="#tab_2" data-toggle="tab">Project Add-On</a></li>
	                  <?php if($button_edit){ ?>
	                  <li><a href="#tab_3" data-toggle="tab">Project Payment</a></li>
	                  <?php } ?>

	                </ul>
	                <div class="tab-content">
	                  <div class="tab-pane active" id="tab_1">

	                    <table class="table table-bordered table-striped">
	                    	<tr>
	                    		<th width="30%;"></th>
	                    		<th></th>
	                    	</tr>
	                    	<tr>
	                    		<td>
	                    			Image
	                    		</td>
	                    		<td>
	                    			<?php if($infomation['project_thumb']!=''){ ?>
				                     	<div class="col-sm-5">
				                     		<img src="<?=$BASEURL?>/uploads/project/<?=$infomation['project_thumb']?>" class="img-responsive"/>
				                     	</div>
				                    <?php } ?>
	                    		</td>
	                    	</tr>
	                    	<tr>
	                    		<td>Project Type</td>
	                    		<td><?php $typedata=GF::masterdata($infomation['project_type']); echo $typedata['master_name']; ?></td>
	                    	</tr>
	                    	<tr>
	                    		<td>Project Title</td>
	                    		<td><?=$infomation['project_name']?></td>
	                    	</tr>
	                    	<tr>
	                    		<td>Project Owner</td>
	                    		<td>
	                    		<?php foreach($infomation['owner'] as $owner){ ?>
	                       		<div class="col-xs-12" >
		                       		<?php if($owner['user_thumb'] != '' ):?>
		                       			   <img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$owner['user_thumb']?>" class="img-circle" alt="User Image" />
		                       			<?php else:?>
	                                <img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/office-worker2.png" class="img-circle" alt="User Image" />
	                              <?php endif;?>
	                              <?=$owner['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
	                    		</td>
	                    	</tr>
	                    	<tr>
	                    		<td>Project Team</td>
	                    		<td>
	                    			<?php foreach($infomation['team'] as $team){ ?>
	                       		<div class="col-xs-12" style="text-align: left;">
	                       			<?php if($team['user_thumb'] != ''):?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$team['user_thumb']?>" class="img-circle" alt="User Image" />
		                       		<?php else:?>
		                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/office-worker2.png" class="img-circle" alt="User Image" />
		                       		<?php endif;?>
	                       			<?=$team['user_nickname']?>
	                       		</div>
	                       	<?php } ?>
	                    		</td>
	                    	</tr>
	                    	<tr>
	                    		<td>Start Date</td>
	                    		<?php

			                      	$valdate = '';
			                      	if($infomation['project_start']!='0000-00-00'){
			                      		$valdate = date("d-m-Y", strtotime($infomation['project_start']));
			                      	}

			                      ?>
	                    		<td><?=$valdate?></td>
	                    	</tr>
	                    	<tr>
	                    		<td>Expected End Date</td>
	                    		<?php

			                      	$valdate2 = '';
			                      	if($infomation['project_end']!='0000-00-00'){
			                      		$valdate2 = date("d-m-Y", strtotime($infomation['project_end']));
			                      	}

			                       ?>
	                    		<td><?=$valdate2?></td>
	                    	</tr>
	                    	<tr>
	                    		<td>Description</td>
	                    		<td><?=$infomation['project_desc']?></td>
	                    	</tr>
	                    	<tr>
	                    		<td>Project Status</td>
	                    		<td>
	                    		<?php $statusdata=GF::masterdata($infomation['project_status']); echo $statusdata['master_name']; ?>
	                    		</td>
	                    	</tr>
	                    </table>




	                  </div><!-- /.tab-pane -->
	                  <div class="tab-pane" id="tab_2">
	                    <table id="example1" class="table table-bordered table-striped">
	                    <thead>
	                      <tr>

	                        <th>No.</th>
	                        <th>Add-On Type</th>
	                        <th>Add-On Information</th>
	                        <th>Add-On Payment</th>
	                        <th>Create Date</th>
	                      </tr>
	                    </thead>
	                    <tbody>
	                    <?php $no=1; foreach($addonList as $addon){ ?>
	                    	<tr>
	                    		<td><?=$no?></td>
	                    		<td>
	                    			<?php
	                    			if($addon['addon_type']=='1'){
	                    				echo "Project";
	                    			}
	                    			else if($addon['addon_type']=='2'){
	                    				echo "Hosting";
	                    			}
	                    			else if($addon['addon_type']=='3'){
	                    				echo "Co-Location";
	                    			}
	                    			else if($addon['addon_type']=='4'){
	                    				echo "Domainname";
	                    			}
	                    			else if($addon['addon_type']=='5'){
	                    				echo "Online Marketting";
	                    			}
	                    			else if($addon['addon_type']=='6'){
	                    				echo "M/A";
	                    			}
	                    			else if($addon['addon_type']=='7'){
	                    				echo "Service";
	                    			}

	                    			?>
	                    		</td>
	                    		<td>
	                    			<?=$addon['addon_info']?>
	                    		</td>
	                    		<td>
	                    			<?=$addon['addon_payment']?>
	                    		</td>
	                    		<td>
	                    			<?=date("d-m-Y", strtotime($addon['create_dtm']))?>
	                    		</td>

	                    	</tr>
	                    <?php $no++; } ?>
	                    </tbody>

	                  </table>
	                  </div><!-- /.tab-pane -->
	                  <div class="tab-pane" id="tab_3">
	                    <?php foreach($payList as $list){ ?>

				<div class="col-sx-12" style="margin-top: 30px;"></div>

		       <div class="col-md-12 ">
	              <div class="box box-success box-solid">
	                <div class="box-header with-border">
	                  <h3 class="box-title"><?=$list['type_name']?></h3>
	                  <div class="box-tools pull-right">

	                  </div><!-- /.box-tools -->
	                </div><!-- /.box-header -->
	                <div class="box-body">

	                   <table class="table table-bordered">
		                    <tr>
		                      <th style="width: 10px">#</th>
		                      <th>งวดที่</th>
		                      <th>
		                      <?php if($list['payment_type']=='1') {?>
		                      รายละเอียด
		                      <?php }else{ ?>
		                      Start Date
		                      <?php } ?>
		                      </th>
		                      <th>
		                      <?php if($list['payment_type']=='1') {?>
		                      %
		                      <?php }else{ ?>
		                      End Date
		                      <?php } ?>
		                      </th>
		                      <th>Bath</th>
		                      <th>Status</th>
		                      <th>History</th>

		                    </tr>
		                    <?php $i=1; foreach($list['round'] as $round){ ?>
		                    <tr>
		                      <td><?=$i?>.</td>
		                      <td><?=$round['round_name']?></td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <?=$round['round_desc']?>
		                       <?php }else{ ?>
		                      		<?=date("d-m-Y", strtotime($round['round_start']))?>
		                      <?php } ?>
		                      </td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <?=$round['round_percent']?>
		                      <?php }else{ ?>
		                      		<?php
		                      		if($round['round_end']!='0000-00-00'){
		                      			echo date("d-m-Y", strtotime($round['round_end']));
		                      		}else{
		                      			echo '-';
		                      		}
		                      		?>
		                      <?php } ?>
		                      </td>
		                      <td><?=$round['round_bath']?></td>
		                      <td>
		                      	<?php
		                      		switch ($round['round_status']) {
		                      			case '1':
		                      					echo 'รอ Confirm';
		                      				break;
		                      			case '2':
		                      					echo 'วางบิลได้';
		                      				break;
		                      			case '3':
		                      					echo 'วางบิลแล้ว';
		                      				break;
		                      			case '4':
		                      					echo 'ได้รับเงินแล้ว';
		                      				break;
		                      			case '5':
		                      					echo 'ยกเลิก';
		                      				break;

		                      		}
		                      	?>
		                      	<!-- <select class="form-control" id="round_status_d_<?=$round['round_id']?>" name="round_status_d_<?=$round['round_id']?>">
		                      		<option value="1" <?php if($round['round_status']=='1'){ ?>selected=""<?php } ?>>รอ Confirm</option>
		                      		<option value="2" <?php if($round['round_status']=='2'){ ?>selected=""<?php } ?>>วางบิลได้</option>
		                      		<option value="3" <?php if($round['round_status']=='3'){ ?>selected=""<?php } ?>>วางบิลแล้ว</option>
		                      		<option value="4" <?php if($round['round_status']=='4'){ ?>selected=""<?php } ?>>ได้รับเงินแล้ว</option>
		                      		<option value="5" <?php if($round['round_status']=='5'){ ?>selected=""<?php } ?>>ยกเลิก</option>
		                      	</select> -->
		                      </td>

		                      <td>
		                      <button type="button" class="btn btn-info btn-flat btn-sm" onclick="openHistory('<?=$round['round_id']?>');">View</button>
		                      <div class="col-xs-12" id="history_<?=$round['round_id']?>" style="display: none;">
		                      <?php foreach($round['history'] as $history){ ?>
		                      	<h5>Status :<b><?=$history['round_status_text']?></b> <br />Note : <b><?=$history['history_note']?></b> <br />Create : <b><?=date("d-m-Y", strtotime($history['create_dtm']))?></b></h5><hr>
		                      <?php } ?>
		                      </div>

		                      </td>

		                    </tr>
		                    <?php $i++; } ?>

		                  </table>
	                </div>
	              </div>
	            </div>

                <?php } ?>
                <div class="clearfix"></div>
	                  </div><!-- /.tab-pane -->
	                </div><!-- /.tab-content -->
	              </div><!-- nav-tabs-custom -->
	            </div><!-- /.col -->

	            <div class="col-md-4">
	            	<div class="box box-info box-solid">
		                <div class="box-header with-border">
		                  <h3 class="box-title"><i class="fa fa-file-text"></i> Files</h3>
		                  <div class="box-tools pull-right">

		                  </div><!-- /.box-tools -->
		                </div><!-- /.box-header -->
		                <div class="box-body" style="padding-left: 10%;">
		                
		                   <?php foreach($infomation['file'] as $file){ ?>
                        	<span class="text-red"><?=$file['file_title']?> - <span class="text-green"><?=date("m/d/Y", strtotime($file['create_dtm']))?></span></span><span class="text-yellow"> <br /> By <?=$file['user_name']?></span>&nbsp;&nbsp;&nbsp; <a target="_blank" href="<?=$BASEURL?>/uploads/projectfiles/<?=$file['file_name']?>" class="btn btn-default btn-flat btn-xs" style="margin-bottom: 5px;"><i class="fa fa-download"></i></a><?php if($file['create_by']==$memberinfomation['id']){ ?>&nbsp;&nbsp;&nbsp;<button class="btn btn-danger btn-flat btn-xs" style="margin-bottom: 5px;" onclick="deleteFile2('<?=$file['file_id']?>');"><i class="fa fa-trash"></i></button><?php } ?><br />
                      <?php } ?>
                      <hr />
                      <?php // if($button_edit){ ?>
                      <form class="form-horizontal" id="uploadFrm" name="uploadFrm">
                      <input type="hidden" name="project_id" value="<?=$infomation['project_id']?>"/>
                      <input type="hidden" name="mode" value="uploadfile"/>
                      <!--<div class="form-group">
	                      <label for="inputEmail3" class="col-sm-3 control-label">Files Name</label>
	                      <div class="col-sm-8">
	                        <input type="text" class="form-control" name="file_name" id="file_name"/>
	                      </div>
	                    </div>-->
                      <div class="form-group">
	                      <label for="inputEmail3" class="col-sm-3 control-label">Files</label>


	                      <div class="col-sm-8">
	                        <input type="file" class="form-control" id="project_file" name="project_file" placeholder="Files">
	                        <!--<p class="help-block">เลือกได้หลายไฟล์ (เอาแค่พอประมาณถ้าไม่อยากรอนาน)</p>-->
	                      </div>

	                    </div>
	                    <button type="button" class="btn btn-primary btn-flat btn-sm pull-right" onclick="savFile();"><i class="fa fa-upload"></i> Upload</button>
	                    </form>
	                    <?php //} ?>
		                </div><!-- /.box-body -->
		              </div><!-- /.box -->
	            </div>

	            <div class="col-md-12">
	            	<div class="box box-danger box-solid">
		                <div class="box-header with-border">
		                  <h3 class="box-title"> <i class="fa fa-comments"></i> Comment</h3>
		                  <div class="box-tools pull-right">

		                  </div><!-- /.box-tools -->
		                </div><!-- /.box-header -->
		                <div class="box-body">
		                  <div class="row">
					            <div class="col-md-12">
					              <!-- The time line -->
					              <ul class="timeline">
					                <!-- timeline time label -->

					                <!-- /.timeline-label -->
					                <!-- timeline item -->
					                <?php foreach($infomation['comment'] as $comment){ ?>
					                <li>
					                  <i class="fa  bg-blue">
					                  	<?php if($comment['member']['user_thumb'] != ''):?>
					                  		<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$comment['member']['user_thumb']?>" class="img-circle" alt="User Image" />
					                  	<?php else:?>
					                  		<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/office-worker2.png" class="img-circle" alt="User Image" />
					                  	<?php endif;?>
					                  </i>
					                  <div class="timeline-item">
					                    <span class="time"><i class="fa fa-clock-o"></i>
					                    	<?php echo date("d-m-Y   H:i:s", strtotime($comment['create_dtm'])) ?>
					                    </span>
					                    <h3 class="timeline-header"><a href="javascript:;"><?=$comment['user_name']?></a>

					                    <?php if($memberinfo['id']==$comment['member']['id'] || $button_edit){ ?>
					                    <button type="button" onclick="deleateComment('<?=$comment['comment_id']?>');" class="btn btn-danger btn-xs btn-flat"><i class="fa fa-trash"></i> delete</button>
					                    <?php }?>
					                    </h3>
					                    <div class="timeline-body">
					                      <?=nl2br($comment['comment_desc'])?>
					                    </div>
					                    <div class="timeline-footer">

					                    </div>
					                  </div>
					                </li>
					               <?php } ?>
					                <li>
					                  <i class="fa fa-clock-o bg-gray"></i>
					                </li>
					              </ul>
					            </div><!-- /.col -->
					          </div><!-- /.row -->


		                </div><!-- /.box-body -->
		              </div><!-- /.box -->

	            </div>

            </div>


			</div>
			<div class="box-footer" style="margin-left: 10%">
			<?php if(!isset($GET['module'])) {?>
				<a href="#/project/projectlist" class="btn btn-success pull-right">Back To List</a>
			<?php }else{ ?>
				<a href="#/report/project_list/" class="btn btn-success pull-right">Back To List</a>
			<?php } ?>

            </div><!-- /.box-footer -->

			</div>
		</div>
	</div>

</section>




