<section class="content-header">
  <h1>
    My Sprint Test
    <small>My Sprint Test Management</small>
  </h1>
</section>


        <!-- Main content -->
<section class="content" >
	<div class="row">

       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
				<h3 class="box-title">My Sprint Test </h3>
			

			</div>
			
			<div class="box-body">
			
			<form class="form-horizontal" id="frm_MySprintTest">
			<input type="hidden" id="mode" name="mode" value="save_status_MySprintTest"/>
				<div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                
                  <li  class="active"  >
                  	<a href="#tab_<?=$i;?>" data-toggle="tab"  aria-expanded="true" >
                  	<?=$viewMySprintTest['sprint_name']?>
                  	</a></li>
                
                </ul>
                <div class="tab-content col-sm-12">
                
                	 <?php for($i=0;$i<$total;$i++){
                	 	?>
                	  <div class="tab-pane <?php if($i==0){ ?>active<?php } ?>" id="tab_<?=$i?>">
                	  	<table class="table table-bordered table-striped">
                	  		<thead>
                	  			<tr>
                	  				<th  style="    vertical-align: top;width: 5%;">No.</th>
                	  				<th style="    vertical-align: top;width: 7%;">Estimate Hour
                	  					<input type="hidden" name="hd_search" id="hd_search" value="<?=$MySprintTest[$i]['sprint_id']?>"/>
                	  				</th>
                	  				<th style="    vertical-align: top; width: 10%;">Task Name <br/>
                	  				<input type="text" class="form-control" name="search_mysprinttest_est" id="search_mysprinttest_est" placeholder="Search Task Name" >
                	  				</th>
                	  				<th style="    vertical-align: top; width: 12%;">Assign To <br/>
                	  				<select class="form-control select2 " data-placeholder="Select To Search" id="search_assign" name="search_assign[]" multiple="multiple" style="width: 200px;" onchange="searchAssignMySprintTest();" >
                	  					<option value="">-- Select --</option>
		                      			<?php foreach($memberList as $members){ ?>
		                      				<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
		                      			<?php } ?>
                    				</select>
                	  				</th>
                	  				<th style="    vertical-align: top; width: 10%;">Status <br/>
                	  					<select class="form-control sprint_status_backlog" id="search_status" name="search_status" onchange="searchStatusMySprintTest();" >
                	  					<option value="">Select</option>
					                      		<option value="Wa">Waiting</option>
												<option value="In">Fail</option>
				                      			<option value="Co">Pass</option>
				                      			
				                      			</select>
                	  				</th>
                	  				<th style="    vertical-align: top; width: 7%;">Tester <br/>
                	  				
                	  				</th>
                	  				<th style="width: 5%;">
                	  					<a href="javascript:;" class="btn btn-sm btn-warning" onclick="resetMySprintTest();"><i class="fa fa-refresh"></i></a>
                	  				</th>
                	  			</tr>
                	  			
                	  		</thead>
                	  		<tbody id="mySprintTest">
                	  			<?php for($y=0;$y<count($MySprintTest);$y++){ 
                	  			?>
                	  			<tr >
                	  				<td style="width: 3%;"><?php echo $y+1; echo ".";?></td>
                	  				<td  style="width: 10%;"><?php echo $MySprintTest[$y]['estimate_hour'];?></td>
                	  				<td  style="width: 15%;"><?php echo $MySprintTest[$y]['task_name'];?></td>
                	  				<td  style="width: 10%;"><?php 
			                	  	foreach($memberList as $members){ 
			                      			if($MySprintTest[$y]['member_id']==$members['id']){ 
			                      			if(!empty($members['user_thumb'])){?>
			                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$members['user_thumb']?>" class="img-circle" alt="User Image" />
			                       			&nbsp;&nbsp;
					                        <?php }else{?>
								
											<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
											
											&nbsp;&nbsp;
			                      			<?php } 	echo $members['user_nickname'];
			                      			 }
			                      			}
                	  					?></td>
                	  				<td  style="width: 8%;"><?php 
                	  					
					                      		if($MySprintTest[$y]['status']=="Wa"){ echo "<span id=\"tester_text\" >Waiting</span>";}
				                      			if($MySprintTest[$y]['status']=="In"){echo "<span id=\"tester_text\"  style=\"color:orange;\">Inprogress</span>";}
				                      			if($MySprintTest[$y]['status']=="Co"){echo "<span id=\"tester_text\"  style=\"color:green;\">Completed</span>";}
				                      			if($MySprintTest[$y]['status']=="Ca"){echo "<span id=\"tester_text\"  style=\"color:red;\">Canceled</span>";}
					                       	?>
					                      	
		                	  	</td>
		                	  	<td  style="width: 8%;">
		                	  	<?php if($MySprintTest[$y]['status']=="Co"){
		                	  		 ?>
		                	  		 <p id="text_hd_ts" style="display: none;"></p>
		                	  		<select class="form-control sprint_status_backlog" id="sprint_status_backlog_test" name="sprint_status_backlog_test[]" data-status="<?=$MySprintTest[$y]['backlog_tester']?>" onchange="return statusMyBacklogTest(this);" >
					                      		<?php if($MySprintTest[$y]['backlog_tester']!='In' && $MySprintTest[$y]['backlog_tester']!='Co'){ ?>
												<option <?php if($MySprintTest[$y]['backlog_tester']=="Wa"){?> selected="selected" <?php }?> value="Wa">Waiting</option>
												<option <?php if($MySprintTest[$y]['backlog_tester']=="In"){?> selected="selected" <?php }?>  value="In">Fail</option>
				                      			<option <?php if($MySprintTest[$y]['backlog_tester']=="Co"){?> selected="selected" <?php }?>  value="Co">Pass</option>
				                      			
												<?php }else{ ?>
				                      			<option <?php if($MySprintTest[$y]['backlog_tester']=="In"){?> selected="selected" <?php }?>  value="In">Fail</option>
				                      			<option <?php if($MySprintTest[$y]['backlog_tester']=="Co"){?> selected="selected" <?php }?>  value="Co">Pass</option>
				                      			<?php } ?>
				                      			</select>
					                  <br/>
		                	  			<textarea class="form-control "  id="sprint_note_backlog" name="sprint_note_backlog[]" rows="4" <?php if($MySprintTest[$y]['backlog_tester']=="In" ){?> <?php }else{ ?> style="display: none;" <?php } ?> onkeypress="return checkSaveMyBtn(this);"></textarea>
		                	  		</td>
		                	  		<?php }else{ 
		                	  			if($MySprintTest[$y]['status']=="Wa"){ echo "Waiting";}
				                      			if($MySprintTest[$y]['status']=="In"){echo "<span style=\"color:orange;\">Inprogress</span>";}
		                	  		 } ?>
		                	  		<td style="width: 5%;" align="center">
		                	  		<?php if($MySprintTest[$y]['status']=="Co"){ ?>
		                	  			<a href="javascript:;" onclick="saveMySprintTest(this);" id="btn-save-mybacklog-test" data-id="<?=$MySprintTest[$y]['backlog_id']?>" class="btn btn-primary btn-sm btn-flat "><i class="fa fa-save "></i></a>
		                	  		<?php } ?>	
		                	  		</td>
                	  			</tr>
                	  			<?php } ?> 
                	  			
                	  		</tbody>
                	  		<tfoot>
		                      <tr>
		                      	<th colspan="7">
		                    	<?php if($allPage>=2){ ?>
					                  <nav class="pull-right" style="margin-right: 3%;">
										  <ul class="pagination pagination-md">
										    <?php for($i=1;$i<=$allPage;$i++){ ?>
										    <li <?php if($currpage==$i){ ?> class="active"<?php } ?>><a href="#/project/mysprinttest/?page=<?=$i?>"><?=$i?></a></li>
										    <?php } ?>

										  </ul>
										</nav>
									  <?php } ?>
								</th>
		                      </tr>
		                    </tfoot>
                	  	</table>
	                  </div><!-- /.tab-pane -->
                	 <?php } ?> 
                
                </div><!-- /.tab-content -->
              </div>
              </form>
            
			</div>
			
			</div>
		</div>
	</div>

</section>

