<section class="content-header">
  <h1>
  <?php if($total>0){ 
  			if($view>0){ ?>
  				View Sprint List
  			<?php }else{	?>
  				Edit Sprint List 
  			<?php } ?>
  <?php }else{ ?>
    Create Sprint List
    <?php } ?>
    <small>Sprint List Management</small>
  </h1>
</section>
<?php // GF::print_r($getEditSprintList); ?>

        <!-- Main content -->
<section class="content" >
	<div class="row">
	<form id="frm_createsprint" class="form-horizontal">
		<?php if($total>0){ 
			 if($view>0){ ?> 
				<input  type="hidden" name="mode" id="mode" value="viewsprintlist"/>  
				<?php }else{ ?>
				<input  type="hidden" name="mode" id="mode" value="editsprintlist"/>	
			<?php } ?>
			<input type="hidden" name="sprint_id" value="<?=$getEditSprintList['sprint_id']?>"/>
		<?php }else{?>
			<input  type="hidden" name="mode" id="mode" value="createsprintlist"/>
		<?php }?>
		<div class="col-md-12">	
		<div class="box box-warning">
				<div class="box-header with-border">
                  <h3 class="box-title">View Sprint List </h3>
                </div>
		  	<div class="box-body">      
				<div class="nav-tabs-custom">
	                <ul class="nav nav-tabs">
	                  <li class="active"><a href="#tab_1" data-toggle="tab">Sprint Information</a></li>
	                  <li><a href="#tab_2" data-toggle="tab">Sprint Burn Down</a></li>
	                </ul>
	                <div class="tab-content">
	                 <div class="tab-pane  active" id="tab_1">
	                 	<div class="row">
<!--		////////////// Sprint information /////////////////-->
		<div class="col-md-5">
			<div class="box box-info">
				<div class="box-header with-border">
                  <h3 class="box-title">Sprint Information</h3>
                </div>
                <div class="box-body">
                	<div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Sprint Name</label>
                      <div class="col-md-7">
                      <?php if($view>0){ echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['sprint_name']."</span>";}else{?>
                        <input type="text" class="form-control" id="sprint_name" name="sprint_name"  placeholder="Sprint Name" value="<?=$getEditSprintList['sprint_name']?>">
                      <?php } ?>  
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Project Name</label>
                      <div class="col-md-7">
                      <?php if($view>0){
                      	 for($i=0;$i<count($projectlist);$i++){
                        	if($getEditSprintList['project_id']==$projectlist[$i]['project_id']){
                        		echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$projectlist[$i]['project_name']."</span>";}
                        	 }
                      	 }else{?>
                        <select name="s_project_name" id="s_project_name" class="form-control select2"  data-placeholder="Select Project Name" >
                        	<option value=""></option>
                        	<?php for($i=0;$i<count($projectlist);$i++){ ?>
                        	<option <?php if($getEditSprintList['project_id']==$projectlist[$i]['project_id']){?> selected="selected"  <?php } ?>
                        	 value="<?=$projectlist[$i]['project_id']?>"><?php echo $projectlist[$i]['project_name'];?></option>
                        	<?php } ?>
                        </select>
                      <?php } ?>  
                      </div>
                    </div>
                    <div class="clearfix"></div>
                     <div class="form-group">
                      <label for="leave_type" class="col-md-4 control-label">Sprint Owner</label>
                      <div class="col-md-7">
                       <?php if($view>0){
                       	for($x=0;$x<count($getEditSprintList['owner']);$x++){
                      			foreach($memberList as $members){ 
                      			if($getEditSprintList['owner'][$x]['member_id']==$members['id']){ 
                      				if(!empty($members['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$members['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									&nbsp;&nbsp;
	                       			<?php echo $members['user_nickname'];
                      				
                      			 }
                      			}
                      		}	 
                       }else{
                       	?>
                        <select class="form-control select2" multiple="multiple" data-placeholder="Select a Owner" id="user_owner" name="user_owner[]">
                      			<?php 
                      			$x=0;
                      			for($x=0;$x<count($getEditSprintList['owner']);$x++){
                      			foreach($memberList as $members){ ?>
                      			<option <?php if($getEditSprintList['owner'][$x]['member_id']==$members['id']){ ?> selected="selected" <?php } ?> value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php }
                      			} ?>
                      			
                      			<?php if($x==0){
                      			foreach($memberList as $members){ ?>
                      			<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } 
                      			
                      			}
                      			?>
                      			
                    	</select>
                    	<?php } ?>	
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="leave_type" class="col-md-4 control-label">Sprint Test</label>
                      <div class="col-md-7">
                       <?php if($view>0){
                       
                       	for($x=0;$x<count($getEditSprintList['ownertest']);$x++){
                      			foreach($memberList as $members){ 
                      			if($getEditSprintList['ownertest'][$x]['member_id']==$members['id']){ 
                      				if(!empty($members['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$members['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									&nbsp;&nbsp;
	                       			<?php echo $members['user_nickname'];
                      				
                      			 }
                      			}
                      		}	 
                       }?>
                      </div>
                    </div>
                <div class="clearfix"></div>
                     <div class="form-group">
                      <label for="leave_type" class="col-md-4 control-label">Start Date</label>
                      <div class="col-md-5">
	                       <div class="input-group"> 
	                       <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['sprint_start']."</span>";
		                       }else{ ?>
		                      <div class="input-group-addon">
		                     
		                        <i class="fa fa-calendar"></i>
		                      </div>
		                       
		                      <input type="text" class="form-control my_date" name="start_date" id="start_date" value="<?=$getEditSprintList['sprint_start']?>" >
		                      <?php } ?>
		                    </div><!-- /.input group -->
	                      </div>
                    </div>
                    <div class="clearfix"></div>
                     <div class="form-group">
                      <label for="leave_type" class="col-md-4 control-label">End Date</label>
                      <div class="col-md-5">
	                       <div class="input-group">
	                        <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['sprint_end']."</span>";
		                       }else{ ?>
		                      <div class="input-group-addon">
		                        <i class="fa fa-calendar"></i>
		                      </div>
		                      <input type="text" class="form-control my_date" name="end_date" id="end_date" value="<?=$getEditSprintList['sprint_end']?>" >
		                      <input type="hidden" id="hd_nm" value="0"/>
		                       <?php } ?>
		                    </div><!-- /.input group -->
	                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Elapsed Day</label>
                      <div class="col-md-5">
                       <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['elapsed_day']."</span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_elapsed" name="sprint_elapsed" readonly="readonly" value="<?=$getEditSprintList['elapsed_day']?>" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_elapsed" name="sprint_elapsed" readonly="readonly" value="<?=$getEditSprintList['elapsed_day']?>" >
                        <?php } ?>
                      </div>
                    </div>
                    
                    
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right" >Holiday</label>
                      <div class="col-md-5">
                       <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['holiday']."</span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_holiday" name="sprint_holiday" readonly="readonly" value="<?=$getEditSprintList['holiday']?>" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_holiday" name="sprint_holiday"readonly="readonly"  value="<?=$getEditSprintList['holiday']?>" >
                        <?php } ?>
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Working Day</label>
                      <div class="col-md-5">
                       <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['working_day']."</span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_working" name="sprint_working" readonly="readonly" value="<?=$getEditSprintList['working_day']?>" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_working" name="sprint_working" readonly="readonly"  value="<?=$getEditSprintList['working_day']?>">
                        <?php } ?>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Number of Dev.</label>
                      <div class="col-md-5">
                       <?php if($view>0){
                      
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['number_dev']."</span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_number_dev" name="sprint_number_dev" readonly="readonly" value="<?=$getEditSprintList['number_dev']?>" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_number_dev" name="sprint_number_dev" <?php if($total>0){}else{?> readonly="readonly" <?php }?>  value="<?=$getEditSprintList['number_dev']?>">
                        <?php } ?>
                      </div>
                    
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Utilization</label>
                      <div class="col-md-5">
                      <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$getEditSprintList['utilization']." % </span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_utilization" name="sprint_utilization" readonly="readonly" value="<?=$getEditSprintList['utilization']?>" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_utilization" name="sprint_utilization" <?php if($total>0){}else{?> readonly="readonly" <?php }?>  value="<?=$getEditSprintList['utilization']?>" >
                        <?php } ?>
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Available Hour</label>
                      <div class="col-md-5">
                      <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\"><p id=\"text_view1\"></p></span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_avalible_how" name="sprint_avalible_how" readonly="readonly" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_avalible_how" name="sprint_avalible_how" readonly="readonly" >
                         <?php } ?>
                      </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Daily Hour</label>
                      <div class="col-md-5">
                       <?php if($view>0){
		                       	echo "<span class=\"form-control\" style=\"border: 0px !important;\"><p id=\"text_view2\"></p></span>";?>
		 				 <input type="hidden" class="form-control" id="sprint_daily_how" name="sprint_daily_how" readonly="readonly" >                      	
		               <?php }else{ ?>
                        <input type="text" class="form-control" id="sprint_daily_how" name="sprint_daily_how" readonly="readonly">
                       <?php } ?>
                      </div>
                    </div>
                     <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Status</label>
                      <div class="col-md-7">
                        <?php if($view>0){
                        	if($getEditSprintList['s_status']=="In"){echo "<span class=\"form-control\" style=\"border: 0px !important;\">"."Inprogress</span>";}
                        	if($getEditSprintList['s_status']=="Co"){echo "<span class=\"form-control\" style=\"border: 0px !important;\">"."Completed</span>";}
                        	if($getEditSprintList['s_status']=="Ca"){echo "<span class=\"form-control\" style=\"border: 0px !important;\">"."Canceled</span>";}
                        }else{?>
                        <select class="form-control " id="sprint_status" name="sprint_status" >
                      			<option <?php if($getEditSprintList['s_status']=="In"){?> selected="selected" <?php }?> value="In">Inprogress</option>
                      			<option <?php if($getEditSprintList['s_status']=="Co"){?> selected="selected" <?php }?> value="Co">Completed</option>
                      			<option <?php if($getEditSprintList['s_status']=="Ca"){?> selected="selected" <?php }?> value="Ca">Canceled</option>
                      	</select>
                      	<?php } ?>
                      </div>
                    </div>
                     <div class="clearfix"></div>
                    <div class="form-group">
                      <label for="inputSprintName" class="col-md-4 control-label text-right">Sprint Template</label>
                      <div class="col-md-7">
                      <?php if($view>0){
                      	for($i=0;$i<count($sprinttemplate);$i++){
                      		if($getEditSprintList['temp_id']==$sprinttemplate[$i]['id']){
                      			echo "<span class=\"form-control\" style=\"border: 0px !important;\">".$sprinttemplate[$i]['temp_name']."</span>";
                      		}
                      	}
                      }else{?>
                         <select class="form-control select2" id="sprint_template" name="sprint_template" data-placeholder="Select Sprint Template" 
                         onchange="changSprintTemplate(this);" >
                         <option value=""></option>
                      		<?php for($i=0;$i<count($sprinttemplate);$i++){ ?>
                        	<option <?php if($getEditSprintList['temp_id']==$sprinttemplate[$i]['id']){?> selected="selected" <?php }?> value="<?=$sprinttemplate[$i]['id']?>"><?php echo $sprinttemplate[$i]['temp_name'];?></option>
                        	<?php } ?>
                      	</select>
                      <?php } ?>
                      </div>
                    </div>
                    
                    
                </div>
			</div>
		</div>
<!--		////////////// Back log /////////////////-->		
		<div class="col-md-7">
			<div class="box box-warning">
				<div class="box-header with-border">
                  <h3 class="box-title">Backlog</h3>
                </div>
                <div class="box-body" id="html_backlog">
                
                <?php if($total>0){  ?>
                	<table class="table table-bordered table-striped" id="stm_clone_a">
					<thead>
						<tr>
							<!--<th valign="middle">No.</th>-->
							
							<th valign="middle" style="width: 110px;" >Estimate Hour</th>
							<th valign="middle" style="width: 160px;"  >Task Name</th>
							<th valign="middle" style="width: 150px;" >Assign To</th>
							<th valign="middle"  >Status</th>
							<th valign="middle" style="text-align: right;" >Backlog</th>
							<th valign="middle" style="width: 50px;"  >Effort</th>
						
						</tr>
					</thead>
					<tbody>
					 <?php for($z=0;$z<count($getEditSprintList['backlog']);$z++){ ?>
						<tr >
							<!--<td><?php echo 1;?></td>-->
							<td  >
							<?php if($view>0){ echo $getEditSprintList['backlog'][$z]['estimate_hour']; }else{?>
							<input  type="text" name="sprint_es_name[]" id="sprint_es_name" style="text-align: center; width: 100px;" value="<?=$getEditSprintList['backlog'][$z]['estimate_hour']?>"/>
							<?php }?>
							</td>
							<td >
							<?php if($view>0){ echo $getEditSprintList['backlog'][$z]['task_name']; }else{?>
							<input  type="text" name="sprint_task_name[]" id="sprint_task_name" style="text-align: center;"  value="<?=$getEditSprintList['backlog'][$z]['task_name']?>"/>
							</td>
							<?php }?>
							<td  >
							<?php if($view>0){ 
								foreach($memberList as $members){ 
								if($getEditSprintList['backlog'][$z]['member_id']==$members['id']){
                      				if(!empty($members['user_thumb'])){?>
	                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$members['user_thumb']?>" class="img-circle" alt="User Image" />
			                        <?php }else{?>
						
									<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
									<?php } ?>
									&nbsp;&nbsp;
	                       			<?php echo $members['user_nickname'];
                      				
                      				}
                      			 } 
							 }else{?>
								<select class="form-control " data-placeholder="Select assign" id="backlog_owner" name="backlog_owner[]" style="width: 200px;" >
                      			<?php foreach($memberList as $members){ ?>
                      				<option <?php if($getEditSprintList['backlog'][$z]['member_id']==$members['id']){?> selected="selected" <?php }?> value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                      		<?php }?>	
                    			</select>
							</td>
							<td  colspan="2" >
								<?php if($view>0){
									if($getEditSprintList['backlog'][$z]['status']=="Wa"){ echo "<span class=\"pull-left\">Waiting</span>";}
									if($getEditSprintList['backlog'][$z]['status']=="In"){ echo "<span class=\"pull-left\" style=\"color:orange;\">Inprogress</span>";}
									if($getEditSprintList['backlog'][$z]['status']=="Co"){ echo "<span class=\"pull-left\" style=\"color:green;\">Completed</span>";}
									if($getEditSprintList['backlog'][$z]['status']=="Ca"){ echo "<span class=\"pull-left\" style=\"color:red;\">Canceled</span>";}
								}else{?>
								<select class="form-control " id="sprint_status_backlog" name="sprint_status_backlog[]" >
									<option <?php if($getEditSprintList['backlog'][$z]['status']=="Wa"){?> selected="selected" <?php }?> value="Wa">Waiting</option>
	                      			<option <?php if($getEditSprintList['backlog'][$z]['status']=="In"){?> selected="selected" <?php }?> v value="In">Inprogress</option>
	                      			<option <?php if($getEditSprintList['backlog'][$z]['status']=="Co"){?> selected="selected" <?php }?> v value="Co">Completed</option>
	                      			<option <?php if($getEditSprintList['backlog'][$z]['status']=="Ca"){?> selected="selected" <?php }?> v value="Ca">Canceled</option>
                      			</select>
                      			<?php } ?>
                    		
                    		
                    		
                    			<button type="button"  id="btn-view-backlog" class="btn btn-info btn-sm btn-flat pull-right" onclick="viewMyBacklog(this);" ><i class="fa fa-info" ></i> View</button><br/>
                    			<div id="hd_view_backlog" style="width: 100%; display: none;">
                    				 <table width="100%">
                    				 <?php for($b=0;$b<count($getEditSprintList['backlog'][$z]['backlog_history']);$b++){?>
                    				 	<tr style="border-bottom: 1px solid #CCC;">
                    				 		<td style="    width: 35px; " valign="top" >
                    				 			<?php if(!empty($getEditSprintList['backlog'][$z]['backlog_history'][$b]['user_thump'])){?>
				                       			<img width="30" src="<?=$BASEURL?>/uploads/userthumbnail/<?=$getEditSprintList['backlog'][$z]['backlog_history'][$b]['user_thump']?>" class="img-circle" alt="User Image" />
						                        <?php }else{?>
									
												<img width="30" src="<?=$BASEURL?>/assets/images/default_160x160.jpg" class="img-circle" alt="User Image" />
												<?php } ?>
												
		                      				</td>
                    				 		<td style=" padding-left:0px; word-break:break-all;  " valign="top">
                    				 		<strong>Status : </strong><?=$getEditSprintList['backlog'][$z]['backlog_history'][$b]['status_s'];?><br/>
                    				 		<strong>Note : </strong><?=$getEditSprintList['backlog'][$z]['backlog_history'][$b]['backlog_note'];?><br/>
                    				 		<strong>::</strong> <?=$getEditSprintList['backlog'][$z]['backlog_history'][$b]['create_dtm'];?>.
                    				 		</td>
                    				 		
                    				 	</tr>
                    				 	
                    				 	
                    				 <?php } ?>	
                    				 </table>
                    			</div>
                    			</td>
                    		<?php if($view>0){
									}else{?>
							<td >
								<?php if($view>0){}else{ ?><button type="button"  id="btn-clone" class="btn btn-danger btn-flat btn-xs" onclick="removet(this);"><i class="fa fa-trash" ></i> Remove</button><?php } ?>
							</td>
							<?php }?>
							<td align="center" >
								<input  type="checkbox" disabled="disabled" <?php if($getEditSprintList['backlog'][$z]['effrot']=='Y'){ ?> checked="checked" <?php } ?>/>
							</td>
						</tr>
						
					<?php } ?>
					</tbody>
					<tfoot>
						<tr>
							<th colspan="5">
								<?php if($view>0){}else{ ?><button type="button"  id="btn-clone" class="btn btn-warning btn-flat btn-sm pull-right"  onclick="return clonefn();"><i class="fa fa-plus" ></i> Add</button><?php } ?>
							</th>
						</tr>
					</tfoot>
				</table>
                	
               <?php }else{ ?>
                	<table class="table table-bordered table-striped" id="stm_clone_a">
					<thead>
						<tr>
							<!--<th valign="middle">No.</th>-->
							<th valign="middle">Estimate Hour</th>
							<th valign="middle">Task Name</th>
							<th valign="middle">Assign To</th>
							<th colspan="2" valign="middle">Status</th>
							
						</tr>
					</thead>
					<tbody>
					
						<tr>
							<!--<td><?php echo 1;?></td>-->
							<td><input  type="text" name="sprint_es_name[]" id="sprint_es_name" style="text-align: center; width: 100px;"/></td>
							<td><input  type="text" name="sprint_task_name[]" id="sprint_task_name" style="text-align: center;"/></td>
							<td>
								<select class="form-control " data-placeholder="Select assign" id="backlog_owner" name="backlog_owner[]" style="width: 200px;">
                      			<?php foreach($memberList as $members){ ?>
                      				<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                    			</select>
							</td>
							<td>
								<select class="form-control " id="sprint_status_backlog" name="sprint_status_backlog" >
									<option value="Wa">Waiting</option>
	                      			<option value="In">Inprogress</option>
	                      			<option value="Co">Completed</option>
	                      			<option value="Ca">Canceled</option>
                      			</select>
                    		</td>
							<td>
								<button type="button"  id="btn-clone" class="btn btn-danger btn-flat btn-xs" onclick="removet(this);"><i class="fa fa-trash" ></i> Remove</button>
							</td>
						</tr>

					</tbody>
					<tfoot>
						<tr>
							<th colspan="5">
								<button type="button"  id="btn-clone" class="btn btn-warning btn-flat btn-sm pull-right"  onclick="return clonefn();"><i class="fa fa-plus" ></i> Add</button>
							</th>
						</tr>
					</tfoot>
				</table>
				<?php } ?>
                </div>
                <table class="table table-bordered table-striped" id="stm_clone_b" style="display: none;">
					<thead>
						<tr>
							<!--<th valign="middle">No.</th>-->
							<th valign="middle">Estimate Hour</th>
							<th valign="middle">Task Name</th>
							<th valign="middle">Assign To</th>
							<th colspan="2" valign="middle">Status</th>
							
						</tr>
					</thead>
					<tbody>
					
						<tr id="text_clone">
							<!--<td><?php echo 1;?></td>-->
							<td><input  type="text" name="sprint_es_name[]" id="sprint_es_name" style="text-align: center; width: 100px;"/></td>
							<td><input  type="text" name="sprint_task_name[]" id="sprint_task_name" style="text-align: center;"/></td>
							<td>
								<select class=" form-control " data-placeholder="Select assign" id="backlog_owner" name="backlog_owner[]" style="width: 200px;">
                      			<?php foreach($memberList as $members){ ?>
                      				<option value="<?=$members['id']?>"><?=$members['user_name']?>(<?=$members['user_nickname']?>)</option>
                      			<?php } ?>
                    			</select>
                    		</td>
							<td>
								<select class="form-control " id="sprint_status_backlog" name="sprint_status_backlog[]" >
									<option value="Wa">Waiting</option>
	                      			<option value="In">Inprogress</option>
	                      			<option value="Co">Completed</option>
	                      			<option value="Ca">Canceled</option>
                      			</select>
                    		</td>
							<td>
								<button type="button"  id="btn-clone" class="btn btn-danger btn-flat btn-xs" onclick="removet(this);"><i class="fa fa-trash" ></i> Remove</button>
							</td>
						</tr>

					</tbody>
					
				</table>
                
                
                
                
                
                
                
                
			</div>
		</div>
						</div>
					</div>
					  <div class="tab-pane" id="tab_2">
	                   	<div class="row">
	                   		<div class="col-md-5">
	                   			<div class="box box-info">
	                   				<div class="box-header with-border">
					                  <h3 class="box-title">Data Table</h3>
					                </div>
	                   			
	                   			<div class="box-body">
	                   				<form class="form-horizontal">
	                   					<table class="table table-striped" >
	                   						<thead>
	                   							<tr >
	                   								<th valign="middle" style="text-align: center;">Work Day</th>
	                   								<th valign="middle" style="text-align: center;">Target Burn Down</th>
	                   								<th valign="middle" style="text-align: center;">Forecast Burn Down</th>
	                   								<th valign="middle" style="text-align: center;">Actual Burn Down</th>
	                   								<th valign="middle" style="text-align: center; width: 100px;">Date</th>
	                   							</tr>
	                   						</thead>
	                   						<tbody>
	                   						<?php 
	                   						$target  = 0;
	                   						$forecas = 0;
	                   						$actual  = $getEstimateHour;
	                   						$forecas	=	round($getEstimateHour);	
	                   						$zz=0;
	                   						$act = 0 ;
	                   						$targetArr	=	array();
	                   						$forecasArr	=	array();
	                   						$actualArr	=	array();
	                   						$dateNow 	= 	date("Y-m-d");
	                   						//echo strtotime($dateAfter);
	                   						//echo count($calculateDay);
	                   						$total_work = round($getEditSprintList['working_day']);
	                   						for($z=0;$z<count($calculateDay);$z++){
	                   							
		                   						$devRate			=	$getEditSprintList['dev_hour'];
		                   						$date				=	$calculateDay[$z]['start'];
		                   						$forecasArr[$z]		=	 $forecas;
		                   						
	                   							if($z==0){
		                   						?>
		                   						<tr>
	                   								<td style="text-align: center;"><?php echo $z;?> </td>
	                   								<td style="text-align: center;"><?php 
	                   								echo $getEstimateHour;
	                   								$targetArr[$zz]		=	 round($getEstimateHour);
	                   							
	                   								?></td>
	                   								<td style="text-align: center;"><?php 	
	                   								$forecasArr[$zz]		=	 round($getEstimateHour);
	                   								echo $getEstimateHour;
	                   								?></td>
	                   								<td style="text-align: center;"><?php 
	                   								$actualArr[$act]		=	  round($getEstimateHour);
	                   								echo $getEstimateHour;
		                   							?></td>
	                   								<td style="text-align: center;"><?php 
	                   								if($z==0){
	                   									echo "-";
		                   							}?></td>
	                   								
	                   							</tr>
		                   						<?php 
		                   						$act++;
		                   							$zz++;
		                   						} 
		                   						
		                   						?>
	                   							<tr>
	                   								<td style="text-align: center;"><?php echo $z+1;?> </td>
	                   								<td style="text-align: center;"><?php 
	                   								$sumTarget	= 	$getEstimateHour-(($z+1)*($getEstimateHour/$total_work));
		                   							$targetArr[$zz]		=	 round($sumTarget);
		                   							
	                   								echo round($sumTarget);
	                   								
	                   								?></td>
	                   								<td style="text-align: center;"><?php 
	                   								$forecas 	= 	round($getEstimateHour-(($z+1)*$devRate));
	                   								$forecasArr[$zz]		=	 round($forecas);
	                   								echo round($forecas);?></td>
	                   								<td style="text-align: center;"><?php 
	                   								if($calculateDay[$z]['actaul']=='' || $calculateDay[$z]['actaul']==0){
	                   									
	                   									$dateAfter=$date;
	                   									//$dateNow			= strtotime($dateNow);
	                   									//$dateAfter		= strtotime($dateAfter);
	                   									
	                   									if(strtotime($dateAfter) < strtotime($dateNow)){
	                   										$actual			=	$getEstimateHour;
	                   										$actualArr[$act]=	$actual;
	                   										
		                   									$act++;
	                   										//echo $dateAfter."<br/>";
	                   										//echo $dateNow;
	                   									}else{
	                   										$actual			=	"-";
	                   										}
	                   								
	                   									
		                   							}else{
	                   									$actual				=	round($actual-$calculateDay[$z]['actaul']);
		                   								$actualArr[$act]	=	$actual;
		                   								$act++;
	                   								}
	                   								
	                   								echo $actual;
		                   							?></td>
	                   								<td style="text-align: center;"><?php 
	                   								
		                   								echo date("d-m-Y",strtotime($date));
		                   							
		                   							?></td>
	                   								
	                   							</tr>
	                   						<?php
	                   						$zz++;
	                   						 } 
	                   						// GF::print_r($targetArr);
	                   						 ?>	
	                   						</tbody>
	                   					</table>
	                   					
	                   				</form>
	                   			</div>
	                   			</div>
	                   		</div>
	                   		<div class="col-md-7">
	                   			<div class="box box-warning">
	                   				<div class="box-header with-border">
					                  <h3 class="box-title">Sprint Burn Down</h3>
					                </div>
					                <div class="box-body">
					                	 <div class="overlay" id="sp_overlay">
					                  		<i class="fa fa-refresh fa-spin"></i>
					                	</div>
	                   				 	<div id="chartContainer" style="height: 400px; width: 100%;">
	                   				 	</div>
	                   				 	<br/>
		                   				 	<div class="box box-warning" style="width: 50%;">
		                   				 		<div class="box-header">
		                   				 			<h3 class="box-title">Total Burn Down</h3>
		                   				 		</div>
		                   				 		<div class="box-body no-padding">
				                   				 	 <table class="table table-bordered"  style="width: 100%" >
				                   				 	 	<tr style="color:orange; " >
				                   				 	 		<td width="130px;" ><strong>Estimate Hour</strong></td>
				                   				 	 		<td><?php echo $getEstimateHour;?></td>
				                   				 	 	</tr>
				                   				 	 	<tr>
				                   				 	 		<td style="color:green; " ><strong>Complete</strong></td>
				                   				 	 		<td style="color:green; " ><?php echo $calculateBurnDown['sumCom'];?></td>
				                   				 	 	</tr>
				                   				 	 	<tr>
				                   				 	 		<td style="color:red; " ><strong>Fail</strong></td>
				                   				 	 		<td style="color:red; " ><?php echo $calculateBurnDown['sumFail'];?></td>
				                   				 	 	</tr>
				                   				 	 	<tr>
				                   				 	 		<td ><strong>Me</strong></td>
				                   				 	 		<td ><?php echo $calculateBurnDown['sumMe'];?></td>
				                   				 	 	</tr>
				                   				 	 	<tr>
				                   				 	 		<td ><strong>Burn</strong></td>
				                   				 	 		<td ><?php echo $calculateBurnDown['sumBurn'];?></td>
				                   				 	 	</tr>
				                   				 	 	<tr>
				                   				 	 		<td><strong>Effort</strong></td>
				                   				 	 		<td ><?php echo $calculateBurnDown['sumEffrot'];?></td>
				                   				 	 	</tr>
				                   				 	 </table>
			                   				 	 </div>
		                   				 	</div> 	
	                   				</div>
	                   			</div>
	                   		</div>
	                   	</div>
	                   	
	                   	
	                   </div><!-- /.tab-pane 2 -->
					</div>
				</div>
			</div>
		</div>	
		</div>	
		</form>
	</div>
	
	<div class="col-md-12">
		<div class="box box-defualt">
		<div class="box-footer" >
				<?php if($view>0){}else{ ?><button type="button"   class="btn btn-primary  pull-left" onclick="return saveSprintList();"> Save </button><?php }?>
		        <a href="#/project/mysprintlist/?case=SL" id="btn-clone" class="btn  btn-success pull-right ">Back To List</a>
			</div>
		</div>	
	</div>	
	<div class="clearfix"></div>	
</section>
<?php if($view > 0 ){ ?>
<script>
$(function () {
	setTimeout(function(){
		var chart = new CanvasJS.Chart("chartContainer",
				    {
				      title:{
				      text: ""
				     },
				      axisY:{
				        gridThickness: 1
				          },
				      axisX:{
				        gridThickness: 1,
				        interval: 2
				      },
					
				      data: [
				      <?php 	for($z=0;$z<3;$z++){
				      	if($z==0){
				      		$title	=	"Target Burn Down";
				      		$color	=	"blue";
				      		$colora	=	"blue";
				      	}else	if($z==1){
				      		$title	="Forecast Burn Down";
				      		$color	=	"gray";
				      		$colora	=	"gray";
				      	}else if($z==2){
				      		$title	=	"Actual Burn Down";
				      		$color	=	"orange";
				      		$colora	=	"orange";
				      	}
				      	
				      	 ?>
				      {
				        type: "line",
				        color: "<?php echo $color; ?>",        // change color here
				        markerColor: "<?php echo $colora; ?>",
				        markerBorderColor : "<?php echo $color; ?>",
				        markerBorderThickness: 1,
				        showInLegend: true,
				        legendText: "<?php echo $title; ?>",
				        dataPoints: [
				      	<?php if($z==0){ 
				      	for($x=0;$x<count($targetArr);$x++){
				      	?>
				      		 { x: <?php echo $x; ?>, y: <?php echo $targetArr[$x]?> },
					  <?php
				      		}
				      	}else	if($z==1){
				      		for($x=0;$x<count($targetArr);$x++){
				      	?>
				      		 { x: <?php echo $x; ?>, y: <?php echo round($forecasArr[$x])?> },
					  <?php
				      		}
				      		
				      	}else if($z==2){
				      		for($x=0;$x<count($actualArr);$x++){
				      	?>
				      		 { x: <?php echo $x; ?>, y: <?php echo $actualArr[$x]?> },
					  <?php
				      		}
				      		
				      		
				      	}
				      	
				      	 ?>
				       

				        ]
				      },
				      <?php } ?>
				      ]
				    });

				    chart.render();
			},4000);
				
});
</script>
<?php } ?>

