<head>
    <meta charset="UTF-8">
    <title>TAOBAO CHINA CARGO</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.4 -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <!-- iCheck -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css" />
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- Date Picker -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="<?=$BASEURL?>/assets/template/adminlte/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- fullCalendar 2.2.5-->
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
    <link href="<?=$BASEURL?>/assets/template/adminlte/plugins/fullcalendar/fullcalendar.print.css" rel="stylesheet" type="text/css" media="print" />

    <!-- Theme style -->
    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <link href="<?=$BASEURL?>/assets/template/adminlte/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <link href="<?=$BASEURL?>/assets/css/style.css" rel="stylesheet" type="text/css" />

    <style>
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            background-color: #3c8dbc;
            border-color: #367fa9;
            padding: 1px 10px;
            color: #fff;
        }
        
        .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
            color: #fff;
        }
		
		@media (max-width: 768px){
.login-box, .register-box {
    width: 100% !important;
    margin-top: 20px; margin-top: 10% !important;
}
.main-header .navbar, .logo {
   /* background-color: #3c8dbc;*/
   background-color: #f39c12;
    color: white;
    display: none;
}

}
        
        li>a:hover,
        li>a:visited,
        li>a:active,
        li>a:focus,
        li>a:link,
        a {
            color: #000 !important;
            text-decoration: none !important;
        }
        
        .login-box,
        .register-box {
            width: 70%;
            margin: 1% auto;
        }
        
        .login-logo,
        .register-logo {
            font-size: 28px;
            text-align: center;
            margin-bottom: 0px;
            font-weight: 500;
        }
        
        .main-header .navbar,
        .logo {
            /*background-color: #3c8dbc;*/
            background-color: #f39c12;
            color: white;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        BASEURL = '<?=$BASEURL?>';
        cnrate = 5.5;
        TRANSKEY = 'trnsl.1.1.20150608T074809Z.56e20932fa0f9fbd.621f29305aa5d7e3c8c725efeafea7ee2d3cd8ae';
    </script>

</head>

<body>
    <div class="">
        <header class="main-header">
            <!-- Logo -->
            <a href="<?=$BASEURL?>" class="logo " style="color: #FFF;">
                <!--background-color: white; mini logo for sidebar mini 50x50 pixels <img src="http://itaobaoapi.com/assets/images/logo_mini.png"> <img src="http://itaobaoapi.com/assets/images/logo_full.png">-->
                <span class="logo-mini" style="color:white;">TCC</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg" style="font-size: 17px;color:white;"><b>TAOBAO CHINA CARGO</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <!-- <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a> -->
                <!-- <select class="form-control pull-left" style="width: 150px; margin-top: 7px;" onchange="viewrates(this);">
                                      <option value="">เลือกเรท</option>
                                      <option value="1">เรทสั่งซื้อ</option>
                                      <option value="2">เรทเติมเงิน</option>
                                      <option value="3">เรทโอนเงิน</option>
                                  </select> -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->

                        <!--<li class="messages-menu">
                                        <a href="javascript:;" class="">
                                          <i class="fa fa-clock-o"></i> <span class="text-white" id="the_time">26/03/2018 01:02</span>
                                        </a>
                                      </li>-->
                        <!-- User Account: style can be found in dropdown.less -->

                        <!-- Control Sidebar Toggle Button -->
                        <!--<li>
                                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                                      </li>-->
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!--/////////////////////////////////// HEADER /////////////////////////////////////////////-->
    <div class="container hidden">
        <div class="row">
            <div class="col-sm-3">
                <img src="<?=$BASEURL?>/assets/images/logo-home.png" class="img-responsive" />

            </div>
            <div class="col-sm-9" style="text-align: right;">
                <ul class="list-inline" style="line-height: 80px; font-size: 16px;">
                    <li class="active"></li><a href="http://www.taobaochinacargo.com/about-us/">เกี่ยวกับเรา</a></li>
                    <li><a href="http://www.taobaochinacargo.com/howtoordertaobao/">บริการของเรา</a></li>
                    <li><a href="http://www.taobaochinacargo.com/blog-2/">ประกาศข่าวสาร</a></li>
                    <li><a href="http://www.taobaochinacargo.com/tracking_taobaochinacargo/">ตรวจสอบสถานะ</a></li>
                    <li><a href="http://www.taobaochinacargo.com/productlinks/">แนะนำสินค้าTAOBAO</a></li>
                    <li><a href="http://www.taobaochinacargo.com/download/">ดาวน์โหลด</a></li>
                    <li><a href="http://www.taobaochinacargo.com/contact/">ติดต่อเรา</a></li>
                </ul>


            </div>
        </div>
    </div>

    <div class="container-fluid hidden" style="background: url('<?=$BASEURL?>/assets/images/logo-home1.png') no-repeat; height: 60px;">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-right" style="padding-top: 20px;">
                    <img src="<?=$BASEURL?>/assets/images/searchtext.png" style="max-width: 100%;" />
                </div>
                <div class="col-sm-6" style="padding-top: 15px;">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="dataval" placeholder="Ex. http://item.taobao.com/item.htm?id=12440339223">
                        <span class="input-group-btn">
				                      <button type="button" class="btn btn-default btn-flat " onClick="itemSearch();"><i class="fa fa-search"></i></button>
				                    </span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--/////////////////////////////////// BODY /////////////////////////////////////////////-->
    <div class="register-box">

        <div class="register-logo">
            <p>สมัครสมาชิก</p>
        </div>
        <div class="register-box-body">


            <form id="registerFrm">
                <input type="hidden" id="ref_id" name="ref_id" value="<?=$GET['ref_id']?>" />
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>กรอกข้อมูลตั้ง User Login</h4>
                            <div class="clearfix"></div>

                            <div class="form-group has-feedback">
                                <label>Email [User Login]</label>
                                <input type="text" class="form-control" placeholder="Email [User Login]" id="email-register" name="email-register">
                                <span class="glyphicon glyphicon-user form-control-feedback" style="color: red;"></span>

                            </div>
                            <div class="form-group has-feedback">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="Password" id="pass-register" name="pass-register">
                                <span class="glyphicon glyphicon-lock form-control-feedback" style="color: red;"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>Retype password</label>
                                <input type="password" class="form-control" placeholder="Retype password" id="repass-register" name="repass-register">
                                <span class="glyphicon glyphicon-log-in form-control-feedback" style="color: red;"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>กรอกข้อมูลส่วนตัว</h4>
                            <div class="clearfix"></div>

                            <div class="form-group has-feedback">
                                <label>ชื่อ - นามสกุล</label>
                                <input type="text" class="form-control" placeholder=" ชื่อ - นามสกุล " id="name-register" name="name-register">
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>ชื่อเล่น</label>
                                <input type="text" class="form-control" placeholder=" ชื่อเล่น " id="nickname-register" name="nickname-register">
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>เบอร์โทรศัพท์</label>
                                <input type="text" class="form-control" placeholder=" เบอร์โทรศัพท์ " id="tel-register" name="tel-register" onKeyPress="numberonly(event);">
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>วันเกิด</label>
                                <input type="text" class="form-control my_date" placeholder=" วันเกิด " id="birth-date" name="birth-date" onKeyPress="numberonly(event);">
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>
                            </div>
                            <div class="form-group has-feedback">
                                <label>ที่อยู่</label>
                                <textarea class="form-control" placeholder=" ที่อยู่ " id="adress-register" rows="6" name="adress-register"></textarea>
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>
                            </div>

                            <div class="form-group has-feedback">

                                <label>จังหวัด</label>
                                <select class="form-control" onChange="changeProvince(this);" id="province-register" name="province-register">
             <option>
                เลือกจังหวัด
             </option>
             <?php foreach($province as $plist){ ?>
                <option value="<?=$plist['PROVINCE_ID']?>">
                   <?=$plist['PROVINCE_NAME']?>
                </option>
             <?php } ?>
           </select>
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>

                            </div>
                            <div class="form-group has-feedback" id="amphur">



                            </div>
                            <div class="form-group has-feedback" id="district">



                            </div>

                            <div class="form-group has-feedback">
                                <label>รหัสไปรษณีย์</label>
                                <input type="text" class="form-control" placeholder=" รหัสไปรษณีย์ " id="post-register" name="post-register" onKeyPress="numberonly(event);">
                                <span class="glyphicon glyphicon-star form-control-feedback" style="color: red; font-size:8px; "></span>

                            </div>
                            <div class="form-group has-feedback">
                                <label>LINE ID</label>
                                <input type="text" class="form-control" placeholder=" LINE ID " id="line-register" name="line-register">

                            </div>

                        </div>
                        <div class="col-sm-12">
                            <label>ข้อตกลง</label>
                        </div>
                        <div class="col-sm-12">


                            <div class="col-sm-12" style="height:200px; overflow: auto; border:1px solid #D2D6DE; margin-bottom:15px;">
                                <?=$ship_content['gen_field_1']?>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">&nbsp;</div>
                    <div class="col-sm-8" style="margin-bottom:15px;">
                        <div id="example3"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4">&nbsp;</div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label>
                            <input type="checkbox" id="term-register" value="Y"> <span data-toggle="modal" data-target="#registerModal">ยอมรับข้อตกลง</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <button type="button" class="btn btn-default btn-block btn-flat disabled" id="regisbtn-e" style="">สมัครสมาชิก</button>
                        <button type="button" class="btn btn-warning btn-block btn-flat" id="regisbtn" style="display:none;" onClick="registerfrm();">สมัครสมาชิก</button>
                    </div>
                    <div class="col-sm-4">&nbsp;</div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="row">
                <div class="col-xs-12 test-center" style="display: none;text-align: center;" id="succes_frm">
                        <h4 class="text-success">สมัครสมาชิกเรียบร้อยแล้ว กรุณาตรวจสอบ E-Mail : <span style="color: red;"><span id="user_email_tx"></span></span>
                        </h4>
                        <a href="<?=$BASEURL?>" class="btn btn-success" style="color:white !important;">ตกลง</a>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.form-box -->
    </div>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>
    <script type="text/javascript">
        var verifyCallback = function(response) {
            //alert(response);
            $('#regisbtn-e').hide();
            $('#regisbtn').show();
        };
        var onloadCallback = function() {
            grecaptcha.render('example3', {
                'sitekey': '6LdnXKUZAAAAAD7VsDuMd5WVzDrpes7LenYDyc-j',
                'callback': verifyCallback
            });
        };
    </script>





    <!--/////////////////////////////////// FOOTER /////////////////////////////////////////////-->
    <div class="container-fluid hidden" style="background-color: #000; height: 60px;">
        <div class="container" style="padding-top: 15px; font-size: 16px; color: #666666;">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright">© Copyright 2014 - Taobao China Cargo </p>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer" style="margin-left:0px;">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0 Developed By TAOBAO CHINA CARGO
        </div>
        <strong>Copyright © 2018 <a href="http://taobaochinacargo.com/">TAOBAO CHINA CARGO</a>.</strong> All rights reserved.
    </footer>



    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ข้อตกลงการสมัครสมาชิก</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <?=$ship_content['gen_field_1']?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Morris.js charts -->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/morris/morris.min.js" type="text/javascript"></script>-->
    <!-- Sparkline -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/knob/jquery.knob.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js" type="text/javascript"></script>
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- bootstrap time picker -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- FastClick -->
    <script src='<?=$BASEURL?>/assets/template/adminlte/plugins/fastclick/fastclick.min.js'></script>
    <!-- AdminLTE App -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/app.min.js" type="text/javascript"></script>

    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!--<script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/pages/dashboard.js" type="text/javascript"></script> -->

    <!-- AdminLTE for demo purposes -->
    <script src="<?=$BASEURL?>/assets/template/adminlte/dist/js/demo.js" type="text/javascript"></script>

    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/satnav-js-master/lib/satnav.js"></script>

    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/script.js"></script>
    <script type="text/javascript" src="<?=$BASEURL?>/assets/js/web/register.js"></script>

    <script>
        function itemSearch() {
            var mlink = $('#dataval').val();
            mlink = Base64.encode(mlink);
            window.location = '<?=$BASEURL?>/search/?link=' + mlink;
        }
        $(function() {
            $(".my_date").datepicker({
                todayBtn: "linked",
                language: "th",
                autoclose: true,
                todayHighlight: true,
                format: 'yyyy-mm-dd'
            });
        });
    </script>

    <?php include($BASEDIR.'/app/view/adminlte/element_ui.htm'); ?>

</body>