<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   สั่งซื้อ + นำเข้า
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
<form id="takeOrder" name="takeOrder">
<input type="hidden" name="web_rate" value="<?=$rate?>"/>
<input type="hidden" name="mode" value="takeorder"/>
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Order
			</div>
			 
			<div class="box-body">
			   
                    <div class="col-lg-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                           <i class="fa fa-shopping-cart"></i> ตะกร้าสินค้า
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
							      <thead>
							        <tr>
							          <th style="text-align: center;" colspan="2">รายการ</th>
							          <th style="text-align: center;"><nobr>ราคาหยวน/ค่าเงิน</nobr></th>
							          <th style="text-align: center;">จำนวน</th>
							          <th style="text-align: center;"><nobr>รวม (บาท)</nobr></th>
							          <th style="text-align: center;"><nobr>หมายเหตุ</nobr></th>
							        </tr>
							      </thead>
							      <tbody>
							      <?php $total_th = 0; $total_cn = 0; foreach($_SESSION['item'] as $key=>$itm){ ?>
								  <?php 
								  	$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  	$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  ?>
							        <tr>
							          <th width="60"><img src="<?=$itm['product_image']?>" width="60" alt=""/></th>
							          <td width="70%">
							          	<a href="<?=$itm['product_link']?>" target="_blank"><?=$itm['product_name']?></a><br />
							          	ร้านค้า : <a href="<?=$itm['saller_link']?>" target="_blank"><?=$itm['saller_name']?></a><br />
							          	<?php foreach($itm['product_option'] as $val_op){ ?>
							          	<?=$val_op['op_name_th']?> : <b><?=$val_op['op_value_th']?></b>&nbsp;&nbsp;
							          	<?php } ?>
							          </td>
							          <td style="text-align: center;">&yen;<?=number_format($itm['product_price_rmb']*$itm['product_qty'],2)?>/5.5</td>
							          <td align="right"> <input maxlength="4" onkeypress="validateKeyC(event);" style="width:60px; text-align:center;" type="text" value="<?=$itm['product_qty']?>" id="qty_<?=$key?>" onchange="updateQTY('<?=$key?>');"/> </td>
							          <td style="text-align: center;"><?=number_format(($itm['product_price_rmb']*$itm['product_qty'])*5.5,2)?></td>
							          <td>
							          	<?=$itm['comment']?>
							          </td>
							          
							        </tr>
							      <?php } ?>  
							      </tbody>
							    </table>
                        </div>
                        <!--<div class="panel-footer" style="background-color: white;">
                           
                           
                        </div>-->
                    </div>
                </div>
                 <div class="col-lg-12">
                	<div class="row">
                           	<div class="col-sm-7">
                           		 <div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-credit-card"></i> การชำระเงิน
				                        </div>
				                        <div class="panel-body">
				                        	<input name="order_payment" value="A" type="radio"/> ชำระเงิน 2 รอบ คือรอบที่ 1 ค่าสินค้าและค่าขนส่ง จีน-จีน ชำระรอบที่ 2 ค่าขนส่ง จีน-ไทย/ไทย-ไทย
				                        </div>
				                    </div>
				                 </div>
				                 <div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-truck"></i> การส่งสินค้า จีน-ไทย
				                        </div>
				                        <div class="panel-body">
				                        	<input type="radio" name="order_ship_cn" value="A"/> ทางรถ ระยะเวลา 5-7 วันจากโกดังจีนมาโกดังไทย(10-17)วันนับจากวันที่เริ่มสั่งซื้อสินค้า อาจช้ากว่าในกรณีเป็นสินค้าสั่งผลิต/พรีออเดอร์/มีภัยธรรมชาติ/ด่านตรวจเข้มกว่าปกติ ซึ่งถ้าร้านค้าจีนส่งของแล้วจะไม่สามารถคืนเงินได้
				                        	<br />
				                        	<input type="radio" name="order_ship_cn" value="B"/> ทางเรือ ระยะเวลา 10-17 วัน รับเฉพาะสินค้า 1 CBM ขึ้น หรือ 100 kg
				                        </div>
				                    </div>
				                 </div>
				                 <div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-cube"></i> ตีลังไม้
				                        </div>
				                        <div class="panel-body">
				                        	<!--<input type="radio" name="order_box" value="A"/> ตีลังไม้-->
				                        	<input type="radio" name="order_box" value="C"/> ตีลังไม้ (กรณีร้านจีนไม่ให้ความร่วมมือ หรือร้านไม่มีระบุหน้าสินค้าว่าต้องการให้โกดังตีลังไม้ ทำงเราจะไม่รับผิดชอบกรณีเสียหำยใดๆทั้ง สิ้น)
				                        	<br />
				                        	<input type="radio" name="order_box" value="B"/> ไม่ตีลังไม้
				                        	<br />
				                        	
				                        </div>
				                    </div>
				                 </div>
				                 
				                 <div class="col-lg-12">
				                    <div class="panel panel-info">
				                        <div class="panel-heading">
				                           <i class="fa fa-info"></i> หมายเหตุ
				                        </div>
				                        <div class="panel-body">
				                        	<div class="col-xs-8">
				                        		<textarea name="order_comment" class="form-control" rows="8"></textarea>
				                        	</div>
				                        	
				                        </div>
				                        <!--<div class="panel-footer" style="text-align: center;">
				                        	
				                        </div>-->
				                    </div>
				                 </div>
                           	</div>
                           	<div class="col-sm-5" style="text-align: right;">
                           		<h4>จำนวน <?=count($_SESSION['item'])?> รายการ รวมทั้งสิ้น <span style="color: red;"><?=number_format($total_cn,2)?></span> หยวน</h4>
                           		<h4>ประมาณ <span style="color: red;"><?=number_format($total_th,2)?></span> บาท</h4>
                           	</div>
                           	<div class="col-sm-12" style="text-align: right;">
                           		<a href="#/buyship/order" class="btn btn-default btn-md">ย้อนกลับ</a>
                           		<button type="button" class="btn btn-warning btn-md" onclick="takeorder();"> <i class="fa fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
                           		<br /><br /><br /><br />
                           	</div>
                           </div>
                </div> 
                  
                
			</div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>
</form>



