<table class="table table-hover">
    <thead>
        <tr>


            <th style="text-align: center;">รหัสสมาชิก</th>
            <th>เลขที่สั่งซื้อ</th>
            <th style="text-align: center;">ยอดรวมหยวนก่อนสั่ง</th>
            <th style="text-align: center;">เรทเงิน</th>
            <th style="text-align: center;">ยอดเงินบาท</th>
        </tr>
    </thead>
    <tbody>
        <?php $total = 0;$beforpay=0; foreach($orderList['data'] as $key=>$odr){ ?>

        <tr>


            <td style="text-align: center;">
                <?=$odr['member']['user_code']?>
                    <!-- <br />
            <span class="text-green">
                <?=$odr['member']['user_name']?>
            </span> -->

            </td>
            <td>
                <span class="black"><?=$odr['order_number']?></span>
            </td>
            <td style="text-align: center;">
                <!--<?php $beforpay += $odr['countprice']['product_price_rmb']+($odr['order_pay_ship']/$odr['rate']) ?>-->
                <?php $beforpay += $odr['countprice']['product_price_rmb']+($odr['order_pay_ship']/$odr['rate']) ?>
                 <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span> 
                <!--<span style="color: black"><?=number_format($beforpay,2)?></span>-->
            </td>
            <td class="text-center">

                <?=$odr['rate']?>
            </td>
            <td class="text-center">

                <?=number_format($odr['countprice']['product_price_rmb']*$odr['rate'],2)?>
                    <?php $total = $total+($odr['countprice']['product_price_rmb']*$odr['rate']); ?>
                    <?php $subtotal = $subtotal+($odr['countprice']['product_price_rmb']); ?>
            </td>


        </tr>
        <?php } ?>
    </tbody>
</table>
<div class="col-sm-4 col-sm-offset-8" style="margin-bottom:0px;">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Rate</span>
        <input type="text" class="form-control text-center" onchange="calrates();" id="rate_data" aria-describedby="basic-addon3" value="<?=GF::getrate()?>">
    </div>

</div>
<div class="col-sm-12 text-right">
    <h5>
        ยอดรวมหยวน
        <b><?=number_format($subtotal,2)?></b> หยวน
    </h5>
    <h5>
        ยอดรวมเงินบาท
        <b id="ttbs"><?=number_format($total,2)?></b> บาท
    </h5>
</div>
<div class="clearfix">

</div>
<input type="hidden" id="id_yuan" value="<?=$subtotal?>" />