<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->
<form class="form-horizontal" id="createFrm">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <i class="fa fa-barcode"></i>Shipping
                        <div class="pull-right">
                            <a href="#/ordermanagement/shippinglist/" class="btn btn-default">Back</a>
                        </div>
                    </div>

                    <div class="box-body">


                        <div class="col-lg-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">

                                </div>
                                <div class="clearfix"></div>
                                <div class="panel-body">

                                    <input type="hidden" name="mode" value="editshipping" />
                                    <input type="hidden" name="shipping_id" value="<?=$shippingInfo['id']?>" />
                                    <div class="col-sm-6">
                                        <!--<div class="form-group">
								    <label for="inputEmail3" class="col-sm-4 control-label">Tracking</label>
								    <div class="col-sm-8">
								      <input type="text" class="form-control" name="tracking" placeholder="Tracking" value="<?=$trackingInfo['tracking']?>">
								    </div>
								</div>-->
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">ประเภทการจัดส่งในไทย</label>
                                            <div class="col-sm-8">
                                                <?php $shipby = GF::masterdataList('5'); ?>
                                                <select class="form-control" name="ship_by">
								      <?php foreach($shipby as $master){ ?>
								      		<option value="<?=$master['master_value']?>" <?php if($shippingInfo['ship_type']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
								      <?php } ?>
								      </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <!--<div class="form-group">
								    <label for="payoffice" class="col-sm-4 control-label"></label>
								    <div class="col-sm-8">
								      <input  type="checkbox" name="payoffice" value="1" <?php if($shippingInfo['pay_office']=='1'){ ?>checked=""<?php } ?>/> ชำระเงินที่โกดัง
								    </div>
								</div>-->
                                        <div class="form-group">
                                            <label for="track_code" class="col-sm-4 control-label">สถานะ</label>
                                            <div class="col-sm-8">
                                                <!--<select class="form-control" name="status" <?php if($shippingInfo[ 'status']=='3' || $shippingInfo[ 'status']=='2' ){ ?>disabled<?php } ?>>
								      	<option value="1" <?php if($shippingInfo['status']=='1'){ ?> selected="" <?php } ?>>รอชำระเงิน</option>
                                          <option value="3" <?php if($shippingInfo['status']=='3'){ ?> selected="" <?php } ?>>ชำระเงินแล้ว รอจัดส่ง</option>
								      	<option value="2" <?php if($shippingInfo['status']=='2'){ ?> selected="" <?php } ?>>จัดส่งแล้ว</option>
								      </select>-->
                                                <select class="form-control" name="status" <?php if( $shippingInfo[ 'status']=='2' || $shippingInfo[ 'status']=='1' || $shippingInfo[ 'status']=='9' ){ ?>disabled<?php } ?>>

                                                <option value="9" <?php if($shippingInfo['status']=='9'){ ?> selected="" <?php } ?>>รอตรวจสอบ</option>

                                                <option value="3" <?php if($shippingInfo['status']=='3'){ ?> selected="" <?php } ?>>รอชำระเงิน</option>

                                                <option value="5" <?php if($shippingInfo['status']=='5'){ ?> selected="" <?php } ?>>ชำระเงินแล้ว รอจัดส่ง</option>

                                                <option value="6" <?php if($shippingInfo['status']=='6'){ ?> selected="" <?php } ?>>จัดส่งแล้ว</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="track_code" class="col-sm-4 control-label">เลขที่พัสดุ</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="track_code" placeholder="เลขที่พัสดุ" value="<?=$shippingInfo['track_code']?>">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user_name" class="col-sm-4 control-label">ชื่อผู้รับ</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="user_name" placeholder="ชื่อผู้รับ" value="<?=$shippingInfo['shipping_name']?>">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="user_address" class="col-sm-4 control-label">ที่อยู่ที่จัดส่ง</label>
                                            <div class="col-sm-8">
                                                <textarea class="form-control" placeholder="ที่อยู่ที่จัดส่ง" name="user_address"><?=$shippingInfo['shipping_address']?></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="user_phone_number" class="col-sm-4 control-label">โทรศัพท์ติดต่อ</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control" name="user_phone_number" placeholder="โทรศัพท์ติดต่อ" value="<?=$shippingInfo['shipping_phone']?>">
                                            </div>
                                        </div>
                                    </div>




                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">รายการสินค้า</div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Tracking</th>
                                                <th style="width:20%;"></th>
                                                <th class="text-right" style="width:20%;">ค่าบริการ</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php $tatal = 0; ?>
                                            <?php if(count($shippingInfo['tracking'])>0){ ?>
                                            <?php $i=1; foreach($shippingInfo['tracking'] as $list){ ?>
                                            <tr>
                                                <td>
                                                    <?=$i?>
                                                </td>
                                                <td>
                                                    <?=$list['tracking']?>
                                                </td>
                                                <td></td>
                                                <td class="text-right">
                                                    <?php $tatal = $tatal+$list['ship_price']; ?>
                                                    <?=number_format($list['ship_price'],2)?>
                                                </td>


                                            </tr>

                                            <?php if($list['otr_price_baht']>0){ ?>
                                            <tr>
                                                <td></td>
                                                <td> - ค่าบริการอื่น ๆ</td>
                                                <td class="text-right">
                                                    <?php $tatal = $tatal+$list['otr_price_baht']; ?>
                                                    <?=number_format($list['otr_price_baht'],2)?>
                                                </td>
                                            </tr>
                                            <?php } ?>
                                            <?php $i++; } ?>
                                            <?php } ?>
                                            <?php if(count($shippingInfo['ordering'])>0){ ?>
                                            <?php  foreach($shippingInfo['ordering'] as $list){ ?>
                                            <tr>
                                                <td>
                                                    <?=$i?>
                                                </td>
                                                <td>
                                                    <?=$list['order_desc']?>
                                                </td>
                                                <td class="text-right">
                                                    <?php 
									if($list['order_type']=='DE'){
										$tatal = $tatal-$list['order_price'];echo '-';
									}else{
										$tatal = $tatal+$list['order_price'];
									}
									 
									?>

                                                    <input type="text" class="form-control pull-right text-right" style="width: 100px;" name="odr_itm[<?=$list['order_id']?>]" value="<?=number_format($list['order_price'],2)?>" />
                                                </td>


                                            </tr>
                                            <?php $i++; } ?>
                                            <?php } ?>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>ค่าจัดส่ง</td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control" id="ship_price" data-id="<?=$shippingInfo['id']?>" onkeypress="numberonly(event);" onchange="updateServiceShipping(this);" style="width:80px; text-align:right; float:right; " value="<?=number_format($shippingInfo['shipping_th_price'],2)?>">
                                                    <?php $tatal = $tatal+$shippingInfo['shipping_th_price']; ?>
                                                    <!-- <?=number_format($shippingInfo['shipping_th_price'],2)?> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>ค่าบรรจุภัณฑ์</td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control" id="service_price" data-id="<?=$shippingInfo['id']?>" onkeypress="numberonly(event);" onchange="updateServiceShipping(this);" style="width:80px; text-align:right; float:right; " value="<?=number_format($shippingInfo['shipping_th_service_price'],2)?>">
                                                    <?php $tatal = $tatal+$shippingInfo['shipping_th_service_price']; ?>
                                                    <!-- <?=number_format($shippingInfo['shipping_th_service_price'],2)?> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>อื่นๆ</td>
                                                <td class="text-right">
                                                    <input type="text" class="form-control" id="other_price" data-id="<?=$shippingInfo['id']?>" onkeypress="numberonly(event);" onchange="updateServiceShipping(this);" style="width:80px; text-align:right; float:right; " value="<?=number_format($shippingInfo['shipping_other_price'],2)?>">
                                                    <?php $tatal = $tatal+$shippingInfo['shipping_other_price']; ?>
                                                    <!-- <?=number_format($shippingInfo['shipping_other_price'],2)?> -->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td><b>รวม</b></td>
                                                <td class="text-right">
                                                    <h4><b><?=number_format($tatal,2)?></b></h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                    <div class="box-footer text-right" style="padding-left: 10%">

                        <button type="button" class="btn btn-primary" onclick="saveGetshipping();">บันทึกแจ้งรับสินค้า</button>

                    </div>

                </div>
            </div>



        </div>

    </section>
</form>