<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   Order Management
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Order List
			</div>
			<form id="createFrm">
			<input type="hidden" name="mode" value="exportExcel"/> 
			<div class="box-body">
				<div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>
                           <div class="pull-right">
                           		&nbsp; &nbsp; &nbsp; <a id="filepath" target="_blank" class="btn btn-primary  btn-sm" style="display: none;" href="">Download</a>
                           	 
                           	 <select style="width: 150px; " class="form-control pull-left" name="template_id">
					      		<?php foreach($tplList as $master){ ?>
					      			<option value="<?=$master['template_id']?>" ><?=$master['template_name']?></option>
					      		<?php } ?>
					          </select>
					          &nbsp; &nbsp; &nbsp;
                           		<button type="button" class="btn btn-warning  btn-sm" onclick="exportExcel();">Export</button>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
							      <thead>
							        <tr>
							          <th></th>
							          <th>เลขที่สั่งซื้อ</th>
							          <th style="text-align: center;">ลูกค้า</th>
							          <th style="text-align: center;">หยวน</th>
							          <th style="text-align: center;">ยอดรวม</th>
							          <th style="text-align: center;">ค้างชำระ</th>
							          <th style="text-align: center;">ยอดสั่งจริง</th>
							          <th style="text-align: center;">เพิ่ม/คืน</th>
							          <th style="text-align: center;">สถานะ</th>
							          <th style="text-align: center;">วันที่สั่งซื้อ</th>
							          <th style="text-align: center;">คำสั่ง</th>
							        </tr>
							      </thead>
							      <tbody>
							      <?php foreach($orderList['data'] as $key=>$odr){ ?>
								 
							        <tr>
							        	<td>
							        		<input  type="checkbox" name="ids[]" value="<?=$odr['id']?>"/>
							        	</td>
							          <td>
							          	
							          	<span class="black"><?=$odr['order_id']?></span>
							          </td>
							          <td style="text-align: center;">
							          	<?=$odr['member']['user_code']?>
							          	<br />
							          	<span class="text-green">
							          		<?=$odr['member']['user_name']?>
							          	</span>
							          	
							          </td>
							          <td style="text-align: center;">
							          	<span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span>
							          </td>
							          <td class="text-center">
							          <?php $totals = (($odr['countprice']['product_price_rmb']*$odr['rate'])+$odr['order_pay_ship'])-$odr['order_discount'];$totals = $totals+$odr['countprice']['product_price_thb'];  ?>
							          	<?=number_format($totals,2)?>
							          		
							          </td>
							          <td class="text-center">
							          	<!--<?=number_format(($totals-$odr['order_price']),2)?>-->
							          	<?php $true_price = ($odr['countprice']['product_buy_rmb']*$odr['rate']); ?>
							          	<?php $divTotal = ($totals-$odr['order_price']); ?>
							          	<?php $newDivTotal = $divTotal-$true_price; ?>
							          	<?php if($newDivTotal<0){$divTotal=0;} ?>
							          	<b class="text-red"><?=number_format($divTotal,2)?></b>
							          	
							          </td>
							          <td class="text-center">
							          	<?php $true_price = ($odr['countprice']['product_buy_rmb']*$odr['rate']); ?>
							          	<?=number_format($true_price,2)?>
							          	
							          </td>
							          <td class="text-center">
							          <?php 
							          $refund = ($odr['countprice']['product_buy_rmb']*$odr['rate'])-$totals;
							          $ttpay = ($totals-$odr['order_price']);
							          ?>
							          <?php if($true_price>0){ ?>
							          	<?php if($refund<0){ ?>
							          	<span class="text-red"><?=number_format($refund,2)?>(คืน)</span><br />
							          	รวมค้าง <?=number_format(($ttpay+$refund),2)?>
							          	<?php } ?>
							          	<?php if($refund>=0){ ?>
							          	<span class="text-green"><?=number_format($refund,2)?>(เพิ่ม)</span><br />
							          	รวม <?=number_format(($ttpay+$refund),2)?>
							          	<?php } ?>
							          <?php }else{ ?>
							          -
							          <?php } ?>
							          </td>
							          <td style="text-align: center;">
							          	<?php 
							           	$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='1'){
											$color_status = 'green';
										}
										if($odr['status']=='2'){
											$color_status = 'pink';
										}
										if($odr['status']=='3'){
											$color_status = 'brown';
										}
										if($odr['status']=='4'){
											$color_status = 'orange';
										}
										if($odr['status']=='5'){
											$color_status = 'green';
										}
							          ?>
							          	<span style="color:<?=$color_status?>;"><?=$odr['status_text']?></span>
							          </td>
							          <!--<td>
							          	รอตรวจสอบ
							          </td>-->
							          <td style="text-align: center;">
							          	<span class="black"><i class="fa fa-clock-o"></i> วันที่ <?=$odr['create_dtm']?></span><br />
							          	<?php if($odr['update_dtm']!='0000-00-00 00:00:00'){ ?>
							          	<span class="black"><i class="fa fa-clock-o"></i> ล่าสุด <?=$odr['update_dtm']?></span>
							          	<?php } ?>
							          </td>
							          <!--<td style="text-align: left;">
							          	<?php if($odr['order_comment']!=''){ ?>
							          	<span class="text-aqua"><?=$odr['order_comment']?></span>
							          	<?php }else{ ?>
							          	-
							          	<?php } ?>
							          </td>-->
							          <td style="text-align: center;">
							          	<a href="#/ordermanagement/view/<?=$odr['id']?>" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> เปิดดูข้อมูล</a>
							          	<!--<div style="margin-bottom: 1px;">&nbsp;</div>-->
							          	
							          </td>
							        </tr>
							      <?php } ?>  
							      </tbody>
							    </table>
							    
							    <nav class="pull-right" style="margin-right: 3%;">
								  <ul class="pagination pagination-md">
								    <?php for($i=1;$i<=$allPage;$i++){ ?>
								    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/ordermanagement/orderlist/?page=<?=$i?>"><?=$i?></a></li>
								    <?php } ?>

								  </ul>
								</nav>
                        </div>
                        
                    </div>
                </div>
			</div>
			</form>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>




