<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Order List
                </div>
                <div class="col-sm-12">
                    <br />
                    <form class="form-inline" id="searchFrm" onsubmit="return searchodr();">
                        <input type="hidden" name="mode" value="searchodrchina" />
                        <input type="submit" style="position: absolute; left: -9999px" />
                        <div class="form-group">
                            <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                            <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odrbuy_search']['order_number']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">รหัสลูกค้า</label>
                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['odrbuy_search']['user_code']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">สถานะ</label>
                            <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status_send">
					          	<option value="ALL" <?php if($_SESSION['odrbuy_search']['status_send']=='ALL'){ ?>selected=""<?php } ?>>ทั้งหมด</option>
					          	<option value="Y" <?php if($_SESSION['odrbuy_search']['status_send']=='Y'){ ?>selected=""<?php } ?>>ส่งยอดเรียบร้อย</option>
					          	<option value="N" <?php if($_SESSION['odrbuy_search']['status_send']=='N'){ ?>selected=""<?php } ?>>รอส่งยอด</option>

					        </select>
                        </div>
                        <!-- <div class="form-group">
						    <label for="exampleInputName2">วันที่สั่งซื้อ</label>
						    <input type="text" class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odrbuy_search']['create_dtm']?>">
						  </div> -->
                        <button type="button" class="btn btn-default" onclick="searchodr();">ค้นหา</button>
                        <button type="button" class="btn btn-default" onclick="resetSearch();">ยกเลิก</button>
                    </form>
                    <br />
                </div>
                <form id="createFrm">
                    <input type="hidden" name="mode" value="send_order_cn" />
                    <input type="hidden" name="rate" id="ratesend" value="<?=GF::getrate()?>" />
                </form>
                <form id="checkFrm">

                    <div class="box-body">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-warning" onclick="sendOrderToCN();">ส่งยอดสั่งซื้อ</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body table-responsive">

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">
                                                    <nobr>Check All</nobr><br /><input type="checkbox" id="select-all" /></th>
                                                <th>วัน/เวลา</th>
                                                <th>รอบ</th>
                                                <th>เอเจน</th>
                                                <th style="text-align: center;">รหัสสมาชิก</th>
                                                <th>เลขที่สั่งซื้อ</th>
                                                <th style="text-align: center;">ยอดรวมหยวนก่อนสั่ง</th>
                                                <th style="text-align: center;">เรทเงิน</th>
                                                <th style="text-align: center;">ยอดเงินบาท</th>
                                                <th style="text-align: center;">สถานะ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($orderList['data'] as $key=>$odr){ ?>

                                            <tr>
                                                <td class="text-center">
                                                    <?php if($odr['send_order_status']=='N'){ ?>
                                                    <input type="checkbox" class="check_chinaorder" name="order_id_id[]" value="<?=$odr['id']?>" <?php if(in_array($odr[ 'id'],$_SESSION[ 'order_chinarorder'])){ ?>checked
                                                    <?php } ?>/>
                                                    <?php }else{ ?> -
                                                    <?php } ?>
                                                </td>
                                                <td>
                                                    <?php if($odr['send_order_status']=='Y'){ ?>
                                                    <?=date('d/m/Y',strtotime($odr['send_order_dtm']))?><br />
                                                        <?=date('H:i:s',strtotime($odr['send_order_dtm']))?>
                                                            <?php }else{ ?> -
                                                            <?php } ?>
                                                </td>
                                                <td>
                                                    <?php if($odr['send_order_status']=='Y'){ ?>
                                                    <?php
                                     if($odr['send_order_round']=='1'){echo 'เช้า';}
                                     if($odr['send_order_round']=='2'){echo 'บ่าย';}
                                     ?>
                                                        <?php }else{ ?> -
                                                        <?php } ?>
                                                </td>
                                                <td>
                                                    <?=GF::agencyname($odr['member']['id'])?>
                                                </td>
                                                <td style="text-align: center;">
                                                    <?=$odr['member']['user_code']?>
                                                        <!-- <br />
							          	<span class="text-green">
							          		<?=$odr['member']['user_name']?>
							          	</span> -->

                                                </td>
                                                <td>
                                                    <span class="black"><?=$odr['order_number']?></span>
                                                </td>
                                                <td style="text-align: center;">
                                                    <?php $beforpay = $odr['countprice']['product_price_rmb']+($odr['order_pay_ship']/$odr['rate']) ?>
                                                     <span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span> 
                                                    <!--<span style="color: black"><?=number_format($beforpay,2)?></span>-->
                                                </td>
                                                <td class="text-center">

                                                    <?=$odr['rate']?>
                                                </td>
                                                <td class="text-center">

                                                    <!--<?=number_format($beforpay*$odr['rate'],2)?>-->
                                                    <?=number_format($odr['countprice']['product_price_rmb']*$odr['rate'],2)?>

                                                </td>
                                                <td style="text-align: center;">
                                                    <?php if($odr['send_order_status']=='Y'){ ?>
                                                    <span class="text-green">ส่งยอดเรียบร้อย</span>
                                                    <?php }else{ ?>
                                                    <span class="text-red">รอส่งยอด</span>
                                                    <?php } ?>
                                                </td>

                                            </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>


                                    <nav class="pull-right" style="margin-right: 3%;">
                                        <ul class="pagination pagination-md">

                                            <?php 
                                            $c_page = intval($currpage);
                                            if($c_page==0){
                                                $c_page = 1;
                                            }
                                            $start = 1;
                                            $end = 10;
                                            if($c_page>=6){
                                                $start = $c_page-4;
                                                $end = $c_page+4;
                                            }

                                            if($end>=$allPage){
                                                $end = $allPage;
                                            }
                                            ?>
                                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                            <?php for($i=$start;$i<=$end;$i++) {?>
                                            <li <?php if($currpage==$i){ ?>class="active"
                                                <?php } ?>>
                                                <a href="#/ordermanagement/chinaorder/?page=<?=$i?>">
                                                    <?=$i?>
                                                </a>
                                            </li>
                                            <?php } ?>
                                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>