<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <div class="pull-left">
                        <i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ (ไม่มี Track)
                    </div>
                    <div class="pull-right">
                        <a href="#/ordermanagement/ordernotrackinglist/" class="btn btn-default">รายการสั่งซื้อ (ไม่มี Track)</a>
                    </div>

                </div>
                 <div class="col-sm-12">
                    <br />
                    <form class="form-inline" id="searchFrm" onsubmit="return searchodrSe();">
                        <input type="hidden" name="mode" value="searchodrnoSe" />
                        <input type="submit" style="position: absolute; left: -9999px" />
                        <div class="form-group">
                            <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                            <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odrnose_search']['order_number']?>" placeholder=""  autocomplete="off">
                        </div> 
                        <div class="form-group">
                            <label for="exampleInputName2">รหัสสมาชิก</label>
                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['odrnose_search']['user_code']?>" placeholder=""  autocomplete="off">
                        </div>
                       
                       <div class="form-group">
                            <label for="exampleInputName2">รหัสคนสั่ง</label>
                            <!-- <input type="text" class="form-control" id="buy_id" name="buy_id" value="<?=$_SESSION['odrnose_search']['buy_id']?>" placeholder=""> -->
                            <select class="form-control" name="buy_id">
                                <option value="">เลือกผู้สั่ง</option>
                                <?php foreach($outsourceList as $osclist){ ?>
                                    <option value="<?=$osclist['user_code']?>" <?php if($_SESSION['odrnose_search']['buy_id']==$osclist['user_code']){ ?>selected<?php } ?>>[<?=$osclist['user_code']?>] <?=$osclist['user_name']?></option>
                                    <?php } ?>
                            </select>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="col-xs-12 no-padding" style="margin: 10px 0 10px 0;">
                        <div class="form-group">
                            <label for="exampleInputName2">วันที่สั่งซื้อ</label>
                            <input type="text" class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odrnose_search']['create_dtm']?>" autocomplete="off">
                        </div>
	                        <div class="form-group">
	                        <button type="button" class="btn btn-default" onclick="searchodrSe();">ค้นหา</button>
	                        <button type="button" class="btn btn-default" onclick="resetSearchSe();">ยกเลิก</button>
	                        </div>  
                        </div>
                    </form>
                    <br />
                </div>
                <!--<div class="col-sm-12 hidden">
                    <br />
                    <form class="form-inline" id="searchFrm" onsubmit="return searchodrSe();">
                        <input type="hidden" name="mode" value="searchodrSe" />
                        <input type="submit" style="position: absolute; left: -9999px" />
                        <div class="form-group">
                            <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                            <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odr_search']['order_number']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">รหัสลูกค้า</label>
                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['odr_search']['user_code']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">สถานะ</label>
                            <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
                                      <option value="ALL" <?php if($_SESSION['odr_search']['status']=='1'){ ?>selected=""<?php } ?>>ทั้งหมด</option>
                                      <option value="1" <?php if($_SESSION['odr_search']['status']=='1'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
                                      <option value="2" <?php if($_SESSION['odr_search']['status']=='2'){ ?>selected=""<?php } ?>>รอชำระเงิน</option>
                                      <option value="3" <?php if($_SESSION['odr_search']['status']=='3'){ ?>selected=""<?php } ?>>สังซื้อ</option>
    
                                      <option value="4" <?php if($_SESSION['odr_search']['status']=='4'){ ?>selected=""<?php } ?>>แจ้งจัดส่ง</option>
                                      <option value="5" <?php if($_SESSION['odr_search']['status']=='5'){ ?>selected=""<?php } ?>>เสร็จสิ้น</option>
                                      <option value="C" <?php if($_SESSION['odr_search']['status']=='C'){ ?>selected=""<?php } ?>>ยกเลิก</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">วันที่สั่งซื้อ</label>
                            <input type="text" class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odr_search']['create_dtm']?>">
                        </div>
                        <button type="button" class="btn btn-default" onclick="searchodrSe();">ค้นหา</button>
                        <button type="button" class="btn btn-default" onclick="resetSearchSe();">ยกเลิก</button>
                    </form>
                    <br />
                </div>-->
                <form id="createFrm">
                    <input type="hidden" name="mode" value="exportExcel" />
                </form>
                <form id="checkFrm">
                    <div class="box-body">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading hidden">
                                    <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>
                                    <div class="pull-right">
                                        <i class="fa fa-arrow-circle-o-up fa-2x text-orange"></i> => ส่งยอดไปจีนแล้ว
                                        <i class="fa fa-check-circle-o fa-2x text-green"></i> => จีนสรุปยอดแล้ว &nbsp; &nbsp; &nbsp;

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>

                                                    <th>เลขที่สั่งซื้อ</th>
                                                    <?php if($memberinfo['user_role_id']=='1'){ ?>
                                                    <th style="text-align: center;">Agency</th>
                                                    <?php } ?>
                                                    <th style="text-align: center;">รหัสสมาชิก</th>
                                                    <th style="text-align: center;">รหัสคนสั่ง</th>
                                                    <th style="text-align: center;">ร้านค้า</th>

                                                    <th style="text-align: center;">สถานะ</th>
                                                    <th style="text-align: center;">วันที่สั่งซื้อ</th>
                                                    <th style="text-align: center;">ระยะวันที่ค้าง</th>
                                                    <th style="text-align: center;">จำนวนครั้งที่แจ้ง</th>
                                                    <th style="text-align: center;">วันที่แจ้งครั้งแรก</th>
                                                    <th style="text-align: center;">Comment</th>
                                                    <th style="text-align: center;">คำสั่ง</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($orderList['data'] as $key=>$odr){  ?>
                                                <?php $refund=0; ?>

                                                <tr>

                                                    <td>

                                                        <span class="black"><?=$odr['order_number']?></span>
                                                    </td>
                                                    <?php if($memberinfo['user_role_id']=='1'){ ?>

                                                    <td style="text-align: center;">
                                                        <span class="text-blue"><?=GF::agencyname($odr['member']['id'])?></span></td>
                                                    <?php } ?>
                                                    <td style="text-align: center;">

                                                        <span class="black"><?=$odr['user_code']?></span>
                                                         <br />
                                                            <span class="text-green">
							          		                <?=$odr['user_name']?>
							          	                    </span>
                                                    </td>
                                                    <td style="text-align: center;">

                                                        <span class="black"><?=$odr['user_codes']?></span>
                                                         <br />
                                                            <span class="black">
							          		                <?=$odr['user_names']?>
							          	                    </span>
                                                    </td>
                                                    <td style="text-align: center;">

                                                        <span class="black"><?=$odr['saller_number']?></span>
                                                    </td>

                                                    <td style="text-align: center;">
                                                        <?php
                                               $color_status = 'blue';
                                               if($odr['status']=='C'){
                                                $color_status = 'red';
                                            }
                                            if($odr['status']=='1'){
                                                $color_status = 'green';
                                            }
                                            if($odr['status']=='2'){
                                                $color_status = 'pink';
                                            }
                                            if($odr['status']=='3'){
                                                $color_status = 'brown';
                                            }
                                            if($odr['status']=='4'){
                                                $color_status = 'orange';
                                            }
                                            if($odr['status']=='5'){
                                                $color_status = 'green';
                                            }
                                          ?>
                                                            <?php if($odr['status']=='3' && $odr['export']=='Y'){ ?>
                                                            <span style="color:orange;">รอส่งยอด</span>
                                                            <?php }else{ ?>
                                                            <span style="color:<?=$color_status?>;"><?=$odr['status_text']?></span>
                                                            <?php if($odr['status']=='2' && $divTotal==0){ ?>
                                                            <br />
                                                            <nobr>(ชำระเงินแล้ว รอตรวจสอบ)</nobr>
                                                            <?php } ?>
                                                            <?php } ?>


                                                    </td>
                                                    <td style="text-align: center;">
                                                        <span class="black"><i class="fa fa-clock-o"></i> วันที่ <?=$odr['create_dtm']?></span>
                                                        <?php if($odr['update_dtm']!='0000-00-00 00:00:00'){ ?>
                                                        <!-- <br /><span class="black"><i class="fa fa-clock-o"></i> ล่าสุด <?=$odr['update_dtm']?></span> -->
                                                        <?php } ?>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <?php
                                                                (string)$dateNow = date('Y-m-d');
                                                                (string)$dateCreate = date('Y-m-d',strtotime($odr['create_dtm']));
                                                                $date1=date_create($dateNow);
                                                                $date2=date_create($dateCreate);
                                                                $diff=date_diff($date1,$date2);
                                                                echo $diff->format("%a");
                                                                ?>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <?=$odr['notrack_num']?>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <?php if($odr['notrack_send_dtm']!=''){ ?>
                                                        <span class="black"><i class="fa fa-clock-o"></i> วันที่ <?=$odr['notrack_send_dtm']?></span>
                                                        <?php }else{ ?> -
                                                        <?php } ?>
                                                    </td>
                                                    <td style="text-align: center;">

                                                        <textarea class="form-control" data-id="<?=$odr['id']?>" data-saller="<?=$odr['saller_number']?>" onchange="saveNotrackComment2(this);"><?=$odr['notrack_comment']?></textarea>
                                                    </td>

                                                    <!--<td style="text-align: left;">
                                              <?php if($odr['order_comment']!=''){ ?>
                                              <span class="text-aqua"><?=$odr['order_comment']?></span>
                                              <?php }else{ ?>
                                              -
                                              <?php } ?>
                                          </td>-->
                                                    <td style="text-align: center;">

                                                        <a href="#/ordermanagement/view/<?=$odr['id']?>" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> เปิดดูข้อมูล</a>


                                                        <!--<div style="margin-bottom: 1px;">&nbsp;</div>-->

                                                    </td>
                                                </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>

                                    <nav class="pull-right" style="margin-right: 3%;">
                                        <ul class="pagination pagination-md">

                                            <?php 
                                                $c_page = intval($currpage);
                                                if($c_page==0){
                                                    $c_page = 1;
                                                }
                                                $start = 1;
                                                $end = 10;
                                                if($c_page>=6){
                                                    $start = $c_page-4;
                                                    $end = $c_page+4;
                                                }
    
                                                if($end>=$allPage){
                                                    $end = $allPage;
                                                }
                                                ?>
                                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                            <?php for($i=$start;$i<=$end;$i++) {?>
                                            <li <?php if($currpage==$i){ ?>class="active"
                                                <?php } ?>>
                                                <a href="#/ordermanagement/ordernotrackinglist/?page=<?=$i?>">
                                                    <?=$i?>
                                                </a>
                                            </li>
                                            <?php } ?>
                                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
    
    
                        <button type="reset" class="btn btn-default">Reset</button>
                        <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>