<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   Order Management
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Order List
			</div>
			
			<div class="box-body">
				<div class="col-lg-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>
                           <div class="pull-right">
                           		
	                           		<div class="form-group pull-left">
	                           		<form id="importFrm">
	                           		<input type="hidden" name="mode" value="importorderexcel"/>
									    <input type="file" id="exampleInputFile" name="ordername">
									    <p class="help-block">Import Excel File.</p>
									</form>
									</div>
									<button type="button" class="btn btn-warning btn-sm" onclick="importOrderExcel();">Import</button>
								
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
							      <thead>
							        <tr>
							          
							          <th>เลขที่สั่งซื้อ</th>
							          <th style="text-align: center;">ลูกค้า</th>
							          <th style="text-align: center;">หยวน</th>
							          <th style="text-align: center;">ยอดรวม</th>
							          <th style="text-align: center;">ยอดสังซื้อจริง</th>
							          <th style="text-align: center;">เพิ่ม/คืน</th>
							          <th style="text-align: center;">สถานะ</th>
							          <th></th>
							          
							        </tr>
							      </thead>
							      <tbody>
							      <?php foreach($orderList['data'] as $key=>$odr){ ?>
								 
							        <tr>
							        	
							          <td>
							          	
							          	<span class="black"><?=$odr['order_number']?></span>
							          </td>
							          <td style="text-align: center;">
							          	<?=$odr['member']['user_code']?>
							          	<br />
							          	<span class="text-green">
							          		<?=$odr['member']['user_name']?>
							          	</span>
							          	
							          </td>
							          <td style="text-align: center;">
							          	<span style="color: black"><?=number_format($odr['countprice']['product_price_rmb'],2)?></span>
							          </td>
							          <td class="text-center">
							          <?php 
							          $totals = (($odr['countprice']['product_price_rmb']*$odr['rate'])+$odr['order_pay_ship'])-$odr['order_discount'];
							          $totals = $totals+$odr['countprice']['product_price_thb'];  ?>
							          	<?=number_format($totals,2)?>
							          		
							          </td>
							          <td class="text-center">
							          <?php $true_price = ($odr['countprice']['product_buy_rmb']*$odr['rate']); ?>
							          	<?=number_format($true_price,2)?>
							          </td>
							          <td class="text-center">
							          <?php 
							          $refund = ($odr['countprice']['product_buy_rmb']*$odr['rate'])-$totals;
							          $ttpay = ($totals-$odr['order_price']);
							          $total_uppay = number_format($ttpay+$refund,2);
							          //echo $total_uppay;

							          ?>
							          <?php if($true_price>0){ ?>
							          	<?php if($refund<0){ ?>
							          	<span class="text-red"><?=number_format($refund,2)?>(คืน)</span><br/>
							          	รวม <?=$total_uppay?>
							          	<?php } ?>
							          	<?php if($refund>=0){ ?>
							          	<span class="text-green"><?=number_format($refund,2)?>(เพิ่ม)</span><br />
							          	รวม <?=$total_uppay?>
							          	<?php } ?>
							          <?php }else{ ?>
							          -
							          <?php } ?>
							          </td>
							          <td style="text-align: center;">
							          	<?php 
							           	$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='1'){
											$color_status = 'green';
										}
										if($odr['status']=='2'){
											$color_status = 'pink';
										}
										if($odr['status']=='3'){
											$color_status = 'brown';
										}
										if($odr['status']=='4'){
											$color_status = 'orange';
										}
										if($odr['status']=='5'){
											$color_status = 'green';
										}
							          ?>
							          	<span style="color:<?=$color_status?>;"><?=$odr['status_text']?></span>
							          </td>
							          <td style="text-align: center;">
							          <?php if($true_price>0){ ?>
							          	<?php if($refund<0 && $total_uppay<0){ ?>
							          	<?php if($odr['refund']=='N'){ ?>
							          	<button type="button"  onclick="refundWallet('<?=$odr['id']?>');" class="btn btn-success btn-xs">คืนเงินเข้า E Wallet</button>
							          	<?php }else{ ?>
							          	คืนเงินเรียบร้อยแล้ว
							          	<?php } ?>
							          	<?php } ?>
							          	
							          	<?php if($refund>=0 && $total_uppay>0){ ?>
							          	
							     				<button type="button" data-id="<?=$vals['id']?>" data-status="F" onclick="restatusOrder('<?=$odr['id']?>');" class="btn btn-warning btn-xs">แจ้งชำระเงินเพิ่ม</button>
							     		<?php } ?>
							     		<?php }else{ ?>

							          <?php } ?>
							          </td>
							         
							        </tr>
							      <?php } ?>  
							      </tbody>
							    </table>
							    
							    <nav class="pull-right" style="margin-right: 3%;">
								  <ul class="pagination pagination-md">
								    <?php for($i=1;$i<=$allPage;$i++){ ?>
								    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/ordermanagement/orderlist/?page=<?=$i?>"><?=$i?></a></li>
								    <?php } ?>

								  </ul>
								</nav>
                        </div>
                        
                    </div>
                </div>
			</div>
			
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>




