<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Order List
                </div>
                <div class="col-sm-12">
                    <br />
                    <form class="form-inline" id="searchFrm" onsubmit="return searchodr();">
                        <input type="hidden" name="mode" value="searchodr" />
                        <input type="submit" style="position: absolute; left: -9999px" />
                        <div class="form-group">
                            <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                            <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odr_search']['order_number']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">รหัสลูกค้า</label>
                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['odr_search']['user_code']?>" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">รหัสคนสั่ง</label>
                            <!-- <input type="text" class="form-control" id="buy_id" name="buy_id" value="<?=$_SESSION['odr_search']['buy_id']?>" placeholder=""> -->
                            <select class="form-control" name="buy_id">
                                <option value="">เลือกผู้สั่ง</option>
                                <?php foreach($outsourceList as $osclist){ ?>
                                    <option value="<?=$osclist['user_code']?>" <?php if($_SESSION['odr_search']['buy_id']==$osclist['user_code']){ ?>selected<?php } ?>>[<?=$osclist['user_code']?>] <?=$osclist['user_name']?></option>
                                    <?php } ?>
                            </select>
                        </div>
                        <div class="col-sm-12" style="height:15px;"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">สถานะ</label>
                            <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
					          	<option value="ALL" <?php if($_SESSION['odr_search']['status']=='1'){ ?>selected=""<?php } ?>>ทั้งหมด</option>
					          	<option value="1" <?php if($_SESSION['odr_search']['status']=='1'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
					          	<option value="2" <?php if($_SESSION['odr_search']['status']=='2'){ ?>selected=""<?php } ?>>รอชำระเงิน</option>
                                  <option value="6" <?php if($_SESSION['odr_search']['status']=='6'){ ?>selected=""<?php } ?>>รอตรวจสอบยอด</option>
                                  <option value="7" <?php if($_SESSION['odr_search']['status']=='7'){ ?>selected=""<?php } ?>>ค้างชำระ</option>
                                  <!-- <option value="3" <?php if($_SESSION['odr_search']['status']=='3'){ ?>selected=""<?php } ?>>สั่งซื้อ</option> -->
                                  <option value="W" <?php if($_SESSION['odr_search']['status']=='W'){ ?>selected=""<?php } ?>>รอส่งยอด</option>
                                  <option value="S" <?php if($_SESSION['odr_search']['status']=='S'){ ?>selected=""<?php } ?>>ส่งยอดไปจีนแล้ว</option>
                                  
					          	<option value="4" <?php if($_SESSION['odr_search']['status']=='4'){ ?>selected=""<?php } ?>>แจ้งจัดส่ง</option>
					          	<option value="5" <?php if($_SESSION['odr_search']['status']=='5'){ ?>selected=""<?php } ?>>เสร็จสิ้น</option>
					          	<option value="C" <?php if($_SESSION['odr_search']['status']=='C'){ ?>selected=""<?php } ?>>ยกเลิก</option>
					        </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">วันที่สั่งซื้อ</label>
                            <input type="text" data-date-format='dd-mm-yyyy' class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['odr_search']['create_dtm']?>">
                        </div>
                        <button type="button" class="btn btn-default" onclick="searchodr();">ค้นหา</button>
                        <button type="button" class="btn btn-default" onclick="resetSearch();">ยกเลิก</button>
                    </form>
                    <br />
                </div>
                <form id="createFrm">
                    <input type="hidden" name="mode" value="exportExcel" />
                </form>
                <form id="checkFrm">
                    <div class="box-body">
                        <div class="col-lg-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ</div>
                                    <div class="pull-right">
                                        <i class="fa fa-arrow-circle-o-up fa-2x text-orange"></i> => ส่งยอดไปจีนแล้ว
                                        <i class="fa fa-check-circle-o fa-2x text-green"></i> => จีนสรุปยอดแล้ว &nbsp; &nbsp; &nbsp;
                                        <button type="button" class="btn btn-warning  btn-sm" onclick="exportExcel();">ส่งยอดสั่งซื้อ</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <nobr>Check All</nobr><br /><input type="checkbox" id="select-all-order" /></th>
                                                    <th>เลขที่สั่งซื้อ</th>
                                                    <?php if($memberinfo['user_role_id']=='1'){ ?>
                                                    <th style="text-align: center;">Agency</th>
                                                    <?php } ?>
                                                    <th style="text-align: center;">ผู้สั่ง</th>
                                                    <th style="text-align: center;">ลูกค้า</th>

                                                    <th style="text-align: center;">หยวน</th>
                                                    <th style="text-align: center;">ยอดรวม</th>
                                                    <th style="text-align: center;">ค้างชำระ</th>
                                                    <th style="text-align: center;">ยอดสั่งจริง</th>
                                                    <th style="text-align: center;">เรทสั่งจริง</th>
                                                    <th style="text-align: center;">เพิ่ม/คืน</th>
                                                    <th style="text-align: center;">สถานะ</th>
                                                    <th style="text-align: center;">วันที่สั่งซื้อ</th>
                                                    <th style="text-align: center;">คำสั่ง</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <?php foreach($orderList['data'] as $key=>$odr){  ?>
                                                <?php $refund=0; ?>

                                                <tr>
                                                    <td class="text-center">
                                                        <?php if($odr['status']=='3' && $odr['export']=='N'){ ?>
                                                        <input type="checkbox" onclick="checkForExport(this);" name="order_id_id[]" value="<?=$odr['id']?>" <?php if(in_array($odr[ 'id'],$_SESSION[ 'order_import'])){ ?>checked
                                                        <?php } ?> />
                                                        <?php } ?>
                                                        <?php if($odr['status']=='3' && $odr['export']=='Y'){ ?>
                                                        <i class="fa fa-arrow-circle-o-up fa-2x text-orange"></i>
                                                        <?php } ?>
                                                        <?php if($odr['status']=='3' && $odr['export']=='S'){ ?>
                                                        <i class="fa fa-check-circle-o fa-2x text-green"></i>
                                                        <?php } ?>
                                                    </td>
                                                    <td>

                                                        <span class="black"><?=$odr['order_number']?></span>
                                                    </td>
                                                    <?php if($memberinfo['user_role_id']=='1'){ ?>
                                                    <td style="text-align: center;">
                                                        <span class="text-blue"><?=GF::agencyname($odr['member']['id'])?></span>
                                                    </td>
                                                    <?php } ?>
                                                    <td style="text-align: center;">
                                                        <?=GF::user_code($odr['buy_id'])?>
                                                            <?php $buy_info = GF::memberinfo($odr['buy_id']); ?>
                                                            <?=$buy_info['user_name']?>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <?=$odr['member']['user_code']?>
                                                            <br />
                                                            <span class="text-green">
							          		                <?=$odr['member']['user_name']?>
							          	                    </span>

                                                    </td>
                                                    <td style="text-align: center;"> <!--ฟิว หยวน hatairat 20-10-64-->
                                                        <span style="color: black"><!--<?=number_format($odr['countprice']['product_price_rmb']+$odr['order_pay_ship_yuan'],2)?>-->
                                                        <?=number_format($odr['countprice']['product_price_rmb'],2)?></span>
                                                    </td>
                                                    <td class="text-center">
                                                        <?php $totals = (($odr['countprice']['product_price_rmb']*$odr['old_rate'])+$odr['order_pay_ship'])-$odr['order_discount'];
                               $totals = $totals+$odr['countprice']['product_price_thb'];
                              // $totals = $totals+($odr['countprice']['ship_cn']*$odr['rate']);
                              if($odr['status']=='C'){$totals=0;}
                               ?>
                                                        <?=number_format($totals,2)?>

                                                    </td>
                                                    <td class="text-center"> <!--ค้างชำระ Weerasak 20-11-2564-->
                                                        <?php
                                                        if($odr['status']=='7'){ ?>
                                                            <b class="text-orange"><?=number_format($odr['payment_balance'],2)?></b>
                                                        <?php } else if($odr['payment_amount_web'] > 0) {?>
                                                            <b class="text-orange"><?=number_format($odr['payment_balance'],2)?></b>
                                                        <?php }else { echo '0.00'; } ?>
                                                    </td>
                                                    <?php //Weerasak 31-10-2564
                                                    $order_netprice = $odr['countprice']['total_order_buy_amount']*$odr['rate'];
                                                    $order_netprice -= $odr['order_discount'];  //edit by hatairat 30-10-64 ส่วนลด จากเว็บ
                                                    ?>
                                                    <td class="text-center"><!--ฟิว ยอดสั่งจริง Editby hatairat 22-10-64 [Weerasak]-->
                                                        <!-- <?php if($odr['export']=='S'){ ?>
                                                            <?php if($odr['order_buy_rmb']>0){ ?>
                                                            <span style="color: black"><?=($odr['order_buy_rmb']*$odr['rate'])?></span>
                                                            <?php }else{ ?>
                                                        <?php //$true_price = ($odr['countprice']['product_buy_rmb']*$odr['rate']); ?>
                                                        <?=number_format($true_price,2)?>
                                                        <?php } ?>
                                                            <?php }else{ ?> -
                                                            <?php } ?>  -->
                                                            <?php if($odr['export']=='S'){ ?>   
                                                                <span style="color: black"><?=number_format($order_netprice,2);?></span>
                                                            <?php } else {echo '-';} ?>
                                                    </td>
                                                    <td class="text-center">
                                                        <?php if($odr['export']=='S'){ ?>

                                                        <input class="form-control text-center" style="width:60px;" value="<?=$odr['rate']?>" onchange="changerTrueRate(this);" data-id="<?=$odr['id']?>" />
                                                        <?php }else{ ?> -
                                                        <?php } ?>
                                                    </td>
                                                    <td class="text-center">
                                                        <!-- Weerasak 31-10-2564  -->
                                                        <?php 
                                                            if($odr['export']=='S'){
                                                                $refund = $order_netprice - $totals;                   
                                                                $ttpay = ($totals-$odr['order_price']);                                       
                                                                if($order_netprice>0){ 
                                                                    if($refund<0){ 
                                                                        echo "<span class='text-green'>".number_format(abs($refund),2)."(คืน)</span><br />";
                                                                        echo "รวมคืน<br>".number_format(($ttpay+$refund),2);
                                                                    }
                                                                    if($refund>=0){
                                                                        echo "<span class='text-red'>".number_format($refund,2)."(เพิ่ม)</span><br />";
                                                                        echo "รวมเพิ่ม<br>".number_format(($ttpay+$refund),2);
                                                                        if(intval($odr['overdue_paid']) == 0){ 
                                                                            echo '<br><span class="text-blue">ชำระแล้ว '.number_format($refund,2).'</span>';    
                                                                        }
                                                                    }
                                                                }else{ echo "-"; }
                                                            }else{ echo "-"; }
                                                        ?>
                                                                    <!-- Edit By Weerasak 19-01-2566 -->
                                                                    <?php if($odr['refund_wallet']>0 && $odr['refund_status'] == 'Y'){ ?>
                                                                    <br />
                                                                    <span class="text-blue">คืนเงินแล้ว <b><?=number_format(($odr['refund_wallet']),2)?></b></span>
                                                                    <?php } ?>
                                                    </td>
                                                    <td style="text-align: center;">
                                                        <nobr>
                                                            <?php
							           	/*$color_status = 'blue';
							           	if($odr['status']=='C'){
											$color_status = 'red';
										}
										if($odr['status']=='1'){
											$color_status = 'green';
										}
										if($odr['status']=='2'){
											$color_status = 'pink';
										}
										if($odr['status']=='3'){
											$color_status = 'brown';
										}
										if($odr['status']=='4'){
											$color_status = 'orange';
										}*/

                                        $color_status = GF::order_color_status($odr['status']);
										if($odr['export']=='S'){
											$color_status = GF::order_color_status('5');
										}
							          ?>
                                                                <?php if($odr['status']=='3' && $odr['export']=='N'){ ?>
                                                                <span style="color:#5E5E5E;">รอส่งยอด</span>
                                                                <?php }else if($odr['status']=='3' && $odr['export']=='Y'){ ?>
                                                                <span style="color:#F07120;">ส่งยอดไปจีนแล้ว</span>
                                                                <?php }else{ ?>
                                                                <span style="color:<?=$color_status?>;"><?=$odr['status_text']?></span>
                                                                <!-- <?php if($odr['status']=='2' && $divTotal==0){ ?>
                                                                <br />
                                                                <nobr>(ชำระเงินแล้ว รอตรวจสอบ)</nobr>
                                                                <?php } ?> -->
                                                                <?php } ?>

                                                        </nobr>
                                                    </td>
                                                    <!--<td>
							          	รอตรวจสอบ
							          </td>-->
                                                    <td style="text-align: center;">
                                                        <span class="black"><i class="fa fa-clock-o"></i> วันที่ <?=$odr['create_dtm']?></span>
                                                        <?php if($odr['update_dtm']!='0000-00-00 00:00:00'){ ?>
                                                        <!-- <br /><span class="black"><i class="fa fa-clock-o"></i> ล่าสุด <?=$odr['update_dtm']?></span> -->
                                                        <?php } ?>
                                                    </td>
                                                    <!--<td style="text-align: left;">
							          	<?php if($odr['order_comment']!=''){ ?>
							          	<span class="text-aqua"><?=$odr['order_comment']?></span>
							          	<?php }else{ ?>
							          	-
							          	<?php } ?>
							          </td>-->
                                                    <td style="text-align: center;">
                                                        <a href="#/ordermanagement/view/<?=$odr['id']?>" class="btn btn-primary btn-sm"><i class="fa fa-search"></i> เปิดดูข้อมูล</a>

                                                        <?php if($refund<0){ ?>
                                                        <?php if((int)$odr['refund_wallet']<(int)(abs($ttpay+$refund))){ ?>
                                                        <br />
                                                        <?php $abdtt = abs($ttpay+$refund); $total_ref = $abdtt-$odr['refund_wallet']; ?>
                                                        <?php //echo $total_ref; ?>
                                                        <!-- Edit By Weerasak 19-01-2566 -->
                                                        <!-- <button type="button" data-id="<?=$odr['id']?>" data-price="<?=$total_ref?>" class="btn btn-warning btn-xs" onclick="refundWalletOrder(this);">คืนเงินเข้า E Wallet</button> -->
                                                        <?php } ?>
                                                        <?php } ?>
                                                        <!--<div style="margin-bottom: 1px;">&nbsp;</div>-->

                                                    </td>
                                                </tr>
                                                <?php } ?>
                                            </tbody>
                                        </table>
                                    </div>

                                    <nav class="pull-right" style="margin-right: 3%;">
                                        <ul class="pagination pagination-md">

                                            <?php 
                                            $c_page = intval($currpage);
                                            if($c_page==0){
                                                $c_page = 1;
                                            }
                                            $start = 1;
                                            $end = 10;
                                            if($c_page>=6){
                                                $start = $c_page-4;
                                                $end = $c_page+4;
                                            }

                                            if($end>=$allPage){
                                                $end = $allPage;
                                            }
                                            ?>
                                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                            <?php for($i=$start;$i<=$end;$i++) {?>
                                            <li <?php if($currpage==$i){ ?>class="active"
                                                <?php } ?>>
                                                <a href="#/ordermanagement/orderlist/?page=<?=$i?>">
                                                    <?=$i?>
                                                </a>
                                            </li>
                                            <?php } ?>
                                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                        </ul>
                                    </nav>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>