<style>
	.form-group .control-label {
		text-align: left;
	}
	
</style>

<section class="content-header">
  <h1>
   สั่งซื้อ + นำเข้า
    <small></small>
  </h1>  
</section>

        <!-- Main content -->
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-shopping-cart"></i>Order
			</div>
			 
			<div class="box-body">
			   <div class=" col-sm-12 " >
			    	<div class="input-group ">
				      <input type="text" class="form-control " name="searchurl" id="searchurl" placeholder="Ex. http://item.taobao.com/item.htm?id=12440339223">
				      <span class="input-group-btn">
				        <button class="btn btn-warning" type="button" onclick="itemSearch('back');">สั่งซื้อ</button>
				      </span>
			      	</div>
			    </div>
			    <div class="col-xs-12" id="searchBody" style="margin-top: 3%;">
						    	
		    		
		      	 <form id="orderFrm" name="orderFrm" style="display: none;">
		      	 	<input type="hidden" name="mode" value="additem"/>
			    	<div class="row">
			    		<div class="col-xs-12" style="margin-bottom: 2%;">
			    			<div class="row">
				    			<div class="col-xs-2">
				    				ลิ้งสินค้า
				    			</div>
				    			<div class="col-xs-7">
				    				<input id="product_link" name="product_link" type="text" class="form-control" value="">
				    			</div>
				    			<div class="clearfix"></div>
				    			<div class="col-xs-2" style="margin-top: 2%;">
				    				ชื่อสินค้า
				    			</div>
				    			<div class="col-xs-7" style="margin-top: 2%;">
				    				<input id="product_name" name="product_name" type="text" class="form-control" value="">
				    			</div>
				    			<div class="clearfix"></div>
								<div class="col-xs-2" style="margin-top: 2%;">
									ร้านค้า
								</div>
								<div class="col-xs-7" style="margin-top: 2%;" id="shopname">
									
								</div>
			    			</div>
			    		</div>
			    		<div class="col-sm-5">
			    			<span id="topImg"></span>
			    			
			    			<div class="panel panel-danger" style="margin-top: 20px;">
		                        <div class="panel-heading">
		                            คะแนนร้านค้า
		                        </div>
		                        <div class="panel-body" id="shopInfo">
		                        </div>
		                    </div>
			    		</div>
			    		
			    		<div class="col-sm-7">
			    		
			    		<div class="panel panel-danger">
                        <div class="panel-heading">
                            เลือกสินค้า
                        </div>
                        <div class="panel-body">
                        
				    		<div class="col-xs-12" id="prop_data">
				    		</div>
				    		<div class="col-xs-12">
				    			<h4>ราคา &nbsp;&nbsp;<b id="price_rmb">0.00</b> RMB&nbsp;&nbsp;&nbsp;&nbsp;( <b id="price_th">0.00</b> THB )</h4>
				    		</div>
				    		<div class="col-xs-12" style="margin-top: 2%;">
				    			<div class="row">
				    				<div class="col-xs-2" style="padding-top: 2%;">
				    					<h4>จำนวน</h4>
				    				</div>
				    				<div class="col-xs-3">
				    					<h4><input maxlength="4" onkeypress="validateKey(event);" name="product_qty" id="product_qty" style="font-size: 18px;text-align: center;height: 45px;" type="text" value="1" class="form-control"></h4>
				    				</div>
				    				<div class="col-xs-5" style="margin-top: 2%;">
						    			<button onclick="orderNow_N();" type="button" class="btn btn-warning btn-lg" style="padding-left: 20%;padding-right: 20%;">เพิ่ม</button>
						    		</div>
				    			</div>
				    		</div>
				    		
				    	</div>
				    	</div>	
			    		</div>
			    		<div class="col-xs-12">
			    			<input type="hidden" name="pd_img" id="pd_img" value="">
			    			<input type="hidden" name="shop_name" id="shop_name" value="">
						<input type="hidden" name="shop_link" id="shop_link" value="">
			    			<input type="hidden" name="product_price_rmb" id="product_price_rmb" value="">
			    			<input type="hidden" name="product_price_thb" id="product_price_thb" value="">
			    			<div id="pd_option">
			    				
			    			</div>
			    			<div id="img-tag-c" style="display: none;">
			    				
			    			</div>
			    		</div>
			    	</div>
			    </form>
		         <!--<div id="preLoadSearch" style="text-align: center;display:none;">
		         	<img src="http://demo.siamgolive.com/chinacargo/assets/template/back-end/images/712.GIF" style="max-width: 50px;"><br>
		         	Please Wait...
		         </div>-->
		         <div id="noresult" style="text-align: center;display:none;">
		         	<h2>ไม่พบสินค้าที่ค้นหา</h2>
		         </div>
		      </div>
			  <div class="col-lg-12" id="mem_basket">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                           <i class="fa fa-shopping-cart"></i> ตะกร้าสินค้า
                        </div>
                        <div class="panel-body">
                        <form>
                        		<div id="preLoadSearch2" style="text-align: center;display:none;">
						         	<img src="<?=BASEURL?>/assets/template/back-end/images/712.GIF" style="max-width: 50px;"/><br />
						         	Please Wait...
						         </div>
						    <?php if(count($_SESSION['item'])>0){ ?>
                            <table class="table table-hover" id="myTable">
							      <thead>
							        <tr>
							          <th style="text-align: center;" colspan="2">รายการ</th>
							          <th style="text-align: center;"><nobr>ราคาหยวน/ค่าเงิน</nobr></th>
							          <th style="text-align: center;">จำนวน</th>
							          <th style="text-align: center;"><nobr>รวม (บาท)</nobr></th>
							          <th style="text-align: center;"><nobr>หมายเหตุ</nobr></th>
							          <th></th>
							        </tr>
							      </thead>
							      <tbody id="basket_member">
							      <?php $total_th = 0; $total_cn = 0; foreach($_SESSION['item'] as $key=>$itm){ ?>
								  <?php 
								  	$total_th +=  $itm['product_price_thb']*$itm['product_qty'];
								  	$total_cn +=  $itm['product_price_rmb']*$itm['product_qty'];
								  ?>
							        <tr>
							          <th width="60"><img src="<?=$itm['product_image']?>" width="60" alt=""/></th>
							          <td width="60%">
							          	<a href="<?=$itm['product_link']?>" target="_blank"><?=$itm['product_name']?></a><br />
							          	ร้านค้า : <a href="<?=$itm['saller_link']?>" target="_blank"><?=$itm['saller_name']?></a><br />
							          	<?php foreach($itm['product_option'] as $val_op){ ?>
							          	<?=$val_op['op_name_th']?> : <b><?=$val_op['op_value_th']?></b>&nbsp;&nbsp;
							          	<?php } ?>
							          </td>
							          <td style="text-align: center;">&yen;<?=number_format($itm['product_price_rmb'],2)?>/5.5</td>
							          <td align="right"> <input maxlength="4" style="width:60px; text-align:center;" type="text" value="<?=$itm['product_qty']?>" id="qty_<?=$key?>" onchange="updateQTY('<?=$key?>');"/> </td>
							          <td style="text-align: center;"><?=number_format(($itm['product_price_rmb']*$itm['product_qty'])*5.5,2)?></td>
							          <td>
							          	<textarea data-key="<?=$key?>" onchange="updateComment(this);" style="min-width: 200px;" class="form-control"><?=$itm['comment']?></textarea>
							          </td>
							          <td valign="middle">
							          	<button type="button" class="btn btn-danger btn-xs" onclick="removeItem('<?=$key?>');"><i class="fa fa-times"></i></button>
							          </td>
							        </tr>
							      <?php } ?>  
							      </tbody>
							    </table>
                        	<?php }else{ ?>
                        	<div class="panel text-center" role="alert">Empty Cart</div>
                        	<?php } ?>
                        </form>
                        </div>
                        <div class="panel-footer" style="text-align: right;">
                           <a href="#/buyship/checkout" class="btn btn-danger"><i class="fa fa-check"></i> สั่งซื้อสินค้า</a>
                        </div>
                    </div>
                </div>
                  
                    
                  
                  
                
			</div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">
			
			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>
			
			
                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->
          
            </div><!-- /.box-footer -->
            
			</div>
		</div>
	</div>
          
</section>




