<style>
    .form-group .control-label {
        text-align: left;
    }
</style>
<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>Payment List
                </div>

                <div class="box-body">
                    <div class="col-sm-12">
                        <br />
                        <form class="form-inline" id="searchFrm" onsubmit="return searchpay();">
                            <input type="hidden" name="mode" value="searchpay" />
                            <input type="submit" style="position: absolute; left: -9999px" />
                            <div class="form-group">
                                <label for="exampleInputName2">รหัสลูกค้า</label>
                                <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['pay_search']['user_code']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                                <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['pay_search']['order_number']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">สถานะ</label>
                                <select class="form-control" style="" name="status">
                              <option value="" <?php if($_SESSION['pay_search']['status']==''){ ?>selected=""<?php } ?>>ทั้งหมด</option>
                              <option value="W" <?php if($_SESSION['pay_search']['status']=='W'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
                              <option value="A" <?php if($_SESSION['pay_search']['status']=='A'){ ?>selected=""<?php } ?>>ตรวจสอบแล้ว</option>
                              <option value="F" <?php if($_SESSION['pay_search']['status']=='F'){ ?>selected=""<?php } ?>>ไม่พบยอด</option>
                              <option value="C" <?php if($_SESSION['pay_search']['status']=='C'){ ?>selected=""<?php } ?>>ยกเลิก</option>
                          </select>
                            </div>
                            <div class="form-group">
                                <label for="start_dtm">วันที่โอน</label>
                                <input type="text" style="width: 120px;" data-date-format='dd-mm-yyyy' class="form-control datepickerx" id="start_dtm" name="start_dtm" placeholder="" value="<?=$_SESSION['pay_search']['start_dtm']?>">
                            </div>
                            <div class="form-group">
                                <label for="end_dtm">ถึง</label>
                                <input type="text" style="width: 120px;" data-date-format='dd-mm-yyyy' class="form-control datepickerx" id="end_dtm" name="end_dtm" placeholder="" value="<?=$_SESSION['pay_search']['end_dtm']?>">
                            </div>
                            <button type="button" class="btn btn-default" onclick="searchpay();">ค้นหา</button>
                            <button type="button" class="btn btn-default" onclick="resetSearchPay();">ยกเลิก</button>
                        </form>
                        <br />
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-list"></i> รายการชำระเงิน
                            </div>
                            <div class="panel-body">
                                <table id="example1s" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <th>Transaction ID</th>
                                            <?php if($memberinfo['user_role_id']=='1'){ ?>
                                            <th style="text-align: center;">Agency</th>
                                            <?php } ?>
                                            <th>ลูกค้า</th>
                                            <th>Order ID</th>
                                            <th>โอนเข้าธนาคาร</th>
                                            <th>เวลาโอน</th>
                                            <th>จำนวนเงิน</th>
                                            <th>สถานะ</th>
                                            <th>รูป Slip</th>
                                            <th>หมายเหตุ</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($paymentList as $vals){ ?>
                                        <tr>
                                            <td>TC
                                                <?=$vals['id']+10000?>
                                            </td>
                                            <?php if($memberinfo['user_role_id']=='1'){ ?>

                                            <td style="text-align: center;">
                                                <span class="text-blue"><?=GF::agencyname($vals['member_id'])?></span></td>
                                            <?php } ?>
                                            <td>

                                                <?php $this_user = GF::memberinfo($vals['member_id']); ?>
                                                <?=$this_user['user_code']?><br />
                                                    <?=$this_user['user_name']?>
                                            </td>
                                            <td class="text-center">
                                                <?php if($vals['order_type']=='1'){ ?>
                                                <?=$vals['order_info']['order_number']?>
                                                    <?php }else{ ?>
                                                    <?=$vals['order_info']['shipping_code']?>
                                                        <?php } ?>
                                                        <br />
                                                        <span class="text-success">
                                    <?php
                                       if($vals['order_type']=='1'){
                                          echo "รายการฝากสั่งซื้อ";
                                       }

                                    ?>
                                 </span>
                                                        <span class="text-primary">
                                    <?php

                                       if($vals['order_type']=='2'){
                                          echo "รายการนำเข้า";
                                       }

                                    ?>
                                 </span>
                                                        <span class="text-danger">
                                    <?php

                                    if($vals['order_type']=='3'){
                                       echo "รายการเติมเงิน";
                                    }

                                    ?>
                                 </span>

                                            </td>
                                            <td class="text-center">
                                                <?php $msdata = GF::masterdata($vals['paybank']['master_id']); ?>
                                                <img style="max-width:32px;" src="<?=$msdata['master_value']?>" /><br />
                                                <?=$msdata['master_name']?><br />
                                                    <?=$vals['paybank']['bank_desc']?>
                                            </td>
                                            <td>
                                                วันที่ :
                                                <?=$vals['payment_date']?><br /> เวลา :
                                                    <?=$vals['payment_time']?>
                                            </td>
                                            <?php if($vals['payment_amount']==''){$vals['payment_amount']=0;} ?>
                                            <td>
                                                <?=number_format($vals['payment_amount'],2)?>
                                            </td>
                                            <td>
                                                <?php
							     			$text_status = 'รอตรวจสอบ';
							     			$color_status = 'blue';
							     				if($vals['status']=='A'){
													$text_status = 'ตรวจสอบแล้ว';
													$color_status = 'green';
												}
												if($vals['status']=='C'){
													$text_status = 'ยกเลิก';
													$color_status = 'brown';
												}
												if($vals['status']=='F'){
													$text_status = 'ไม่พบยอดเงิน';
													$color_status = 'red';                                                    
												}
							     			?>
                                                    <span style="color: <?=$color_status?>;"><?=$text_status?></span>
                                                    <?php 
                                                    if($vals['status']=='F'){
                                                        echo '<p><button class="btn btn-warning btn-xs" data-remarks="'.$vals[remarks].'" onclick="showremarks(this);">รายละเอียด</button></p>'; 
                                                    }
                                                    ?>
                                            </td>
                                            <td>
                                                <?php if($vals['payment_slip']!=''){ ?>
                                                <button data-href="<?=$BASEURL?>/uploads/slip/<?=$vals['payment_slip']?>" class="btn btn-info btn-xs" onclick="viewSlip(this);">ดูรูปภาพ</button>
                                                <?php } ?>
                                            </td>
                                            <td>
                                                <?=$vals['payment_comment']?>
                                            </td>
                                            <td>
                                                <?php if($vals['status']=='W'){ ?>
                                                <!-- <button type="button" data-id="<?=$vals['id']?>" data-orderid="<?=$vals['order_id']?>" data-status="A" onclick="slipStatus(this);" class="btn btn-success btn-xs">ยืนยันโอน</button><br /> -->
                                                <!-- <button type="button" data-id="<?=$vals['id']?>" data-orderid="<?=$vals['order_id']?>" data-status="F" onclick="slipStatus(this);" class="btn btn-warning btn-xs">ไม่พบยอด</button><br /> -->
                                                <div class="btn-group-vertical btn-group-sm">
                                                    <button type="button" class="btn btn-success btn-xs" data-id="<?=$vals['id']?>" data-orderid="<?=$vals['order_id']?>" data-status="A" onclick="slipStatus(this);">ยืนยันโอน</button>
                                                    <button type="button" class="btn btn-warning btn-xs" data-id="<?=$vals['id']?>" data-orderid="<?=$vals['order_id']?>" data-status="F" onclick="reason(this);">ไม่พบยอด</button>
                                                </div>
                                                <?php } ?>

                                                <!-- <button type="button" data-id="<?=$vals['id']?>" data-status="C" onclick="slipStatus(this);" class="btn btn-danger btn-xs">ลบ</button> -->
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>


                                <nav class="pull-right" style="margin-right: 3%;">
                                    <ul class="pagination pagination-md">

                                        <?php 
                                            $c_page = intval($currpage);
                                            if($c_page==0){
                                                $c_page = 1;
                                            }
                                            $start = 1;
                                            $end = 10;
                                            if($c_page>=6){
                                                $start = $c_page-4;
                                                $end = $c_page+4;
                                            }

                                            if($end>=$allPage){
                                                $end = $allPage;
                                            }
                                            ?>
                                        <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                        <?php for($i=$start;$i<=$end;$i++) {?>
                                        <li <?php if($currpage==$i){ ?>class="active"
                                            <?php } ?>>
                                            <a href="#/ordermanagement/paymentlist/?page=<?=$i?>">
                                                <?=$i?>
                                            </a>
                                        </li>
                                        <?php } ?>
                                        <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                    </ul>
                                </nav>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>

<div class="modal fade" id="slipModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Slip</h4>
            </div>
            <div class="modal-body text-center">
                <img src="" id="slip-img" style="max-width: 100%;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="remarkModal" tabindex="" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button> -->
                <h4 class="modal-title">ยืนยันการทำรายการ</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="reason_item_id" name="reason_item_id" value="" />
                <input type="hidden" id="reason_order_id" name="reason_order_id" value="" />
                <label>หมายเหตุ</label>
                <textarea class="form-control" id="reason" rows="6" cols="80"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button> 
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="cancelSlipt();">บันทึก</button>                               
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="remarksModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button> -->
                <h4 class="modal-title">รายละเอียด</h4>                
            </div>
            <div class="modal-body">
                <p><span class="text-red">สถานะ : ไม่พบยอด</span></p>
                <span id="remarks"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->