<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการ Refund

                </div>

                <div class="box-body">
                    <div class="col-lg-12">
                        <form class="form-inline" id="searchFrm" onsubmit="return searchodrRef();">
                            <input type="hidden" name="mode" value="searchodrref" />
                            <input type="submit" style="position: absolute; left: -9999px" />
                            <div class="form-group">
                                <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                                <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['odr_ref']['order_number']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">รหัสลูกค้า</label>
                                <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['odr_ref']['user_code']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">สถานะ</label>
                                <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
                              <option value="" <?php if($_SESSION['odr_ref']['status']==''){ ?>selected=""<?php } ?>>ทั้งหมด</option>
                              <option value="Wait" <?php if($_SESSION['odr_ref']['status']=='Wait'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
                              <option value="Progress" <?php if($_SESSION['odr_ref']['status']=='Progress'){ ?>selected=""<?php } ?>>กำลังดำเนินการ</option>
                              <option value="Ship" <?php if($_SESSION['odr_ref']['status']=='Ship'){ ?>selected=""<?php } ?>>รอสินค้า</option>
                              <option value="Compelte" <?php if($_SESSION['odr_ref']['status']=='Compelte'){ ?>selected=""<?php } ?>>ได้รับสินค้าแล้ว</option>
                              <option value="Refund" <?php if($_SESSION['odr_ref']['status']=='Refund'){ ?>selected=""<?php } ?>>คืนเงิน</option>
                          </select>
                            </div>

                            <button type="button" class="btn btn-default" onclick="searchodrRef();">ค้นหา</button>
                            <button type="button" class="btn btn-default" onclick="resetSearchRef();">ยกเลิก</button>
                        </form>
                        <br />

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการ Refund</div>
                                <div class="pull-right">
                                    <!--<a href="<?=BASEURL?>/member/order_1/track/ALL" class="btn btn-primary"><i class="fa fa-bars"></i> รายการสั่งซื้อ</a>
                           		<a href="<?=BASEURL?>/member/order_1/track/C" class="btn btn-danger"><i class="fa fa-times"></i> รายการยกเลิก</a>
                           		<a href="<?=BASEURL?>/member/order_1/track/A" class="btn btn-success"><i class="fa fa-check"></i> รายการสำเร็จ</a>-->
                                    <button class="btn btn-warning" type="button" onclick="exportRefund();"><i class="fa fa-paperclip"></i> Export</button>

                                    <?php //GF::print_r($memberinfo); ?>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">วันแจ้ง Refund</th>
                                            <th style="text-align: center;">เลขใบสั่งซื้อ</th>
                                            <th style="text-align: center;">ลูกค้า</th>
                                            <?php if($memberinfo['user_role_id']=='1'){ ?>
                                            <th style="text-align: center;">Agency</th>
                                            <?php } ?>
                                            <th style="text-align: center;">รูปภาพ</th>
                                            <th style="text-align: center;">link สินค้า</th>
                                            <th style="text-align: center;">ร้านค้าที่</th>
                                            <th style="text-align: center;">รายการที่</th>
                                            <th style="text-align: center;">จำนวนที่ขาด</th>
                                            <th style="text-align: center;">ราคาสินค้า</th>
                                            <th style="text-align: center;">ยอดรวมหยวน</th>
                                            <th style="text-align: center;">เรท</th>
                                            <th style="text-align: center;">ยอดเงินคืน (บาท)</th>
                                            <th style="text-align: center;">Comment</th>
                                            <th style="text-align: center;">รูปภาพ</th>
                                            <th style="text-align: center;">รูปภาพร้านจีน</th>
                                            <th style="text-align: center;">สถานะ</th>
                                            <th style="text-align: center;">Export Day</th>
                                            <th style="text-align: center;">Export</th>
                                            <th style="text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php if(count($refList)>0){ ?>
                                        <?php $i=1; foreach($refList as $list){ ?>
                                        <tr>
                                            <td>
                                                <?=date('d-m-Y',strtotime($list['create_dtm']))?>
                                            </td>
                                            <td style="text-align: center;">
                                                <a href="#/ordermanagement/view/<?=$list['item_info']['order_id']?>">
                                                    <?=GF::order_no($list['item_info']['order_id'])?>
                                                </a>
                                            </td>
                                            <td>
                                                <?php $my_member = GF::memberinfo($list['create_by']); ?>
                                                <?=$my_member['user_code']?><br />
                                                    <?=$my_member['user_name']?>
                                            </td>
                                            <?php if($memberinfo['user_role_id']=='1'){ ?>

                                            <td style="text-align: center;">
                                                <span class="text-blue"><?=GF::agencyname($list['create_by'])?></span></td>
                                            <?php } ?>
                                            <td><img src="<?=$list['item_info']['img_path']?>" style="max-width:80px;" /></td>
                                            <td>
                                                <a href="<?=$list['item_info']['product_link']?>" target="_blank">View</a>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['item_info']['saller_number']?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['ref_item']?>
                                            </td>
                                            <?php $total_get = $list['item_info']['product_buy_qty']-$list['ref_refund']; ?>
                                            <td style="text-align: center;">
                                                <?=$total_get?>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['item_info']['product_buy_rmb']?>
                                            </td>

                                            <td style="text-align: center;">
                                                <?=$list['item_info']['product_buy_rmb']*$total_get?><br />
                                                    <span class="text-green">คืนจริง <b><?=$list['ref_rmb']?></b></span>
                                            </td>
                                            <td style="text-align: center;">
                                                <?=$list['order_info']['rate']?>
                                                    <!-- <br /><span class="text-green">คืนจริง <b><?=$list['ref_rmb']?></b></span> -->
                                            </td>
                                            <td style="text-align: center;">
                                                <?=($list['item_info']['product_buy_rmb']*$total_get)*$list['order_info']['rate']?>
                                                    <br /><span class="text-green">คืนจริง <b><?=$list['ref_thb']?></b></span>
                                            </td>
                                            <td>
                                                <?=$list['ref_comment']?>
                                            </td>
                                            <td>
                                                <?php if($list['ref_file']!=''){ ?>
                                                <a href="javascript:;" onclick="ddUmg('<?=$BASEURL?>/uploads/refund/<?=$list['ref_file']?>');"><img style="max-width:50px;" src="<?=$BASEURL?>/uploads/refund/<?=$list['ref_file']?>" /></a>
                                                <?php } ?>
                                            </td>
                                            <td>
                                                <?php if($list['ref_file2']!=''){ ?>
                                                <a href="javascript:;" onclick="ddUmg('<?=$BASEURL?>/uploads/refund/<?=$list['ref_file2']?>');"><img style="max-width:50px;" src="<?=$BASEURL?>/uploads/refund/<?=$list['ref_file2']?>" /></a>
                                                <?php } ?>
                                            </td>
                                            <td style="text-align: center;">
                                                <b>
                                    <?php
                                       if($list['status']=='Wait'){echo 'รอตรวจสอบ';}
                                       if($list['status']=='Progress'){echo 'กำลังดำเนินการ';}
                                       if($list['status']=='Ship'){echo 'รอสินค้า';}
                                       if($list['status']=='Compelte'){echo 'ได้รับสินค้าแล้ว';}
                                       if($list['status']=='Refunded'){echo 'คืนเงิน';}
                                       if($list['status']=='Norefund'){echo 'ร้านแจ้งส่งให้ครบ';}
                                    ?>
                                    </b>
                                                <br />
                                                <span class="text-info">Admin : <?=$list['ref_admin']?></span>
                                            </td>

                                            <td>
                                                <nobr>
                                                    <?php
                                        if($list['export_date']!=''){
                                            echo date('d-m-Y',strtotime($list['export_date']));
                                        }else{echo '-';}
                                     ?>
                                                </nobr>
                                            </td>
                                            <td>
                                                <?php if($list['export']=='N'){echo 'Wating';}else{echo 'Exported';} ?>
                                            </td>
                                            <td style="text-align: center;">

                                                <?php if($list['status']=='Wait'){ ?>
                                                <?php if($button_delete){ ?>
                                                <button type="button" data-id="<?=$list['ref_id']?>" data-item="<?=$list['item_id']?>" onclick="cancelRefund(this);" class="btn btn-danger btn-xs">ยกเลิก</button>
                                                <?php } ?>
                                                <?php }else{ ?>

                                                <?php } ?>
                                                <?php if($list['status']!='Refunded' && $list['status']!='Complete'){ ?>

                                                <?php if($button_edit){ ?>
                                                <button type="button" data-id="<?=$list['ref_id']?>" data-item="<?=$list['item_id']?>" onclick="showItemRefundInfo(this);" class="btn btn-warning btn-xs">แก้ไข</button>

                                                <?php } ?>

                                                <?php } ?>
                                                <?php if($list['status']=='Refund' && $list['export']=='Y'){ ?>
                                                <br />

                                                <?php if($button_edit){ ?>
                                                <button type="button" onclick='refundWallet("<?=$list["ref_id"]?>");' class="btn btn-success btn-xs">คืนเงินเข้า E Wallet</button>
                                                <?php } ?>

                                                <?php } ?>
                                                <?php if($button_view){ ?>
                                                <button type="button" data-id="<?=$list['ref_id']?>" data-item="<?=$list['item_id']?>" onclick="showItemRefundInfo2(this);" class="btn btn-info btn-xs">View refund</button>
                                                <?php } ?>

                                            </td>
                                        </tr>
                                        <?php $i++; } ?>
                                        <?php } ?>
                                    </tbody>

                                </table>


                            </div>
                            <nav class="pull-right" style="margin-right: 3%;">
                                <ul class="pagination pagination-md">
                                    <?php for($i=1;$i<=$allPage;$i++){ ?>
                                    <li <?php if($currpage==$i){ ?>class="active"
                                        <?php } ?>>
                                        <a href="#/buyship/refundlist/?page=<?=$i?>">
                                            <?=$i?>
                                        </a>
                                    </li>
                                    <?php } ?>

                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>


<div class="modal fade" id="refundModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Refund</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="" id="img_pd" class="img-responsive" />
                    </div>
                    <div class="col-sm-8">
                        <form class="form-horizontal" name="refundFrm" id="refundFrm">
                            <input type="hidden" name="mode" value="updaterefund" />
                            <input type="hidden" name="ref_id" id="ref_id" value="0" />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ชื่อสินค้า</label>
                                <div class="col-sm-7">
                                    <span id="itm_name">xxx</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">จำนวนที่สั่ง</label>
                                <div class="col-sm-7">
                                    <span id="item_qty">xxx</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">จำนวนสินค้าที่ขาด</label>
                                <div class="col-sm-7">


                                    <input type="text" class="form-control" id="ref_refund" name="ref_refund" onkeypress="numberonly(event);" onchange="changeDDDTS();" placeholder="จำนวนสินค้าที่ได้" value="0">
                                    <!--<p class="text-muted">*ขาดสินค้าจำนวน <b class="text-red" id="tt_dss"></b> ชิ้น</p>-->
                                </div>
                            </div>

                            <input type="hidden" class="form-control" id="tt_all" name="tt_all" placeholder="จำนวนสินค้าที่ได้" value="0">

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ยอดคืน(หยวน)</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ref_rmb" name="ref_rmb" onkeypress="numberonly(event);" placeholder="ยอดคืน(หยวน)" value="0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">อัตราแลกเปลี่ยน</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ref_rate" name="ref_rate" onkeypress="numberonly(event);" placeholder="อัตราแลกเปลี่ยน" value="0">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">สถานะ</label>
                                <div class="col-sm-7">
                                    <select class="form-control" name="status" id="status">
                        <option value="Wait">รอตรวจสอบ</option>
                        <option value="Progress">กำลังดำเนินการ</option>
                        <option value="Ship">รอสินค้า</option>
                        <option value="Compelte">ได้รับสินค้าแล้ว</option>
                        <option value="Refund">คืนเงิน</option>
                        <option value="Norefund">ร้านแจ้งส่งให้ครบ</option>
                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ข้อความ</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control" name="ref_admin" id="ref_admin"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label"></label>
                                <div class="col-sm-7">
                                    <img src="" id="ref_img" style="max-width:50px;" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">รูปภาพ</label>
                                <div class="col-sm-7">
                                    <input type="file" id="ref_file2" name="ref_file2">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-warning" onclick="saveRefund();">ยืนยัน Refund</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="refund2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Refund</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="" id="img_pd2" class="img-responsive" />
                    </div>
                    <div class="col-sm-8">
                        <form class="form-horizontal" name="refundFrm22" id="refundFrm22">
                            <input type="hidden" name="mode" value="updaterefund22" />
                            <input type="hidden" name="ref_id" id="ref_id2" value="0" />
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ชื่อสินค้า</label>
                                <div class="col-sm-7">
                                    <span id="itm_name2">xxx</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">จำนวนที่สั่ง</label>
                                <div class="col-sm-7">
                                    <span id="item_qty2">xxx</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">จำนวนสินค้าที่ขาด</label>
                                <div class="col-sm-7">

                                    <span id="ref_refund2">xxx</span>

                                    <!--<p class="text-muted">*ขาดสินค้าจำนวน <b class="text-red" id="tt_dss"></b> ชิ้น</p>-->
                                </div>
                            </div>



                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ยอดคืน(หยวน)</label>
                                <div class="col-sm-7">

                                    <span id="ref_rmb2">xxx</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">อัตราแลกเปลี่ยน</label>
                                <div class="col-sm-7">

                                    <span id="ref_rate2">xxx</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">สถานะ</label>
                                <div class="col-sm-7">
                                    <select class="form-control disabled" name="status" id="status2" disabled>
                        <option value="Wait">รอตรวจสอบ</option>
                        <option value="Progress">กำลังดำเนินการ</option>
                        <option value="Ship">รอสินค้า</option>
                        <option value="Compelte">ได้รับสินค้าแล้ว</option>
                        <option value="Refund">คืนเงิน</option>
                        <option value="Norefund">ร้านแจ้งส่งให้ครบ</option>
                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label">ข้อความ</label>
                                <div class="col-sm-7">

                                    <span id="ref_admin2">xxx</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-5 control-label"></label>
                                <div class="col-sm-7">
                                    <img src="" id="ref_img2" style="max-width:50px;" />
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <img src="" class="img-responsive center-block" id="ddImg" />
            </div>

        </div>
    </div>
</div>