<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Shipping List
                    <div class="pull-right">

                    </div>
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="col-sm-12">
                                    <form class="form-inline" id="searchFrm" onsubmit="return searchship();">
                                        <input type="hidden" name="mode" value="searchship" />
                                        <input type="submit" style="position: absolute; left: -9999px" />
                                        <div class="form-group">
                                            <label for="exampleInputName2">เลขที่บิล</label>
                                            <input type="text" class="form-control" id="shipping_code" name="shipping_code" value="<?=$_SESSION['ship_search']['shipping_code']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">เลขที่พัสดุ</label>
                                            <input type="text" class="form-control" id="track_code" name="track_code" value="<?=$_SESSION['ship_search']['track_code']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">รหัสลูกค้า</label>
                                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['ship_search']['user_code']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">สถานะ</label>
                                            <select class="form-control" name="status">
                                                <option value="">ทั้งหมด</option>

                                                <option value="9" <?php if($_SESSION['ship_search']['status']=='9'){ ?> selected="" <?php } ?>>รอตรวจสอบ</option>

                                                <option value="3" <?php if($_SESSION['ship_search']['status']=='3'){ ?> selected="" <?php } ?>>รอชำระเงิน</option>
                                                <option value="5" <?php if($_SESSION['ship_search']['status']=='5'){ ?> selected="" <?php } ?>>ชำระเงินแล้ว รอจัดส่ง</option>
                                                <option value="6" <?php if($_SESSION['ship_search']['status']=='6'){ ?> selected="" <?php } ?>>จัดส่งแล้ว</option>
                                            </select>
                                        </div>

                                        <div class="clearfix" style="height:15px;"></div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">วิธีจัดส่ง</label>
                                            <?php $shipby = GF::masterdataList('5'); ?>
                                            <select class="form-control" name="ship_by">
                                                <option value="">ทั้งหมด</option>
                                            <?php foreach($shipby as $master){ ?>
                                                    <option value="<?=$master['id']?>" <?php if($_SESSION['ship_search']['ship_by']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
                                            <?php } ?>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-default" onclick="searchship();">ค้นหา</button>
                                        <button type="button" class="btn btn-default" onclick="resetSearchShip();">ยกเลิก</button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body table-responsive">

                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <th>เลขที่บิล</th>
                                            <th>รหัสสมาชิก</th>
                                            <th>รับสินค้าโดย</th>
                                            <th>เลขที่พัสดุ</th>
                                            <th>แก้ไขล่าสุด</th>
                                            <th>สถานะ</th>
                                            <th>ยอดรวม</th>
                                            <th>ค้างชำระ</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($shippingList as $list){ ?>
                                        <tr>
                                            <td>
                                                <?=$list['shipping_code']?>
                                            </td>
                                            <td>
                                                <?=GF::user_code($list['create_by'])?>
                                            </td>
                                            <td>
                                                <?=$list['ship_by']?>
                                            </td>
                                            <td>
                                                <?php if($list['ship_type']=='nim2' && $list['track_code']!=''){?>
                                                <a href="https://www.nimexpress.com/web/p/tracking?i=<?=$list['track_code']?>" target="_balnk">
                                                    <?=$list['track_code']?>
                                                </a>
                                                <?php }else{ ?>

                                                <?=$list['track_code']?>
                                                    <?php } ?>
                                            </td>
                                            <td>
                                                <?=date("d-m-Y H:i:s",strtotime($list['update_dtm']))?>
                                            </td>
                                            <td>
                                                <?php //if($list['status']=='1'){ echo 'รอตรวจสอบ'; }else{ echo "จัดส่งแล้ว"; } ?>
                                                <?php 
                                                if($list['status']=='1'){
                                                    echo 'รอตรวจสอบ';    
                                                }else{
                                                    if($list['status']=='3'){ echo 'รอการชำระเงิน'; }
                                                    else if($list['tt_status']=='7'){ echo 'ชำระเงินเรียบร้อย เตรียมจัดส่ง'; }
                                                    else if($list['tt_status']=='8'){ echo 'จัดส่งสินค้าแล้ว'; }
                                                    else{
                                                        echo 'รอตรวจสอบ';
                                                    }
                                                }
                                                    
                                                    
                                                ?>
                                            </td>
                                            <td class="text-right">

                                                <?php
                                                if($list['status']>'1'){
                                                echo number_format($list['total'],2);
                                                }else{ echo '0.00';}
                                                ?>
                                            </td>
                                            <td class="text-right">
                                                <?php 

                                                if($list['ship_pay'] > $list['total']){
                                                	$balance = $list['ship_pay'] - $list['total'];
                                            	}else{

                                                $balance = $list['total']-$list['ship_pay']; 

                                           		 }


                                                ?>

                                                <?php

                                                if($list['status']>'1' && $list['tt_status']<'7'){
                                                echo number_format($balance,2);
                                            }else if($list['status']>'1' && $list['tt_status']>='7'){ echo '0.00';  
                                            }else{ echo '0.00';}

                                                ?>
                                            </td>
                                            <td>
                                                <nobr>
                                                    <a href="#/ordermanagement/viewshipping/<?=$list['id']?>/" class="btn btn-info btn-sm">ดู</a>
                                                    <a href="#/ordermanagement/editshipping/<?=$list['id']?>/" class="btn btn-warning btn-sm">แก้ไข</a>
                                                    <?php if($list['status']!='C'){ ?>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteShipping('<?=$list['id']?>');">ลบ</button>
                                                    <?php } ?>
                                                </nobr>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>

                            </div>
                            <nav class="pull-right" style="margin-right: 3%;">
                                <ul class="pagination pagination-md">

                                    <?php 
                                            $c_page = intval($currpage);
                                            if($c_page==0){
                                                $c_page = 1;
                                            }
                                            $start = 1;
                                            $end = 10;
                                            if($c_page>=6){
                                                $start = $c_page-4;
                                                $end = $c_page+4;
                                            }

                                            if($end>=$allPage){
                                                $end = $allPage;
                                            }
                                            ?>
                                    <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                    <?php for($i=$start;$i<=$end;$i++) {?>
                                    <li <?php if($currpage==$i){ ?>class="active"
                                        <?php } ?>>
                                        <a href="#/ordermanagement/shippinglist/?page=<?=$i?>">
                                            <?=$i?>
                                        </a>
                                    </li>
                                    <?php } ?>
                                    <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                </ul>
                            </nav>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>