<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Shipping List
                    <div class="pull-right">

                    </div>
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="col-sm-12">
                                    <form class="form-inline" id="searchFrm" onsubmit="return searchship();">
                                        <input type="hidden" name="mode" value="searchthship" />
                                        <input type="submit" style="position: absolute; left: -9999px" />
                                        <div class="form-group">
                                            <label for="exampleInputName2">เลขที่บิล</label>
                                            <input type="text" class="form-control" id="shipping_code" name="shipping_code" value="<?=$_SESSION['ship_th_search']['shipping_code']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">เลขที่พัสดุ</label>
                                            <input type="text" class="form-control" id="track_code" name="track_code" value="<?=$_SESSION['ship_th_search']['track_code']?>" placeholder="">
                                        </div>
                                        <!-- <div class="form-group">
                                            <label for="exampleInputName2">รหัสลูกค้า</label>
                                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['ship_th_search']['user_code']?>" placeholder="">
                                        </div> -->
                                        <!-- <div class="form-group">
                                            <label for="exampleInputEmail2">สถานะ</label>
                                            <select class="form-control" name="status">
                                                <option value="">ทั้งหมด</option>

                                                <option value="9" <?php if($_SESSION['ship_th_search']['status']=='9'){ ?> selected="" <?php } ?>>รอตรวจสอบ</option>

                                                <option value="3" <?php if($_SESSION['ship_th_search']['status']=='3'){ ?> selected="" <?php } ?>>รอชำระเงิน</option>
                                                <option value="5" <?php if($_SESSION['ship_th_search']['status']=='5'){ ?> selected="" <?php } ?>>ชำระเงินแล้ว รอจัดส่ง</option>
                                                <option value="6" <?php if($_SESSION['ship_th_search']['status']=='6'){ ?> selected="" <?php } ?>>จัดส่งแล้ว</option>
                                            </select>
                                        </div> -->

                                        <!-- <div class="clearfix" style="height:15px;"></div> -->
                                        <div class="form-group">
                                            <label for="exampleInputName2">วิธีจัดส่ง</label>
                                            <?php $shipby = GF::masterdataList('5'); ?>
                                            <select class="form-control" name="ship_by">
                                                <option value="">ทั้งหมด</option>
                                            <?php foreach($shipby as $master){ ?>
                                                    <option value="<?=$master['id']?>" <?php if($_SESSION['ship_th_search']['ship_by']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
                                            <?php } ?>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-default" onclick="searchthship();">ค้นหา</button>
                                        <button type="button" class="btn btn-default" onclick="resetSearchthShip();">ยกเลิก</button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body table-responsive">
                                <button type="button" class="btn btn-warning center-block" onclick="saveThShipping();">บันทึกรายการ</button>
                                <br />
                                <form id="thahippingFrm">
                                    <input type="hidden" name="mode" value="savethshipping" />
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>

                                            <tr>
                                                <th>เลขที่บิล</th>
                                                <!-- <th>รหัสสมาชิก</th> -->
                                                <th>รับสินค้าโดย</th>
                                                <th>เลขที่พัสดุ</th>
                                                <th>ค่าจัดส่ง</th>
                                                <th>ค่าจัดส่งจริง</th>
                                                <th>ส่วนต่าง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($shippingList as $list){ ?>
                                            <tr>
                                                <td>
                                                    <?=$list['shipping_code']?>
                                                </td>
                                                <!-- <td>
                                                <?=GF::user_code($list['create_by'])?>
                                            </td> -->
                                                <td>
                                                    <?=$list['ship_by']?>
                                                </td>
                                                <td>
                                                    <input type="hidden" name="shipping_id[]" value="<?=$list['id']?>" />
                                                    <input type="hidden" name="shipping_th_price[]" value="<?=$list['shipping_th_price']?>" />
                                                    <input type="text" name="track_code[]" class="form-control " data-id="<?=$list['id']?>" value="<?=$list['track_code']?>" />
                                                </td>
                                                <td class="text-center">
                                                    <?=$list['shipping_th_price']?>
                                                </td>
                                                <td class="text-center">
                                                    <input type="text" name="shipping_th_price_true[]" class="form-control text-center" data-value="<?=$list['shipping_th_price']?>" data-id="<?=$list['id']?>" value="<?=$list['shipping_th_price_true']?>" style="width:100px;" onkeyup="calDiffThShipping(this);"
                                                        onkeypress="numberonly(event);" />
                                                </td>
                                                <td class="text-right">
                                                    <span id="diff_value_<?=$list['id']?>"><?=number_format($list['shipping_th_price']-$list['shipping_th_price_true'],2)?></span>
                                                </td>
                                            </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>
                                </form>

                                <button type="button" class="btn btn-warning center-block" onclick="saveThShipping();">บันทึกรายการ</button>

                            </div>
                            <nav class="pull-right" style="margin-right: 3%;">
                                <ul class="pagination pagination-md">

                                    <?php 
                                            $c_page = intval($currpage);
                                            if($c_page==0){
                                                $c_page = 1;
                                            }
                                            $start = 1;
                                            $end = 10;
                                            if($c_page>=6){
                                                $start = $c_page-4;
                                                $end = $c_page+4;
                                            }

                                            if($end>=$allPage){
                                                $end = $allPage;
                                            }
                                            ?>
                                    <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                    <?php for($i=$start;$i<=$end;$i++) {?>
                                    <li <?php if($currpage==$i){ ?>class="active"
                                        <?php } ?>>
                                        <a href="#/ordermanagement/thshippinglist/?page=<?=$i?>">
                                            <?=$i?>
                                        </a>
                                    </li>
                                    <?php } ?>
                                    <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                </ul>
                            </nav>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>