<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->


<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>รายการ Tracking ค้าง
                    <div class="pull-right">
                        <button type="button" class="btn btn-success" onclick="saveTrackingToHold();">ส่งรายการ Track ค้าง</button>
                    </div>
                </div>

                <div class="box-body">

                    <div class="col-sm-12">
                        <br />
                        <form class="form-inline" id="searchFrm" onsubmit="return searchtrackinghold();">
                            <input type="hidden" name="mode" value="searchtrackinghold" />
                            <input type="submit" style="position: absolute; left: -9999px" />
                            <div class="form-group">
                                <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                                <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['tracking_hold_search']['order_number']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">รหัสลูกค้า</label>
                                <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['tracking_hold_search']['user_code']?>" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail2">สถานะ</label>
                                <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
    					          	<option value="ALL" <?php if($_SESSION['tracking_hold_search']['status']==''){ ?>selected=""<?php } ?>>ทั้งหมด</option>
    					          	<option value="1" <?php if($_SESSION['tracking_hold_search']['status']=='1'){ ?>selected=""<?php } ?>>รอแจ้ง</option>
    					          	<option value="2" <?php if($_SESSION['tracking_hold_search']['status']=='2'){ ?>selected=""<?php } ?>>แจ้งโกดังเรียบร้อย</option>
    					        </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName2">วันที่สั่งซื้อ</label>
                                <input type="text" class="form-control datepickerX" id="create_dtm" name="create_dtm" placeholder="" value="<?=$_SESSION['tracking_hold_search']['create_dtm']?>">
                            </div>
                            <button type="button" class="btn btn-default" onclick="searchtrackinghold();">ค้นหา</button>
                            <button type="button" class="btn btn-default" onclick="resetSearchtrackinghold();"><i class="fa fa-refresh"></i></button>
                        </form>
                        <br />
                    </div>

                    <form id="createFrm">
                        <input type="hidden" name="mode" value="holdtracking" />
                        <div class="col-lg-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">


                                </div>
                                <div class="clearfix"></div>
                                <div class="panel-body table-responsive">
                                    <style>
                                        table tr th {
                                            text-align: center;
                                        }
                                        
                                        table tr td {
                                            text-align: center;
                                        }
                                    </style>
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>

                                            <tr>
                                                <th class="text-center">
                                                    Check All<br /><input type="checkbox" id="select-all" />
                                                </th>
                                                <th class="text-center">
                                                    วันสั่ง
                                                </th>
                                                <th>Tracking No.</th>


                                                <th>ร้านค้า</th>
                                                <th>รอบออกจากจีน</th>
                                                <th>สถานะค้าง</th>
                                                <th>ระยะวันที่ค้าง</th>
                                                <th>รหัสสมาชิก</th>
                                                <?php if($memberinfo['user_role_id']=='1'){ ?>
                                                <th style="text-align: center;">Agency</th>
                                                <?php } ?>
                                                <th>เลขออเดอร์</th>
                                                <th>สถานะ</th>
                                                <th>จำนวนครั้งที่แจ้ง</th>
                                                <th>วันที่แจ้งครั้งแรก</th>
                                                <th>คอมเม้น</th>
                                                <th>คำสั่ง</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($trackingList as $list){ ?>
                                            <tr>
                                                <td class="text-center">
                                                    <input type="checkbox" name="tracking_id[]" value="<?=$list['tracking_id']?>" />
                                                </td>
                                                <td class="text-center">
                                                    <?php if($list['export_date']=='' || $list['export_date']=='0000-00-00 00:00:00'){ ?> -
                                                    <?php }else{ ?>
                                                    <?=date('d/m/Y',strtotime($list['export_date']))?>
                                                        <?php } ?>
                                                </td>
                                                <td>
                                                    <?=$list['tracking']?>
                                                </td>



                                                <td>
                                                    <?=$list['saller_name']?>
                                                </td>
                                                <td>
                                                    <?php if($list['status_value']=='3'){ 

                                                    if($list['create_dtm']=='0000-00-00 00:00:00'){ echo '-';}else{

                                                    echo date('d/m/Y',strtotime($list['create_dtm']));  
                                                    } 

                                                }else{echo '-'; } ?>
                                                </td>
                                                <td>ค้าง
                                                    <?=$list['status_value']?>
                                                </td>
                                                <td>
                                                    <?php


                                                    if($list['create_dtm']=='0000-00-00 00:00:00'){ echo '-';}else{

                                    (string)$d1 = date('Y-m-d',strtotime($list['create_dtm']));
                                    (string)$d2 = date('Y-m-d');
                                    $date1=date_create($d1);
                                    $date2=date_create($d2);
                                    $diffs = date_diff($date1,$date2);
                                    echo $diffs->format("%a");
									

                                    ?>
                                                        วัน
                                                        <?php } ?>
                                                </td>
                                                <td>
                                                    <?=$list['member_code']?>
                                                </td>
                                                <?php if($memberinfo['user_role_id']=='1'){ ?>

                                                <td style="text-align: center;">
                                                    <span class="text-blue"><?=GF::agencyname($list['user_id'])?></span></td>
                                                <?php } ?>
                                                <td>
                                                    <?=$list['order_id']?>
                                                </td>
                                                <td>
                                                    <?php
                                     if($list['hold_status']=='N'){
                                         echo 'รอแจ้ง';
                                     }else{
                                         echo 'แจ้งโกดังเรียบร้อย';
                                     }
                                     ?>
                                                </td>
                                                <td>
                                                    <?=$list['hold_count']?>
                                                </td>
                                                <td>
                                                    <?php if($list['hold_date']!='0000-00-00 00:00:00' && $list['hold_date']!=''){ echo date('d/m/Y',strtotime($list['hold_date'])); }else{echo '-';} ?>
                                                </td>

                                                <td>
                                                    <?=$list['hold_comment']?>
                                                </td>

                                                <td>
                                                    <nobr>
                                                        <button type="button" class="btn btn-warning btn-xs" data-id="<?=$list['tracking_id']?>" data-status="<?=$list['hold_text']?>" data-comment="<?=$list['hold_comment']?>" onclick="openTrackHold(this);">แก้ไข</button>
                                                </td>
                                            </tr>
                                            <?php } ?>
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>



<!-- Modal -->
<div class="modal fade" id="holdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">แก้ไขแทรคค้าง</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="dataFrm">
                    <input type="hidden" name="mode" value="holdstatus" />
                    <input type="hidden" name="tracking_id" id="tracking_id" value="" />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">สถานะ</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="datastatus" name="hold_text" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">คอมเม้น</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="datacomment" name="hold_comment"></textarea>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveTrackingToHoldStatus();">Save</button>
            </div>
        </div>
    </div>
</div>