<style>
	.form-group .control-label {
		text-align: left;
	}

</style>

<section class="content-header">
  <h1>
   Order Management
    <small></small>
  </h1>
</section>

        <!-- Main content -->

<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<i class="fa fa-barcode"></i>รายการ Tracking ที่แจ้งรับสินค้าได้
			<div class="pull-right">

			</div>
			</div>

			<div class="box-body">


                <div class="col-lg-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                           <span class="pull-left">
                           		<a href="#/ordermanagement/tracking/" class="btn btn-default btn-sm">รายการ Tracking ทั้งหมด</a>
                           		<a href="#/ordermanagement/trackingok/" class="btn btn-default btn-sm">รายการ Tracking ที่แจ้งรับสินค้าได้</a>
                           </span>
                           <div class="pull-right">
                           		<button type="button" class="btn btn-warning btn-sm" onclick="saveTrackingToship();">แจ้งรับสินค้า</button>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body">
                        <form id="createFrm">
                        <input type="hidden" name="mode" value="updatetrackinggroup"/>
                            <table id="example1" class="table table-bordered table-striped">
							      <thead>

							        <tr>
							          <th style="text-align: center;">
							          	<input type="checkbox" id="select-all"  />
							          </th>
							          <th>Tracking No.</th>
                               <?php if($memberinfo['user_role_id']=='1'){ ?>
                               <th style="text-align: center;">Agency</th>
                               <?php } ?>
							          <th>Member Code</th>
							          <th>ชื่อ-นามสกุล</th>
							          <th>Order</th>
							          <th>ประเภทสินค้า</th>
							          <th class="text-center">ค่าบริการ</th>
							          <th class="text-center">อื่น ๆ</th>
							        </tr>
							      </thead>
							      <tbody>
							      <?php foreach($trackingList as $list){ ?>
							      	<tr>
							      		<td align="center">
							      			<input type="checkbox" name="trackid[]" value="<?=$list['tracking_id']?>"/>
							      		</td>
							      		<td><?=$list['tracking']?></td>
                                 <?php if($memberinfo['user_role_id']=='1'){ ?>

                                <td style="text-align: center;">
                                   <span class="text-blue"><?=GF::agencyname($list['user_id'])?></span></td>
                                <?php } ?>
							      		<td><?=$list['member_code']?></td>
							      		<td>
							      			<?php
							      			 $memberinfo = GF::memberinfo($list['member_code']);
							      			 echo $memberinfo['user_name'];
							      			 ?>
							      		</td>
							      		<td><?=$list['order_id']?></td>
							      		<td><?=$list['order_type']?></td>
							      		<td class="text-right"><?=number_format($list['price_true'],2)?></td>
							      		<td class="text-right">
							      			<?php if(intval($list['other_price'])>0){ ?>
							      			 <?=number_format(($list['other_price']*GF::getrate()),2)?><br />
							      			 <h6 class="text-muted" style="margin: 0px;">(&yen;<?=$list['other_price']?>x<?=GF::getrate()?>)</h6>
							      			<?php }else{echo '0.00';} ?>
							      		</td>
							      	</tr>
							      <?php } ?>
							      </tbody>
							    </table>
							    </form>
                        </div>

                    </div>
                </div>

             </div>
			<div class="overlay text-center" id="preLoadSearch" style="display: none;">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
			<div class="box-footer" style="margin-left: 10%">

			<!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

            </div><!-- /.box-footer -->

			</div>
		</div>
	</div>

</section>
