<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Tracking List
                    <div class="pull-right">
                        <a href="#/ordermanagement/createtracking" class="btn btn-success btn-sm">เพิ่ม Tracking</a>
                    </div>
                </div>
                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left">
                           		<!-- <a href="#/ordermanagement/tracking/" class="btn btn-default btn-sm">รายการ Tracking ทั้งหมด</a> -->
                           		<!-- <a href="#/ordermanagement/trackingok/" class="btn btn-default btn-sm">รายการ Tracking ที่แจ้งรับสินค้าได้</a> -->
                           </span>
                                <div class="pull-right hidden">
                                    <form id="importFrm">
                                        <input type="hidden" name="mode" value="importexcel" />
                                        <div class="form-group pull-left">
                                            <input type="file" id="exampleInputFile" name="tracking">
                                            <p class="help-block">Import Excel File.</p>
                                        </div>
                                        <button type="button" class="btn btn-warning btn-sm" onclick="importExcel();">Import</button>
                                    </form>
                                </div>
                                <div class="col-sm-12">
                                    <br />
                                    <form class="form-inline" id="searchFrm" onsubmit="return searchtracking();">
                                        <input type="hidden" name="mode" value="searchtracking" />
                                        <input type="submit" style="position: absolute; left: -9999px" />
                                        <div class="form-group">
                                            <label for="exampleInputName2">Tracking No</label>
                                            <input type="text" class="form-control" id="tracking" name="tracking" value="<?=$_SESSION['tra_search']['tracking']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">เลขที่สั่งซื้อ</label>
                                            <input type="text" class="form-control" id="order_number" name="order_number" value="<?=$_SESSION['tra_search']['order_number']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputName2">รหัสลูกค้า</label>
                                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['tra_search']['user_code']?>" placeholder="">
                                        </div>
                                        <div class="clearfix" style="height:15px;"></div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">สถานะ</label>
                                            <?php $shipby = GF::masterdataList('3'); ?>
                                            <select class="form-control" name="status">
                                                <option value="">ทั้งหมด</option>
                                            <?php foreach($shipby as $master){ ?>
                                                    <option value="<?=$master['master_value']?>"  <?php if($master['master_value']==$_SESSION['tra_search']['status']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
                                            <?php } ?>
                                            </select>
                                        </div>
                                        <button type="button" class="btn btn-default" onclick="searchtracking();">ค้นหา</button>
                                        <button type="button" class="btn btn-default" onclick="resetSearchTracking();">ยกเลิก</button>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>

                                        <tr>
                                            <th>Tracking No.</th>
                                            <?php if($memberinfo['user_role_id']=='1'){ ?>
                                            <th style="text-align: center;">Agency</th>
                                            <?php } ?>
                                            <th class="text-center">Member Code</th>
                                            <th>ร้านค้า</th>
                                            <th>Order</th>
                                            <th class="text-center">เลขที่บิล</th>
                                            <th class="text-center">ประเภทสินค้า</th>
                                            <th>สถานะ</th>
                                            <th>น้ำหนัก</th>
                                            <th class="text-center">ค่าบริการ</th>
                                            <th class="text-center">อื่น ๆ</th>
                                            <th class="text-center">ลบ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($trackingList as $list){ ?>
                                        <tr>
                                            <td>
                                                <?=$list['tracking']?>
                                            </td>
                                            <?php if($memberinfo['user_role_id']=='1'){ ?>

                                            <td style="text-align: center;">
                                                <span class="text-blue"><?=GF::agencyname($list['user_id'])?></span></td>
                                            <?php } ?>

                                            <td>
                                                <?=$list['member_code']?>
                                            </td>
                                            <td>
                                                <?=$list['saller_name']?>
                                            </td>
                                            <td>
                                                <?=$list['order_id']?>
                                            </td>
                                            <td class="text-center">
                                                <?=$list['shipping_code']?>
                                            </td>
                                            <td>
                                                <?=$list['order_type']?>
                                            </td>
                                            <td>
                                                <?=$list['status_value']?> :
                                                    <?=$list['status']?>
                                            </td>
                                            <td class="text-center">
                                                <?=$list['weight']?>
                                            </td>
                                            <td class="text-center">

                                                <?php if($list['cbm']>0 && $list['weight']>0){ ?>
                                                <?=@number_format($list['price_true'],2)?>
                                                <?php }else if($list['cbm']==0 && $list['status_value']>=6){ ?>
                                                <?=@number_format($list['price_true'],2)?>
                                                    <?php }else{ ?> 0.00
                                                    <?php } ?>
                                            </td>

                                            <td class="text-center">
                                                <?php if(intval($list['other_price'])>0){ ?>
                                                <?=@number_format(($list['other_price']*GF::getrate()),2)?><br />
                                                    <h6 class="text-muted" style="margin: 0px;">(&yen;
                                                        <?=$list['other_price']?>x
                                                            <?=GF::getrate()?>)</h6>
                                                    <?php }else{echo '0.00';} ?>
                                            </td>

                                            <td>
                                                <nobr>
                                                    <a href="#/ordermanagement/viewtracking/<?=$list['tracking_id']?>" class="btn btn-warning btn-sm">แก้ไข</a>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteTracking('<?=$list['tracking_id']?>');">ลบ</button>
                                                </nobr>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                                <nav class="pull-right" style="margin-right: 3%;">
                                    <ul class="pagination pagination-md">
                                        <li <?php if($currpage==$i){ ?>class="active"
                                            <?php } ?>>
                                            <a href="#/ordermanagement/tracking/?page=1">
                                                หน้าแรก
                                            </a>
                                        </li>
                                        <?php 
										$c_page = intval($currpage);
									    if($c_page==0){
											$c_page = 1;
										}
										$start = 1;
										$end = 10;
										if($c_page>=6){
											$start = $c_page-4;
											$end = $c_page+4;
										}

										if($end>=$allPage){
											$end = $allPage;
										}
										?>
                                        <?php //for($i=1;$i<=$allPage;$i++){ ?>
                                        <?php for($i=$start;$i<=$end;$i++) {?>
                                        <li <?php if($currpage==$i){ ?>class="active"
                                            <?php } ?>>
                                            <a href="#/ordermanagement/tracking/?page=<?=$i?>">
                                                <?=$i?>
                                            </a>
                                        </li>
                                        <?php } ?>
                                        <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                                    </ul>

                                </nav>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>