<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>รายการ Tracking ที่แจ้งรับสินค้าได้
                    <div class="pull-right">

                    </div>
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left">
                              <form class="form-inline" id="searchFrm"  onsubmit="return searchtrack();">
                                      <input type="hidden" name="mode" value="searchtrackok"/>
                                      <input type="submit" style="position: absolute; left: -9999px"/>

                                      <div class="form-group">
                  						    <label for="exampleInputName2">รหัสลูกค้า</label>
                  						    <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['track_search']['user_code']?>" placeholder="">
                  						  </div>

                  						  <button type="button" class="btn btn-default" onclick="searchtrack();">ค้นหา</button>
                  						  <button type="button" class="btn btn-default" onclick="resetSearchTrack();">ยกเลิก</button>
                  						</form>
                           </span>
                                <div class="pull-right">
                                    <?php if(count($trackingList)>0 && $_SESSION['track_search']!=''){ ?>
                                    <button type="button" class="btn btn-warning btn-sm" onclick="saveTrackingToship();">แจ้งรับสินค้า</button>
                                    <?php }else{ ?>
                                    <span class="text-red">**กรุณาระบุรหัสลูกค้า ก่อนแจ้งรับ</span>
                                    <?php } ?>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <form id="createFrm">
                                    <input type="hidden" name="mode" value="grouptrackid" />
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>

                                            <tr>
                                                <th style="text-align: center;">
                                                    <?php if(count($trackingList)>0 && $_SESSION['track_search']['user_code']!=''){ ?><input type="checkbox" id="select-all" />
                                                    <?php } ?>
                                                </th>
                                                <th>รหัสลูกค้า</th>
                                                <th>ลูกค้า</th>
                                                <th>Tracking</th>
                                                <th>ร้านค้า</th>
                                                <th>Order</th>
                                                <th>ประเภทสินค้า</th>
                                                <th class="text-center">ค่าบริการ</th>
                                                <th class="text-center">อื่น ๆ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($trackingList as $list){ ?>
                                            <?php if($list['flag']=='1'){ ?>
                                            <tr>
                                                <td align="center">
                                                    <?php if($list['flag']=='1'){ ?>
                                                    <?php if($_SESSION['track_search']['user_code']!=''){ ?>
                                                    <input type="checkbox" name="trackid[]" value="<?=$list['tracking']?>" />
                                                    <?php } ?>
                                                    <?php } ?>
                                                    <?php if($list['flag']=='2'){echo 'แจ้งรับสินค้าแล้ว';} ?>
                                                </td>
                                                <td>
                                                    <?=$list['member_code']?>
                                                </td>
                                                <td>
                                                    <?=$list['user_name']?>
                                                </td>
                                                <td>
                                                    <?=$list['tracking']?>
                                                </td>
                                                <td>
                                                    <?=$list['saller_name']?>
                                                </td>
                                                <td>
                                                    <a href="#/buyship/view/<?=GF::order_id($list['order_id'])?>">
                                                        <?=$list['order_id']?>
                                                    </a>
                                                </td>
                                                <td>
                                                    <?=$list['order_type']?>
                                                </td>
                                                <td class="text-right">
                                                    <?=number_format($list['price_true'],2)?>
                                                </td>
                                                <td class="text-right">
                                                    <?php if(intval($list['other_price'])>0){ ?>
                                                    <span class="text-muted"><?=$list['other_desc']?> : </span>
                                                    <?=number_format(($list['other_price']*GF::getrate()),2)?><br />
                                                        <h6 class="text-muted" style="margin: 0px;">(&yen;
                                                            <?=$list['other_price']?>x
                                                                <?=GF::getrate()?>)</h6>
                                                        <?php }else{echo '0.00';} ?>
                                                </td>
                                            </tr>
                                            <?php } ?>
                                            <?php } ?>
                                        </tbody>
                                    </table>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>