<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Tracking Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Shipping
                    <div class="pull-right">
                        <a href="#/ordermanagement/shippinglist/" class="btn btn-default">Back</a>
                        <a href="<?=$BASEURL?>/print/printbill/<?=$shippingInfo['id']?>" target="_blank" class="btn btn-info"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">

                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <form class="form-horizontal" id="createFrm">

									<div class="col-sm-12">
                                    	<div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">เลขที่บิล</label>
                                            <div class="col-sm-10">
                                                
                                                <h5>
                                                    <?=$shippingInfo['order_id']?>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-4 control-label">ประเภทการจัดส่งในไทย</label>
                                            <div class="col-sm-8">
                                                <?php $shipby= GF::masterdataset($shippingInfo['ship_type'],'master_value','master_name'); ?>
                                                <h5>
                                                    <?=$shipby?>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        
                                        
                                        <div class="form-group">
                                            <label for="payoffice" class="col-sm-4 control-label">เลขที่พัสดุ</label>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <?=$shippingInfo['track_code']?>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label for="user_name" class="col-sm-4 control-label">ชื่อผู้รับ</label>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <?=$shippingInfo['shipping_name']?>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="user_address" class="col-sm-4 control-label">ที่อยู่ที่จัดส่ง</label>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <?=$shippingInfo['shipping_address']?>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            <label for="user_phone_number" class="col-sm-4 control-label">โทรศัพท์ติดต่อ</label>
                                            <div class="col-sm-8">
                                                <h5>
                                                    <?=$shippingInfo['shipping_phone']?>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>



                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">รายการสินค้า</div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Tracking</th>
                                            <th>ออเดอร์</th>
                                            <th class="text-center">ร้านค้า</th>
                                            <th class="text-center">น้ำหนัก</th>
                                            <th class="text-center">ปริมาตร</th>
                                            <th class="text-right" style="width:20%;">ค่าบริการ</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php $tatal = 0;$total_track = 0; ?>
                                        <?php if(count($shippingInfo['tracking'])>0){ ?>
                                        <?php $i=1; foreach($shippingInfo['tracking'] as $list){ 
                                            $track_ship_type_code = substr($list['track_rate'],0,1);                                         
                                        ?>
                                        <tr>
                                            <td>
                                                <?=$i?>
                                            </td>
                                            <td>
                                                <?=$list['tracking']?> <input type="hidden" name="trackid[]" value="<?=$list['tracking']?>" /></td>
                                            <td>
                                                <?=$list['tracking_info']['order_id']?>
                                            </td>
                                            <td align="center">
                                                </span>
                                                <?=$list['tracking_info']['saller_name']?>
                                            </td>
                                            <td align="center" >
                                                <span class="<?php if($track_ship_type_code =='K'){ ?>text-green text-bold<?php } ?>">
                                                <?=$list['tracking_info']['weight']?>
                                                </span>
                                            </td>
                                            <td align="center">
                                                <span class="<?php if($track_ship_type_code =='Q'){ ?>text-green text-bold<?php } ?>"><?=$list['tracking_info']['cbm']?></span><br />
                                                <small class="text-mute">(<?=$list['tracking_info']['dime_x']?> X <?=$list['tracking_info']['dime_y']?> X <?=$list['tracking_info']['dime_w']?>)/cm</small>
                                            </td>
                                            <td class="text-right">

                                                <?php $tatal = $tatal+$list['ship_price'];$total_track=$total_track+$list['ship_price']; ?>

                                                <?php if($shippingInfo['status']>1 || $list['tracking_info']['status_t']==6){ ?>
                                                <?=number_format($list['ship_price'],2)?>
                                                <?php }else{ echo '0.00';} ?>
                                            </td>


                                        </tr>

                                        <?php if($list['otr_price_baht']>0){ ?>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right"> - ค่าบริการอื่น ๆ</td>
                                            <td class="text-right">
                                                <?php $tatal = $tatal+$list['otr_price_baht']; ?>

                                                
                                                <?=number_format($list['otr_price_baht'],2)?>
                                                
                                            </td>
                                        </tr>
                                        <?php } ?>
                                        <?php $i++; } ?>
                                        <?php } ?>
                                        <?php if(count($shippingInfo['ordering'])>0){ ?>
                                        <?php  foreach($shippingInfo['ordering'] as $list){ ?>
                                        <tr>
                                            <td>

                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">
                                                <?=$list['order_desc']?>
                                            </td>
                                            <td class="text-right">
                                                <?php 
									if($list['order_type']=='DE'){
										$tatal = $tatal-$list['order_price'];echo '-';
									}else{
										$tatal = $tatal+$list['order_price'];
									}
									 
									?>
                                                <?=number_format($list['order_price'],2)?>

                                            </td>


                                        </tr>
                                        <?php $i++; } ?>
                                        <?php } ?>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>ราคารวม</td>
                                            <td class="text-right">
                                                <?php if($shippingInfo['status']>1 || $list['tracking_info']['status_t']==6){ ?>

                                                <?=number_format($total_track,2)?>

                                                <?php }else{ echo '0.00';} ?>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <td>ค่าจัดส่ง</td>
                                            <td class="text-right">                                                
                                                <?php $tatal = $tatal+$shippingInfo['shipping_th_price']; ?>
                                                <?=number_format($shippingInfo['shipping_th_price'],2)?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>ค่าบรรจุภัณฑ์</td>
                                            <td class="text-right">                                                
                                                <?php $tatal = $tatal+$shippingInfo['shipping_th_service_price']; ?>
                                                <?=number_format($shippingInfo['shipping_th_service_price'],2)?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="">อื่นๆ</td>
                                            <td class="text-right">                                                
                                                <?php $tatal = $tatal+$shippingInfo['shipping_other_price']; ?>
                                                <?=number_format($shippingInfo['shipping_other_price'],2)?>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class=""><b>รวม</b></td>
                                            <td class="text-right">
                                                <?php if($shippingInfo['status']>1 || $list['tracking_info']['status_t']==6){ ?>
                                                <h4><b><?=number_format($tatal,2)?></b></h4>
                                                 <?php }else{ echo '<h4><b>0.00</b></h4>';} ?>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer text-right" style="padding-left: 10%">



                </div>

            </div>
        </div>



    </div>

</section>