<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Tracking List
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <span class="pull-left"><i class="fa fa-list"></i> แก้ไข Tracking</span>
                                <div class="pull-right">
                                    <a href="#/ordermanagement/tracking/" class="btn btn-default">Back</a>
                                </div>
                                <!-- Edit By Weerasak 28/02/2565 -->
                                <div class="pull-right">
                                    <form class="form-inline">
                                        <div class="form-group mx-sm-3 mb-2">
                                        <label for="inputTrack" class="sr-only">Tracking Number</label>
                                        <input type="text" class="form-control" id="inputTrack" placeholder="Tracking Number">
                                        </div>
                                        <button type="button" class="btn btn-default mb-2" style="margin-right:3px;" onclick="getTracking();">ค้นหา</button>                                                                                
                                    </form>
                                </div> 
                                <!-- End -->
                            </div>
                            <div class="clearfix"></div>
                            <div class="panel-body">
                                <form class="form-horizontal" id="createFrm">
                                    <input type="hidden" name="mode" value="updatetracking" />
                                    <input type="hidden" name="tracking_id" value="<?=$trackingInfo['tracking_id']?>" />
                                    <?php $dts='0'; if($trackingInfo['tracking_id']!=''){ $dts = '1'; } ?>
                                    <input type="hidden" id="codecheck" value="<?=$dts?>" />
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">แทรค</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control text-left" id="trackingno" name="tracking" placeholder="Tracking" value="<?=$trackingInfo['tracking']?>" readonly="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">รหัสลูกค้า</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="member_code" id="member_code" placeholder="Member Code" value="<?=$trackingInfo['member_code']?>" onchange="checkmemberinfo(this);">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">ร้าค้าที่</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="saller_name" placeholder="Saller No." value="<?=$trackingInfo['saller_name']?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">เลขที่ออเดอร์</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="order_id" placeholder="Oder ID." value="<?=$trackingInfo['order_id']?>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">ประเภทสินค้า</label>
                                        <div class="col-sm-10">
                                            <?php $shipby = GF::masterdataList('1'); ?>
                                            <select class="form-control" name="order_type" id="order_type">
							      <?php foreach($shipby as $master){ ?>
							      		<option value="<?=$master['id']?>" <?php if($master['id']==$trackingInfo['order_type_t']){ ?>selected=""<?php } ?>> <?=$master['master_name']?></option>
							      <?php } ?>
							      </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">สถานะ</label>
                                        <div class="col-sm-10">
                                            <?php $shipby = GF::masterdataList('3'); ?>
                                            <select class="form-control" name="status">
							      <?php foreach($shipby as $master){ ?>
							      		<option value="<?=$master['master_value']?>"  <?php if($master['master_value']==$trackingInfo['status_t']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
							      <?php } ?>
							      </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">น้ำหนัก</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="weight" onkeypress="numberonly(event);" onchange="calWeight();" id="weight" placeholder="" value="<?=$trackingInfo['weight']?>">
                                        </div>
                                        <div class="col-sm-2">
                                            กิโลกรัม
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">ขนาด</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="dime_x" onkeypress="numberonly(event);" id="dime_x" onchange="calDimention();" placeholder="" value="<?=$trackingInfo['dime_x']?>">
                                            <p class="text-right">
                                                ซม.
                                            </p>
                                        </div>
                                        <div class="col-sm-2">

                                            <input type="text" class="form-control" name="dime_y" onkeypress="numberonly(event);" id="dime_y" onchange="calDimention();" placeholder="" value="<?=$trackingInfo['dime_y']?>">
                                            <p class="text-right">
                                                ซม.
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="dime_w" onkeypress="numberonly(event);" id="dime_w" onchange="calDimention();" placeholder="" value="<?=$trackingInfo['dime_w']?>">
                                            <p class="text-right">
                                                ซม.
                                            </p>
                                        </div>
                                        <label for="inputEmail3" class="col-sm-1 control-label">=</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="cbm" onkeypress="numberonly(event);" id="cbm" placeholder="" value="<?=$trackingInfo['cbm']?>" readonly="">
                                        </div>
                                        <div class="col-sm-1">
                                            คิว
                                        </div>
                                    </div>
                                    <?php 
                                    if($trackingInfo['cbm']<=0 && $trackingInfo['weight']<=0){ $trackingInfo['price_weight'] = 0; $trackingInfo['price_dimen']=0;
                                }else if($trackingInfo['cbm']<=0 && $trackingInfo['weight']<1){ $trackingInfo['price_weight'] = $trackingInfo['price_weight']; 
                                }else if($trackingInfo['cbm']<=0 && $trackingInfo['weight']>1 && $trackingInfo['status_t'] < 6){ 

                                $trackingInfo['price_weight'] = 0; $trackingInfo['price_dimen']=0;

                            }
                                    ?>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">ค่าใช้จ่ายตาม น้ำหนัก</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control text-right" onkeypress="numberonly(event);" name="price_weight" id="price_weight" placeholder="Price Weight" value="<?=$trackingInfo['price_weight']?>" readonly="">
                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 control-label">บาท</label>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">ค่าใช้จ่ายตาม ขนาด</label>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control text-right" onkeypress="numberonly(event);" name="price_dimen" id="price_dimen" placeholder="Price Dimention" value="<?=$trackingInfo['price_dimen']?>" readonly="">
                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 control-label">บาท</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">ค่าใช้จ่ายอื่น ๆ</label>
                                        <div class="col-sm-4">
                                            <textarea class="form-control" name="other_desc" placeholder="Other Desc"><?=$trackingInfo['other_desc']?></textarea>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control text-right" onkeypress="numberonly(event);" name="other_price" placeholder="Other Price" value="<?=$trackingInfo['other_price']?>">

                                        </div>
                                        <label for="inputEmail3" class="col-sm-2 control-label">หยวน</label>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <a href="#/ordermanagement/tracking/" class="btn btn-success " style="margin: 0.5%;">Back</a>



                    <button type="button" class="btn btn-primary pull-right" onclick="saveTracking();">Save</button>

                </div>
                <!-- /.box-footer -->

            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>ข้อมูล Tracking
                </div>

                <div class="box-body">
                    <div class="col-sm-2">
                        ประเภทสินค้า :
                    </div>
                    <div class="col-sm-9">
                        <?=$trackingInfo['order_type']?>
                    </div>
                    <div class="col-sm-2">
                        จำนวนกล่อง :
                    </div>
                    <div class="col-sm-9">
                        <?=$trackingInfo['num_box']?>
                    </div>
                    <div class="col-sm-2">
                        รูปภาพ :
                    </div>
                    <div class="col-sm-9">
                        <?php if($trackingInfo['tracking_img']!=''){ ?>
                        <img src="<?=$BASEURL?>/uploads/temp/<?=$trackingInfo['tracking_img']?>" style="max-width:100px;">
                        <?php } ?>
                    </div>
                    <div class="col-sm-2">
                        ตีลังไม้ :
                    </div>
                    <div class="col-sm-9">
                        <?php
                        if($trackingInfo['order_box']=='A'){echo 'ตีลังไม้';}
                        if($trackingInfo['order_box']=='B'){echo 'ไม่ตีลังไม้ ';}
                     ?>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-2">
                        หมายเหตุ :
                    </div>
                    <div class="col-sm-9">
                        <?=$trackingInfo['order_comment']?>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-barcode"></i>Tracking Status
                </div>

                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>สถานะ</td>
                                <td>วันที่</td>
                                <td>ผู้ทำรายการ</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if(count($trackingInfo['history'])>0){ foreach($trackingInfo['history'] as $history){ ?>
                            <tr>
                                <td>
                                    <?=$history['status_value']?> :
                                        <?=$history['status']?>
                                </td>
                                <td>
                                    <?=date('d-m-Y H:i:s',strtotime($history['create_dtm']))?>
                                </td>
                                <td>
                                    <?php $userinfo = GF::memberinfo($history['create_by']); ?>
                                    <?=$userinfo['user_name']?>
                                </td>
                            </tr>
                            <?php } } ?>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>

</section>


<?php //GF::print_r($trackingInfo); ?>