<script>
    supperid = "<?=$orderInfo['id']?>";
</script>

<style>
    .form-group .control-label {
        text-align: left;
    }
    
    tr.head-border th {
        border: 1px solid #cecece !important;
    }
</style>

<section class="content-header">
    <h1>
        Order Management
        <small></small>
    </h1>
</section>

<form name="tempFrm" id="tempFrm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp3" />
    <input type="text" name="item_id" id="item_id" value="" />
    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>
<form name="temp2Frm" id="temp2Frm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp3" />

    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>

<!-- Main content -->

<input type="hidden" id="cnrate" value="<?=$rate?>" />

<input type="hidden" name="mode" value="createitem" />
<input type="hidden" id="ordid" name="order_id" value="<?=$orderInfo['id']?>" />
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการสั่งซื้อ
                </div>

                <div class="box-body">

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_number']?></b></span>, สถานะ :
                                    <?php                                    
							           	$color_status = GF::order_color_status($orderInfo['status']);
							        ?>&nbsp;&nbsp;
                                        <select data-id="<?=$orderInfo['id']?>" class="form-control" style="width: 150px; float: right;" onchange="checngOrderStatus(this);">
							          	<?php if($orderInfo['status']=='1' || $orderInfo['status']=='2'){ ?>
								          	<option value="1" <?php if($orderInfo['status']=='1'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
								          	<option value="2" <?php if($orderInfo['status']=='2'){ ?>selected=""<?php } ?>>รอชำระเงิน</option>
								        <?php } ?>
								          	<option value="3" <?php if($orderInfo['status']=='3'){ ?>selected=""<?php } ?>>สังซื้อ</option>

								          	<!-- <option value="4" <?php if($orderInfo['status']=='4'){ ?>selected=""<?php } ?>>แจ้งจัดส่ง</option> -->
								          	<option value="5" <?php if($orderInfo['status']=='5'){ ?>selected=""<?php } ?>>เสร็จสิ้น</option>
								          	<option value="C" <?php if($orderInfo['status']=='C'){ ?>selected=""<?php } ?>>ยกเลิก</option>
								        </select>


                                </div>
                                <div class="pull-right">
                                    <?php if($orderInfo['status']=='1'){ ?>
                                    <button type="button" class="btn btn-success" data-id="<?=$orderInfo['id']?>" data-val="2" onclick="checngOrderStatusButton(this);">Approve</button>
                                    <?php } ?>
                                    <span style="color: red;">ค่าเงินหยวนขณะที่สั่งซื้อ : <?=$orderInfo['rate']?></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table ">
                                    <thead>

                                        <tr>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php 
                                            $total_yuan_b = 0;
                                            $total_yuan_a = 0;
                                            $num_pice = 1; $total_all=0;$total_allrmb=0;$total_true=0; $old_shop = ''; $old_number = ''; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; 
                                            $old_saller_num = 0;  
                                            $old_total_order_buy_amount = 0; //Weerasak 23-10-2564   
                                            $old_total_order_saller_buy_amount  =0; //hatairat 26-10-64                             
                                            $sallerArr = array();
                                            $i=1;
                                            foreach($itemList as $vals){                                          
                                                if($vals['item_typs_s']=='NR')
                                                {  
                                                    if($vals['saller_number'] != $old_saller_num)
                                                    {                                                                                                                                                                                                                                                                
                                                        $i = 1;
                                                        $old_saller_num = $vals['saller_number'];                                                        
                                                    }             
                                                    $sallerArr[$vals['saller_number']] = $vals['saller_number'].$i++;                 
                                                }                                            
                                            }                               
                                        
                                            //วนลูป items
                                            foreach($itemList as $vals)
                                            {
                                                if($vals['item_typs_s']=='NR'){ 
                                                $old_total_order_buy_amount += ($vals[product_buy_rmb] * $vals['product_buy_qty']);    // Weerasak 23-10-2564  
                                                $old_total_order_saller_buy_amount += ($vals[product_buy_rmb] * $vals['product_buy_qty']);    // hatairat 236-10-2564 

                                                //if($vals['product_saller_name']!='ไม่พบชื่อร้าน'){

                                                //เริ่มหัวตารางชื่อร้านค้า 1
                                                if($vals['product_saller_name']!=$old_shop && $vals['saller_number']!=$old_number)
                                                { 
                                                    $num_pice = 1; 
                                                    $old_total_order_saller_buy_amount = 0;
                                                    $old_total_order_saller_buy_amount += ($vals[product_buy_rmb] * $vals['product_buy_qty']);    // hatairat 236-10-2564 
                                        ?>
                                        <tr bgcolor="#ffeaef">
                                            <td colspan="3">
                                                ร้านค้า :
                                                <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                    <?=$vals['product_saller_name']?>
                                                </a>
                                            </td>
                                            <td colspan="3">
                                                Tracking No : <b><?=$vals['product_sku_1']?></b>
                                            </td>
                                            <td align="right" colspan="7">                                                
                                                <button class="btn btn-info btn-md" onclick="jumpto('<?=saller.$vals[saller_number]?>')">ดูยอดรวมร้านค้า</button>
                                            </td>
                                            <td align="right"></td>
                                        </tr>
                                        <tr class="head-border">
                                            <th style="text-align: center;" colspan="3" rowspan="2">รายการ</th>

                                            <th style="text-align: center;" rowspan="2">
                                                <nobr>สถานะ</nobr>
                                            </th>
                                            <th style="text-align: center;" colspan="4">ยอดก่อนสั่ง</th>
                                            <th style="text-align: center;" colspan="4">ยอดสั่งจริง</th>
                                            <?php if($orderInfo['status']=='1'){ ?>
                                            <th rowspan="2" style="text-align: center;">ลบ</th>
                                            <?php }else{ ?>
                                            <th rowspan="2"></th>
                                            <?php } ?>
                                        </tr>
                                        <tr class="head-border">
                                            <th style="text-align: center;">
                                                <nobr>ราคา(&yen;)</nobr>
                                            </th>
                                            <th style="text-align: center;">จำนวน</th>
                                            <th style="text-align: center;">
                                                <nobr>รวม(&yen;)</nobr>
                                            </th>
                                            <th style="text-align: center;">
                                                <nobr>รวม(฿)</nobr>
                                            </th>

                                            <th style="text-align: center;" colspan="4">จำนวน</th>
                                        </tr>

                                                <!-- จบหัวตารางชื่อร้านค้า 1 -->
                                                <?php 
                                                    $old_shop=$vals['product_saller_name']; 
                                                    $im_sale_no=1; 
                                                    $old_number=$vals['saller_number'];  
                                                } ?>

                                                <!-- เริ่มหัวตารางชื่อร้านค้า 2 -->
                                                <?php 
                                                    if($vals['product_saller_name']==$old_shop && $vals['saller_number']!=$old_number)
                                                    { 
                                                        $num_pice = 1; 
                                                ?>
                                        
                                        <tr bgcolor="#ffeaef">

                                            <td colspan="3">
                                                ร้านค้า :
                                                <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                                    <?=$vals['product_saller_name']?>
                                                </a>
                                            </td>
                                            <td colspan="3">
                                                Tracking No : <b><?=$vals['product_sku_1']?></b>
                                            </td>
                                            <td align="right" colspan="5">                                                
                                                <button class="btn btn-info btn-md" onclick="jumpto('<?=saller.$vals[saller_number]?>')">ดูยอดรวมร้านค้า</button>
                                            </td>
                                        </tr>
                                        <tr class="head-border">
                                            <th style="text-align: center;" colspan="3" rowspan="2">รายการ</th>

                                            <th style="text-align: center;" rowspan="2">
                                                <nobr>สถานะ</nobr>
                                            </th>
                                            <th style="text-align: center;" colspan="4">ยอดก่อนสั่ง</th>
                                            <th style="text-align: center;" colspan="4">ยอดสั่งจริง</th>
                                            <?php if($orderInfo['status']=='1'){ ?>
                                            <th rowspan="2" style="text-align: center;">ลบ</th>
                                            <?php }else{ ?>
                                            <th rowspan="2"></th>
                                            <?php } ?>
                                        </tr>
                                        <tr class="head-border">
                                            <th style="text-align: center;">
                                                <nobr>ราคา(&yen;)</nobr>
                                            </th>
                                            <th style="text-align: center;">จำนวน</th>
                                            <th style="text-align: center;">
                                                <nobr>รวม(&yen;)</nobr>
                                            </th>
                                            <th style="text-align: center;">
                                                <nobr>รวม(฿)</nobr>
                                            </th>
                                            <th style="text-align: center;" colspan="4">จำนวน</th>
                                        </tr>

                                                <!-- จบหัวตารางชื่อร้านค้า 2 -->
                                                <?php 
                                                    $old_shop=$vals['product_saller_name']; 
                                                    $im_sale_no=1; 
                                                    $old_number=$vals['saller_number']; 
                                                    } 
                                                ?>



                                        <!-- ส่วนแสดงรายละเอียด -->
                                        <tr <?php if($vals[ 'status']=='14' ){ ?>class="bg-gray disabled color-palette"
                                            <?php } ?>
                                            <th width="10">
                                                <!-- <span class="text-warning"><?=$num_pice?></span> -->
                                            </th>
                                            <td width="60">
                                                <img class="thumbnail" style="width: 150px;margin-bottom:0px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>" />

                                                <?php if($orderInfo['status']=='1'){ ?>
                                                <div class="fileUpload btn btn-primary btn-xs">
                                                    <span class="up-text">Upload</span><span class="preTemp" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                                    <input id="uploadBtn" type="file" class="upload" data-item="<?=$vals['id']?>" onchange="uploadfiletempAdmin(this);" />
                                                </div>
                                                <?php } ?>
                                                <br />
                                                <nobr>ร้านค้าที่ : <input type="text" data-id="<?=$vals['id']?>" class="text-center" style="width: 60px;" value="<?=$vals['saller_number']?>" onchange="updateSaller(this);" /></nobr>

                                            </td>
                                            <td width="30%">
                                                <?php if($vals['product_link']!=''){ ?>
                                                <a href="<?=$vals['product_link']?>" target="_blank">
                                                    <?=$vals['product_title']?>
                                                </a><br />
                                                <?php }else{ ?>
                                                <h4>Tracking No : <b><?=$vals['product_sku_1']?></b></h4>
                                                <?php } ?>

                                                <?php foreach($vals['option'] as $val_op){ ?>
                                                <?=$val_op['option_name']?> : <b><?=$val_op['option_value']?></b>&nbsp;&nbsp;
                                                    <?php } ?>
                                                    <br />
                                                    <select class="form-control" data-id="<?=$vals['id']?>" name="order_type" id="order_type" onchange="itemType(this);" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""<?php } ?>>
                                                <?php $shipby = GF::masterdataList('1'); ?>
                                                <?php foreach($shipby as $master){ ?>
                                                    <option value="<?=$master['id']?>" <?php if($vals['order_type']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_name']?></option>
                                                <?php  } ?>
      								      </select>                                                    
                                                    <br />
                                                    <span>หมายเหตุ</span>
                                                    <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""<?php } ?>><?=$vals['note']?></textarea>
                                            </td>
                                            <td>
                                                <?php $cvmaster = GF::masterdataval('3',$vals['status']); echo $cvmaster['master_name']; ?>
                                            </td>
                                            <td style="text-align: center;">
                                                <input maxlength="10" class="form-control" onkeypress="numberonly(event);" style="width:80px; text-align:center;" type="text" value="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-qty="<?=$vals['product_qty']?>" data-id="<?=$vals['id']?>"
                                                    onchange="updateYuan(this);" class="" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""
                                                <?php } ?>/>
                                            </td>
                                            <td style="text-align: center;"> <input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;" type="text" value="<?=$vals['product_qty']?>" data-rmb="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>"
                                                    data-id="<?=$vals['id']?>" onchange="updateQTY(this);" class="" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""
                                                <?php } ?>/> 
                                            </td>
                                            <td style="text-align: center;"><nobr>&yen;
                                                <?=number_format($vals['product_price_rmb']*$vals['product_qty'],2)?></nobr>
                                            </td>
                                            <td style="text-align: center;">
                                                <?php
                                                    $totalbaht = ($vals['product_price_rmb']*$vals['product_qty'])*$orderInfo['old_rate'];
                                                    $totalrmb = $vals['product_price_rmb']*$vals['product_qty'];
                                                    $total_buy = ($vals['product_buy_rmb']*$vals['product_buy_qty'])*$orderInfo['rate'];
                                                ?>
                                                    <?=number_format($totalbaht,2)?>
                                            </td>
                                            <td style="text-align: center;" colspan="4">

                                                <?=$vals['product_buy_qty']?>
                                            </td>
                                            <td valign="middle">
                                                <?php if($orderInfo['status']=='1'){ ?>
                                                <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <!-- จบส่วนแสดงรายละเอียด -->
                                <?php
                                    //} //จบเงื่อนไขไม่พบชื่อร้านค้า
                                    $total_all=$total_all+$totalbaht;
                                    $total_allrmb=$total_allrmb+$totalrmb;
                                    //$cn_cn = $cn_cn+$vals['ship_cn_cn'];
                                    //$cn_th = $cn_th+$vals['ship_cn_th'];
                                    $total_true = $total_true+$total_buy;
                                    $ss = $vals['saller_number'].$num_pice;
                                    //echo $total_true;
                                    $ck++; $num_pice++;                                     
                                 } //จบวนลูป items
                                ?>
                               

                     <!-- edit by hataitrat 17/10/2564 -->
                           <?php if(in_array($ss,$sallerArr)){  
                            $keycheck = NULL;
                            $price_yuan = 0;
                            $data_idss = 0;
                            $sallerOrderAmount = 0;
                            $sallerDiscount = 0;
                            $sallerShipping = 0;
                            $netAmount = 0;
                            if(count($shipItem['data'])>0){
                                $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);                        
                                if($keysearch!==false){
                                    $keycheck = $keysearch;
                                    $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                                    $data_idss = $shipItem['data'][$keysearch]['item_id'];
                                    $cn_cn = $cn_cn+$price_yuan;

                                    $sallerOrderAmount = $shipItem['data'][$keysearch]['saller_amount_rmb']; 
                                    $sallerDiscount = $shipItem['data'][$keysearch]['saller_discount_rmb'];
                                    $sallerShipping = $shipItem['data'][$keysearch]['saller_shipping_rmb'];

                                    $netAmount = ($sallerOrderAmount + $sallerShipping) - $sallerDiscount;
                                }
                            }

                            if($netAmount == 0)
                                {
                                    //$sallerShipping = $price_yuan;
                                    //$sallerOrderAmount = $old_total_order_saller_buy_amount;
                                   //$netAmount = $old_total_order_saller_buy_amount;
                                   $sallerShipping = $price_yuan;
                                   foreach($orderBySaller as $s)
                                   {
                                       if($s[saller_number] == $vals['saller_number'])
                                           $sallerOrderAmount = $s[amount];
                                   }
                                   $netAmount = $sallerOrderAmount + $sallerShipping;  
                                }
                                
                        ?>
                        <thead>
                            <tr bgcolor="#FFEAEF">
                                <td id="<?='saller'.$vals['saller_number']?>" colspan="2"><b>ยอดรวมร้าน</b></td>			
                                <td align="right" colspan="12">
                                    <table>
                                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่ง</td>
                                        <td>
                                            <span class="text-red"><b><?=$sallerOrderAmount?></b></span>
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                        <td style="padding: 0px 10px 0px 10px;">ค่าส่งในจีน</td>
                                        <td>
                                            <span class="text-red"><b><?=$sallerShipping?></b></span>
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                        <td style="padding: 0px 10px 0px 10px;">ส่วนลด</td>
                                        <td>    
                                            <span class="text-red"><b><?=$sallerDiscount?></b></span>                                            
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td style="background-color:#FFF8F9">&nbsp;</td>
                                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่งจริง</td>
                                        <td>
                                            <span class="text-red"><b><?=$netAmount?></b></span>
                                        </td>
                                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                                        <td>
                                            <div class="col-sm-3 text-right">
                                                <?php if($vals['saller_image']!=''){ ?>                                                    
                                                <a class="btn btn-info btn-xs" onclick="$('#modal-img-pic').attr('src','<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>');$('#imgsModal').modal('show');" href="javascript:;">ดูรูป</a>

                                                <?php } ?>
                                            </div>
                                            <div class="col-sm-5">
                                                <form id="saller_<?=$vals['saller_number']?>">
                                                    <input type="hidden" name="mode" value="uploadseller">
                                                    <input type="hidden" name="saller_number" value="<?=$vals['saller_number']?>">
                                                    <input type="hidden" name="order_id" value="<?=$orderInfo['id']?>">
                                                    <input type="file" name="file_seller" />
                                                </form>
                                            </div>
                                        </td>
                                        <td><button type="button" class="btn btn-info btn-xs" onclick="saveImagSaller('<?=$orderInfo['id']?>','<?=$vals['saller_number']?>');">Upload</button></td>
                                    </table>
                                </td>						
                            </tr> 
                            <tr height="3"></tr>                               
                            <tr><td colspan="14"></td></tr>                            
                        </thead>                          
                    <?php } ?>
                    <!-- END edit by hatairat 17/10/2564 -->

                                            <?php } ?>
                                            <?php foreach($itemList as $vals){ ?>
                                            <?php if($vals['item_typs_s']!='NR'){ ?>
                                            <tr>

                                                <td class="text-center">
                                                    <?php if($vals['item_typs_s']=='DE'){ ?>
                                                    <span class="text-red">คืนเงิน</span>
                                                    <?php }else{ ?>
                                                    <span class="text-green">เพิ่มเงิน</span>
                                                    <?php } ?>
                                                </td>
                                                <td>
                                                    <b><?=$vals['product_title']?></b>
                                                    <br />
                                                    <br />
                                                    <span>หมายเหตุ</span>
                                                    <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;"><?=$vals['note']?></textarea>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">                                                   
                                                </td>
                                                <td class="text-center">                                                    
                                                </td>
                                                <td colspan="3"></td>
                                                <td class="text-center">
                                                    <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" value="<?=$vals['product_price_thb']?>" data-id="<?=$vals['id']?>" onchange="updateBath(this);"
                                                    />

                                                </td>
                                                <td valign="middle">
                                                    <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs "><i class="fa fa-times"></i></button>
                                                </td>

                                            </tr>

                                            <?php
							      			if($vals['item_typs_s']=='DE'){
							      				$total_all=$total_all-$vals['product_price_thb'];
                                       $total_true=$total_true-$vals['product_price_thb'];
							      			}else if($vals['item_typs_s']=='IN'){
							      				$total_all=$total_all+$vals['product_price_thb'];
                                       $total_true=$total_true+$vals['product_price_thb'];
							      			}
							      		 ?>
                                                <?php  } ?>

                                                <?php } ?>
                                                <?php
                                 $total_all = ($total_all+$orderInfo['order_pay_ship'])-$orderInfo['order_discount'];
                                 //$total_all = $total_all+($cn_cn*$orderInfo['rate']);

                                 //$total_true = $total_true+($orderInfo['order_pay_cn']*$orderInfo['rate']);
                                 $total_true = ($total_true)-$orderInfo['order_discount'];
                                 $total_true = $total_true+($cn_cn*$orderInfo['rate']);
                                 if($orderInfo['export']=='N'){$total_true=0;}
									      ?>
								
                                <!--Start Edit by hatairat 19-10-2564-->
<?php
$totalAmount = 0;
$totalShipping = 0;
$totalDiscount = 0;
foreach($shipItem['data'] as $item){
    $totalAmount = $totalAmount + $item['saller_amount_rmb']; 

    if($item['saller_shipping_rmb'] == 0)
        $totalShipping += $item['price_rmb'];
    else
        $totalShipping = $totalShipping + $item['saller_shipping_rmb'];

    $totalDiscount = $totalDiscount + $item['saller_discount_rmb'];    
  
}
if($totalAmount == 0)
{
    foreach($orderBySaller as $s)
    {
        $totalAmount += $s[amount];
    }
}
$totalNetAmount = (($totalAmount + $totalShipping)-$totalDiscount)
?>
                                          <tr>
									<td colspan="12" >ยอดรวมก่อนสั่ง</td>
									<td align="right"><?=number_format($total_yuan_b,2)?></td>
									<td >RMB</td>
								</tr>
								<tr>
									<td colspan="12" style="font-weight: bold;">รวม</td>
									<td style="font-weight: bold;"align="right"><?=number_format($total_yuan_b,2)?></td>
									<td style="font-weight: bold;">RMB</td>
								</tr>
								<tr>
									<td colspan="12" >ยอดรวมหลังสั่ง</td>
                                    <?php if($totalAmount == 0 ){ ?>
									<td align="right"><?=number_format($total_yuan_a,2)?></td>
                                    <?php }else{ ?>
                                    <td align="right"><?=number_format($totalAmount,2)?></td>
                                    <?php } ?>
									<td >RMB</td>
								</tr>
								<tr>
									<td colspan="12" >รวมค่าจัดส่ง ร้านจีน</td>
                                    <td align="right"><?=number_format($totalShipping,2)?></td>                               
									<td >RMB</td> 
								</tr>
                                <tr>
									<td colspan="12" >รวมส่วนลด</td>
									<td  align="right"><?=number_format($totalDiscount,2)?></td>
									<td >RMB</td>
								</tr>
								<tr>
									<td colspan="12" style="font-weight: bold;">รวม</td>
                                    <?php if($totalNetAmount == 0 ){ ?>
									<td style="font-weight: bold;" align="right"><?=number_format(($total_yuan_a+$cn_cn),2)?></td>
                                    <?php }else{ ?>
									<td style="font-weight: bold;" align="right"><?=number_format($totalNetAmount,2)?></td>
                                    <?php } ?> 
                                    <td style="font-weight: bold;">RMB</td>
								</tr>
								<!--End edit hatairat 19/10/64-->	
								<tr>
									<td colspan="12" style="font-weight: bold;">ยอดคืน / ยอดค้าง</td>
                                    <?php if($totalNetAmount == 0 ){ ?>
									<td style="font-weight: bold;" align="right"><?php
									if(($total_yuan_a+$cn_cn)==0){
										echo "0.00";
									}else{?>
										 <?php if(($total_yuan_a+$cn_cn)>($total_yuan_b)){?>
										<span class="text-red"><?php echo number_format((($total_yuan_a+$cn_cn)-($total_yuan_b)),2); ?></span>
										 <?php }else{?>
										 <span class="text-green"><?php echo number_format((($total_yuan_a+$cn_cn)-($total_yuan_b)),2); ?></span>
										  <?php } ?>
									<?php }
									?></td>
                                    <?php }else{ ?>
                                        <td style="font-weight: bold;" align="right"> 
                                        <?php if(($totalNetAmount)>($total_yuan_b)){?>
                                            <span class="text-red"><?=number_format(($totalNetAmount)-($total_yuan_b),2)?></span>  
                                            <?php }else{?>
                                                <span class="text-green"><?=number_format(($totalNetAmount)-($total_yuan_b),2)?></span>   
                                                <?php } ?> </td>
                                        <?php } ?>   
									<td style="font-weight: bold;">RMB</td>
								</tr>                                                  
                                                    <?php
									      		$tt_fund = $total_all-$total_true;
									      	?>
                                                        <?php if($tt_fund!=0){ ?>
                                                        <?php if($tt_fund>0){  ?>
                                                        <?php }else{ ?>
                                                        <?php } ?>
                                                        <?php } ?>
                                    </tbody>
                                    <tfoot class="hidden">
                                        <tr>
                                            <td class="text-center bg-orange disabled color-palette" align="center" colspan="11">
                                                <span>เพิ่ม/ลด ค่าใช้จ่าย</span>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                ประเภทรายการ
                                            </td>
                                            <td class="text-center" colspan="3">
                                                รายละเอียด
                                            </td>

                                            <td style="text-align: center;"></td>
                                            <td style="text-align: center;"></td>
                                            <td style="text-align: center;">
                                                <nobr>รวม (บาท)</nobr>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="2">
                                                <select class="form-control" name="item_type">
									          	<option value="IN">เพิ่มเงิน</option>
									          	<option value="DE">คืนเงิน</option>
									          </select>
                                            </td>
                                            <td colspan="3">
                                                <textarea class="form-control" name="item_name"></textarea>
                                            </td>

                                            <td class="text-center">                                                
                                            </td>
                                            <td class="text-center">                                                
                                            </td>

                                            <td class="text-center">
                                                <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" />

                                            </td>
                                            <td class="text-center">
                                                <button type="button" onclick="addItem();" class="btn btn-info">เพิ่ม</button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4" style="">
<?php if($totalNetAmount == 0 ){ ?>							
<h3>รวม <b><?php echo $total_yuan_a;?></b> RMB
									</h3>
                                    <?php }else{?>
                                        <h3>รวม <b><?php echo $totalAmount;?></b> RMB   <?php } ?>
                                </div>
                                <div class="col-sm-4" style="">
                                    <?php if($totalNetAmount == 0 ){ ?>
                                <h3>ยอดคืน / ยอดค้าง  <b><?php
									if(($total_yuan_a+$cn_cn)==0){
										echo "0.00";
									}else{?>
										 <?php if(($total_yuan_a+$cn_cn)>($total_yuan_b)){?>
										<span class="text-red"><?php echo number_format((($total_yuan_a+$cn_cn)-($total_yuan_b)),2); ?></span>
										 <?php }else{?>
										 <span class="text-green"><?php echo number_format((($total_yuan_a+$cn_cn)-($total_yuan_b)),2); ?></span>
										  <?php } ?>
									<?php }
									?> </b>
									RMB
									</h3>
                                    <?php }else{ ?>
                                        <h3>ยอดคืน / ยอดค้าง  <b><?php
                                            if(($totalNetAmount)==0){
                                                echo "0.00";
                                            }else{?>
                                                    <?php if(($totalNetAmount)>($total_yuan_b)){?>
                                                        <span class="text-red"><?=number_format(($totalNetAmount)-($total_yuan_b),2)?></span>  
                                                        <?php }else{?>
                                                            <span class="text-green"><?=number_format(($totalNetAmount)-($total_yuan_b),2)?></span>   
                                                            <?php } ?> </td>
                                                    <?php } ?> 
                                            <?php }
                                            ?> </b>
                                            RMB
                                            </h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-12" style="text-align: right;">

                        <a href="#/ordermanagement/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>

                    </div>


                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">



                </div>

            </div>
        </div>
    </div>

</section>

<div class="modal fade" id="imgsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">รูป</h4>
            </div>
            <div class="modal-body">
                <img src="" id="modal-img-pic" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>
