<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left"><i class="fa fa-list"></i> รายการสั่งซื้อ / เลขที่ออเดอร์ : <span style="color: green;"><b><?=$orderInfo['order_number']?></b></span>, สถานะ :
                <?php
                       $color_status = 'blue';
                       if($orderInfo['status']=='C'){
                        $color_status = 'red';
                    }
                    if($orderInfo['status']=='A'){
                        $color_status = 'green';
                    }
                    if($orderInfo['status']=='V'){
                        $color_status = 'orange';
                    }
                    if($orderInfo['status']=='PW'){
                        $color_status = 'brown';
                    }
                    if($orderInfo['status']=='PA'){
                        $color_status = 'pink';
                    }
                  ?>&nbsp;&nbsp;
                    <!--<span style="color:<?=$color_status?>;"><?=$orderInfo['status_text']?></span>-->
                    <select data-id="<?=$orderInfo['id']?>" class="form-control" style="width: 150px; float: right;" onchange="checngOrderStatus(this);">
                      <?php if($orderInfo['status']=='1' || $orderInfo['status']=='2'){ ?>
                          <option value="1" <?php if($orderInfo['status']=='1'){ ?>selected=""<?php } ?>>รอตรวจสอบ</option>
                          <option value="2" <?php if($orderInfo['status']=='2'){ ?>selected=""<?php } ?>>รอชำระเงิน</option>
                    <?php } ?>
                          <option value="3" <?php if($orderInfo['status']=='3'){ ?>selected=""<?php } ?>>สังซื้อ</option>

                          <!-- <option value="4" <?php if($orderInfo['status']=='4'){ ?>selected=""<?php } ?>>แจ้งจัดส่ง</option> -->
                          <option value="5" <?php if($orderInfo['status']=='5'){ ?>selected=""<?php } ?>>เสร็จสิ้น</option>
                          <option value="C" <?php if($orderInfo['status']=='C'){ ?>selected=""<?php } ?>>ยกเลิก</option>
                    </select>


            </div>
            <div class="pull-right">
                <?php if($orderInfo['status']=='1'){ ?>
                <button type="button" class="btn btn-success" data-id="<?=$orderInfo['id']?>" data-val="2" onclick="checngOrderStatusButton(this);">Approve</button>
                <?php } ?>
                <span style="color: red;">ค่าเงินหยวนขณะที่สั่งซื้อ : <?=$orderInfo['rate']?></span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table ">
                <thead>

                    <tr>

                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
             <th style="text-align: center;" colspan="2">รายการ</th>
             <th style="text-align: center;"><nobr>สถานะ</nobr></th>

                      <th style="text-align: center;"><nobr>ราคาหยวน</nobr></th>

                      <th style="text-align: center;">จำนวน</th>

                      <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
              <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>
                      <th style="text-align: center;"><nobr>ยอดสั่งจริง</nobr><br />บาท</th>
                      <th style="text-align: center;"><nobr>รวม (บาท)</nobr></th>
                      <th></th>

          </tr> -->
                    <?php 
          $total_yuan_b = 0;
                    $total_yuan_a = 0;
          ?>
          <!-- Start edit by hatairat 20/10/2564 [14 Line]-->
                    <?php $num_pice = 1; $total_all=0;$total_true=0; $old_shop = ''; $old_number = ''; $im_sale_no=1; $cn_cn = 0;$cn_th=0; $ck=1; 
                     
                     $old_saller_num = 0;  
                     $old_total_order_buy_amount = 0; //Weerasak 23-10-2564                                       
                     $sallerArr = array();
                     $i=1;
                     foreach($itemList as $vals){                                          
                         if($vals['item_typs_s']=='NR'){  
                             if($vals['saller_number'] != $old_saller_num)
                             {
                                                                                                                                                                                                                                            
                                 $i = 1;
                                 $old_saller_num = $vals['saller_number'];
                                 
                             }             
                             $sallerArr[$vals['saller_number']] = $vals['saller_number'].$i++;                 
                         }                                            
                     }    

                     foreach($itemList as $vals){ ?>
                        <?php if($vals['item_typs_s']=='NR'){ 
                            $old_total_order_buy_amount += ($vals[product_buy_rmb] * $vals['product_buy_qty']);    // Weerasak 23-10-2564  

                            ?>
                    <?php if($vals['product_saller_name']!=$old_shop && $vals['saller_number']!=$old_number){ $num_pice = 1; ?>
                    <tr bgcolor="#ffeaef">
                        <!--<td></td>-->
                        <td colspan="3">
                            ร้านค้า :
                            <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                <?=$vals['product_saller_name']?>
                            </a>
                        </td>
                        <td colspan="3">
                            Tracking No : <b><?=$vals['product_sku_1']?></b>
                        </td>
                        <td>
                            <div class="col-sm-3">
                                <?php if($vals['saller_image']!=''){ ?>
                                <!-- <a href="<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>" target="_blank"><img src="<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>" style="max-width:40px;"></a>-->
                                <a class="btn btn-info btn-xs" onclick="$('#modal-img-pic').attr('src','<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>');$('#imgsModal').modal('show');" href="javascript:;">ดูรูป</a>
                                <?php } ?>
                            </div>


                        </td>
                        <td colspan="5"> <!-- Edit by hatairat 16/10/2564 -->
                        <!--<td class="text-right" colspan="6">
                            <?php
                      $keycheck = NULL;
                      $price_yuan = 0;
                      $data_idss = 0;
                      if(count($shipItem['data'])>0){
                         $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                         if($keysearch!==false){
                            $keycheck = $keysearch;
                            $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                            $data_idss = $shipItem['data'][$keysearch]['item_id'];
                            $cn_cn = $cn_cn+$price_yuan;
                         }
                      }
                   ?>
                                ค่าจัดส่งจีน :
                                <?=$price_yuan?> หยวน
                        </td>-->
                        <td align="right" colspan="5">
                            <!-- <a href="javascript:void(0)" onclick="jumpto('<?=saller.$vals[saller_number]?>')" return false;>ดูยอดรวมร้าน</a> 
                            <button onclick="jumpto('<?=saller.$vals[saller_number]?>')">ดูยอดรวมร้านค้า</button>-->
                        </td><!-- Edit by hatairat 16/10/2564 -->
                    </tr>

                    <!-- <tr>
                        <th style="text-align: center;" colspan="3">รายการ</th>
                        <th style="text-align: center;">
                            <nobr>สถานะ</nobr>
                        </th>
                        
                        <th style="text-align: center;">
                            <nobr>ราคาหยวน</nobr>
                        </th>

                        <th style="text-align: center;">จำนวน</th>

                        <th style="text-align: center;">
                            <nobr>ยอดสั่งจริง</nobr><br />หยวน</th>
                        <th style="text-align: center;">
                            <nobr>ยอดสั่งจริง</nobr><br />จำนวน</th>
                        <th style="text-align: center;">
                            <nobr>ยอดสั่งจริง</nobr><br />บาท</th>
                        <th style="text-align: center;">
                            <nobr>รวม (บาท)</nobr>
                        </th>
                        <th></th>

                    </tr> -->
                    <tr class="head-border">
                        <th style="text-align: center;" colspan="3" rowspan="2">รายการ</th>

                        <th style="text-align: center;" rowspan="2">
                            <nobr>สถานะ</nobr>
                        </th>
                        <!-- <th style="text-align: center;" rowspan="2">
                            <nobr>หมายเหตุ</nobr>
                        </th> -->
                        <th style="text-align: center;" colspan="4">ยอดก่อนสั่ง</th>
                        <th style="text-align: center;" colspan="4">ยอดสั่งจริง</th>
                        <?php if($orderInfo['status']=='1'){ ?>
                        <th rowspan="2" style="text-align: center;">ลบ</th>
                        <?php }else{ ?>
                        <th rowspan="2"></th>
                        <?php } ?>
                    </tr>
                    <tr class="head-border">
                        <!-- <th style="text-align: center;" colspan="3">รายการ</th> -->
                        <!-- <th style="text-align: center;">
                                <nobr>สถานะ</nobr>
                            </th> -->
                        <!-- <th style="text-align: center;">
                                <nobr>หมายเหตุ</nobr>
                            </th> -->
                        <th style="text-align: center;">
                            <nobr>ราคา(&yen;)</nobr>
                        </th>

                        <th style="text-align: center;">จำนวน</th>
                        <th style="text-align: center;">
                            <nobr>รวม(&yen;)</nobr>
                        </th>
                        <th style="text-align: center;">
                            <nobr>รวม(฿)</nobr>
                        </th>
<!-- Edit by hatairat 19/10/2564 -->
                        <!--<th style="text-align: center;">
                            <nobr>ราคา(&yen;)</nobr>
                        </th>-->

                        <th style="text-align: center;" colspan="4">จำนวน</th>
                        <!--<th style="text-align: center;">
                            <nobr>รวม(&yen;)</nobr>
                        </th>-->
                        <!--<th style="text-align: center;">
                            <nobr>รวม(฿)</nobr>
                        </th>-->
<!-- Edit by hatairat 19/10/2564 -->

                    </tr>

                    <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $old_number=$vals['saller_number'];  } ?>

                    <?php if($vals['product_saller_name']==$old_shop && $vals['saller_number']!=$old_number){ $num_pice = 1; ?>
                    <tr bgcolor="#ffeaef">
                        <!--<td></td>-->
                        <td colspan="3">
                            ร้านค้า :
                            <a href="<?=$vals['product_saller_link']?>" target="_blank">
                                <?=$vals['product_saller_name']?>
                            </a>
                        </td>
                        <td colspan="3">
                            Tracking No : <b><?=$vals['product_sku_1']?></b>
                        </td>

                        <td colspan="5"><!-- Edit by hatairat 19/10/2564 -->
                        <!--<td class="text-right" colspan="7">
                            <?php
                      $keycheck = NULL;
                      $price_yuan = 0;
                      $data_idss = 0;
                      if(count($shipItem['data'])>0){
                         $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                         if($keysearch!==false){
                            $keycheck = $keysearch;
                            $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                            $data_idss = $shipItem['data'][$keysearch]['item_id'];
                            $cn_cn = $cn_cn+$price_yuan;
                         }
                      }
                   ?>
                                ค่าจัดส่งจีน :
                                <?=$price_yuan?> หยวน
                        </td>-->
                        <td align="right" colspan="5">
                            <!-- <a href="javascript:void(0)" onclick="jumpto('<?=saller.$vals[saller_number]?>')" return false;>ดูยอดรวมร้าน</a> -->
                            <button class="btn btn-info btn-md" onclick="jumpto('<?=saller.$vals[saller_number]?>')">ดูยอดรวมร้านค้า</button>
                        </td><!-- Edit by hatairat 19/10/2564 -->
                    </tr>

                    <tr class="head-border">
                        <th style="text-align: center;" colspan="3" rowspan="2">รายการ</th>

                        <th style="text-align: center;" rowspan="2">
                            <nobr>สถานะ</nobr>
                        </th>
                        <!-- <th style="text-align: center;" rowspan="2">
                                <nobr>หมายเหตุ</nobr>
                            </th> -->
                        <th style="text-align: center;" colspan="4">ยอดก่อนสั่ง</th>
                        <th style="text-align: center;" colspan="4">ยอดสั่งจริง</th>
                        <?php if($orderInfo['status']=='1'){ ?>
                        <th rowspan="2" style="text-align: center;">ลบ</th>
                        <?php }else{ ?>
                        <th rowspan="2"></th>
                        <?php } ?>
                    </tr>
                    <tr class="head-border">
                        <!-- <th style="text-align: center;" colspan="3">รายการ</th> -->
                        <!-- <th style="text-align: center;">
                                    <nobr>สถานะ</nobr>
                                </th> -->
                        <!-- <th style="text-align: center;">
                                    <nobr>หมายเหตุ</nobr>
                                </th> -->
                        <th style="text-align: center;">
                            <nobr>ราคา(&yen;)</nobr>
                        </th>

                        <th style="text-align: center;">จำนวน</th>
                        <th style="text-align: center;">
                            <nobr>รวม(&yen;)</nobr>
                        </th>
                        <th style="text-align: center;">
                            <nobr>รวม(฿)</nobr>
                        </th>
<!-- Edit by hatairat 19/10/2564 -->
                        <!--<th style="text-align: center;">
                            <nobr>ราคา(&yen;)</nobr>
                        </th>-->

                        <th style="text-align: center;">จำนวน</th>
                        <!--<th style="text-align: center;">
                            <nobr>รวม(&yen;)</nobr>
                        </th>
                        <th style="text-align: center;">
                            <nobr>รวม(฿)</nobr>
                        </th>--><!-- Edit by hatairat 19/10/2564 -->


                    </tr>

                    <?php $old_shop=$vals['product_saller_name']; $im_sale_no=1; $old_number=$vals['saller_number']; } ?>




                    <tr <?php if($vals[ 'status']=='14' ){ ?>class="bg-gray disabled color-palette"
                        <?php } ?>>

                        <th width="10">
                            <span class="text-warning"><?=$num_pice?></span>
                        </th>
                        <td width="60">
                            <img class="thumbnail" style="width: 150px;margin-bottom:0px;" src="<?=$BASEURL?>/uploads/product/<?=$vals['product_image']?>" />

                            <?php if($orderInfo['status']=='1'){ ?>
                            <div class="fileUpload btn btn-primary btn-xs">
                                <span class="up-text">Upload</span><span class="preTemp" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                <input id="uploadBtn" type="file" class="upload" data-item="<?=$vals['id']?>" onchange="uploadfiletempAdmin(this);" />
                            </div>
                            <?php } ?>
                            <br />
                            <nobr>ร้านค้าที่ : <input type="text" data-id="<?=$vals['id']?>" class="text-center" style="width: 60px;" value="<?=$vals['saller_number']?>" onchange="updateSaller(this);" /></nobr>

                        </td>
                        <td width="30%">
                            <?php if($vals['product_link']!=''){ ?>
                            <a href="<?=$vals['product_link']?>" target="_blank">
                                <?=$vals['product_title']?>
                            </a><br />
                            <?php }else{ ?>
                            <h4>Tracking No : <b><?=$vals['product_sku_1']?></b></h4>
                            <?php } ?>

                            <?php foreach($vals['option'] as $val_op){ ?>
                            <?=$val_op['option_name']?> : <b><?=$val_op['option_value']?></b>&nbsp;&nbsp;
                                <?php } ?>
                                <br />
                                <select class="form-control" data-id="<?=$vals['id']?>" name="order_type" id="order_type" onchange="itemType(this);" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""<?php } ?>>
                        <?php $shipby = GF::masterdataList('1'); ?>
                        <?php foreach($shipby as $master){ ?>
                            <option value="<?=$master['id']?>" <?php if($vals['order_type']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_name']?></option>
                        <?php  } ?>
                        </select>
                                <!-- ประเภทสินค้า : <b><?php $cvmaster = GF::masterdata($vals['order_type']); echo $cvmaster['master_name']; ?></b> -->
                                <br />
                                <!-- ประเภทการนำเข้า : <b><?php $cvmaster = GF::masterdata($vals['ship_by']); echo $cvmaster['master_name']; ?></b>
                          <br /> -->
                                <span>หมายเหตุ</span>
                                <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""<?php } ?>><?=$vals['note']?></textarea>
                        </td>
                        <td>
                            <!-- <?php $nmster = GF::masterdata($vals['status']); ?>
                            <nobr>
                                <?=$nmster['master_name']?>
                            </nobr> -->
                            <?php $cvmaster = GF::masterdataval('3',$vals['status']); echo $cvmaster['master_name']; ?>
                            <!--<select class="form-control" style="width: 150px;" data-id="<?=$vals['id']?>" onchange="itemStatus(this);">
                      <?php
                          $nmster = GF::masterdataval('3',$vals['status']);
                           ?>

                          <?php $trr = GF::masterdataList('3'); ?>

                          <?php foreach($trr as $master){ ?>

                              <option value="<?=$master['id']?>" <?php if($nmster['id']==$master['id']){ ?>selected=""<?php } ?>><?=$master['master_value']?> : <?=$master['master_name']?></option>
                          <?php } ?>
                      </select>-->
                            <!--<br />
                      <nobr>Trcking : <b><?=$vals['product_sku_1']?></b></nobr>-->

                        </td>
                        <!--<td>

                      </td>-->
                        <td style="text-align: center;">
                            <!--<?=number_format($vals['product_price_rmb'],2)?>/<?=$rate?>-->
                            <input maxlength="10" class="form-control" onkeypress="numberonly(event);" style="width:80px; text-align:center;" type="text" value="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-qty="<?=$vals['product_qty']?>" data-id="<?=$vals['id']?>"
                                onchange="updateYuan(this);" class="" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""
                            <?php } ?>/>
                        </td>
                        <td style="text-align: center;"> <input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;" type="text" value="<?=$vals['product_qty']?>" data-rmb="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>"
                                data-id="<?=$vals['id']?>" onchange="updateQTY(this);" class="" <?php if($orderInfo[ 'status']>=3|| $orderInfo['status']=='C'){ ?>disabled=""
                            <?php } ?>/> </td>

                        <td style="text-align: center;"><nobr>&yen;
                            <?=number_format($vals['product_price_rmb']*$vals['product_qty'],2)?></nobr>
                        </td>
                        <td style="text-align: center;">
                            <?php
                                $totalbaht = ($vals['product_price_rmb']*$vals['product_qty'])*$orderInfo['old_rate'];
                                $total_buy = ($vals['product_buy_rmb']*$vals['product_buy_qty'])*$orderInfo['rate'];
                            ?>
                                <?=number_format($totalbaht,2)?>
                        </td>
<!-- Edit by hatairat 19/10/2564 -->
                                            <!--
                        <td style="text-align: center;">
                            <?php $total_yuan_a += $vals['product_buy_rmb']*$vals['product_buy_qty']; ?>
                            <?php $total_yuan_b += $vals['product_price_rmb']*$vals['product_qty']; ?>
                            <?=number_format($vals['product_buy_rmb'],2)?>
                        </td>-->
                        <td style="text-align: center;" colspan="4">

                            <?=$vals['product_buy_qty']?>
                        </td>
                        <!-- Edit by hatairat 19/10/2564 -->
                                            <!--
                        <td style="text-align: center;">

                            <?=number_format($vals['product_buy_rmb']*$vals['product_buy_qty'],2)?>
                        </td>
                        <td style="text-align: right;">

                            <?php  ?>
                            <?=number_format($total_buy,2)?>
                                <!-- <input maxlength="10" readonly="" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;" type="text" value="<?=number_format($totalbaht,2)?>" data-id="<?=$vals['id']?>" onchange="updateBath(this);" /> 
                                <br />
                                <?php if($total_buy>0){ ?>
                                <?php if(($totalbaht-$total_buy)>0){ ?>
                                <span class="text-red">-<?=number_format(($totalbaht-$total_buy),2)?></span>
                                <?php $total_refund=$total_refund+($total_buy-$totalbaht); }else{ ?>
                                <span class="text-green">+<?=number_format(($total_buy-$totalbaht),2)?></span>
                                <?php $total_upfund=$total_upfund+($totalbaht-$total_buy); } ?>
                                <?php } ?>

                        </td>--><!-- Edit by hatairat 19/10/2564 -->



                        <?php //if($vals['status']=='E'){ $vals['product_price_thb']=0; } ?>

                        <!--<td valign="middle">
                          <button type="button" class="btn btn-danger btn-xs" onclick="delItem(this);" data-item="<?=$vals['id']?>" data-ord="<?=$orderInfo['id']?>"><i class="fa fa-times"></i></button>
                      </td>-->
                        <td valign="middle">
                            <?php if($orderInfo['status']=='1'){ ?>
                            <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                            <?php } ?>
                        </td>
                    </tr>

                    <?php
              $total_all=$total_all+$totalbaht;
              //$cn_cn = $cn_cn+$vals['ship_cn_cn'];
              //$cn_th = $cn_th+$vals['ship_cn_th'];
              $total_true = $total_true+$total_buy;              
              $ss = $vals['saller_number'].$num_pice; 
              //echo $total_true;
           $ck++; $num_pice++; } ?>

           <!-- edit by hataitrat 17/10/2564 -->
           <?php if(in_array($ss,$sallerArr)){  
            $keycheck = NULL;
            $price_yuan = 0;
            $data_idss = 0;
            $sallerOrderAmount = 0;
            $sallerDiscount = 0;
            $sallerShipping = 0;
            $netAmount = 0;
            if(count($shipItem['data'])>0){
                $keysearch = array_search($vals['saller_number'],$shipItem['keyname']);
                if($keysearch!==false){
                    $keycheck = $keysearch;
                    $price_yuan = $shipItem['data'][$keysearch]['price_rmb'];
                    $data_idss = $shipItem['data'][$keysearch]['item_id'];
                    $cn_cn = $cn_cn+$price_yuan;

                    $sallerOrderAmount = $shipItem['data'][$keysearch]['saller_amount_rmb']; 
                    $sallerDiscount = $shipItem['data'][$keysearch]['saller_discount_rmb'];
                    $sallerShipping = $shipItem['data'][$keysearch]['saller_shipping_rmb'];

                    $netAmount = ($sallerOrderAmount + $sallerShipping) - $sallerDiscount;
                }
            }
            if($netAmount == 0)
                                {
                                    $sallerOrderAmount = $old_total_order_buy_amount;
                                   $netAmount = $old_total_order_buy_amount;
                                }
        ?>
        <thead>
            <tr bgcolor="#FFEAEF">
                <td id="<?='saller'.$vals['saller_number']?>" colspan="2"><b>ยอดรวมร้าน</b></td>			
                <td align="right" colspan="12">
                    <table>
                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่ง</td>
                        <td>
                            <span class="text-red"><b><?=$sallerOrderAmount?></b></span>
                            <!--<?php if($orderInfo['export']=='Y'){ ?>                                            
                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=$sallerOrderAmount?>" data-order="<?=$orderInfo['id']?>" data-id="<?=$data_idss?>" onchange="updateOrderAmountSaller(this);">
                            <?php }else{ ?>
                            <span class="text-red"><b><?=$sallerOrderAmount?></b></span>
                            <?php } ?>-->
                        </td>
                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                        <td style="background-color:#FFF8F9">&nbsp;</td>
                        <td style="padding: 0px 10px 0px 10px;">ค่าส่งในจีน</td>
                        <td>
                            <span class="text-red"><b><?=$sallerShipping?></b></span>
                            <!--<?php if($orderInfo['export']=='Y'){ ?>
                            <input type="text" data-order="<?=$orderInfo['id']?>" data-saller="<?=$vals['saller_number']?>" data-id="<?=$data_idss?>" class="text-center" onkeypress="numberonly(event);" value="<?=$sallerShipping?>" onchange="updateCNShippingSaller(this);" style="width:50px;" />
                            <?php }else{ ?>
                            <span class="text-red"><b><?=$sallerShipping?></b></span>
                            <?php } ?>-->
                        </td>
                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                        <td style="background-color:#FFF8F9">&nbsp;</td>
                        <td style="padding: 0px 10px 0px 10px;">ส่วนลด</td>
                        <td>    
                            <span class="text-red"><b><?=$sallerDiscount?></b></span>                                            
                            <!--<?php if($orderInfo['export']=='Y'){ ?>
                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=$sallerDiscount?>" data-order="<?=$orderInfo['id']?>" data-id="<?=$data_idss?>" onchange="updateDiscountSaller(this);">
                            <?php }else{ ?>
                            <span class="text-red"><b><?=$sallerDiscount?></b></span>
                            <?php } ?>-->
                        </td>
                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                        <td style="background-color:#FFF8F9">&nbsp;</td>
                        <td style="padding: 0px 10px 0px 10px;">ยอดสั่งจริง</td>
                        <td>
                            <span class="text-red"><b><?=$netAmount?></b></span>
                            <!--<?php if($orderInfo['export']=='Y'){ ?>
                            <input maxlength="10" class="form-control center-block" onkeypress="numberonly(event);" style="width:80px; height: 25px; text-align:center;" type="text" value="<?=$netAmount?>" data-id="<?=$data_idss?>" onchange="updateYuan(this);" disabled>
                            <?php }else{ ?>
                            <span class="text-red"><b><?=$netAmount?></b></span>
                            <?php } ?>-->
                        </td>
                        <td style="padding: 0px 10px 0px 10px;">หยวน</td>
                        <!-- <td><li class="fa fa-paperclip"></li>Attach file</td> -->
                        <td>
                            <div class="col-sm-3 text-right">
                                <?php if($vals['saller_image']!=''){ ?>                                                    
                                <a class="btn btn-info btn-xs" onclick="$('#modal-img-pic').attr('src','<?=$BASEURL?>/uploads/temp/<?=$vals['saller_image']?>');$('#imgsModal').modal('show');" href="javascript:;">ดูรูป</a>

                                <?php } ?>
                            </div>
                            <!--<div class="col-sm-5">
                                <form id="saller_<?=$vals['saller_number']?>">
                                    <input type="hidden" name="mode" value="uploadseller">
                                    <input type="hidden" name="saller_number" value="<?=$vals['saller_number']?>">
                                    <input type="hidden" name="order_id" value="<?=$orderInfo['id']?>">
                                    <input type="file" name="file_seller" />
                                </form>
                            </div>-->
                        </td>
                        <!--<td><button type="button" class="btn btn-info btn-xs" onclick="saveImagSaller('<?=$orderInfo['id']?>','<?=$vals['saller_number']?>');">Upload</button></td>-->
                    </table>
                </td>						
            </tr> 
            <tr height="3"></tr>    
            <tr><td colspan="14"></td></tr>                              
        </thead>                          
    <?php } ?>
    <!-- END edit by hatairat 17/10/2564 -->

                        <?php } ?>
                        <?php foreach($itemList as $vals){ ?>
                        <?php if($vals['item_typs_s']!='NR'){ ?>
                        <tr>

                            <td class="text-center">
                                <?php if($vals['item_typs_s']=='DE'){ ?>
                                <span class="text-red">คืนเงิน</span>
                                <?php }else{ ?>
                                <span class="text-green">เพิ่มเงิน</span>
                                <?php } ?>
                            </td>
                            <td>
                                <b><?=$vals['product_title']?></b>
                                <br />
                                <br />
                                <span>หมายเหตุ</span>
                                <textarea class="form-control" data-id="<?=$vals['id']?>" onchange="updateCommentOrder(this);" style="min-width: 200px;"><?=$vals['note']?></textarea>
                            </td>
                            <td></td>
                            <td></td>
                            <td class="text-center">
                                <!--<input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center; display: inline;" type="text" name="item_rmb" value="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-qty="<?=$vals['product_qty']?>" data-id="<?=$vals['id']?>" onchange="updateYuan(this);"/>-->

                            </td>
                            <td class="text-center">
                                <!--<input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;display: inline;" type="text" name="item_qty" value="<?=$vals['product_qty']?>" data-rmb="<?=$vals['product_price_rmb']?>" id="qty_<?=$vals['id']?>" data-id="<?=$vals['id']?>" onchange="updateQTY(this);"/> -->
                            </td>
                            <td colspan="3"></td>
                            <td class="text-center">
                                <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" value="<?=$vals['product_price_thb']?>" data-id="<?=$vals['id']?>" onchange="updateBath(this);"
                                />

                            </td>
                            <td valign="middle">
                                <button type="button" onclick="itemDel('<?=$vals['id']?>');" class="btn btn-danger btn-xs "><i class="fa fa-times"></i></button>
                            </td>

                        </tr>

                        <?php
                          if($vals['item_typs_s']=='DE'){
                              $total_all=$total_all-$vals['product_price_thb'];
                   $total_true=$total_true-$vals['product_price_thb'];
                          }else if($vals['item_typs_s']=='IN'){
                              $total_all=$total_all+$vals['product_price_thb'];
                   $total_true=$total_true+$vals['product_price_thb'];
                          }
                       ?>
                            <?php  } ?>

                            <?php } ?>
                            <?php
             $total_all = ($total_all+$orderInfo['order_pay_ship'])-$orderInfo['order_discount'];
             //$total_all = $total_all+($cn_cn*$orderInfo['rate']);

             //$total_true = $total_true+($orderInfo['order_pay_cn']*$orderInfo['rate']);
             $total_true = ($total_true)-$orderInfo['order_discount'];
             $total_true = $total_true+($cn_cn*$orderInfo['rate']);
             if($orderInfo['export']=='N'){$total_true=0;}
                      ?>

                                <tr>
                                    <td colspan="15"><b>สรุปยอดก่อนสั่งซื้อ</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">ค่าสินค้า</td>
                                    <td>
                                        <?=number_format($total_yuan_b,2)?>&yen;
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?=number_format($total_yuan_b*$orderInfo['old_rate'],2)?> บาท
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">ประเมิณค่าขนส่งร้านจีนล่วงหน้า 10% (10-100 หยวน)<br />เมื่อทราบค่าส่งที่แท้จริงจะนำมาทำยอดคืนให้ภายหลัง</b>
                                    </td>
                                    <td>
                                        <nobr><?=number_format(($orderInfo['order_pay_ship_yuan']),2)?> &yen;</nobr>
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?=number_format($orderInfo['order_pay_ship'],2)?> บาท
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">เรทเงินก่อนสั่งจริง
                                    </td>
                                    <td>
                                        <?=number_format($orderInfo['old_rate'],2)?>
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">รวมชำระรอบแรก</td>
                                    <td>

                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?php 
                                                $pay_first = ($total_yuan_b*$orderInfo['old_rate'])+$orderInfo['order_pay_ship'];
                                                ?>
                                                <nobr><?=number_format($pay_first,2)?> บาท</nobr>
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">ส่วนลด</td> <!--ถามเอกว่า ส่วนลดตอนลบ เกิด ตอนไหนในหน้าที่ ลบหรือ approve-->
                                    <td>

                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?=number_format($orderInfo['order_discount'],2)?> บาท 
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">ยอดโอน</td>
                                    <td>

                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?=number_format($pay_first-$orderInfo['order_discount'],2)?> บาท
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="15"><b>สรุปยอดสั่งจริง</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">ค่าสินค้า</td>
                                    <td>
                                        <nobr><?=number_format($total_yuan_a,2)?>&yen;</nobr>
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?=number_format($total_yuan_a*$orderInfo['rate'],2)?> บาท
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">ค่าจัดส่งจริงของร้านจีน</td>
                                    <td>
                                        <?=number_format(($cn_cn),2)?>&yen;</nobr>
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <nobr><?=number_format(($cn_cn*$orderInfo['rate']),2)?> บาท
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">เรทเงินสั่งจริง
                                    </td>
                                    <td>
                                        <?=number_format($orderInfo['rate'],2)?>
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        
                                    </td>

                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="8">รวมยอดสั่งจริง</td>
                                    <td>
                                    </td>
                                    <td style="text-align: right;" colspan="4">
                                        <?=number_format($total_true,2)?> บาท
                                    </td>

                                </tr>
                                <?php
                              $tt_fund = $total_all-$total_true;
                          ?>
                                    <?php if($tt_fund!=0){ ?>
                                    <?php if($tt_fund>0){  ?>

                                    <tr>
                                        <td colspan="10"><b>คืนเงิน </b></td>

                                        <?php if($orderInfo['export']=='N'){?>
                                        <td style="text-align: right;" colspan="4">0.00 บาท</td>

                                        <?php }else{ ?>
                                        <td style="text-align: right;" colspan="4">
                                            <?=number_format($tt_fund,2)?> บาท
                                        </td>
                                        <?php } ?>

                                    </tr>
                                    <?php }else{ ?>
                                    <tr>
                                        <td colspan="10"><b>เพิ่มเงิน </b></td>
                                        <?php if($orderInfo['export']=='N'){?>
                                        <td style="text-align: right;" colspan="4">0.00 บาท</td>

                                        <?php }else{ ?>
                                        <td style="text-align: right;" colspan="4">
                                            <?=number_format(($total_true-$total_all),2)?> บาท

                                        </td>
                                        <?php } ?>

                                    </tr>
                                    <?php } ?>
                                    <?php } ?>
                </tbody>
                <tfoot class="hidden">
                    <tr>
                        <td class="text-center bg-orange disabled color-palette" align="center" colspan="11">
                            <span>เพิ่ม/ลด ค่าใช้จ่าย</span>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            ประเภทรายการ
                        </td>
                        <td class="text-center" colspan="3">
                            รายละเอียด
                        </td>

                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">
                            <nobr>รวม (บาท)</nobr>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-center" colspan="2">
                            <select class="form-control" name="item_type">
                              <option value="IN">เพิ่มเงิน</option>
                              <option value="DE">คืนเงิน</option>
                          </select>
                        </td>
                        <td colspan="3">
                            <textarea class="form-control" name="item_name"></textarea>
                        </td>

                        <td class="text-center">
                            <!--<input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center; display: inline;" type="text" name="item_rmb" />-->

                        </td>
                        <td class="text-center">
                            <!--<input maxlength="4" onkeypress="numberonly(event);" class="form-control" style="width:60px; text-align:center;display: inline;" type="text" name="item_qty"/> -->
                        </td>

                        <td class="text-center">
                            <input maxlength="10" onkeypress="numberonly(event);" class="form-control" style="width:80px; text-align:center;display: inline;" type="text" name="item_thb" />

                        </td>
                        <td class="text-center">
                            <button type="button" onclick="addItem();" class="btn btn-info">เพิ่ม</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="panel-footer">
            <!--<div class="col-md-6">
               วันที่ทำรายการ : <b><?=$orderInfo['create_dtm']?></b><br />

               หมายเหตุ : <b><?=$orderInfo['order_comment']?></b><br />
               <?php //GF::print_r($orderInfo['member']); ?>
           </div>
           <div class="col-md-6">
               <table class="table" style="margin-bottom: 30px;">
                  <thead>
                      <tr>
                          <th>ลำดับที่</th>
                          <th>ประเภทสินค้า</th>
                          <th>ประเภทการนำเข้า</th>
                          <th>Unit</th>
                          <th>อัตราค่าบริการ</th>
                      </tr>
                  </thead>
                  <tbody>
                  <?php $kk=1; foreach($orderInfo['member']['rate'] as $rrList){ ?>
                      <tr>
                          <td><?=$kk?></td>
                          <td><?php $mms = GF::masterdata($rrList['order_type']); echo $mms['master_name']; ?></td>
                          <td><?php $mms = GF::masterdata($rrList['ship_by']); echo $mms['master_name']; ?></td>
                          <td><?php $mms = GF::masterdata($rrList['unit']); echo $mms['master_name']; ?></td>
                          <td><?=$rrList['rate']?></td>

                      </tr>
                  <?php $kk++; } ?>
                  </tbody>
              </table>
           </div>-->
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="">
                <h3>ชำระแล้ว <span style="color: green;"><b><?=number_format($orderInfo['order_price'],2)?></b></span> บาท</h3>

            </div>
            <div class="col-sm-4" style="">
                <?php $totalAll = ($total_true-$orderInfo['order_price']); if($totalAll<0){$totalAll=0;} ?>
                <h3>ค้างชำระ <span style="color: red;"><b><?=number_format($totalAll,2)?></b></span> บาท</h3>
                <!--<div class="input-group">
              <span class="input-group-addon">ชำระแล้ว</span>
              <input type="text" class="form-control text-right" onchange="updateOrderPrice(this);" value="<?=$orderInfo['order_price']?>" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-addon">บาท</span>
            </div>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>