<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>

<section class="content-header">
    <h1>
        My E-Wallet
        <small>E-Wallet</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">My E-Wallet</h3>

                </div>


                <div class="box-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">รหัสสมาชิก</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;">
                                    <?=$memberinfomation['user_code']?>
                                </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ชื่อ</label>
                            <div class="col-sm-5">
                                <h4>
                                    <?=$memberinfomation['user_name']?>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ยอดคงเหลือ</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;"> <b><?=number_format($memberinfomation['wallet'],2)?></b> Point</h3><small class="text-muted">1 point = 1 บาท</small>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-12 control-label">
                        <a href="#/ewallet/paymentlist/" class="btn btn-info">รายการสถานะชำระเงิน</a>
                        <!-- <a href="#/ewallet/confirmpayment/" class="btn btn-success">จ่ายยอดติดลบ</a>
                        <a href="#/ewallet/withdraw/" class="btn btn-danger">ถอน Point</a>
                        <a href="#/ewallet/?<?=time()?>" class="btn btn-primary">รายการ E-Wallet</a> -->

                     </label>

                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <div class="col-xs-12" id="frmResult">
                        <div class="col-sm-8 ">
                            <form name="slipFrm" id="slipFrm" enctype="multipart/form-data">
                                <input type="hidden" name="order_id" value="<?=$orderInfo['id']?>" />
                                <input type="hidden" name="order_type" value="<?=$order_type?>" />
                                <input type="hidden" name="mode" value="updateslip" />
                                <div class="form-group input-group">
                                    <span class="input-group-addon">ประเภทจ่ายเงิน</span>
                                    <select class="form-control" id="payment_type" name="payment_type">
                                   <?php if($orderInfo['id']!=''){ ?>
                                   <option value="1">- โอนเงินสด -</option>
                                   <?php }else{ ?>
                                   <option value="2">- เติมเงิน -</option>
                                   <?php } ?>
                                </select>
                                </div>
                                <div class="form-group input-group">
                                    <!--<span class="input-group-addon">เข้าบัญชีธนาคาร</span>-->

                                </div>

                                <?php foreach($banklist as $vals){ ?>
                                <?php $mst = GF::masterdata($vals['master_id']); ?>
                                <label>
                                                <input type="radio" name="payment_bank" id="payment_bank" value="<?=$vals['bank_id']?>" checked>
                                                <img src="<?=$mst['master_value']?>" /> <?=$mst['master_name']?> [<?=$vals['bank_desc']?>]
                                            </label><br />
                                <?php } ?>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">วันที่โอน</span>
                                    <input maxlength="30" type="text" class="form-control datepickerX" id="payment_date" name="payment_date">
                                    <span class="input-group-addon">01-01-2015</span>
                                </div>
                                <div class=" bootstrap-timepicker form-group input-group">

                                    <span class="input-group-addon">เวลาโอน</span>
                                    <input type="text" class="form-control timepicker" onkeypress="numberonly(event);" id="payment_time" name="payment_time">
                                    <span class="input-group-addon">18.00</span>

                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">จำนวนเงิน</span>
                                    <input maxlength="20" onkeypress="numberonly(event);" type="text" class="form-control" id="pay_amount" name="pay_amount">
                                    <span class="input-group-addon">บาท (0.00)</span>
                                </div>
                                <div class="form-group input-group">

                                    <input type="file" class="form-control" id="payment_slip" name="payment_slip">
                                    <span class="input-group-addon">ไฟล์รูปภาพ</span>
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon">ข้อความ</span>
                                    <textarea maxlength="300" class="form-control" id="payment_comment" name="payment_comment"></textarea>
                                </div>
                            </form>
                        </div>
                        <?php if($memberinfomation['wallet']<0){ ?>
                        <div class="col-sm-8">
                            <div class="callout callout-danger text-center">
                                <!--<h4>เป็นยอด เติมเงินเท่านั้น เพื่อหักยอดติดลบใน E-Wallet</h4>-->
                                <h4>ลูกค้ามียอดเงินค้างใน E-wallet ยอดค้าง <b><?=number_format($memberinfomation['wallet'],2)?></b> บาท หากเติมหรือโอนเงินยอดเงินจะนำไปหักลบจากยอดค้างก่อนค่ะ</h4>
                            </div>
                        </div>
                        <?php } ?>
                        <div class="col-sm-8 text-center">
                            <a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                            <button type="button" class="btn btn-primary btn-md" onclick="paymentUpdate();"> <i class="fa fa-floppy-o" ></i> แจ้งโอนเงิน</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel panel-default" id="payResult" style="display: none;">
                        <div class="panel-body text-center">
                            ข้อมูลของท่านถูกส่งไปยังระบบเรียบร้อยแล้ว<br />
                            <?php if($order_type=='1'){ ?>
                            <a href="#/buyship/orderlist/" class="btn btn-default btn-md">ย้อนกลับ</a>
                            <?php }else{ ?>
                            <a href="#/ewallet/" class="btn btn-default btn-md">ย้อนกลับ</a>
                            <?php } ?>
                            <a href="#/ewallet/paymentlist/" class="btn btn-default btn-md">ดูรายการชำระเงิน</a>
                        </div>
                    </div>
                    <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>




                </div>
                <div class="box-footer " style="padding-left:10%;">




                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>