<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>
<?php
$sum_refund = 0;
$sum_extrapay = 0;
foreach($orderDetail as $ord){
    if($ord['refund_amount'] > 0 && $ord['status'] != 'SUCCESS') {
     $sum_refund = $sum_refund + $ord['refund_amount'];
    }
    if($ord['extra_pay_amount'] > 0 && $ord['status'] != 'SUCCESS') {
    $sum_extrapay = $sum_extrapay + $ord['extra_pay_amount'];
    }
}
?>
<section class="content-header">
    <h1>
        รายการยอดคืน - ยอดค้างชำระ
        <!-- <small>รายการยอดคืน - ยอดค้าง</small> -->
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">รายการยอดคืน - ยอดค้างชำระ</h3>

                </div>


                <div class="box-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">รหัสสมาชิก</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;">
                                    <?=$memberinfomation['user_code']?>
                                </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ชื่อ</label>
                            <div class="col-sm-5">
                                <h4>
                                    <?=$memberinfomation['user_name']?>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ยอดเงินคืน</label>
                            <div class="col-sm-5 text-green">
                                <h3 style="margin: 0px;"> <b><?=number_format($sum_refund,2)?></b> บาท</h3><!--<small class="text-muted">1 point = 1 บาท</small>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ยอดค้างชำระ</label>
                            <div class="col-sm-5 text-red">
                                <h3 style="margin: 0px;"> <b><?=number_format($sum_extrapay,2)?></b> บาท</h3><!--<small class="text-muted">1 point = 1 บาท</small>-->
                            </div>
                        </div>
                        <!-- Edit By Weerasak 09-01-2566 -->
                        <div class="form-group">
                            <div class="row-group">
                                <label for="bookbank" class="col-sm-2 control-label">บัญชีธนาคาร</label>
                                <div class="col-sm-7"><h4>
                                    <?php if($memberinfomation['bank_name']=='') {echo '-';} else ?>
                                    <img src="<?=$memberinfomation['bank_image']?>" style="max-width:60px;">
                                    <?php { echo '&nbsp'.$memberinfomation['bank_name'].' [เลขบัญชี : '.$memberinfomation['user_bookbank'].' ชื่อบัญชี : '.$memberinfomation['user_name'].']';}?></h4>
                                    <small class="text-red">โปรดตรวจสอบบัญชีธนาคารสำหรับรับเงินที่ profile ให้ถูกต้อง</small>
                                </div>
                            </div>
                        </div>
                        <!-- END -->
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-12 control-label">
                        <a href="#/ewallet/paymentlist/" class="btn btn-info">รายการสถานะชำระเงิน</a>
                        <!-- <a href="#/ewallet/confirmpayment/" class="btn btn-success">จ่ายยอดติดลบ</a>
                        <a href="#/ewallet/withdraw/" class="btn btn-danger">ถอน Point</a>
                        <a href="#/ewallet/?<?=time()?>" class="btn btn-primary">รายการ E-Wallet</a> -->

                     </label>

                        </div>
                    </form>
                    <div class="clearfix"></div>
                    

                    <div class="col-xs-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tr_6" aria-controls="messages" role="tab" data-toggle="tab">ยอดค้างชำระ</a></li>
                            <li role="presentation" ><a href="#tr_5" aria-controls="messages" role="tab" data-toggle="tab">รายการเงินคืน</a></li>                            
                            <!-- <li role="presentation"><a href="#tr_4" aria-controls="messages" role="tab" data-toggle="tab">รายการ refund</a></li>
                            <li role="presentation" ><a href="#tr_1" aria-controls="home" role="tab" data-toggle="tab">รายการล่าสุด</a></li>
                            <li role="presentation"><a href="#tr_2" aria-controls="profile" role="tab" data-toggle="tab">รายการยอดเงินเข้า</a></li>
                            <li role="presentation"><a href="#tr_3" aria-controls="messages" role="tab" data-toggle="tab">รายการหักยอด</a></li> -->
                            
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane " id="tr_1">
                                <table class="table table-bordered table-striped" id="example-1">
                                    <thead>
                                        <tr>
                                            <td class="text-center">เวลา</td>
                                            <td class="text-center">รายการ</td>
                                            <td class="text-center">ประเภท</td>
                                            <td class="text-center">ยอดคงเดิม</td>
                                            <td class="text-center">จำนวนเงิน</td>
                                            <td class="text-center">ยอดคงเหลือ</td>
                                            <td class="text-center">โดย</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($walletLog as $logs){ ?>
                                        <tr>
                                            <td class="text-center">
                                                <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br/>
                                                    <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                                            </td>
                                            <td class="text-center">
                                                <?=$logs['wallet_desc']?>
                                                    <br />
                                                    <?=$logs['wallet_type'].str_pad($logs['id'],5,"0",STR_PAD_LEFT);?>
                                            </td>
                                            <td class="text-center">

                                                <?php if($logs['wallet_type']=='OU'){ ?>
                                                <span class="text-red">ยอดเงินออก</span>
                                                <?php  }else if($logs['wallet_type']=='INOU'){ ?>
                                 				  <span class="text-red">หักเงินสด</span>
                                                <?php }else{ ?>
                                                <span class="text-green">ยอดเงินเข้า</span>
                                                <?php } ?>
                                            </td>
                                            <td class="text-right"><b><?=number_format($logs['before_balance'],2)?></b></td>
                                            <td class="text-right"><b><?=number_format($logs['wallet'],2)?></b></td>
                                            <td class="text-right"><b><?=number_format($logs['after_balance'],2)?></b></td>
                                            <td class="text-center">
                                                <?=$logs['username']?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tr_2">
                                <table class="table table-bordered table-striped" id="example-2">
                                    <thead>
                                        <tr>
                                            <td class="text-center">เวลา</td>
                                            <td class="text-center">รายการ</td>
                                            <td class="text-center">ประเภท</td>
                                            <td class="text-center">จำนวนเงิน</td>
                                            <td class="text-center">โดย</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($walletLogIN as $logs){ ?>
                                        <?php if($logs['wallet_type']!='OU'){ ?>
                                        <tr>
                                            <td class="text-center">
                                                <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br />
                                                    <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                                            </td>
                                            <td class="text-center">
                                                <?=$logs['wallet_desc']?>
                                                    <br />
                                                    <?=$logs['wallet_type'].str_pad($logs['id'],5,"0",STR_PAD_LEFT);?>
                                            </td>

                                            <td class="text-center">

                                                <?php if($logs['wallet_type']=='OU'){ ?>
                                                <span class="text-red">ยอดเงินออก</span>
                                                <?php }else{ ?>
                                                <span class="text-green">ยอดเงินเข้า</span>
                                                <?php } ?>

                                            </td>
                                            <td class="text-right"><b><?=number_format($logs['wallet'],2)?></b></td>
                                            <td class="text-center">
                                                <?=$logs['username']?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tr_3">
                                <table class="table table-bordered table-striped" id="example-3">
                                    <thead>
                                        <tr>
                                            <td class="text-center">เวลา</td>
                                            <td class="text-center">รายการ</td>
                                            <td class="text-center">ประเภท</td>
                                            <td class="text-center">จำนวนเงิน</td>
                                            <td class="text-center">โดย</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($walletLogOU as $logs){ ?>
                                        <?php if($logs['wallet_type']=='OU'){ ?>
                                        <tr>
                                            <td class="text-center">
                                                <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br />
                                                    <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                                            </td>
                                            <td class="text-center">
                                                <?=$logs['wallet_desc']?>
                                                    <br />
                                                    <?=$logs['wallet_type'].str_pad($logs['id'],5,"0",STR_PAD_LEFT);?>
                                            </td>
                                            <td class="text-center">

                                                <?php if($logs['wallet_type']=='OU'){ ?>
                                                <span class="text-red">ยอดเงินออก</span>
                                                <?php }else{ ?>
                                                <span class="text-green">ยอดเงินเข้า</span>
                                                <?php } ?>
                                            </td>
                                            <td class="text-right"><b><?=number_format($logs['wallet'],2)?></b></td>
                                            <td class="text-center">
                                                <?=$logs['username']?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tr_4">
                                <table class="table table-bordered table-striped" id="example-4">
                                    <thead>
                                        <tr>
                                            <td class="text-center">เลขคำสั่งซื้อ</td>
                                            <td class="text-center">เวลา</td>
                                            <td class="text-center">จำนวน</td>
                                            <td class="text-center">ยอดเงิน</td>
                                            <td class="text-center">ยอดคืนจริง</td>                                            
                                            <td class="text-center">สถานะ</td>
                                            <td class="text-center">หมายเหตุ</td>
                                            <td class="text-center">-</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($walletLogWD as $logs){ ?>
                                        <tr>
                                            <td><a href="#/buyship/view/<?=$logs['order_id']?>"><?='คำสั่งซื้อ ORDER : '.$logs['order_number']?></a></td>
                                            <td class="text-center">
                                                <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br />
                                                    <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                                            </td>
                                            <td class="text-center"><b><?=$logs['qty']?></b></td>
                                            <td class="text-center"><b><?=number_format($logs['amount'],2)?></b></td>
                                            <td class="text-center"><b><?=number_format($logs['refund_amount'],2)?></b></td>
                                            <!-- Edit By Weerasak 09-01-2566 แก้ไขสถานนะ -->
                                            <td class="text-center">
                                                <?php if($logs['status']=='SUCCESS'){ ?>
                                                <span class="text-green"><b>เสร็จสิ้น</b></span> <!-- เรียบร้อย -->
                                                <?php } ?>
                                                <?php if($logs['status']=='WAIT'){ ?>
                                                <span class="text-info"><b>รอดำเนินการ</b></span> <!-- รออนุมัติ -->
                                                <?php } ?>
                                                <?php if($logs['status']=='CANCEL'){ ?>
                                                <span class="text-red"><b>ยกเลิก</b></span> <!-- ไม่อนุมัติ -->
                                                <?php } ?>
                                            </td>
                                            <!-- END -->
                                            <!-- <td class="text-center">
                                                <?=date("d-m-Y H:i:s",strtotime($logs['update_dtm']))?>
                                            </td> -->
                                            <td class="text-center">
                                                <?=$logs['remark']?>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Edit By Weerasak 06-01-2566 -->
                            <!-- รายการคืนเงิน -->
                            <div role="tabpanel" class="tab-pane" id="tr_5">
                                <table class="table table-bordered table-striped" id="example-5">
                                    <thead>
                                        <tr>
                                            <th>เลขคำสั่งซื้อ</th>
                                            <th style="text-align: center;">จำนวน</th>
                                            <th style="text-align: center;">หยวน(&yen;)</th>
                                            <th style="text-align: center;">เรทเงิน(&yen;)</th>
                                            <th style="text-align: center;">ยอดรวม(฿)</th>
                                            <th style="text-align: center;">เรทสั่งจริง(&yen;)</th>
                                            <th style="text-align: center;">ยอดสั่งจริง(฿)</th>
                                            <th style="text-align: center;">ยอดโอน(฿)</th>
                                            <th style="text-align: center;">เงินคืน(฿)</th>
                                            <th style="text-align: center;">หมายเหตุ</th>
                                            <th></th>                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php 
                                        //print_r($orderDetail);
                                        foreach($orderDetail as $ref) { 
                                                if(($ref['refund_amount'] > 0 )) {   
                                        ?>
                                            <tr>
                                                <?php if($ref['user_refund'] == 'Y') { ?>
                                                    <td><a href="#/buyship/view/<?=$ref['order_id']?>"><?='Refund คำสั่งซื้อ ORDER : '.$ref['order_number']?></a></td>                                                    
                                                <?php }else { ?>
                                                <td><a href="#/buyship/view/<?=$ref['order_id']?>"><?='คำสั่งซื้อ ORDER : '.$ref['order_number']?></a></td>
                                                <?php } ?>
                                                <td class="text-center"><?=$ref['count']?></td>
                                                <td class="text-right"><?=number_format($ref['order_price_rmb'],2)?></td>
                                                <td class="text-center"><?=$ref['rate']?></td>
                                                <td class="text-right"><?=number_format($ref['order_price_thb'],2)?></td>
                                                <td class="text-center"><?=$ref['actural_rate']?></td>
                                                <td class="text-right"><?=number_format($ref['actual_purchase_thb'],2)?></td>                                                
                                                <td class="text-center"><?=number_format($ref['receive_amount'],2)?></td>
                                                <td class="text-right"><b><?=number_format($ref['refund_amount'],2)?></b></td>
                                                <td class="text-right"><b><?=$ref['remark']?></b></td>
                                                <td>
                                                <?php if($ref['user_refund'] == 'N' && ($ref['status'] == 'CANCEL' || $ref['status'] == '')) {?>
                                                <button type="button" class="btn btn-primary" data-id ="<?=$ref['order_id']?>" data-price="<?=$ref['refund_amount']?>" data-bank="<?=$memberinfomation['bank_name']?>" onclick="withdrawRequest(this);">แจ้งถอนเงิน</button>                                            
                                                <?php } 
                                                    if($ref['status'] == 'WAIT'){echo '<label class = "text-info">รอดำเนินการ</label>';
                                                    } else if($ref['status'] == 'CANCEL'){echo '<label class = "text-red">ยกเลิก</label>';
                                                    } else if($ref['status'] == 'SUCCESS'){echo '<label class = "text-green">เสร็จสิ้น</label>';}
                                                ?>
                                                </td>
                                            </tr>
                                            <?php }} ?>
                                    </tbody>
                                </table>
                            </div>
                            <!-- รายการค้างชำระ -->
                            <div role="tabpanel" class="tab-pane active" id="tr_6">
                                <table class="table table-bordered table-striped" id="example-6">
                                    <thead>
                                        <tr>
                                            <th>เลขคำสั่งซื้อ</th>
                                            <th style="text-align: center;">จำนวน</th>
                                            <th style="text-align: center;">หยวน(&yen;)</th>
                                            <th style="text-align: center;">เรทเงิน(&yen;)</th>
                                            <th style="text-align: center;">ยอดรวม(฿)</th>                                            
                                            <th style="text-align: center;">เรทสั่งจริง(&yen;)</th>
                                            <th style="text-align: center;">ยอดสั่งจริง(฿)</th>
                                            <th style="text-align: center;">ยอดโอน(฿)</th>
                                            <th style="text-align: center;">ค้างชำระ(฿)</th>
                                            <th style="text-align: center;">หมายเหตุ</th>
                                            <th style="text-align: center;">สถานะ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($orderDetail as $ref) { 
                                        if($ref['extra_pay_amount'] > 0) {
                                        //if($ref['status'] != 'SUCCESS'){   
                                        ?>
                                        <tr>
                                            <td>
                                                <?php if($ref['shipping_id'] != ''){?>
                                                    <a href="#/tracking/viewshipping/<?=$ref['shipping_id']?>"><?='บิลขนส่งเลขที่ : '.$ref['shipping_number']?></a>
                                                <?php }else { ?>
                                                <a href="#/buyship/view/<?=$ref['order_id']?>"><?='คำสั่งซื้อ ORDER : '.$ref['order_number']?></a>
                                                <?php } ?>
                                            </td>
                                            <td class="text-center"><?=$ref['count']?></td>
                                            <td class="text-right"><?=number_format($ref['order_price_rmb'],2)?></td>
                                            <td class="text-center"><?=$ref['rate']?></td>
                                            <td class="text-right"><?=number_format($ref['order_price_thb'],2)?></td>
                                            <td class="text-center"><?=$ref['actural_rate']?></td>
                                            <td class="text-right"><?=number_format($ref['actual_purchase_thb'],2)?></td>                                            
                                            <td class="text-center"><?=number_format($ref['receive_amount'],2)?></td>
                                            <td class="text-right"><b><?=number_format($ref['extra_pay_amount'],2)?></b></td>                                          
                                            <td class=""><?=$ref['payment_remark']?></td>
                                            <td class="text-center">
                                                <?php if($ref['status'] == 'WAIT') {?>
                                                <button type="button" class="btn btn-danger" data-id ="<?=$ref['order_id']?>" data-price="<?=$ref['extra_pay_amount']?>"  onclick="ConfirmPayment(this);">แจ้งชำระเงิน</button>
                                                <?php } else if($ref['status'] == 'CHECK') { echo '<label class = "text-info">รอดำเนินการ</label>'; }
                                                else if($ref['status'] == 'CANCEL'){echo '<label class = "text-red">ยกเลิก</label>';}
                                                else if($ref['status'] == 'SUCCESS'){echo '<label class = "text-green">เสร็จสิ้น</label>';}
                                                ?>
                                            </td>                                            
                                        </tr>
                                        <?php }} ?>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END -->
                        </div>
                    </div>

                </div>
                <div class="box-footer" style="margin-left: 10%">




                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="wdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">
                <img src="" id="wdimg" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>
<!-- Edit By Weerasak 06-01-2566 -->
<form name="wdFrm" id="wdFrm" enctype="multipart/form-data">
<div class="modal fade" id="withdrawModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            
                <input type="hidden" name="mode" value="updatewd" />
                <input type="hidden" name="order_id" id="order_id" value="" />
                <input type="hidden" name="refund_amount" id="refund_amount" value="" />
                <div class="modal-header">
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
                    <h4 class="modal-title">ยืนยันการถอนเงิน</h4>
                </div>
                <div class="modal-body text-center">
                    <div class="">
                        <div class="row">
                            <div class="col-md-6">
                                <h4><label>จำนวนเงิน</label></h4>
                            </div>      
                            <div class="col text-left">
                                <h4><label id="ref_amount"></label></h4>
                            </div>               
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-primary alertsave" data-dismiss="modal" onclick="saveWithdrawRequest();">ยืนยัน</button>   
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">ยกเลิก</button>         
                </div>
            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
</form>
<!-- popup ยืนยันชำระเงิน -->
<form name="slipFrm" id="slipFrm" enctype="multipart/form-data">
    <div class="modal fade" id="confirmPaymentModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <input type="hidden" name="mode" value="updateslip" />                   
                <input class="orderid" type="hidden" name="order_id" id="order_id_confirmpayment" />
                <input type="hidden" name="order_type" value="1" /> <!--ระบุ 1 คือ แจ้งชำระเงิน-->
                <!-- <input type="hidden" name="extra_pay_amount" id="extra_pay_amount" value="" /> -->
                <input type="hidden" name="payment_type" id="payment_type" value="2" /> <!--ชำระเพิ่ม-->
                    <div class="modal-header">
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title">แจ้งชำระเงิน</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row" style="margin-left:20px;">
                                <div>                                       
                                    <?php foreach($banklist as $vals){ 
                                    if($vals['bank_type']=='1') {
                                        $mst = GF::masterdata($vals['master_id']);?>
                                    <label>
                                                <input type="radio" name="payment_bank" id="payment_bank" value="<?=$vals['bank_id']?>" checked>
                                                <img src="<?=$mst['master_value']?>" /> <?=$mst['master_name']?> [<?=$vals['bank_desc']?>]
                                            </label><br />
                                    <?php }} ?>
                                </div>
                                <br>
                                <div class="col-md-10">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">วันที่โอน</span>
                                        <input maxlength="30" type="text" class="form-control datepickerX" id="payment_date" name="payment_date">
                                        <span class="input-group-addon">01/01/2015</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class=" bootstrap-timepicker form-group input-group">
                                        <span class="input-group-addon">เวลาโอน</span>
                                        <input type="text" class="form-control timepicker" onkeypress="numberonly(event);" id="payment_time" name="payment_time">
                                        <span class="input-group-addon">18.00</span>
                                    </div>
                                </div>   
                                <div class="col-md-10">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">จำนวนเงิน</span>
                                        <input maxlength="20" onkeypress="numberonly(event);" type="text" class="form-control text-center" id="pay_amount" name="pay_amount" readonly>
                                        <span class="input-group-addon">บาท (0.00)</span>
                                    </div>
                                </div>   
                                <div class="col-md-10">
                                    <div class="form-group input-group">

                                        <input type="file" class="form-control" id="payment_slip" name="payment_slip">
                                        <span class="input-group-addon">ไฟล์รูปภาพ</span>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon">ข้อความ</span>
                                        <textarea maxlength="300" class="form-control" id="pay_comment" name="pay_comment"></textarea>
                                    </div>
                                </div>
                                <!-- <div class="col text-left">
                                    <h4><label id="pay_amount"></label></h4>
                                </div>                -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">                        
                        <button type="button" class="btn btn-primary alertsave" data-dismiss="" onclick="paymentUpdate();">ยืนยัน</button>   
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">ยกเลิก</button>         
                    </div>
                
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>
<!-- END -->