<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>

<!-- <section class="content-header">
    <h1>
        My E-Wallet
        <small>E-Wallet</small>
    </h1>
</section> -->

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">รายการสถานะชำระเงิน</h3>

                </div>


                <div class="box-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">รหัสสมาชิก</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;">
                                    <?=$memberinfomation['user_code']?>
                                </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ชื่อ</label>
                            <div class="col-sm-5">
                                <h4>
                                    <?=$memberinfomation['user_name']?>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ยอดคงเหลือ</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;"> <b><?=number_format($memberinfomation['wallet'],2)?></b> Point</h3><small class="text-muted">1 point = 1 บาท</small>
                            </div>
                        </div> -->
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-12 control-label">
                        <a href="#/ewallet/paymentlist/?<?=time()?>" class="btn btn-info">รายการสถานะชำระเงิน</a>
                        <!-- <a href="#/ewallet/confirmpayment/" class="btn btn-success">จ่ายยอดติดลบ</a>
                        <a href="#/ewallet/withdraw/" class="btn btn-danger">ถอน Point</a>
                        <a href="#/ewallet/" class="btn btn-primary">รายการ E-Wallet</a> -->

                     </label>

                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <table id="example-payment" class="table table-bordered table-striped">
                        <thead>

                            <tr>
                                <th>วันที่ทำรายการ</th>
                                <th>Transaction ID</th>
                                <th>รายการ</th>
                                <th>โอนเข้าธนาคาร</th>
                                <th>เวลาโอน</th>
                                <th>จำนวนเงิน</th>
                                <th>สถานะ</th>
                                <th>หมายเหตุ</th>

                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($paymentList as $vals){ ?>
                            <tr>
                                <td>
                                    วันที่ :
                                    <?=date("d-m-Y",strtotime($vals['create_dtm']))?><br /> เวลา :
                                        <?=date("H:i:s",strtotime($vals['create_dtm']))?>
                                </td>
                                <td>TC
                                    <?=$vals['id']+10000?>
                                </td>
                                <td class="text-center">
                                    <?=$vals['order_info']['order_id']?><br />
                                        <span class="text-success">
                                       <?php
                                          if($vals['order_type']=='1'){
                                             echo "รายการฝากสั่งซื้อ";
                                          }
                                          if($vals['order_type']=='2'){
                                             echo "รายการนำเข้า";
                                          }
                                          if($vals['order_type']=='3'){
                                             echo "รายการเติมเงิน";
                                          }
                                       ?>
                                    </span>
                                </td>
                                <td class="text-center">
                                    <?php $msdata = GF::masterdata($vals['paybank']['master_id']); ?>
                                    <img style="max-width:32px;" src="<?=$msdata['master_value']?>" /><br />
                                    <?=$msdata['master_name']?><br />
                                        <?=$vals['paybank']['bank_desc']?>
                                </td>
                                <td>
                                    วันที่ :
                                    <?=str_replace("/","-",$vals['payment_date'])?><br /> เวลา :
                                        <?=$vals['payment_time']?>
                                </td>
                                <?php if($vals['payment_amount']==''){$vals['payment_amount']=0;} ?>
                                <td>
                                    <?=number_format($vals['payment_amount'],2)?>
                                </td>
                                <td>
                                    <?php
							     			$text_status = 'รอตรวจสอบ';
							     			$color_status = 'blue';
							     				if($vals['status']=='A'){
													$text_status = 'ตรวจสอบแล้ว';
													$color_status = 'green';
												}
												if($vals['status']=='C'){
													$text_status = 'ยกเลิก';
													$color_status = 'brown';
												}
												if($vals['status']=='F'){
													$text_status = 'ไม่พบยอดเงิน';
													$color_status = 'red';
												}
							     			?>
                                        <span style="color: <?=$color_status?>;"><?=$text_status?></span>
                                </td>
                                <td>
                                    <?=$vals['payment_comment']?>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>



                </div>
                <div class="box-footer" style="margin-left: 10%">




                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>