<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>

<section class="content-header">
    <h1>
        E-Wallet
        <small>E-Wallet Management</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">E-Wallet</h3>

                </div>


                <div class="box-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">รหัสสมาชิก</label>
                            <div class="col-sm-5">
                                <h2 style="margin: 0px;">
                                    <?=$memberinfomation['user_code']?>
                                </h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-3 control-label">First Name - Last Name</label>
                            <div class="col-sm-5">
                                <h4>
                                    <?=$memberinfomation['user_name']?>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-3 control-label">Account Balance</label>
                            <div class="col-sm-5"><input type="hidden" id="oldBalance" name="oldBalance" value="<?=$memberinfomation['wallet']?>" />
                                <h3 style="margin: 0px;"> <b><?=number_format($memberinfomation['wallet'],2)?></b> Point</h3><small class="text-muted">1 point = 1 บาท</small>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <?php if($button_edit){ ?> <button type="button" class="btn btn-warning btn-flat" style="margin-bottom: 1%;" onclick="openForm();">เพิ่มรายการ</button><?php } ?>
                    <form class="form-horizontal" id="createFrm" name="createFrm">

                        <input type="hidden" name="mode" value="savewallet" />
                        <input type="hidden" id="user_id" name="user_id" value="<?=$memberinfomation['id']?>" />
                        <fieldset id="formopen" style="display:none;">
                            <legend>
                                <h4>เพิ่มรายการ</h4>
                            </legend>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-3 control-label">รายการ</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" id="n_wallet_desc" name="wallet_desc" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-3 control-label">ประเภท</label>
                                <div class="col-sm-5">
                                    <input type="radio" name="wallet_type" value="IN" onclick="$('#billing_no').hide();" /> ยอดเงินเข้า
                                    <input type="radio" name="wallet_type" value="OU" onclick="$('#billing_no').hide();" /> ยอดเงินออก
                                    <input type="radio" name="wallet_type" value="INOU" onclick="$('#billing_no').show();" /> หักเงินสด
                                </div>
                            </div>
                            <div class="form-group" id="billing_no" style="display:none;">
                                <label for="shipping_code" class="col-sm-3 control-label">เลขที่บิล</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="shipping_code" id="shipping_code" onchange="checkbillingdata('<?=$memberinfomation['id']?>');" autocomplete="off" />
                                    <input type="hidden" class="form-control" name="shipid" id="shipid"value="0"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-3 control-label">จำนวนเงิน</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="n_wallet" name="wallet" onkeypress="numberonly(event);"  autocomplete="off"  />
                                    <input type="hidden" class="form-control" id="hdn_wallet" value="0" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-3 control-label">วันที่</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control my_date" id="n_create_dtm" name="create_dtm"  autocomplete="off"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-3 control-label">เวลา</label>

                                <div class="col-sm-3">
                                    <div class="bootstrap-timepicker">   
                                        <input type="text" class="form-control timepicker" id="n_time_dtm" name="time_dtm"  autocomplete="off"  />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-3 control-label"></label>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary" onclick="saveWallet();">บันทึกรายการ</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>เวลา</td>
                                <td>รายการ</td>
                                <td>ประเภท</td>
                                <td>จำนวนเงิน</td>
                                <td>โดย</td>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach($walletLog as $logs){ ?>
                            <tr>
                                <td>
                                    <?=date("d-m-Y",strtotime($logs['create_dtm']))?>
                                </td>
                                <td>
                                    <?=$logs['wallet_desc']?>
                                </td>
                                <td>

                                    <?php if($logs['wallet_type']=='OU'){ ?>
                                    <span class="text-red">ยอดเงินออก</span>
                                   <?php  }else if($logs['wallet_type']=='INOU'){ ?>
                                   <span class="text-red">หักเงินสด</span>
                                    <?php }else{ ?>
                                    <span class="text-green">ยอดเงินเข้า</span>
                                    <?php } ?>
                                </td>
                                <td>
                                    <?=$logs['wallet']?>
                                </td>
                                <td>
                                    <?=$logs['username']?>
                                </td>
                            </tr>
                            <?php } ?>
                        </tbody>
                    </table>
                    <nav class="pull-right" style="margin-right: 3%;">
                        <ul class="pagination pagination-md">
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/ewalletaccount/view/<?=$userid?>/?page=1">
                                                หน้าแรก
                                            </a>
                            </li>

                            <?php 
                            $c_page = intval($currpage);
                            if($c_page==0){
                                $c_page = 1;
                            }
                            $start = 1;
                            $end = 10;
                            if($c_page>=6){
                                $start = $c_page-4;
                                $end = $c_page+4;
                            }

                            if($end>=$allPage){
                                $end = $allPage;
                            }
                            ?>
                            <?php //for($i=1;$i<=$allPage;$i++){ ?>
                            <?php for($i=$start;$i<=$end;$i++) {?>
                            <li <?php if($currpage==$i){ ?>class="active"
                                <?php } ?>>
                                <a href="#/ewalletaccount/view/<?=$userid?>/?page=<?=$i?>">
                                    <?=$i?>
                                </a>
                            </li>
                            <?php } ?>
                            <li class="disabled"><span class="pull-right">total <b><?=$allPage?></b> pages</span></li>

                        </ul>
                    </nav>



                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <a href="#/ewalletaccount/" class="btn btn-success pull-right">Back To List</a>


                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>