<style>
    .form-group .control-label {
        text-align: left;
    }
</style>

<section class="content-header">
    <h1>
        E-Wallet
        <small></small>
    </h1>
</section>


<form name="tempFrm" id="tempFrm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp" />
    <input type="text" id="uploadFile" name="filetemp" placeholder="Choose File" />
</form>
<form name="temp2Frm" id="temp2Frm" style="display: none;">
    <input type="text" name="mode" value="uploadtemp" />
    <input type="text" name="key" id="mkey" value="" />
    <input type="text" id="uploadFileCC" name="filetemp" placeholder="Choose File" />
</form>

<!-- Main content -->

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <i class="fa fa-shopping-cart"></i>รายการแจ้งถอนเงิน
                </div>

                <div class="box-body">


                    <div class="col-lg-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <i class="fa fa-list"></i> รายการแจ้งถอนเงิน
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12 ">

                                    <form class="form-inline " id="searchFrm" onsubmit="return searchwd();">
                                        <input type="hidden" name="mode" value="searchwd" />
                                        <input type="submit" style="position: absolute; left: -9999px" />

                                        <div class="form-group">
                                            <label for="exampleInputName2">รหัสลูกค้า</label>
                                            <input type="text" class="form-control" id="user_code" name="user_code" value="<?=$_SESSION['wallet_wd']['user_code']?>" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail2">สถานะ</label>
                                            <select data-id="<?=$orderInfo['id']?>" class="form-control" style="" name="status">
                  					          	<option value="" <?php if($_SESSION['wallet_wd']['status']==''){ ?>selected=""<?php } ?>>ทั้งหมด</option>
                  					          	<option value="R" <?php if($_SESSION['wallet_wd']['status']=='R'){ ?>selected=""<?php } ?>>รออนุมัติ</option>
                  					          	<option value="A" <?php if($_SESSION['wallet_wd']['status']=='A'){ ?>selected=""<?php } ?>>อนุมัติ</option>
                  					          	<option value="N" <?php if($_SESSION['wallet_wd']['status']=='N'){ ?>selected=""<?php } ?>>ไม่อนุมัติ</option>

                  					        </select>
                                        </div>

                                        <button type="button" class="btn btn-default" onclick="searchwd();">ค้นหา</button>
                                        <button type="button" class="btn btn-default" onclick="resetSearch();">ยกเลิก</button>
                                    </form>
                                    <br />
                                </div>

                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <td class="text-center">เวลา</td>
                                            <td class="text-center">ลูกค้า</td>
                                            <td class="text-center">ยอดเงิน</td>
                                            <td class="text-center">ธนาคาร</td>
                                            <td class="text-center">ข้อความ</td>
                                            <td class="text-center">รูปภาพ</td>
                                            <td class="text-center">สถานะ</td>
                                            <td class="text-center">ล่าสุด</td>
                                            <td class="text-center">หมายเหตุ</td>
                                            <td class="text-center">Action</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php foreach($wdList as $logs){ ?>
                                        <tr>
                                            <td class="text-center">
                                                <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br />
                                                    <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                                            </td>
                                            <td class="text-center">
                                                <?php $membeinf = GF::memberinfo($logs['user_id']); ?>
                                                <?=$membeinf['user_code']?><br />
                                                <!-- Edit By Weerasak 19-01-2566 -->
                                                    <!-- <?=$membeinf['user_name']?><br /> wallet : <b class="text-red"><?=number_format($membeinf['wallet'],2)?></b> -->
                                            </td>
                                            <td class="text-center"><b><?=number_format($logs['wd_total'],2)?></b></td>
                                            <td class="text-center">
                                                <?php $msdata = GF::masterdata($logs['wd_bank']); ?>
                                                <img style="max-width:32px;" src="<?=$msdata['master_value']?>" /><br />
                                                <?=$msdata['master_name']?><br />
                                                    <?=$logs['wd_number']?><br />
                                                        <?=$logs['wd_name']?>
                                            </td>
                                            <td class="text-center">
                                                <?=$logs['wd_message']?>
                                            </td>
                                            <td class="text-center">
                                                <?php if($logs['wd_img']!=''){ ?>
                                                <img src="<?=$BASEURL?>/uploads/temp/<?=$logs['wd_img']?>" style="max-width:60px;" data-img="<?=$BASEURL?>/uploads/temp/<?=$logs['wd_img']?>" onclick="viewWd(this);">
                                                <?php } ?><br />
                                                <div class="fileUpload btn btn-primary btn-xs">
                                                    <span class="up-text23">Upload</span><span id="preTemp23" style="display: none;"><i class="fa fa-spinner fa-spin"></i> Uploading...</span>
                                                    <input id="uploadBtn3<?=$logs['wd_id']?>" data-key="<?=$logs['wd_id']?>" type="file" class="upload" onchange="uploadfiletemplist(this);" />
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <?php if($logs['status']=='A'){ ?>
                                                <span class="text-green"><b>เรียบร้อย</b></span>
                                                <?php } ?>
                                                <?php if($logs['status']=='R'){ ?>
                                                <span class="text-info"><b>รออนุมัติ</b></span>
                                                <?php } ?>
                                                <?php if($logs['status']=='N'){ ?>
                                                <span class="text-red"><b>ไม่อนุมัติ</b></span>
                                                <?php } ?>
                                            </td>
                                            <td class="text-center">
                                                <?=date("d-m-Y H:i:s",strtotime($logs['update_dtm']))?>
                                            </td>
                                            <td>
                                                <textarea class="form-control" id="comment-<?=$logs['wd_id']?>" data-id="<?=$logs['wd_id']?>" maxlength="255" onchange="commentsWithdraw(this);"><?=$logs['wd_comment']?></textarea>
                                            </td>
                                            <td class="text-center">
                                                <?php if($logs['status']=='R'){ ?>
                                                <?php if($membeinf['wallet']>=$logs['wd_total']){ }?>
                                                <button type="button" class="btn btn-success" data-id="<?=$logs['wd_id']?>" data-status="A" onclick="statusWithdraw(this);">โอนแล้ว</button>
                                                
                                                <button type="button" class="btn btn-warning" data-id="<?=$logs['wd_id']?>" data-status="N" onclick="statusWithdraw(this);">ไม่อนุมัติ</button>
                                                <?php } ?>
                                            </td>
                                        </tr>
                                        <?php } ?>
                                    </tbody>
                                </table>

                                <nav class="pull-right" style="margin-right: 3%;">
                                    <ul class="pagination pagination-md">
                                        <?php for($i=1;$i<=$allPage;$i++){ ?>
                                        <li <?php if($currpage==$i){ ?>class="active"
                                            <?php } ?>>
                                            <a href="#/ewalletaccount/withdrawal/?page=<?=$i?>">
                                                <?=$i?>
                                            </a>
                                        </li>
                                        <?php } ?>

                                    </ul>
                                </nav>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="overlay text-center" id="preLoadSearch" style="display: none;">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="box-footer" style="margin-left: 10%">

                    <!--<a href="#/meeting/" class="btn btn-success pull-right" style="margin: 0.5%;">Back To Calendar</a>


                    <button type="reset" class="btn btn-default">Reset</button>
                    <button type="button" class="btn btn-primary" id="saveLeave" onclick="saveMeeting();">Save</button>-->

                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>


<!-- Modal -->
<div class="modal fade" id="wdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">
                <img src="" id="wdimg" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>