<script>
    total_wdds = <?=$memberinfomation["wallet"]?>;
</script>
<style>
    .form-group .control-label {
        text-align: left;
    }
    
    .box-body {
        padding-left: 10%;
    }
</style>

<section class="content-header">
    <h1>
        My E-Wallet
        <small>E-Wallet</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">

                    <h3 class="box-title">My E-Wallet</h3>

                </div>


                <div class="box-body">

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">รหัสสมาชิก</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;">
                                    <?=$memberinfomation['user_code']?>
                                </h3>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ชื่อ</label>
                            <div class="col-sm-5">
                                <h4>
                                    <?=$memberinfomation['user_name']?>
                                </h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-2 control-label">ยอดคงเหลือ</label>
                            <div class="col-sm-5">
                                <h3 style="margin: 0px;"> <b><?=number_format($memberinfomation['wallet'],2)?></b> Point</h3><small class="text-muted">1 point = 1 บาท</small>
                                <input type="hidden" id="total_wddss" name="total_wddss" value="<?=$memberinfomation['wallet']?>">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="user_name" class="col-sm-12 control-label">
                        <a href="#/ewallet/paymentlist/" class="btn btn-info">รายการสถานะชำระเงิน</a>
                        <!-- Edit By Weerasak 06-01-2566 -->
                        <!-- <a href="#/ewallet/confirmpayment/" class="btn btn-success">จ่ายยอดติดลบ</a>
                        <a href="#/ewallet/withdraw/" class="btn btn-danger">ถอน Point</a>
                        <a href="#/ewallet/?<?=time()?>" class="btn btn-primary">รายการ E-Wallet</a> -->
                        <!-- END -->
                     </label>

                        </div>
                    </form>
                    <div class="clearfix"></div>
                    <div class="col-sm-7">
                        <form name="wdFrm" id="wdFrm" enctype="multipart/form-data">

                            <input type="hidden" name="mode" value="updatewd" />

                            <div class="form-group input-group">
                                <!--<span class="input-group-addon">เข้าบัญชีธนาคาร</span>-->

                            </div>
                            <?php $banklist = GF::masterdataList('7'); ?>
                            <?php foreach($banklist as $vals){ ?>
                            <?php if($vals['master_char']=='Y'){ ?>
                            <div class="radio">
                                <label>
								    <input type="radio" name="wd_bank" id="wd_bank" value="<?=$vals['id']?>" checked>
								    <img src="<?=$vals['master_value']?>" /> <?=$vals['master_name']?>
								  </label>
                            </div>
                            <?php } ?>
                            <?php } ?>
                            <div class="form-group input-group">
                                <span class="input-group-addon">เลขบัญชีธนาคาร</span>
                                <input maxlength="30" type="text" class="form-control" id="wd_number" name="wd_number" onkeypress="numberonly(event);" maxlength="10">

                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon">ชื่อบัญชี</span>
                                <input maxlength="30" type="text" class="form-control" id="wd_name" name="wd_name">

                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">จำนวนเงิน</span>
                                <input maxlength="20" onkeypress="numberonly(event);" type="text" class="form-control" id="wd_total" name="wd_total">
                                <span class="input-group-addon">บาท (0.00)</span>
                            </div>

                            <div class="form-group input-group">
                                <span class="input-group-addon">ข้อความ</span>
                                <textarea maxlength="300" class="form-control" id="wd_message" name="wd_message"></textarea>
                            </div>
                            <button type="button" class="btn btn-primary btn-md pull-right" onclick="saveWithdraw();"> <i class="fa fa-floppy-o" ></i> แจ้งถอนเงิน</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="col-xs-12">
                        <table class="table table-bordered table-striped" id="example-withdraw">
                            <thead>
                                <tr>
                                    <td class="text-center">เวลา</td>
                                    <td class="text-center">ยอดเงิน</td>
                                    <td class="text-center">ธนาคาร</td>
                                    <td class="text-center">ข้อความ</td>
                                    <td class="text-center">รูปภาพ</td>
                                    <td class="text-center">สถานะ</td>
                                    <td class="text-center">ล่าสุด</td>
                                    <td class="text-center">หมายเหตุ</td>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach($wdList as $logs){ ?>
                                <tr>
                                    <td class="text-center">
                                        <?=date("d-m-Y",strtotime($logs['create_dtm']))?><br />
                                            <?=date("H:i:s",strtotime($logs['create_dtm']))?>
                                    </td>
                                    <td class="text-center"><b><?=number_format($logs['wd_total'],2)?></b></td>
                                    <td class="text-center">
                                        <?php $msdata = GF::masterdata($logs['wd_bank']); ?>
                                        <img style="max-width:32px;" src="<?=$msdata['master_value']?>" /><br />
                                        <?=$msdata['master_name']?><br />
                                            <?=$logs['wd_number']?><br />
                                                <?=$logs['wd_name']?>
                                    </td>
                                    <td class="text-center">
                                        <?=$logs['wd_message']?>
                                    </td>
                                    <td class="text-center">
                                        <?php if($logs['wd_img']!=''){ ?>
                                        <img src="<?=$BASEURL?>/uploads/temp/<?=$logs['wd_img']?>" style="max-width:60px;"><br />
                                        <button data-img="<?=$BASEURL?>/uploads/temp/<?=$logs['wd_img']?>" class="btn btn-primary btn-xs" onclick="viewWd(this);">View</button>
                                        <?php }else{ ?> -
                                        <?php } ?>
                                    </td>
                                    <td class="text-center">
                                        <?php if($logs['status']=='A'){ ?>
                                        <span class="text-green"><b>เรียบร้อย</b></span>
                                        <?php } ?>
                                        <?php if($logs['status']=='R'){ ?>
                                        <span class="text-info"><b>รออนุมัติ</b></span>
                                        <?php } ?>
                                        <?php if($logs['status']=='N'){ ?>
                                        <span class="text-red"><b>ไม่อนุมัติ</b></span>
                                        <?php } ?>
                                    </td>
                                    <td class="text-center">
                                        <?=date("d-m-Y H:i:s",strtotime($logs['update_dtm']))?>
                                    </td>
                                    <td class="text-center">
                                        <?=$logs['wd_comment']?>
                                    </td>
                                </tr>
                                <?php } ?>
                            </tbody>
                        </table>
                    </div>





                </div>
                <div class="box-footer" style="margin-left: 10%">




                </div>
                <!-- /.box-footer -->

            </div>
        </div>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="wdModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Image</h4>
            </div>
            <div class="modal-body">
                <img src="" id="wdimg" class="img-responsive center-block" />
            </div>

        </div>
    </div>
</div>