<section class="content-header">
  <h1>
    Account
    <small>Account Management</small>
  </h1>  
</section>

        <!-- Main content -->
<section class="content" >
	<div class="row">
		  
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<h3 class="box-title">Account > Payment</h3>
			  
			  
			</div>
			<div class="box-body">
			<form class="form-horizontal" id="clearFrm" name="clearFrm">
				<input type="hidden" name="mode" value="clearpayment"/>
			</form>
			<form class="form-horizontal" id="createFrm" name="createFrm">
                
                <input type="hidden" name="mode" value="searchpayment"/>
                
                <div class="box-body">
                  
                    
                    
                    <div>
                    
                    <div class="col-sm-4 col-sm-offset-1">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">From </label>
	                      <div class="col-sm-9">
	                       <div class="input-group">
		                      <div class="input-group-addon">
		                        <i class="fa fa-calendar"></i>
		                      </div>
		                      <input type="text" class="form-control my_date" name="start_date" value="<?=$_SESSION['payment']['start_date']?>" />
		                    </div><!-- /.input group -->
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">To </label>
	                      <div class="col-sm-9">
	                       <div class="input-group">
		                      <div class="input-group-addon">
		                        <i class="fa fa-calendar"></i>
		                      </div>
		                      <input type="text" class="form-control my_date" name="end_date" value="<?=$_SESSION['payment']['end_date']?>" />
		                    </div><!-- /.input group -->
	                      </div>
	                    </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 col-sm-offset-1">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">Status </label>
	                      <div class="col-sm-9">
	                       <select class="form-control" id="round_status" name="round_status">
	                       			<option value="" <?php if($_SESSION['payment']['round_status']=='1'){ ?>selected=""<?php } ?>>All</option>
		                      		<option value="1" <?php if($_SESSION['payment']['round_status']=='1'){ ?>selected=""<?php } ?>>รอ Confirm</option>
		                      		<option value="2" <?php if($_SESSION['payment']['round_status']=='2'){ ?>selected=""<?php } ?>>วางบิลได้</option>
		                      		<option value="3" <?php if($_SESSION['payment']['round_status']=='3'){ ?>selected=""<?php } ?>>วางบิลแล้ว</option>
		                      		<option value="4" <?php if($_SESSION['payment']['round_status']=='4'){ ?>selected=""<?php } ?>>ได้รับเงินแล้ว</option>
		                      		<option value="5" <?php if($_SESSION['payment']['round_status']=='5'){ ?>selected=""<?php } ?>>ยกเลิก</option>
		                      	</select>
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">Type </label>
	                      <div class="col-sm-9">
	                       <select class="form-control" id="payment_type" name="payment_type" >
                        		<option value="" <?php if($_SESSION['payment']['payment_type']==''){ ?>selected=""<?php } ?>>All</option>
                        		<option value="1" <?php if($_SESSION['payment']['payment_type']=='1'){ ?>selected=""<?php } ?>>Project</option>
                        		<option value="2" <?php if($_SESSION['payment']['payment_type']=='2'){ ?>selected=""<?php } ?>>Hosting</option>
                        		<option value="3" <?php if($_SESSION['payment']['payment_type']=='3'){ ?>selected=""<?php } ?>>Co-Location</option>
                        		<option value="4" <?php if($_SESSION['payment']['payment_type']=='4'){ ?>selected=""<?php } ?>>Domainname</option>
                        		<option value="5" <?php if($_SESSION['payment']['payment_type']=='5'){ ?>selected=""<?php } ?>>Online Marketting</option>
                        		<option value="6" <?php if($_SESSION['payment']['payment_type']=='6'){ ?>selected=""<?php } ?>>M/A</option>
                        		<option value="7" <?php if($_SESSION['payment']['payment_type']=='7'){ ?>selected=""<?php } ?>>Service</option>
                        	</select>
	                      </div>
	                    </div>
                    </div>
                    
                    <div class="clearfix"></div>
                    <div class="col-sm-4 col-sm-offset-1">
                    	<div class="form-group">
	                      <label for="leave_title" class="col-sm-3 control-label">Name </label>
	                      <div class="col-sm-9">
	                       
		                      <input type="text" class="form-control " name="project_name" value="<?=$_SESSION['payment']['project_name']?>" />
		                   
	                      </div>
	                    </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                    	<button type="button" class="btn btn-warning " onclick="clearPayment();">Reset</button>
                    	<button type="button" class="btn btn-primary "  onclick="searchPayment();">Search</button>
                    </div>
                    
                    </div>
                </div>
                <!--<div class="box-footer" style="text-align: center;">
                	
                    
                </div>-->
                </form>
				
				<?php foreach($payList as $list){ ?>
				
				<div class="col-sx-12" style="margin-top: 30px;"></div>
                   
		       <div class="col-md-12 ">
	              <div class="box box-success box-solid">
	                <div class="box-header with-border">
	                  <h3 class="box-title"><?=$list['projectinfo']['project_name']?> > <?=$list['type_name']?></h3>
	                  <div class="box-tools pull-right">
	                    
			  				<a href="#/project/payment/<?=$list['project_id']?>/?module=account" class="btn btn-flat btn-warning"> View Project</a>
			 
	                  </div><!-- /.box-tools -->
	                </div><!-- /.box-header -->
	                <div class="box-body">
	                <?php if($list['payment_type']=='1') {?>
	                <div class="form-group">
                      <label for="payment_value" class="col-sm-2 control-label">Payment Value</label>
                      
                      <div class="col-sm-3">
                        	<b><?=$list['payment_value']?></b>
                      </div>
                      
                      
                    </div>
                    <?php } ?>
	                   <table class="table table-bordered">
		                    <tr>
		                      <th style="width: 10px">#</th>
		                      <th>งวดที่</th>
		                      <th>
		                      <?php if($list['payment_type']=='1') {?>
		                      รายละเอียด
		                      <?php }else{ ?>
		                      Start Date
		                      <?php } ?>
		                      </th>
		                      <th>
		                      <?php if($list['payment_type']=='1') {?>
		                      %
		                      <?php }else{ ?>
		                      End Date
		                      <?php } ?>
		                      </th>
		                      <th>Baht</th>
		                      <th>Status</th>
		                      <th>Note</th>
		                      <!--<th>History</th>-->
		                    </tr>
		                    <style>
		                    	.greys{background-color: #e4e4e4;}
		                    	.m-hidden{display: none;}
		                    </style>
		                    <?php $i=1; $v=0; foreach($list['round'] as $round){ ?>
		                    <?php 
		                    	$table_color = '';
		                    	if($round['round_status']=='2'){
		                    		$table_color = 'warning';
		                    	}
		                    	if($round['round_status']=='3'){
		                    		$table_color = 'info';
		                    	}
		                    	if($round['round_status']=='4'){
		                    		$table_color = 'success';
		                    	}
		                    	if($round['round_status']=='5'){
		                    		$table_color = 'greys';
		                    	}
		                    	$clsaa_hide='';
		                    	if($round['round_end']!='0000-00-00'){
		                      			$dd_date = strtotime($round['round_start']); 
		                      			$now_date = strtotime(date('Y-m-d'));
		                      			if($dd_date>$now_date){
		                      				$clsaa_hide = 'm-hidden';
		                      				if($v==0){$v=$i;}
		                      			}
		                      	}
		                    ?>
		                    <tr class="<?=$table_color?> <?=$clsaa_hide?>">
		                      <td><?=$i?>.</td>
		                      <td><?=$round['round_name']?></td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <?=$round['round_desc']?>
		                       <?php }else{ ?>
		                      		<?=date("d-m-Y", strtotime($round['round_start']))?>
		                      <?php } ?>
		                      </td>
		                      <td>
		                      <?php if($list['payment_type']=='1') {?>
		                      <?=$round['round_percent']?>
		                      <?php }else{ ?>
		                      		<?php 
		                      		if($round['round_end']!='0000-00-00'){
		                      			echo date("d-m-Y", strtotime($round['round_end'])); 
		                      		}else{
		                      			echo '-';
		                      		}	
		                      		?>
		                      <?php } ?>
		                      </td>
		                      <td><?=$round['round_bath']?></td>
		                      <td>
		                      	
		                      		<?php if($round['round_status']=='1'){ ?>รอ Confirm<?php } ?>
		                      		<?php if($round['round_status']=='2'){ ?>วางบิลได้<?php } ?>
		                      		<?php if($round['round_status']=='3'){ ?>วางบิลแล้ว<?php } ?>
		                      		<?php if($round['round_status']=='4'){ ?>ได้รับเงินแล้ว<?php } ?>
		                      		<?php if($round['round_status']=='5'){ ?>ยกเลิก<?php } ?>
		                      	
		                      </td>
		                      <td>
		                      	<?=$round['history'][0]['history_note']?>
		                      </td>
		                      <!--<td>
		                      <button type="button" class="btn btn-info btn-flat btn-sm" onclick="openHistory('<?=$round['round_id']?>');">View</button>
		                      <div class="col-xs-12" id="history_<?=$round['round_id']?>" style="display: none;">
		                      <?php foreach($round['history'] as $history){ ?>
		                      	<h5>Status :<b><?=$history['round_status_text']?></b> <br />Note : <b><?=$history['history_note']?></b> <br />Create : <b><?=date("d-m-Y", strtotime($history['create_dtm']))?></b></h5><hr>
		                      <?php } ?>
		                      </div>
		                      
		                      </td>-->
		                      
		                    </tr>
		                    <?php $i++; } ?>
		                   
		                  </table> 
		                  <?php if($i>$v && $v!=0){ ?>
		                  <div class="col-xs-12 text-center" style="margin-top: 10px;">
		                  	<button type="button" class="btn btn-default" onclick="opentable(this);" data-open='C'>Show More</button>
		                  </div>
		                  <?php } ?>
	                </div>
	              </div>
	            </div>
	                  
                <?php } ?> 
			   
			</div>
			<div class="box-footer" style="margin-left: 5%">
			<nav class="pull-right" style="margin-right: 3%;">
			  <ul class="pagination pagination-md">
			    <?php for($i=1;$i<=$allPage;$i++){ ?>
			    <li <?php if($currpage==$i){ ?>class="active"<?php } ?>><a href="#/account/payment/?page=<?=$i?>"><?=$i?></a></li>
			    <?php } ?>
			   
			  </ul>
			</nav>
			<!--<a href="#/project/projectlist" class="btn btn-success pull-right">Back To List</a>-->
			
            
            </div><!-- /.box-footer -->
			
			</div>
		</div>
	</div>
          
</section>
<form class="form-horizontal" id="createFrmPay" name="createFrmPay">
<input type="hidden" name="mode" id="mode_s" value=""/>
<input type="hidden" name="payment_id" id="payment_id_s" value=""/>
<input type="hidden" name="round_id" id="round_id_s" value=""/>
<input type="hidden" name="round_name" id="round_name_s" value=""/>
<input type="hidden" name="round_desc" id="round_desc_s" value=""/>
<input type="hidden" name="round_status" id="round_status_s" value=""/>
<input type="hidden" name="round_percent" id="round_percent_s" value=""/>
<input type="hidden" name="round_bath" id="round_bath_s" value=""/>
<input type="hidden" name="round_start" id="round_start_s" value=""/>
<input type="hidden" name="round_end" id="round_end_s" value=""/>
<input type="hidden" name="note" id="note_s" value=""/>
</form>
