
<section class="content-header">
  <h1>
   	ระบบจัดการข่าวสาร
    <small>E-News Management</small>
  </h1>  
</section>

        <!-- Main content -->
        
        
<section class="content" >
	<div class="row">
       <div class="col-md-12">
		  <div class="box box-warning">
			<div class="box-header with-border">
			<?php if(!is_array($contentInfo)){ ?>
			  <h3 class="box-title">สร้างข่าว</h3>
			 <?php }else{ ?> 
			 	<h3 class="box-title">แก้ไขข่าว</h3>
			 <?php } ?>
			</div>
			 <form class="form-horizontal" id="contFrm" name="contFrm">
			 <?php if(!is_array($contentInfo)){ ?>
			 <input type="hidden" name="mode" value="createcontent"/>
			 <input type="hidden" name="content_id" id="content_id" value="0"/>
			 <?php }else{ ?>
			 <input type="hidden" name="mode" value="editcontent"/>
			 <input type="hidden" name="content_id" value="<?=$contentInfo['content_id']?>"/>
			 <?php } ?>
			<div class="box-body">
			   
				<div class="col-md-9">
		         
		                
		               
		                
		                
		                <div class="form-group">
	                      <label for="exp_title" class="col-sm-3 control-label">หัวข้อข่าว</label>
	                      <div class="col-sm-7">
	                        <input type="text" class="form-control" id="content_name_th" name="content_name_th" placeholder="หัวข้อข่าว" value="<?=$contentInfo['content_name_th']?>">
	                      </div>
	                    </div>
	                    
	                    
	                    
	                    <div class="form-group">
	                      <label for="exp_desc" class="col-sm-3 control-label">เนื้อหา</label>
	                      <div class="col-sm-8">
	                        
	                        <textarea class="form-control summernote" id="content_desc_th" name="content_desc_th" placeholder="เนื้อหา"><?=$contentInfo['content_desc_th']?></textarea>
	                      </div>
	                    </div>
	                    
	     
	                    
	                    
		             
		             
		           
		        </div>
		        <div class="col-sm-3">
		        	<fieldset>
		        		<legend>กลุ่มผู้เห็นข่าว</legend>
		        		<?php if(!is_array($contentInfo)){ ?>
		        		<div class="form-group">
		        		<?php foreach($groupList as $category){ ?>
		                  <div class="checkbox">
		                    <label>
		                      <input type="checkbox" class="minimal" name="category_id[]" value="<?=$category['role_id']?>">
		                      &nbsp;&nbsp;&nbsp;<?=$category['role_name']?>
		                    </label>
		                  </div>
		                <?php } ?>
		                </div>
		                <?php }else{ ?>
		                <div class="form-group">
		        		<?php foreach($groupList as $category){ ?>
		                  <div class="checkbox">
		                    <label>
		                      <input type="checkbox" class="minimal" name="category_id[]" value="<?=$category['role_id']?>" <?php if(array_search($category['role_id'],$mapping)!==false){ ?>checked=""<?php } ?>>
		                      &nbsp;&nbsp;&nbsp;<?=$category['role_name']?>
		                    </label>
		                  </div>
		                <?php } ?>
		                </div>
		                <?php } ?>
		        	</fieldset>
		        	<fieldset>
		        		<legend>ส่งข่าวรายบุคคล</legend>
		        		<div class="form-group">
	                      <?php //GF::print_r($contentUser); ?>
	                      <div class="col-sm-12">
	                       <select class="form-control select2" multiple="" data-placeholder="เลือกผู้รับ" id="user_ids" name="user_ids[]">
	                       			
	                       			<?php foreach($memberList as $cateList){ ?>
		                      		<option value="<?=$cateList['id']?>" <?php if(array_search($cateList['id'],$contentUser)!==false){ ?>selected=""<?php } ?>><?=$cateList['user_code']?>:<?=$cateList['user_name']?></option>
		                      		<?php } ?>
		                      	</select>
	                      </div>
	                    </div>
		        	</fieldset>
		        </div>
                                 
            </div> 
             
            <div class="box-footer" style="">

			<a href="#/content/contentlist/" class="btn btn-success pull-right">กลับหน้ารายการข่าว</a>

            
            <button type="button" class="btn btn-primary" id="" onclick="saveContentContent();"> <i class="fa fa-save"></i> บันทึก</button>
           
            </div><!-- /.box-footer -->  
 			</form>
			</div>
			
           
			</div>
		</div>

          
</section>

<script>
	
      callEditor('.summernote');
      
</script>



